Repository 0xProject/0x-monorepo, pull requests merged in 2018-04, with the labels that each got.

#504 Fix missing key warnings in wallet component
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
Labels: Website

#503 Implement initial relayer grid
  packages/website/ts/components/portal.tsx
  packages/website/ts/components/portal_menu.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/types.ts
Labels: Website

#518 Use addFillResults function and add comments to all marketFill functions
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
Labels: contracts

#494 Generalized Asset Transfer Proxy + ERC721 Proxy + Deployer Updates
  packages/0x.js/package.json
  packages/contracts/package.json
  packages/contracts/src/contracts/current/protocol/AssetProxyDispatcher/AssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/AssetProxyDispatcher/IAssetProxy.sol
  packages/contracts/src/contracts/current/protocol/AssetProxyDispatcher/IAssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/AssetProxyDispatcher/proxies/ERC20Proxy.sol
  packages/contracts/src/contracts/current/protocol/AssetProxyDispatcher/proxies/ERC721Proxy.sol
  packages/contracts/src/contracts/current/protocol/Exchange/Exchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/IExchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibOrder.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibPartialAmount.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSettlementProxy.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/test/DummyERC721Token/DummyERC721Token.sol
  packages/contracts/src/contracts/current/utils/Authorizable/Authorizable.sol
  packages/contracts/src/contracts/current/utils/Authorizable/IAuthorizable.sol
  packages/contracts/src/contracts/current/utils/LibBytes/LibBytes.sol
  packages/contracts/src/contracts/current/utils/Ownable/IOwnable.sol
  packages/contracts/src/contracts/current/utils/Ownable/Ownable.sol
  packages/contracts/src/utils/artifacts.ts
  packages/contracts/src/utils/asset_proxy_utils.ts
  packages/contracts/src/utils/constants.ts
  packages/contracts/src/utils/crypto.ts
  packages/contracts/src/utils/order_utils.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/asset_proxy_dispatcher/auth.ts
  packages/contracts/test/asset_proxy_dispatcher/dispatcher.ts
  packages/contracts/test/asset_proxy_dispatcher/proxies.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/helpers.ts
  packages/contracts/test/exchange/wrapper.ts
  packages/contracts/test/libraries/lib_bytes.ts
  packages/contracts/test/multi_sig_with_time_lock_except_remove_auth_addr.ts
  packages/contracts/test/token_transfer_proxy/transfer_from.ts
  yarn.lock
Labels: contracts

#539 Implement backendClient object to unify calls to the portal api
  packages/website/package.json
  packages/website/ts/blockchain.ts
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/pages/wiki/wiki.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/backend_client.ts
  yarn.lock
Labels: Website

#540 Support Tuples returned from functions
  packages/0x.js/package.json
  packages/base-contract/CHANGELOG.json
  packages/base-contract/package.json
  packages/base-contract/src/index.ts
  packages/contract_templates/contract.handlebars
  packages/contract_templates/partials/callAsync.handlebars
  packages/contract_templates/partials/return_type.handlebars
  packages/metacoin/package.json
  packages/typescript-typings/CHANGELOG.json
  packages/typescript-typings/types/ethers/index.d.ts
  packages/utils/CHANGELOG.json
  packages/utils/package.json
  packages/utils/src/abi_decoder.ts
  packages/web3-wrapper/package.json
  yarn.lock
Labels: abi-gen

#543 Integrate relayer index with website backend
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/backend_client.ts
Labels: Website

#552 Rename Portal component to LegacyPortal
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/legacy_portal/legacy_portal_menu.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/containers/legacy_portal.ts
  packages/website/ts/index.tsx
Labels: Website

#555 Update Web3 Provider Engine to 14.0.4
  packages/0x.js/CHANGELOG.json
  packages/0x.js/package.json
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/package.json
  packages/metacoin/package.json
  packages/subproviders/CHANGELOG.json
  packages/subproviders/package.json
  packages/subproviders/src/subproviders/base_wallet_subprovider.ts
  packages/testnet-faucets/package.json
  packages/website/package.json
  yarn.lock
Labels: WIP

#498 Sender abstraction
  packages/contracts/src/contracts/current/protocol/Exchange/Exchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibOrder.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinTransactions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MTransactions.sol
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/order_factory.ts
  packages/contracts/src/utils/order_utils.ts
  packages/contracts/src/utils/transaction_factory.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/exchange/transactions.ts
Labels: WIP, contracts

#560 Update contracts structure
  packages/contracts/package.json
  packages/contracts/src/contracts/current/protocol/AssetProxy/proxies/ERC721Proxy.sol
  packages/contracts/src/contracts/current/protocol/Exchange/Exchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/ISigner.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibFillResults.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibMath.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibOrder.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinAssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSettlement.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSignatureValidator.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MAssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MSettlement.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MSignatureValidator.sol
  packages/contracts/src/contracts/current/test/DummyERC721Token/DummyERC721Token.sol
  packages/contracts/src/contracts/current/test/TestLibs/TestLibs.sol
  packages/contracts/src/contracts/current/test/TestSignatureValidator/TestSignatureValidator.sol
  packages/contracts/src/contracts/current/tokens/ERC721Token/ERC721Token.sol
  packages/contracts/src/contracts/current/tokens/ERC721Token/IERC721Receiver.sol
  packages/contracts/src/contracts/current/tokens/ERC721Token/IERC721Token.sol
  packages/contracts/src/contracts/previous/TokenRegistry/ITokenRegistery.sol
  packages/contracts/src/contracts/previous/TokenRegistry/TokenRegistry.sol
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/exchange/helpers.ts
  packages/contracts/test/exchange/libs.ts
  packages/contracts/test/exchange/signature_validator.ts
Labels: contracts

#563 Add hard coded proxyId into each AssetProxy
  packages/contracts/src/contracts/current/protocol/AssetProxy/IAssetProxy.sol
  packages/contracts/src/contracts/current/protocol/AssetProxy/proxies/ERC20Proxy.sol
  packages/contracts/src/contracts/current/protocol/AssetProxy/proxies/ERC721Proxy.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinAssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MAssetProxyDispatcher.sol
  packages/contracts/test/asset_proxy/proxies.ts
  packages/contracts/test/exchange/dispatcher.ts
Labels: contracts
