Repository 0xProject/0x-monorepo, pull requests merged in 2018-06, with the labels that each got.

#648 Add shared order support
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/portal/menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/utils/order_parser.ts
Labels: Website

#650 Improve publishing flow
  package.json
  packages/monorepo-scripts/CHANGELOG.json
  packages/monorepo-scripts/package.json
  packages/monorepo-scripts/src/deps_versions.ts
  packages/monorepo-scripts/src/find_unused_dependencies.ts
  packages/monorepo-scripts/src/postpublish_utils.ts
  packages/monorepo-scripts/src/prepublish_checks.ts
  packages/monorepo-scripts/src/publish.ts
  packages/monorepo-scripts/src/remove_tags.ts
  packages/monorepo-scripts/src/test_installation.ts
  packages/monorepo-scripts/src/types.ts
  packages/monorepo-scripts/src/utils/changelog_utils.ts
  packages/monorepo-scripts/src/utils/utils.ts
Labels: monorepo-scripts

#651 Make erc20_wrapper and erc721_wrapper serial and increase contract expiration time
  packages/contracts/src/utils/erc20_wrapper.ts
  packages/contracts/src/utils/erc721_wrapper.ts
  packages/contracts/src/utils/order_factory.ts
Labels: contracts

#644 Move TokenState fetching logic up into Portal.tsx so it can be used by Wallet and PortalOnboardingFlow
  packages/website/ts/blockchain.ts
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/portal_onboarding_flow.ts
Labels: Website

#652 Implement subscribe form on landing page
  packages/react-shared/src/utils/colors.ts
  packages/website/package.json
  packages/website/ts/components/forms/subscribe_form.tsx
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/portal/back_button.tsx
  packages/website/ts/components/portal/drawer_menu.tsx
  packages/website/ts/components/portal/menu.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/input.tsx
  packages/website/ts/components/ui/island.tsx
  packages/website/ts/components/ui/overlay.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/pages/landing/landing.tsx
  packages/website/ts/style/colors.ts
  packages/website/ts/style/theme.ts
  packages/website/ts/style/z_index.ts
  packages/website/ts/utils/backend_client.ts
  packages/website/ts/utils/fetch_utils.ts
  packages/website/ts/utils/wallet_item_styles.ts
  yarn.lock
Labels: Website

#666 Move price fetching from wallet into portal
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#668 Move portal disclaimer to the account management section
  packages/website/ts/components/portal/portal.tsx
Labels: Website

#653 Add a documentation page for ethereum-types package
  packages/ethereum-types/package.json
  packages/ethereum-types/src/monorepo_scripts/stage_docs.ts
  packages/website/md/docs/ethereum_types/installation.md
  packages/website/md/docs/ethereum_types/introduction.md
  packages/website/translations/chinese.json
  packages/website/translations/english.json
  packages/website/translations/korean.json
  packages/website/translations/russian.json
  packages/website/translations/spanish.json
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/containers/ethereum_types_documentation.ts
  packages/website/ts/index.tsx
  packages/website/ts/pages/documentation/doc_page.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/doc_utils.ts
Labels: Website

#669 Update balance amount rendering logic
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#622 Run contract tests against private Geth network
  package.json
  packages/base-contract/src/index.ts
  packages/contracts/README.md
  packages/contracts/src/utils/assertions.ts
  packages/contracts/src/utils/constants.ts
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/increase_time.ts
  packages/contracts/src/utils/web3_wrapper.ts
  packages/contracts/test/asset_proxy/authorizable.ts
  packages/contracts/test/asset_proxy/proxies.ts
  packages/contracts/test/asset_proxy_owner.ts
  packages/contracts/test/ether_token.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/dispatcher.ts
  packages/contracts/test/exchange/match_orders.ts
  packages/contracts/test/exchange/transactions.ts
  packages/contracts/test/exchange/wrapper.ts
  packages/contracts/test/libraries/lib_bytes.ts
  packages/contracts/test/multi_sig_with_time_lock.ts
  packages/contracts/test/token_registry.ts
  packages/contracts/test/unlimited_allowance_token.ts
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/blockchain_lifecycle.ts
  packages/dev-utils/src/web3_factory.ts
  packages/devnet/Dockerfile
  packages/devnet/README.md
  packages/devnet/genesis.json
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-08.903003751Z--5409ed021d9299bf6814279a6a1411a7e866a631
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-09.794553183Z--6ecbe1db9ef729cbe972c83fb886247691fb6beb
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-10.696351411Z--e36ea790bc9d7ab70c55260c66d52b1eca985f84
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-11.479938556Z--e834ec434daba538cd1b9fe1582052b880bd7e63
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-12.260348580Z--78dc5d2d739606d31509c31d654056a45185ecb6
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-13.178294829Z--a8dda8d7f5310e4a9e24f8eba77e091ac264f872
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-13.960499696Z--06cef8e666768cc40cc78cf93d9611019ddcb628
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-14.757010386Z--4404ac8bd8f9618d27ad2f1485aa1b2cfd82482d
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-15.554233052Z--7457d5e02197480db681d3fdf256c7aca21bdc12
  packages/devnet/node0/keystore/UTC--2018-05-11T21-29-16.342711541Z--91c987bf62d25945db517bdaa840a6c661374402
  packages/devnet/node0/keystore/UTC--2018-05-15T21-50-24.532037737Z--e8816898d851d5b61b7f950627d04d794c07ca37
  packages/devnet/node0/password.txt
  packages/devnet/run.sh
  packages/migrations/artifacts/2.0.0/MultiSigWallet.json
  packages/migrations/artifacts/2.0.0/MultiSigWalletWithTimeLockExceptRemoveAuthorizedAddress.json
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/index.ts
  packages/web3-wrapper/src/web3_wrapper.ts
  yarn.lock
Labels: contracts

#672 Account management polish
  packages/website/ts/components/dialogs/eth_weth_conversion_dialog.tsx
  packages/website/ts/components/eth_weth_conversion_button.tsx
  packages/website/ts/components/eth_wrappers.tsx
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/trade_history/trade_history.tsx
  packages/website/ts/containers/generate_order_form.ts
Labels: Website

#685 Jobs page
  packages/website/public/images/jobs/location1.png
  packages/website/public/images/jobs/location2.png
  packages/website/public/images/jobs/location3.png
  packages/website/public/images/jobs/map.png
  packages/website/public/images/jobs/office1.png
  packages/website/public/images/jobs/office2.png
  packages/website/public/images/jobs/office3.png
  packages/website/ts/components/redirector.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/filled_image.tsx
  packages/website/ts/components/ui/retry.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/containers/jobs.ts
  packages/website/ts/index.tsx
  packages/website/ts/pages/jobs/benefits.tsx
  packages/website/ts/pages/jobs/jobs.tsx
  packages/website/ts/pages/jobs/join_0x.tsx
  packages/website/ts/pages/jobs/list/header_item.tsx
  packages/website/ts/pages/jobs/list/list_item.tsx
  packages/website/ts/pages/jobs/mission.tsx
  packages/website/ts/pages/jobs/open_positions.tsx
  packages/website/ts/pages/jobs/photo_rail.tsx
  packages/website/ts/pages/jobs/teams.tsx
  packages/website/ts/pages/jobs/values.tsx
  packages/website/ts/style/colors.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/backend_client.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#695 Implement allowances and final "congrats" onboarding flow step
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/inputs/allowance_toggle.ts
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#711 Made onboarding look like the mocks
  packages/website/public/images/eth_dollar.svg
  packages/website/public/images/eth_token.svg
  packages/website/public/images/eth_token_erc20.svg
  packages/website/public/images/ether_alt.svg
  packages/website/public/images/fake_toggle.svg
  packages/website/public/images/zrx_ecosystem.svg
  packages/website/ts/components/onboarding/add_eth_onboarding_step.tsx
  packages/website/ts/components/onboarding/congrats_onboarding_step.tsx
  packages/website/ts/components/onboarding/install_wallet_onboarding_step.tsx
  packages/website/ts/components/onboarding/intro_onboarding_step.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/onboarding_tooltip.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/onboarding/set_allowances_onboarding_step.tsx
  packages/website/ts/components/onboarding/unlock_wallet_onboarding_step.tsx
  packages/website/ts/components/onboarding/wrap_eth_onboarding_step.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/icon_button.tsx
  packages/website/ts/components/ui/pointer.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#712 Change relayer grid tile to use logos and primary colors
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/image.tsx
  packages/website/ts/types.ts
Labels: Website

#683 Simplified handling of source < 32 edge case
  packages/contracts/src/contracts/current/utils/LibMem/LibMem.sol
Labels: contracts

#726 Check network state immediately instead of waiting for delay
  packages/website/ts/blockchain.ts
  packages/website/ts/blockchain_watcher.ts
Labels: Website

#706 Add logging to Portal V2
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/containers/portal.ts
  packages/website/ts/containers/portal_onboarding_flow.ts
Labels: Website

#723 Consolidate account state display message logic
  packages/website/ts/components/portal/drawer_menu.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/identicon.tsx
  packages/website/ts/components/ui/image.tsx
  packages/website/ts/utils/utils.ts
Labels: Website

#727 Fix bug where we do not fetch balances on wallet login
  packages/website/ts/components/portal/portal.tsx
Labels: Website

#724 Fix Wallet appearing over Drawer, and Onboarding not exiting when changing routes
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/portal.ts
Labels: Website

#734 Update Island shadow styling and use Island in more places
  packages/website/ts/components/portal/back_button.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/ui/island.tsx
  packages/website/ts/style/colors.ts
Labels: Website

#742 Add Chris and Mel to about page
  packages/website/ts/pages/about/about.tsx
  packages/website/ts/pages/about/profile.tsx
Labels: Website

#751 Updated compiler runs to be 1,000,000
  packages/contracts/compiler.json
Labels: contracts

#750 Various add token flow bugs
  packages/website/ts/components/generate_order/asset_picker.tsx
  packages/website/ts/redux/reducer.ts
Labels: Website

#746 Relayer grid polish
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/portal/text_header.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/components/ui/animation.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/pages/jobs/open_positions.tsx
  packages/website/ts/utils/utils.ts
Labels: Website

#764 Fix issue where hovered tiles appear over top bar
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/style/z_index.ts
Labels: Website

#749 Converted `hashZeroExTransaction` to assembly. Saves 1k gas
  packages/contracts/src/contracts/current/protocol/Exchange/MixinTransactions.sol
Labels: contracts

#698 Fixes and refactoring regarding LibBytes
  packages/contracts/compiler.json
  packages/contracts/package.json
  packages/contracts/src/contracts/current/protocol/AssetProxy/MixinAuthorizable.sol
  packages/contracts/src/contracts/current/protocol/AssetProxy/MixinERC20Transfer.sol
  packages/contracts/src/contracts/current/protocol/AssetProxy/MixinERC721Transfer.sol
  packages/contracts/src/contracts/current/protocol/AssetProxyOwner/AssetProxyOwner.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinAssetProxyDispatcher.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinMatchOrders.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSignatureValidator.sol
  packages/contracts/src/contracts/current/test/TestAssetProxyOwner/TestAssetProxyOwner.sol
  packages/contracts/src/contracts/current/test/TestLibBytes/TestLibBytes.sol
  packages/contracts/src/contracts/current/test/TestLibMem/TestLibMem.sol
  packages/contracts/src/contracts/current/test/TestWallet/TestWallet.sol
  packages/contracts/src/contracts/current/utils/LibBytes/LibBytes.sol
  packages/contracts/src/contracts/current/utils/LibMem/LibMem.sol
  packages/contracts/src/contracts/current/utils/Ownable/Ownable.sol
  packages/contracts/src/utils/artifacts.ts
  packages/contracts/src/utils/multi_sig_wrapper.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/asset_proxy/authorizable.ts
  packages/contracts/test/asset_proxy/decoder.ts
  packages/contracts/test/asset_proxy_owner.ts
  packages/contracts/test/libraries/lib_bytes.ts
  packages/contracts/test/libraries/lib_mem.ts
Labels: contracts

#760 Check Revert Reasons in Contract Tests
  package.json
  packages/contracts/src/contracts/current/test/Whitelist/Whitelist.sol
  packages/contracts/src/contracts/current/tokens/ERC20Token/ERC20Token.sol
  packages/contracts/src/utils/assertions.ts
  packages/contracts/src/utils/constants.ts
  packages/contracts/test/asset_proxy/authorizable.ts
  packages/contracts/test/asset_proxy/proxies.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/dispatcher.ts
  packages/contracts/test/exchange/match_orders.ts
  packages/contracts/test/exchange/signature_validator.ts
  packages/contracts/test/exchange/transactions.ts
  packages/contracts/test/exchange/wrapper.ts
  packages/contracts/test/libraries/lib_bytes.ts
  packages/contracts/test/unlimited_allowance_token.ts
  packages/types/src/index.ts
Labels: contracts

#777 Change metamask install link based on browser
  packages/website/package.json
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#762 Sort wallet tokens by timestamp added and scroll to newly added token
  packages/website/ts/blockchain.ts
  packages/website/ts/components/dialogs/track_token_confirmation_dialog.tsx
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/generate_order/asset_picker.tsx
  packages/website/ts/components/generate_order/new_token_form.tsx
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#780 Refactor Blockchain.ts to allow arbitrary provider state changes
  packages/website/ts/blockchain.ts
  packages/website/ts/blockchain_watcher.ts
  packages/website/ts/components/dialogs/blockchain_err_dialog.tsx
  packages/website/ts/components/dialogs/ledger_config_dialog.tsx
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  yarn.lock
Labels: Website

#791 Fix NotFound component and render 0x.js docs for /docs
  packages/website/ts/index.tsx
  packages/website/ts/pages/not_found.tsx
  packages/website/ts/types.ts
Labels: Website

#792 Various wallet polish items
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/drawer_menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/portal/section.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/ui/account_connection.tsx
  packages/website/ts/components/ui/circle.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/identicon.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/wallet/body_overlay.tsx
  packages/website/ts/components/wallet/null_token_row.tsx
  packages/website/ts/components/wallet/placeholder.tsx
  packages/website/ts/components/wallet/standard_icon_row.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/pages/jobs/list/list_item.tsx
  packages/website/ts/style/colors.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
  packages/website/ts/utils/wallet_item_styles.ts
Labels: Website

#787 Portal v2 onboarding polish
  packages/website/public/images/zrx_ecosystem.svg
  packages/website/ts/components/onboarding/add_eth_onboarding_step.tsx
  packages/website/ts/components/onboarding/congrats_onboarding_step.tsx
  packages/website/ts/components/onboarding/install_wallet_onboarding_step.tsx
  packages/website/ts/components/onboarding/intro_onboarding_step.tsx
  packages/website/ts/components/onboarding/onboarding_card.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/onboarding/set_allowances_onboarding_step.tsx
  packages/website/ts/components/onboarding/wrap_eth_onboarding_step.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/ui/animation.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/overlay.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/redux/reducer.ts
  packages/website/ts/redux/store.ts
Labels: Website
