Repository 0xProject/0x-monorepo, pull requests merged in 2018-11, with the labels that each got.

#1201 [instant] Add `Select Token` mode, animation abstractions, and basic token selection panel
  packages/instant/src/components/animations/position_animation.tsx
  packages/instant/src/components/animations/slide_animation.tsx
  packages/instant/src/components/animations/slide_animations.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/placing_order_button.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/sliding_panel.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/ui/index.ts
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/style/z_index.ts
Labels: instant

#1203 [instant][asset-buyer] Add more assetMetaData and expose new asset-buyer API: `getAvailableAssetDatasAsync`
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/order_providers/basic_order_provider.ts
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/instant/src/data/asset_data_network_mapping.ts
  packages/instant/src/data/asset_meta_data_map.ts
Labels: asset-buyer, instant

#1205 [instant] Dismissible overlay
  packages/instant/public/index.html
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/ui/index.ts
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/index.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/style/theme.ts
Labels: instant

#1207 [instant][asset-buyer] Implement affiliateInfo prop
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/instant/public/index.html
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/assert.ts
Labels: asset-buyer, instant

#1208 [instant] Fix NaN issue with zero input
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
Labels: instant

#1209 [instant] Provide optional provider API, fallback to injected provider
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/index.umd.ts
  packages/instant/src/util/address.ts
  packages/instant/src/util/assert.ts
  packages/instant/src/util/injected_provider.ts
  packages/instant/src/util/provider.ts
  packages/instant/src/util/web3_wrapper.ts
Labels: instant

#1206 [instant] Fix decimal input issues on instant
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/scaling_amount_input.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/big_number_input.ts
  packages/instant/src/util/maybe_big_number.ts
Labels: instant

#1217 [asset-buyer] Lower default expiryBuffer from 5 minutes to 2 minutes
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/constants.ts
Labels: asset-buyer

#1219 [instant] Mobile full view
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/style/media.ts
Labels: instant

#1221 [instant] Ensure we always have a provider from initial state
  package.json
  packages/instant/package.json
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_progress.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/latest_buy_quote_order_details.ts
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/redux/store.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset_buyer_factory.ts
  packages/instant/src/util/injected_provider.ts
  packages/instant/src/util/provider_factory.ts
  packages/instant/src/util/provider_state_factory.ts
  yarn.lock
Labels: instant

#1226 [website] Turn off production flag when building locally
  .circleci/config.yml
  packages/website/package.json
Labels: Website

#1220 [instant] Prevent CSS leakage
  packages/instant/public/external.css
  packages/instant/public/index.html
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/css_reset.tsx
  packages/instant/src/components/placing_order_button.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/timed_progress_bar.tsx
  packages/instant/src/components/ui/button.tsx
  packages/instant/src/components/ui/circle.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/components/ui/text.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/constants.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/style/theme.ts
Labels: instant

#1228 [instant] Viewport specific errors
  packages/instant/src/components/animations/position_animation.tsx
  packages/instant/src/components/animations/slide_animation.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/sliding_panel.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/style/media.ts
  packages/instant/src/style/z_index.ts
Labels: instant

#1230 [instant] Dropdown Component Skeleton
  packages/instant/package.json
  packages/instant/src/components/animations/position_animation.tsx
  packages/instant/src/components/animations/slide_animation.tsx
  packages/instant/src/components/css_reset.tsx
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/payment_method_dropdown.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/sliding_panel.tsx
  packages/instant/src/components/ui/circle.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/dropdown.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/components/ui/text.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/style/theme.ts
  packages/instant/src/style/z_index.ts
  packages/instant/src/util/etherscan.ts
  packages/instant/src/util/format.ts
  yarn.lock
Labels: instant

#1232 [instant] Request account address and balance at mount
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/balance.ts
  packages/instant/src/util/provider_state_factory.ts
Labels: instant

#1229 [instant] Dismissible overlay for mobile errors
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/style/media.ts
  packages/instant/src/style/theme.ts
  packages/instant/src/style/z_index.ts
  packages/instant/src/types.ts
Labels: instant

#1237 [instant] Heartbeats for account info and buy quotes
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/buy_quote_updater.ts
  packages/instant/src/util/heartbeater.ts
  packages/instant/src/util/heartbeater_factory.ts
Labels: instant

#1246 [web3-wrapper] Throws when contract returns null
  packages/web3-wrapper/src/web3_wrapper.ts
Labels: bug, web3-wrapper

#1251 [instant] Add extra asset metadata
  packages/instant/src/data/asset_meta_data_map.ts
Labels: instant

#1252 [asset-buyer][instant] Fix incorrect token prices for non 18-decimal tokens
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/test/buy_quote_calculator_test.ts
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method_dropdown.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/latest_buy_quote_order_details.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/buy_quote_updater.ts
  packages/instant/src/util/format.ts
  packages/instant/test/util/format.test.ts
Labels: asset-buyer, instant

#1255 [instant] Fix input bug
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/containers/connected_buy_order_progress_or_payment_method.tsx
  packages/instant/src/containers/connected_zero_ex_instant_container.ts
Labels: instant

#1242 [instant] Install/Unlock MetaMask, connect PaymentDropdown to redux state
  packages/instant/src/components/animations/slide_animation.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_progress.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/components/install_wallet_panel_content.tsx
  packages/instant/src/components/meta_mask_logo.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/placing_order_button.tsx
  packages/instant/src/components/scaling_input.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/sliding_panel.tsx
  packages/instant/src/components/standard_panel_content.tsx
  packages/instant/src/components/standard_sliding_panel.tsx
  packages/instant/src/components/timed_progress_bar.tsx
  packages/instant/src/components/ui/button.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/ui/text.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/containers/connected_buy_order_progress_or_payment_method.tsx
  packages/instant/src/containers/current_standard_sliding_panel.ts
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/etherscan.ts
  packages/instant/src/util/heartbeater_factory.ts
  packages/instant/src/util/util.ts
  packages/instant/tslint.json
Labels: instant

#1261 [instant] Fix a bunch of low hanging bugs
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
Labels: instant

#1258 [instant] Catch errors coming from calls to the orderValidator contract
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
Labels: instant

#1257 [instant] Adapt content to operating system, browser and provider type
  packages/instant/package.json
  packages/instant/src/components/coinbase_wallet_logo.tsx
  packages/instant/src/components/install_wallet_panel_content.tsx
  packages/instant/src/components/meta_mask_logo.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/payment_method_dropdown.tsx
  packages/instant/src/components/standard_panel_content.tsx
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/containers/connected_buy_order_progress_or_payment_method.tsx
  packages/instant/src/style/theme.ts
  packages/instant/src/types.ts
  packages/instant/src/util/env.ts
  packages/instant/src/util/provider_state_factory.ts
  yarn.lock
Labels: instant

#1263 [website] Fix currentProvider called on undefined and NODE_ENV production warning
  packages/website/ts/blockchain.ts
  packages/website/webpack.config.js
  yarn.lock
Labels: Website

#1266 [instant] Fix mobile specific content
  packages/instant/package.json
  packages/instant/src/components/coinbase_wallet_logo.tsx
  packages/instant/src/components/install_wallet_panel_content.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/style/theme.ts
  yarn.lock
Labels: instant

#1273 [instant] Don't show errors from heartbeat buy quote calls
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/buy_quote_updater.ts
  packages/instant/src/util/heartbeater_factory.ts
Labels: instant

#1282 [instant] (temporarily) make instant private
  packages/instant/package.json
Labels: instant

#1271 [instant] Add icons to token selector
  packages/instant/package.json
  packages/instant/src/assets/icons/ae.svg
  packages/instant/src/assets/icons/agi.svg
  packages/instant/src/assets/icons/ant.svg
  packages/instant/src/assets/icons/ast.svg
  packages/instant/src/assets/icons/bat.svg
  packages/instant/src/assets/icons/cvc.svg
  packages/instant/src/assets/icons/dai.svg
  packages/instant/src/assets/icons/dgd.svg
  packages/instant/src/assets/icons/dgx.svg
  packages/instant/src/assets/icons/dnt.svg
  packages/instant/src/assets/icons/fun.svg
  packages/instant/src/assets/icons/gno.svg
  packages/instant/src/assets/icons/gnt.svg
  packages/instant/src/assets/icons/knc.svg
  packages/instant/src/assets/icons/link.svg
  packages/instant/src/assets/icons/lpt.svg
  packages/instant/src/assets/icons/mana.svg
  packages/instant/src/assets/icons/mkr.svg
  packages/instant/src/assets/icons/mln.svg
  packages/instant/src/assets/icons/omg.svg
  packages/instant/src/assets/icons/powr.svg
  packages/instant/src/assets/icons/ren.svg
  packages/instant/src/assets/icons/rep.svg
  packages/instant/src/assets/icons/req.svg
  packages/instant/src/assets/icons/salt.svg
  packages/instant/src/assets/icons/snt.svg
  packages/instant/src/assets/icons/spank.svg
  packages/instant/src/assets/icons/wax.svg
  packages/instant/src/assets/icons/zil.svg
  packages/instant/src/assets/icons/zrx.svg
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/data/asset_meta_data_map.ts
  packages/instant/src/types.ts
  packages/instant/webpack.config.js
  yarn.lock
Labels: instant

#1276 [asset-buyer][instant] downgrade lodash to be consistent with the rest of 0x packages
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/package.json
  packages/instant/package.json
Labels: instant

#1287 [instant] Add "Powered By 0x"
  packages/instant/src/assets/powered_by_0x.svg
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/constants.ts
  packages/instant/src/globals.d.ts
Labels: instant

#1296 [instant] Replace "Powered By 0x" svg
  packages/instant/src/assets/powered_by_0x.svg
Labels: instant

#1290 [instant] Don't allow changing of assets when order in progress
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
Labels: instant

#1283 [instant] Make package public and fix publishing
  packages/instant/.npmignore
  packages/instant/package.json
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/tsconfig.json
  tsconfig.json
Labels: instant

#1300 [instant] Implement account related events
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/heap.ts
Labels: instant

#1308 [web3-wrapper] Only unmarshall receipt if blockNumber present
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/web3_wrapper.ts
Labels: web3-wrapper

#1312 [@0x/instant] Fix CI build broken by instant installation tests
  packages/instant/package.json
  packages/monorepo-scripts/CHANGELOG.json
  packages/monorepo-scripts/src/publish.ts
Labels: bug, instant

#1305 [@0x/contract-templates] Make contract-templates an npm package
  package.json
  packages/0x.js/package.json
  packages/abi-gen-templates/CHANGELOG.json
  packages/abi-gen-templates/README.md
  packages/abi-gen-templates/contract.handlebars
  packages/abi-gen-templates/package.json
  packages/abi-gen-templates/partials/call.handlebars
  packages/abi-gen-templates/partials/callAsync.handlebars
  packages/abi-gen-templates/partials/event.handlebars
  packages/abi-gen-templates/partials/params.handlebars
  packages/abi-gen-templates/partials/return_type.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-templates/partials/typed_params.handlebars
  packages/abi-gen-wrappers/package.json
  packages/contracts/package.json
  packages/metacoin/package.json
Labels: @0x/abi-gen-templates

#1322 fix(order_utils.py): work aroud pylint bug
  python-packages/order_utils/setup.py
Labels: python

#1324 Add CLI interface to @0x/migrations
  packages/migrations/CHANGELOG.json
  packages/migrations/bin/0x-migrate.js
  packages/migrations/package.json
  packages/migrations/src/cli.ts
Labels: migrations

#1299 [instant] Add more event properties
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/util/analytics.ts
Labels: instant

#1294 [instant] Header tweaks
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/scaling_amount_input.tsx
  packages/instant/src/components/scaling_input.tsx
  packages/instant/src/components/ui/text.tsx
Labels: instant

#1149 fix: remove getApproved check from OrderValidator
  packages/contracts/CHANGELOG.json
  packages/contracts/contracts/extensions/OrderValidator/OrderValidator.sol
  packages/contracts/test/extensions/order_validator.ts
Labels: contracts

#1330 [instant] Add stable CSS classes
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/constants.ts
Labels: instant

#1327 [instant] Add buy events to instant
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/util/analytics.ts
Labels: instant

#1336 [instant] Fix copy to clipboard
  packages/instant/src/components/payment_method_dropdown.tsx
Labels: instant

#1337 fix(order_utils.py): unpin pylint version
  python-packages/order_utils/setup.py
Labels: python

#1340 [pipeline] Reduce number of blocks per query in pull_missing_events
  packages/pipeline/src/data_sources/contract-wrappers/exchange_events.ts
Labels: 0x.js

#1335 [instant] Add analytics events for payment dropdown
  packages/instant/src/components/payment_method_dropdown.tsx
  packages/instant/src/components/ui/dropdown.tsx
  packages/instant/src/util/analytics.ts
Labels: instant

#1318 [testnet][contract-addresses] Rinkeby and Ganache
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
Labels: contract-addresses, contracts, testnet

#1341 [instant] Install Wallet analytic events
  packages/instant/src/components/install_wallet_panel_content.tsx
  packages/instant/src/components/standard_panel_content.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
Labels: instant

#1224 Implement MultiAssetProxy
  packages/contracts/CHANGELOG.json
  packages/contracts/compiler.json
  packages/contracts/contracts/protocol/AssetProxy/MultiAssetProxy.sol
  packages/contracts/contracts/protocol/AssetProxy/interfaces/IAssetData.sol
  packages/contracts/package.json
  packages/contracts/src/artifacts/index.ts
  packages/contracts/test/asset_proxy/proxies.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/utils/constants.ts
  packages/contracts/test/utils/erc721_wrapper.ts
  packages/contracts/tsconfig.json
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, types

#1352 [instant] Notify of the used font size for re-renders of scaling input
  packages/instant/src/components/scaling_input.tsx
Labels: instant

#1347 [instant] Fix uncontrolled input warning for token selector
  packages/instant/src/components/erc20_token_selector.tsx
Labels: instant

#1346 [instant] Half opacity on clickable text hover
  packages/instant/src/components/ui/text.tsx
Labels: instant

#1303 Optimized ABI Encoder
  packages/ethereum-types/src/index.ts
  packages/utils/CHANGELOG.json
  packages/utils/package.json
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/abstract_data_types/interfaces.ts
  packages/utils/src/abi_encoder/abstract_data_types/types/blob.ts
  packages/utils/src/abi_encoder/abstract_data_types/types/pointer.ts
  packages/utils/src/abi_encoder/abstract_data_types/types/set.ts
  packages/utils/src/abi_encoder/calldata/blocks/blob.ts
  packages/utils/src/abi_encoder/calldata/blocks/pointer.ts
  packages/utils/src/abi_encoder/calldata/blocks/set.ts
  packages/utils/src/abi_encoder/calldata/calldata.ts
  packages/utils/src/abi_encoder/calldata/calldata_block.ts
  packages/utils/src/abi_encoder/calldata/iterator.ts
  packages/utils/src/abi_encoder/calldata/raw_calldata.ts
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/address.ts
  packages/utils/src/abi_encoder/evm_data_types/array.ts
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/src/abi_encoder/evm_data_types/dynamic_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/int.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/evm_data_types/pointer.ts
  packages/utils/src/abi_encoder/evm_data_types/static_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/string.ts
  packages/utils/src/abi_encoder/evm_data_types/tuple.ts
  packages/utils/src/abi_encoder/evm_data_types/uint.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/constants.ts
  packages/utils/src/abi_encoder/utils/math.ts
  packages/utils/src/abi_encoder/utils/queue.ts
  packages/utils/src/abi_encoder/utils/rules.ts
  packages/utils/src/index.ts
  packages/utils/test/abi_encoder/abi_samples/method_abis.ts
  packages/utils/test/abi_encoder/abi_samples/optimizer_abis.ts
  packages/utils/test/abi_encoder/abi_samples/return_value_abis.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/methods_test.ts
  packages/utils/test/abi_encoder/optimizer_test.ts
  packages/utils/test/abi_encoder/return_values_test.ts
  packages/utils/test/utils/chai_setup.ts
Labels: ethereum-types, utils

#1345 [instant] Progress bar background
  packages/instant/src/components/timed_progress_bar.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/style/theme.ts
Labels: instant

#1343 [instant] Quote analytics
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/buy_quote_updater.ts
  packages/instant/src/util/heartbeater_factory.ts
Labels: instant

#1317 [order_utils.py] Feature/schema resolver cache
  python-packages/order_utils/src/zero_ex/json_schemas/__init__.py
  python-packages/order_utils/stubs/jsonschema/__init__.pyi
  python-packages/order_utils/test/test_doctest.py
  python-packages/order_utils/test/test_json_schemas.py
Labels: 0x.js, abi-gen-templates, abi-gen-wrappers, contract-addresses, contract-artifacts, contracts, instant, python

#1351 [instant] Fix instant bouncing around / height changes, don't allow labels to wrap
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/containers/latest_error.tsx
Labels: instant

#1348 [instant] Remove commonjs bundle, productionize UMD bundle
  packages/instant/.dogfood.discharge.json
  packages/instant/.production.discharge.json
  packages/instant/.staging.discharge.json
  packages/instant/README.md
  packages/instant/package.json
  packages/instant/src/index.umd.ts
  packages/instant/tsconfig.json
  packages/instant/webpack.config.js
  tsconfig.json
Labels: instant

#1342 [instant] Close and View Transaction analytics events
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/util/analytics.ts
Labels: instant

#1359 [instant] CDN-approach to identifying environments
  packages/instant/.dogfood.discharge.json
  packages/instant/.production.discharge.json
  packages/instant/.staging.discharge.json
  packages/instant/package.json
  packages/instant/src/components/standard_sliding_panel.tsx
  packages/instant/src/constants.ts
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/util/analytics.ts
  packages/instant/webpack.config.js
  packages/monorepo-scripts/src/prepublish_checks.ts
Labels: instant, monorepo-scripts
