Repository 0xProject/0x-monorepo, pull requests merged in 2018-07, with the labels that each got.

#805 Add Alex Browne to about page
  packages/website/public/images/team/alexbrowne.png
  packages/website/ts/pages/about/about.tsx
Labels: Website

#799 Add menu for at the top of wallet and top right component
  packages/website/ts/blockchain_watcher.ts
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/provider_picker.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/drop_down.tsx
  packages/website/ts/components/ui/simple_menu.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#811 Add Hotjar, and other small improvements
  packages/website/public/index.html
  packages/website/ts/components/onboarding/onboarding_card.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/onboarding/unlock_wallet_onboarding_step.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/redux/store.ts
  packages/website/ts/style/media.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#816 Make onboarding and wallet copy dynamic based on OS
  packages/website/public/images/toshi_logo.jpg
  packages/website/ts/components/onboarding/install_wallet_onboarding_step.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/ui/image.tsx
  packages/website/ts/components/wallet/body_overlay.tsx
  packages/website/ts/style/media.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#820 Various mobile portal fixes and top bar layout refactor
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/top_bar/top_bar_menu_item.tsx
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#827 Landing page CTA for portal
  packages/website/translations/english.json
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/top_bar/top_bar_menu_item.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/pages/landing/landing.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/translate.ts
Labels: Website

#829 Fix invalid transaction format errors when going through `SingerSubprovider`
  packages/subproviders/src/subproviders/signer.ts
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/index.ts
  packages/web3-wrapper/src/marshaller.ts
Labels: subproviders, web3-wrapper

#828 Fix some portal bugs, and poll for best gas price
  packages/website/ts/blockchain.ts
  packages/website/ts/components/dialogs/ledger_config_dialog.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/types.ts
Labels: Website

#838 Some final polish touches for portal!
  packages/website/public/images/unlock-mm.png
  packages/website/ts/components/onboarding/add_eth_onboarding_step.tsx
  packages/website/ts/components/onboarding/onboarding_card.tsx
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/onboarding_tooltip.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/onboarding/unlock_wallet_onboarding_step.tsx
  packages/website/ts/components/onboarding/wrap_eth_onboarding_step.tsx
  packages/website/ts/components/ui/balance.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/utils/utils.ts
Labels: Website

#841 Feature/v2 contract wrappers validation
  packages/contract-wrappers/src/contract_wrappers/erc20_proxy_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/erc721_proxy_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/src/utils/decorators.ts
  packages/contract_templates/contract.handlebars
  packages/contract_templates/partials/callAsync.handlebars
  packages/types/src/index.ts
Labels: contract-wrappers

#846 Add Peter to about page
  packages/website/public/images/team/peter.jpg
  packages/website/ts/pages/about/about.tsx
Labels: Website

#849 Grab token registry information from our DB for mainnet
  packages/website/ts/blockchain.ts
  packages/website/ts/utils/backend_client.ts
Labels: Website

#626 Add support for browser websocket client and fix multiple subscriptions bug
  packages/connect/CHANGELOG.json
  packages/connect/package.json
  packages/connect/src/index.ts
  packages/connect/src/orderbook_channel_factory.ts
  packages/connect/src/schemas/schemas.ts
  packages/connect/src/schemas/websocket_orderbook_channel_config_schema.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/assert.ts
  packages/connect/src/utils/orderbook_channel_message_parser.ts
  packages/connect/src/ws_orderbook_channel.ts
  packages/connect/test/orderbook_channel_factory_test.ts
  packages/connect/test/ws_orderbook_channel_test.ts
  packages/contract-wrappers/src/utils/assert.ts
  packages/order-utils/src/assert.ts
  packages/order-watcher/src/utils/assert.ts
  yarn.lock
Labels: 0x Connect

#865 Remove legacy portal code
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/legacy_portal/legacy_portal_menu.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/containers/legacy_portal.ts
  packages/website/ts/index.tsx
  packages/website/ts/utils/utils.ts
Labels: Website

#866 Integrate Heap analytics into the website
  packages/website/package.json
  packages/website/public/index.html
  packages/website/ts/blockchain.ts
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/forms/subscribe_form.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/wiki/wiki.tsx
  packages/website/ts/redux/analyticsMiddleware.ts
  packages/website/ts/redux/store.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/analytics.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#867 Only upload sourcemaps to rollbar on live deploys, and handle NaN error by using 0
  packages/website/package.json
  packages/website/ts/blockchain.ts
  packages/website/ts/components/eth_weth_conversion_button.tsx
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/order_json.tsx
  packages/website/ts/components/send_button.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/error_reporter.ts
  packages/website/ts/utils/fetch_utils.ts
  packages/website/ts/utils/utils.ts
  packages/website/webpack.config.js
Labels: Website

#876 Move update onboarding step tracking to onboarding flow code
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/redux/analyticsMiddleware.ts
Labels: Website

#903 Add AbortController polyfill to fetchAsync in utils
  packages/utils/CHANGELOG.json
  packages/utils/package.json
  packages/utils/src/fetchAsync.ts
  packages/website/package.json
  yarn.lock
Labels: Website, utils

#895 Send Ether from Portal
  packages/website/ts/blockchain.ts
  packages/website/ts/components/dialogs/eth_weth_conversion_dialog.tsx
  packages/website/ts/components/dialogs/send_dialog.tsx
  packages/website/ts/components/flash_messages/asset_send_completed.tsx
  packages/website/ts/components/inputs/eth_amount_input.tsx
  packages/website/ts/components/send_button.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/containers/inputs/eth_amount_input.ts
Labels: Website

#891 Make topbar zIndex 1
  packages/website/ts/components/top_bar/top_bar.tsx
Labels: Website

#893 Jobs page
  packages/website/public/images/jobs/calendar-icon.svg
  packages/website/public/images/jobs/heart-icon.svg
  packages/website/public/images/jobs/hero-dots-left.svg
  packages/website/public/images/jobs/hero-dots-right.svg
  packages/website/public/images/jobs/location1.png
  packages/website/public/images/jobs/location2.png
  packages/website/public/images/jobs/location3.png
  packages/website/public/images/jobs/map.png
  packages/website/public/images/jobs/office1.png
  packages/website/public/images/jobs/office2.png
  packages/website/public/images/jobs/office3.png
  packages/website/public/images/jobs/ship-icon.svg
  packages/website/public/images/jobs/world-map.svg
  packages/website/ts/components/footer.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/image.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/about/about.tsx
  packages/website/ts/pages/jobs/benefits.tsx
  packages/website/ts/pages/jobs/jobs.tsx
  packages/website/ts/pages/jobs/join_0x.tsx
  packages/website/ts/pages/jobs/list/header_item.tsx
  packages/website/ts/pages/jobs/list/list_item.tsx
  packages/website/ts/pages/jobs/mission.tsx
  packages/website/ts/pages/jobs/open_positions.tsx
  packages/website/ts/pages/jobs/teams.tsx
  packages/website/ts/pages/jobs/values.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
Labels: Website

#902 Stop exporting marshaller from web3-wrapper
  packages/subproviders/src/subproviders/signer.ts
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/index.ts
Labels: web3-wrapper

#807 Add combinatorial tests for internal Exchange functions
  packages/contracts/compiler.json
  packages/contracts/package.json
  packages/contracts/src/2.0.0/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/2.0.0/test/TestExchangeInternals/TestExchangeInternals.sol
  packages/contracts/test/exchange/fill_order.ts
  packages/contracts/test/exchange/internal.ts
  packages/contracts/test/exchange/libs.ts
  packages/contracts/test/utils/artifacts.ts
  packages/contracts/test/utils/assertions.ts
  packages/contracts/test/utils/combinatorial_utils.ts
  packages/contracts/test/utils/fill_order_combinatorial_utils.ts
  packages/contracts/test/utils/test_with_reference.ts
  packages/migrations/artifacts/2.0.0/AssetProxyOwner.json
  packages/migrations/artifacts/2.0.0/ERC20Proxy.json
  packages/migrations/artifacts/2.0.0/ERC721Proxy.json
  packages/migrations/artifacts/2.0.0/ERC721Token.json
  packages/migrations/artifacts/2.0.0/Exchange.json
  packages/migrations/artifacts/2.0.0/MultiSigWalletWithTimeLockExceptRemoveAuthorizedAddress.json
  packages/migrations/artifacts/2.0.0/WETH9.json
  packages/migrations/artifacts/2.0.0/ZRXToken.json
  packages/types/src/index.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/configured_bignumber.ts
  yarn.lock
Labels: contracts

#910 [website] Use new designs with tooltips for allowance toggles
  packages/website/ts/components/inputs/allowance_state_toggle.tsx
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/onboarding/onboarding_tooltip.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/ui/allowance_state_view.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/pointer.tsx
  packages/website/ts/components/ui/spinner.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/inputs/allowance_state_toggle.ts
  packages/website/ts/style/keyframes.ts
Labels: Website

#931 Add MetaTags component for easily adding customizable meta tags for a new page
  packages/website/package.json
  packages/website/ts/components/meta_tags.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/jobs/jobs.tsx
  packages/website/ts/pages/jobs/join_0x.tsx
  yarn.lock
Labels: Website
