Repository 0xProject/0x-monorepo, pull requests merged in 2018-12, with the labels that each got.

#1366 [instant] provide a custom wallet display name option
  packages/instant/public/index.html
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/redux/reducer.ts
Labels: instant

#1364 [instant] Add dotenv to make env dependencies more explicit
  packages/instant/.dogfood.discharge.json
  packages/instant/.env_example
  packages/instant/.gitignore
  packages/instant/.npmignore
  packages/instant/.production.discharge.json
  packages/instant/.staging.discharge.json
  packages/instant/README.md
  packages/instant/package.json
  yarn.lock
Labels: instant

#1365 [instant] various polish items
  packages/instant/src/assets/icons/zrx.svg
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/search_input.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/data/asset_meta_data_map.ts
Labels: instant

#1353 [website] instant marketing page shell
  packages/website/public/images/instant/dai_screenshot.png
  packages/website/public/images/instant/feature_1.svg
  packages/website/public/images/instant/feature_2.svg
  packages/website/public/images/instant/feature_3.svg
  packages/website/public/images/instant/gnt_screenshot.png
  packages/website/public/images/instant/gods_screenshot.png
  packages/website/public/images/instant/kitty_screenshot.png
  packages/website/public/images/instant/nmr_screenshot.png
  packages/website/public/images/instant/rep_screenshot.png
  packages/website/ts/components/ui/image.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/containers/instant.ts
  packages/website/ts/index.tsx
  packages/website/ts/pages/instant/configurator.tsx
  packages/website/ts/pages/instant/features.tsx
  packages/website/ts/pages/instant/instant.tsx
  packages/website/ts/pages/instant/introducing_0x_instant.tsx
  packages/website/ts/pages/instant/need_more.tsx
  packages/website/ts/pages/instant/screenshots.tsx
  packages/website/ts/style/colors.ts
  packages/website/ts/types.ts
  packages/website/tslint.json
Labels: Website

#1367 [asset-buyer][instant] support DAI in instant
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/instant/src/data/asset_meta_data_map.ts
Labels: asset-buyer, instant

#1370 [instant] Must explicitly specify when want to send to heap when developing
  packages/instant/.env_example
  packages/instant/src/constants.ts
  packages/instant/src/util/analytics.ts
  packages/instant/webpack.config.js
Labels: instant

#1372 [instant] render token selector when only one asset is available
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/redux/async_data.ts
Labels: instant

#1225 Implement Basic Dutch Auction
  contracts/core/compiler.json
  contracts/core/contracts/extensions/DutchAuction/DutchAuction.sol
  contracts/core/package.json
  contracts/core/src/artifacts/index.ts
  contracts/core/src/wrappers/index.ts
  contracts/core/test/extensions/dutch_auction.ts
  contracts/core/test/utils/types.ts
  contracts/core/tsconfig.json
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, types

#1354 WIP token_orderbook_snapshots
  packages/pipeline/migrations/1543434472116-TokenOrderbookSnapshots.ts
  packages/pipeline/src/data_sources/ddex/index.ts
  packages/pipeline/src/data_sources/paradex/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/token_order.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/ddex_orders/index.ts
  packages/pipeline/src/parsers/paradex_orders/index.ts
  packages/pipeline/src/scripts/pull_ddex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_paradex_orderbook_snapshots.ts
  packages/pipeline/src/types.ts
  packages/pipeline/test/entities/token_order_test.ts
  packages/pipeline/test/parsers/ddex_orders/index_test.ts
  packages/pipeline/test/parsers/paradex_orders/index_test.ts
Labels: tslint-config

#1376 [instant] Reduce vertical padding in instant
  packages/instant/src/components/buy_order_progress.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method.tsx
Labels: instant

#1380 [instant] Ensure build process receives build arguments
  packages/instant/.dogfood.discharge.json
  packages/instant/.production.discharge.json
  packages/instant/.staging.discharge.json
Labels: instant

#1371 feat(instant): More event properties for tracking
  packages/instant/.DS_Store
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/util/analytics.ts
Labels: instant

#1379 [instant] add stable class name to overlay close button and adjust overlay color
  packages/instant/src/components/ui/overlay.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/constants.ts
Labels: instant

#1382 [instant] Center powered by and change to text to Connect
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/style/theme.ts
Labels: instant

#1387 Switch all website links from RocketChat for Discord
  packages/website/translations/chinese.json
  packages/website/translations/english.json
  packages/website/translations/korean.json
  packages/website/translations/russian.json
  packages/website/translations/spanish.json
  packages/website/ts/components/footer.tsx
  packages/website/ts/pages/faq/faq.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
Labels: Website

#1392 [instant] CSS leakage and non-lowercase defaultAssetData fix
  packages/instant/public/external.css
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/util/asset.ts
Labels: instant

#1389 [instant] Don't report localhost errors to Rollbar
  packages/instant/package.json
  packages/instant/src/constants.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/error_reporter.ts
Labels: instant

#1369 [website][instant] Instant configurator
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/types.ts
  packages/website/package.json
  packages/website/public/index.html
  packages/website/ts/components/ui/check_mark.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/input.tsx
  packages/website/ts/components/ui/multi_select.tsx
  packages/website/ts/components/ui/select.tsx
  packages/website/ts/pages/documentation/developers_page.tsx
  packages/website/ts/pages/instant/action_link.tsx
  packages/website/ts/pages/instant/code_demo.tsx
  packages/website/ts/pages/instant/config_generator.tsx
  packages/website/ts/pages/instant/config_generator_address_input.tsx
  packages/website/ts/pages/instant/configurator.tsx
  packages/website/ts/pages/instant/features.tsx
  packages/website/ts/pages/instant/fee_percentage_slider.tsx
  packages/website/ts/pages/instant/instant.tsx
  packages/website/ts/pages/instant/need_more.tsx
  packages/website/ts/pages/landing/landing.tsx
  yarn.lock
Labels: Website, instant

#1398 [instant] More aggressive error reporting
  packages/instant/src/util/buy_quote_updater.ts
Labels: instant

#1399 [website] Disable slider when no affiliate info
  packages/website/ts/pages/instant/code_demo.tsx
  packages/website/ts/pages/instant/config_generator.tsx
  packages/website/ts/pages/instant/fee_percentage_slider.tsx
Labels: Website

#1402 Fix `value` and `gasPrice` precision bug by returning them as BigNumbers
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/marshaller.ts
  yarn.lock
Labels: web3-wrapper

#1385 Refactor our protocol interfaces into `@0x/contracts-interfaces`
  .gitignore
  .prettierignore
  contracts/core/compiler.json
  contracts/core/contracts/examples/ExchangeWrapper/ExchangeWrapper.sol
  contracts/core/contracts/examples/Validator/Validator.sol
  contracts/core/contracts/examples/Wallet/Wallet.sol
  contracts/core/contracts/examples/Whitelist/Whitelist.sol
  contracts/core/contracts/extensions/DutchAuction/DutchAuction.sol
  contracts/core/contracts/extensions/Forwarder/libs/LibConstants.sol
  contracts/core/contracts/extensions/OrderValidator/OrderValidator.sol
  contracts/core/contracts/protocol/AssetProxy/mixins/MAuthorizable.sol
  contracts/core/contracts/protocol/Exchange/MixinAssetProxyDispatcher.sol
  contracts/core/contracts/protocol/Exchange/MixinSignatureValidator.sol
  contracts/core/contracts/protocol/Exchange/mixins/MAssetProxyDispatcher.sol
  contracts/core/contracts/protocol/Exchange/mixins/MExchangeCore.sol
  contracts/core/contracts/protocol/Exchange/mixins/MMatchOrders.sol
  contracts/core/contracts/protocol/Exchange/mixins/MSignatureValidator.sol
  contracts/core/contracts/protocol/Exchange/mixins/MTransactions.sol
  contracts/core/contracts/protocol/Exchange/mixins/MWrapperFunctions.sol
  contracts/core/contracts/test/ReentrantERC20Token/ReentrantERC20Token.sol
  contracts/core/package.json
  contracts/core/src/artifacts/index.ts
  contracts/core/src/wrappers/index.ts
  contracts/core/test/asset_proxy/proxies.ts
  contracts/core/test/exchange/core.ts
  contracts/core/tsconfig.json
  contracts/interfaces/.solhint.json
  contracts/interfaces/README.md
  contracts/interfaces/compiler.json
  contracts/interfaces/contracts/protocol/AssetProxy/IAssetData.sol
  contracts/interfaces/contracts/protocol/AssetProxy/IAssetProxy.sol
  contracts/interfaces/contracts/protocol/AssetProxy/IAuthorizable.sol
  contracts/interfaces/contracts/protocol/Exchange/IAssetProxyDispatcher.sol
  contracts/interfaces/contracts/protocol/Exchange/IExchange.sol
  contracts/interfaces/contracts/protocol/Exchange/IExchangeCore.sol
  contracts/interfaces/contracts/protocol/Exchange/IMatchOrders.sol
  contracts/interfaces/contracts/protocol/Exchange/ISignatureValidator.sol
  contracts/interfaces/contracts/protocol/Exchange/ITransactions.sol
  contracts/interfaces/contracts/protocol/Exchange/IValidator.sol
  contracts/interfaces/contracts/protocol/Exchange/IWallet.sol
  contracts/interfaces/contracts/protocol/Exchange/IWrapperFunctions.sol
  contracts/interfaces/package.json
  contracts/interfaces/src/artifacts/index.ts
  contracts/interfaces/src/index.ts
  contracts/interfaces/src/wrappers/index.ts
  contracts/interfaces/tsconfig.json
  contracts/interfaces/tslint.json
Labels: contracts

#1409 [instant] Don't throw error if can't find icon for token
  packages/instant/src/components/erc20_token_selector.tsx
Labels: instant

#1411 [instant] Hide loaders when no token or buy amount is chosen
  packages/instant/src/components/instant_heading.tsx
  yarn.lock
Labels: instant

#1404 [instant] Refactor provider name and provider display name logic, log the display name
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/env.ts
  packages/instant/src/util/provider_state_factory.ts
Labels: instant

#1414 [order-utils] Fix Wallet Signature Verification
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/signature_utils.ts
Labels: order-utils

#1417 Remove stale TODO
  python-packages/order_utils/src/zero_ex/dev_utils/type_assertions.py
Labels: python

#1416 Python SRA client
  .circleci/config.yml
  README.md
  python-packages/sra_client/README.md
  python-packages/sra_client/docs/DefaultApi.md
  python-packages/sra_client/docs/OrderSchema.md
  python-packages/sra_client/docs/PaginatedCollectionSchema.md
  python-packages/sra_client/docs/RelayerApiAssetDataPairsResponseSchema.md
  python-packages/sra_client/docs/RelayerApiAssetDataTradeInfoSchema.md
  python-packages/sra_client/docs/RelayerApiErrorResponseSchema.md
  python-packages/sra_client/docs/RelayerApiErrorResponseSchemaValidationErrors.md
  python-packages/sra_client/docs/RelayerApiFeeRecipientsResponseSchema.md
  python-packages/sra_client/docs/RelayerApiOrderConfigPayloadSchema.md
  python-packages/sra_client/docs/RelayerApiOrderConfigResponseSchema.md
  python-packages/sra_client/docs/RelayerApiOrderSchema.md
  python-packages/sra_client/docs/RelayerApiOrderbookResponseSchema.md
  python-packages/sra_client/docs/RelayerApiOrdersChannelSubscribePayloadSchema.md
  python-packages/sra_client/docs/RelayerApiOrdersChannelSubscribeSchema.md
  python-packages/sra_client/docs/RelayerApiOrdersChannelUpdateSchema.md
  python-packages/sra_client/docs/RelayerApiOrdersResponseSchema.md
  python-packages/sra_client/docs/SignedOrderSchema.md
  python-packages/sra_client/generate.sh
  python-packages/sra_client/openapi-generator-cli-config.json
  python-packages/sra_client/requirements.txt
  python-packages/sra_client/setup.py
  python-packages/sra_client/sra_client/__init__.py
  python-packages/sra_client/sra_client/api/__init__.py
  python-packages/sra_client/sra_client/api/default_api.py
  python-packages/sra_client/sra_client/api_client.py
  python-packages/sra_client/sra_client/configuration.py
  python-packages/sra_client/sra_client/models/__init__.py
  python-packages/sra_client/sra_client/models/order_schema.py
  python-packages/sra_client/sra_client/models/paginated_collection_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_asset_data_pairs_response_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_asset_data_trade_info_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_error_response_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_error_response_schema_validation_errors.py
  python-packages/sra_client/sra_client/models/relayer_api_fee_recipients_response_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_order_config_payload_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_order_config_response_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_order_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_orderbook_response_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_orders_channel_subscribe_payload_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_orders_channel_subscribe_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_orders_channel_update_schema.py
  python-packages/sra_client/sra_client/models/relayer_api_orders_response_schema.py
  python-packages/sra_client/sra_client/models/signed_order_schema.py
  python-packages/sra_client/sra_client/rest.py
  python-packages/sra_client/test-requirements.txt
  python-packages/sra_client/test/__init__.py
  python-packages/sra_client/test/test_default_api.py
  python-packages/sra_client/tox.ini
Labels: python

#1425 Check for an Async suffix in functions, not just methods.
  contracts/test-utils/src/assertions.ts
  contracts/test-utils/src/test_with_reference.ts
  packages/pipeline/src/scripts/pull_competing_dex_trades.ts
  packages/pipeline/src/scripts/pull_ddex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_idex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_missing_blocks.ts
  packages/pipeline/src/scripts/pull_oasis_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_paradex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_trusted_tokens.ts
  packages/pipeline/src/scripts/update_relayer_info.ts
  packages/tslint-config/CHANGELOG.json
  packages/tslint-config/rules/walkers/async_suffix.ts
Labels: contracts, tslint-config

#1410 [instant] Don't update heartbeat if amount is 0
  packages/instant/src/redux/async_data.ts
Labels: instant

#1418 [website] add 0x Instant as a track in the docs
  packages/website/public/images/developers/tutorials/integrate_0x_instant.svg
  packages/website/translations/english.json
  packages/website/ts/pages/documentation/docs_home.tsx
  packages/website/ts/types.ts
Labels: Website

#1415 [instant] Change input to number input, and simplify ScalingInput
  packages/instant/src/components/scaling_amount_input.tsx
  packages/instant/src/components/scaling_input.tsx
  packages/instant/src/components/ui/input.tsx
Labels: instant

#1424 [instant] ETH/USD toggle
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/section_header.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/latest_buy_quote_order_details.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/format.ts
  packages/instant/test/util/format.test.ts
Labels: instant

#1441 [0x.org] update jobs page to load positions from greenhouse
  packages/website/ts/@next/pages/about/jobs.tsx
  packages/website/ts/index.tsx
  yarn.lock
Labels: 0x.org, Website

#1443 [0x.org] fix portal
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/ui/animation.tsx
  packages/website/ts/components/ui/ease_up_from_bottom_animation.tsx
Labels: 0x.org, Website

#1442 [website] 0x.org: Allow manual triggering of error, and report newsletter errors to Rollbar
  packages/website/ts/@next/components/newsletter_form.tsx
Labels: 0x.org, Website

#1445 [website] 0x.org stats
  packages/website/ts/@next/components/sections/landing/about.tsx
Labels: Website

#1447 [website] Fix 0x org jank links
  packages/react-shared/CHANGELOG.json
  packages/react-shared/src/components/link.tsx
  packages/react-shared/src/index.ts
  packages/website/ts/@next/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/@next/components/footer.tsx
  packages/website/ts/@next/components/header.tsx
  packages/website/ts/@next/components/link.tsx
  packages/website/ts/@next/components/mobileNav.tsx
  packages/website/ts/components/eth_wrappers.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  yarn.lock
Labels: Website, react-shared

#1450 [website] 0x org about
  packages/website/ts/@next/components/aboutPageLayout.tsx
  packages/website/ts/@next/pages/about/jobs.tsx
  packages/website/ts/@next/pages/about/mission.tsx
  packages/website/ts/@next/pages/about/press.tsx
  packages/website/ts/@next/pages/about/team.tsx
  packages/website/ts/index.tsx
Labels: Website

#1451 [website] 0x.org Remove unused paths
  packages/website/ts/index.tsx
  packages/website/ts/types.ts
Labels: Website

#1449 [website] 0x.org Launch Kit and Ecosystem links
  packages/website/ts/@next/components/banner.tsx
  packages/website/ts/@next/components/dropdowns/dropdown_products.tsx
  packages/website/ts/@next/components/sections/landing/about.tsx
  packages/website/ts/@next/pages/ecosystem.tsx
  packages/website/ts/@next/pages/launch_kit.tsx
  packages/website/ts/utils/constants.ts
Labels: Website

#1456 [website] Bakken & Baeck 0x.org website fixes
  packages/website/ts/@next/components/banner.tsx
  packages/website/ts/@next/components/button.tsx
  packages/website/ts/@next/components/definition.tsx
  packages/website/ts/@next/components/header.tsx
  packages/website/ts/@next/components/hero.tsx
  packages/website/ts/@next/components/sections/landing/about.tsx
  packages/website/ts/@next/components/siteWrap.tsx
  packages/website/ts/@next/icons/illustrations/low-cost.svg
  packages/website/ts/@next/pages/instant.tsx
  packages/website/ts/@next/pages/market_maker.tsx
  packages/website/ts/types.ts
Labels: Website

#1383 Balance Threshold Filter
  contracts/extensions/CHANGELOG.json
  contracts/extensions/compiler.json
  contracts/extensions/contracts/BalanceThresholdFilter/BalanceThresholdFilter.sol
  contracts/extensions/contracts/BalanceThresholdFilter/MixinBalanceThresholdFilterCore.sol
  contracts/extensions/contracts/BalanceThresholdFilter/MixinExchangeCalldata.sol
  contracts/extensions/contracts/BalanceThresholdFilter/interfaces/IBalanceThresholdFilterCore.sol
  contracts/extensions/contracts/BalanceThresholdFilter/interfaces/IThresholdAsset.sol
  contracts/extensions/contracts/BalanceThresholdFilter/mixins/MBalanceThresholdFilterCore.sol
  contracts/extensions/contracts/BalanceThresholdFilter/mixins/MExchangeCalldata.sol
  contracts/extensions/package.json
  contracts/extensions/src/artifacts/index.ts
  contracts/extensions/src/wrappers/index.ts
  contracts/extensions/test/extensions/balance_threshold_filter.ts
  contracts/extensions/test/utils/balance_threshold_wrapper.ts
  contracts/extensions/tsconfig.json
  contracts/libs/contracts/libs/LibAddressArray.sol
  contracts/libs/contracts/libs/LibExchangeSelectors.sol
  contracts/protocol/CHANGELOG.json
  contracts/test-utils/src/types.ts
  packages/types/src/index.ts
Labels: contracts, types

#1459 Fix test-publish failure in contracts packages
  contracts/multisig/src/index.ts
  contracts/protocol/package.json
Labels: contracts

#1427 OrderWatcher WebSocket Server
  packages/json-schemas/schemas/order_watcher_web_socket_request_schema.json
  packages/json-schemas/schemas/order_watcher_web_socket_utf8_message_schema.json
  packages/json-schemas/src/schemas.ts
  packages/json-schemas/tsconfig.json
  packages/order-watcher/README.md
  packages/order-watcher/package.json
  packages/order-watcher/src/index.ts
  packages/order-watcher/src/order_watcher/order_watcher_web_socket_server.ts
  packages/order-watcher/src/types.ts
  packages/order-watcher/test/order_watcher_web_socket_server_test.ts
Labels: json-schemas, order-watcher

#1429 Add Python SRA client to Developer home
  packages/website/ts/pages/documentation/docs_home.tsx
Labels: Website

#1461 Sol-compiler watch mode
  contracts/examples/package.json
  contracts/extensions/package.json
  contracts/interfaces/package.json
  contracts/libs/compiler.json
  contracts/libs/package.json
  contracts/multisig/package.json
  contracts/protocol/package.json
  contracts/tokens/package.json
  contracts/utils/package.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/package.json
  packages/sol-compiler/src/cli.ts
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/constants.ts
  packages/sol-compiler/src/utils/types.ts
  packages/sol-compiler/test/compiler_utils_test.ts
  packages/sol-resolver/CHANGELOG.json
  packages/sol-resolver/src/index.ts
  packages/sol-resolver/src/resolvers/fs_resolver.ts
  packages/sol-resolver/src/resolvers/name_resolver.ts
  packages/sol-resolver/src/resolvers/npm_resolver.ts
  packages/sol-resolver/src/resolvers/relative_fs_resolver.ts
  packages/sol-resolver/src/resolvers/spy_resolver.ts
  packages/sol-resolver/src/resolvers/url_resolver.ts
  packages/sol-resolver/src/types.ts
  packages/typescript-typings/tsconfig.json
  packages/utils/CHANGELOG.json
  packages/utils/package.json
  packages/utils/src/log_utils.ts
  yarn.lock
Labels: contracts, sol-compiler, sol-resolver, typescript-typings, utils

#1457 [website] 0x org linting and prettier
  packages/website/ts/@next/components/animatedChatIcon.tsx
  packages/website/ts/@next/components/animatedCompassIcon.tsx
  packages/website/ts/@next/components/blockIconLink.tsx
  packages/website/ts/@next/components/button.tsx
  packages/website/ts/@next/components/definition.tsx
  packages/website/ts/@next/components/footer.tsx
  packages/website/ts/@next/components/hamburger.tsx
  packages/website/ts/@next/components/hero.tsx
  packages/website/ts/@next/components/heroAnimation.tsx
  packages/website/ts/@next/components/heroImage.tsx
  packages/website/ts/@next/components/icon.tsx
  packages/website/ts/@next/components/image.tsx
  packages/website/ts/@next/components/layout.tsx
  packages/website/ts/@next/components/logo.tsx
  packages/website/ts/@next/components/modals/input.tsx
  packages/website/ts/@next/components/modals/modal_contact.tsx
  packages/website/ts/@next/components/newLayout.tsx
  packages/website/ts/@next/components/newsletter_form.tsx
  packages/website/ts/@next/components/sections/landing/about.tsx
  packages/website/ts/@next/components/sections/landing/clients.tsx
  packages/website/ts/@next/components/sections/landing/hero.tsx
  packages/website/ts/@next/components/separator.tsx
  packages/website/ts/@next/components/siteWrap.tsx
  packages/website/ts/@next/components/slider/slider.tsx
  packages/website/ts/@next/components/text.tsx
  packages/website/ts/@next/constants/globalStyle.tsx
  packages/website/ts/@next/constants/utilities.tsx
  packages/website/ts/@next/pages/community.tsx
  packages/website/ts/@next/pages/ecosystem.tsx
  packages/website/ts/@next/pages/instant.tsx
  packages/website/ts/@next/pages/instant/code_demo.tsx
  packages/website/ts/@next/pages/instant/config_generator.tsx
  packages/website/ts/@next/pages/instant/config_generator_address_input.tsx
  packages/website/ts/@next/pages/instant/fee_percentage_slider.tsx
  packages/website/ts/@next/pages/instant/select.tsx
  packages/website/ts/@next/pages/landing.tsx
  packages/website/ts/@next/pages/market_maker.tsx
  packages/website/ts/@next/pages/why.tsx
  packages/website/ts/components/ui/ease_up_from_bottom_animation.tsx
  packages/website/ts/globals.d.ts
  packages/website/ts/index.tsx
  packages/website/tsconfig.json
Labels: Website

#1436 Add tox commands for testing sra_client.py against deployed pkg
  python-packages/sra_client/tox.ini
Labels: python

#1455 Add validation to MAP
  contracts/protocol/CHANGELOG.json
  contracts/protocol/contracts/protocol/AssetProxy/MultiAssetProxy.sol
  contracts/protocol/test/asset_proxy/proxies.ts
Labels: contracts

#1117 Implement OrderMatcher
  contracts/extensions/CHANGELOG.json
  contracts/extensions/compiler.json
  contracts/extensions/contracts/OrderMatcher/MixinAssets.sol
  contracts/extensions/contracts/OrderMatcher/MixinMatchOrders.sol
  contracts/extensions/contracts/OrderMatcher/OrderMatcher.sol
  contracts/extensions/contracts/OrderMatcher/interfaces/IAssets.sol
  contracts/extensions/contracts/OrderMatcher/interfaces/IMatchOrders.sol
  contracts/extensions/contracts/OrderMatcher/interfaces/IOrderMatcher.sol
  contracts/extensions/contracts/OrderMatcher/libs/LibConstants.sol
  contracts/extensions/contracts/OrderMatcher/mixins/MAssets.sol
  contracts/extensions/package.json
  contracts/extensions/src/artifacts/index.ts
  contracts/extensions/src/wrappers/index.ts
  contracts/extensions/test/extensions/forwarder.ts
  contracts/extensions/test/extensions/order_matcher.ts
  contracts/extensions/tsconfig.json
  contracts/test-utils/src/constants.ts
Labels: contracts

#1464 Move OrderValidator to extensions
  contracts/extensions/CHANGELOG.json
  contracts/extensions/compiler.json
  contracts/extensions/contracts/OrderValidator/OrderValidator.sol
  contracts/extensions/package.json
  contracts/extensions/src/artifacts/index.ts
  contracts/extensions/src/wrappers/index.ts
  contracts/extensions/test/extensions/order_validator.ts
  contracts/extensions/tsconfig.json
  contracts/protocol/CHANGELOG.json
  contracts/protocol/compiler.json
  contracts/protocol/contracts/protocol/AssetProxy/MultiAssetProxy.sol
  contracts/protocol/package.json
  contracts/protocol/src/artifacts/index.ts
  contracts/protocol/src/wrappers/index.ts
  contracts/protocol/tsconfig.json
Labels: contracts

#1462 [website] Fixes
  packages/website/ts/@next/pages/about/jobs.tsx
  packages/website/ts/@next/pages/about/mission.tsx
  packages/website/ts/@next/pages/about/press.tsx
  packages/website/ts/@next/pages/about/team.tsx
  packages/website/ts/@next/pages/ecosystem.tsx
  packages/website/ts/@next/pages/instant.tsx
  packages/website/ts/@next/pages/instant/fee_percentage_slider.tsx
  packages/website/ts/@next/pages/instant/rc-slider.css
  packages/website/ts/@next/pages/landing.tsx
  packages/website/ts/@next/pages/launch_kit.tsx
  packages/website/ts/@next/pages/why.tsx
Labels: Website

#1463 [website] Add new relayers
  packages/website/public/images/@next/clients/emoon.svg
  packages/website/public/images/@next/clients/godsUnchained.svg
  packages/website/public/images/@next/clients/instex.svg
  packages/website/public/images/@next/clients/laketrade.svg
  packages/website/public/images/@next/clients/veil.svg
  packages/website/ts/@next/components/sections/landing/clients.tsx
Labels: Website

#1434 [instant] fix signature denial error message and add trust wallet detection
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/src/utils/decorators.ts
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/env.ts
Labels: contract-wrappers, instant

#1476 [website] Fix duplicate props which made ci build break
  packages/website/ts/components/ui/container.tsx
Labels: Website
