Repository 0xProject/0x-monorepo, pull requests merged in 2018-10, with the labels that each got.

#1086 [asset-buyer] Improve API and README
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/README.md
  packages/asset-buyer/package.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/index.ts
  packages/asset-buyer/src/standard_relayer_api_asset_buyer_manager.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
Labels: asset-buyer

#1109 [instant] Initialize the package with dev environment and tests etc..
  packages/instant/.gitignore
  packages/instant/CHANGELOG.json
  packages/instant/CHANGELOG.md
  packages/instant/README.md
  packages/instant/jest.config.js
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/globals.d.ts
  packages/instant/src/index.ts
  packages/instant/src/index.umd.ts
  packages/instant/test/components/zero_ex_instant.test.tsx
  packages/instant/tsconfig.json
  packages/instant/tslint.json
  packages/instant/typedoc-tsconfig.json
  packages/instant/webpack.config.js
  yarn.lock
Labels: instant

#1112 Add 0x Instant to bundle analysis
  package.json
Labels: instant

#1113 [asset-buyer] Rework min / max rate calc and add tests
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/test/buy_quote_calculator_test.ts
  packages/order-utils/src/order_factory.ts
Labels: asset-buyer

#1102 [0x.js][order-utils][web3-wrapper] Expose eth_signTypedData functionality for order signing
  package.json
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/transaction_encoder_test.ts
  packages/contracts/test/exchange/libs.ts
  packages/contracts/test/exchange/signature_validator.ts
  packages/contracts/test/utils/transaction_factory.ts
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
  packages/json-schemas/schemas/eip712_typed_data.ts
  packages/json-schemas/schemas/zero_ex_transaction_schema.ts
  packages/json-schemas/src/schemas.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_factory.ts
  packages/order-utils/src/order_hash.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-utils/src/types.ts
  packages/order-utils/test/eip712_utils_test.ts
  packages/order-utils/test/order_hash_test.ts
  packages/order-utils/test/signature_utils_test.ts
  packages/order-watcher/src/index.ts
  packages/sol-cov/src/index.ts
  packages/subproviders/CHANGELOG.json
  packages/subproviders/package.json
  packages/subproviders/src/index.ts
  packages/subproviders/src/subproviders/base_wallet_subprovider.ts
  packages/subproviders/src/subproviders/eth_lightwallet_subprovider.ts
  packages/subproviders/src/subproviders/ledger.ts
  packages/subproviders/src/subproviders/metamask_subprovider.ts
  packages/subproviders/src/subproviders/mnemonic_wallet.ts
  packages/subproviders/src/subproviders/private_key_wallet.ts
  packages/subproviders/src/subproviders/signer.ts
  packages/subproviders/src/types.ts
  packages/subproviders/test/unit/eth_lightwallet_subprovider_test.ts
  packages/subproviders/test/unit/mnemonic_wallet_subprovider_test.ts
  packages/subproviders/test/unit/private_key_wallet_subprovider_test.ts
  packages/subproviders/test/utils/fixture_data.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/sign_typed_data_utils.ts
  packages/utils/test/sign_typed_data_utils_test.ts
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/index.ts
  packages/web3-wrapper/src/web3_wrapper.ts
  packages/web3-wrapper/test/web3_wrapper_test.ts
  packages/website/ts/blockchain.ts
  yarn.lock
Labels: 0x.js, order-utils, subproviders, types, utils

#1116 [asset-buyer] Fix order expiration calc bug and expose gas options to executeBuyQuote
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/src/utils/order_utils.ts
  packages/asset-buyer/test/buy_quote_calculator_test.ts
Labels: asset-buyer

#1114 [instant] Add styles and redux to instant
  package.json
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/amount_input.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/ui/button.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/index.ts
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/ui/text.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/selected_asset_amount_input.tsx
  packages/instant/src/redux/reducer.ts
  packages/instant/src/redux/store.ts
  packages/instant/src/style/fonts.ts
  packages/instant/src/style/theme.ts
  packages/instant/src/style/util.ts
  packages/instant/src/types.ts
  packages/instant/tslint.json
  yarn.lock
Labels: instant

#1128 [website] add Steve to team page
  packages/website/public/images/team/steve.png
  packages/website/ts/pages/about/about.tsx
Labels: Website

#1134 [contract-wrappers] Add optional validation to the forwarder wrapper
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/forwarder_wrapper.ts
  packages/contract-wrappers/test/forwarder_wrapper_test.ts
Labels: contract-wrappers

#1138 [website] Add Steve's github
  packages/website/ts/pages/about/about.tsx
Labels: Website

#1131 [instant][types][order-utils][asset-buyer] Move over and clean up features from zrx-buyer
  .circleci/config.yml
  package.json
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/index.ts
  packages/instant/package.json
  packages/instant/src/components/amount_input.tsx
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/latest_buy_quote_order_details.ts
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_amount_input.tsx
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/data/asset_meta_data.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset_buyer.ts
  packages/instant/src/util/coinbase_api.ts
  packages/instant/src/util/format.ts
  packages/instant/src/util/provider.ts
  packages/instant/src/util/util.ts
  packages/instant/src/util/web3_wrapper.ts
  packages/instant/test/components/zero_ex_instant.test.tsx
  packages/instant/test/util/format.test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
  packages/order-utils/src/index.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  yarn.lock
Labels: asset-buyer, instant, order-utils, types

#1139 [asset-buyer][monorepo-scripts][website] Add asset-buyer documentation
  package.json
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/package.json
  packages/asset-buyer/src/index.ts
  packages/monorepo-scripts/CHANGELOG.json
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/monorepo-scripts/src/utils/doc_generate_and_upload_utils.ts
  packages/website/md/docs/asset_buyer/installation.md
  packages/website/md/docs/asset_buyer/introduction.md
  packages/website/md/docs/asset_buyer/usage.md
  packages/website/translations/english.json
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/containers/asset_buyer_documentation.ts
  packages/website/ts/index.tsx
  packages/website/ts/pages/documentation/doc_page.tsx
  packages/website/ts/types.ts
Labels: Website, asset-buyer, monorepo-scripts

#1142 [instant] Asset buyer errors
  packages/instant/package.json
  packages/instant/src/components/animations/slide_animations.tsx
  packages/instant/src/components/animations/slide_up_and_down_animation.tsx
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/redux/store.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset_data.ts
  packages/instant/src/util/error.ts
  packages/instant/src/util/format.ts
  packages/instant/test/util/asset_data.test.ts
  packages/instant/test/util/error.test.ts
  yarn.lock
Labels: instant

#1148 [instant] Create dogfood url and deployment workflow
  packages/instant/.discharge.json
  packages/instant/README.md
  packages/instant/package.json
  yarn.lock
Labels: instant

#1161 [instant] Order details loading state
  packages/instant/src/components/amount_placeholder.tsx
  packages/instant/src/components/animations/pulse.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/containers/latest_buy_quote_order_details.ts
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/tslint.json
Labels: instant

#1168 Update links, remove 1.0 from contracts README
  packages/contracts/README.md
Labels: contracts

#1174 [website] Fix broken order signing on portal and broken loading on kovan
  packages/website/ts/blockchain.ts
  packages/website/ts/components/portal/portal.tsx
  yarn.lock
Labels: Website

#1147 [asset-buyer][contract-wrappers] Throw SignatureRequestDenied and TransactionValueTooLow errors from AssetBuyer
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/types.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/src/utils/decorators.ts
  packages/monorepo-scripts/CHANGELOG.json
  packages/monorepo-scripts/src/doc_gen_configs.ts
Labels: asset-buyer, contract-wrappers, monorepo-scripts

#1159 [instant] Pass in liquiditySource, assetData and other settings from render
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_theme_provider.ts
  packages/instant/src/data/asset_data_network_mapping.ts
  packages/instant/src/data/asset_meta_data_map.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/redux/store.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/asset_buyer.ts
  packages/instant/src/util/asset_data.ts
  packages/instant/src/util/error.ts
  packages/instant/test/util/asset.test.ts
  packages/instant/test/util/asset_data.test.ts
  packages/instant/test/util/error.test.ts
  yarn.lock
Labels: instant

#1170 [instant] Failure state
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_button.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/retry_button.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_buy_order_state_button.tsx
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/containers/selected_asset_retry_button.tsx
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
Labels: instant

#1179 [instant] Success and Processing state
  packages/instant/package.json
  packages/instant/src/components/animations/full_rotation.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_button.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/placing_order_button.tsx
  packages/instant/src/components/retry_button.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/ui/spinner.tsx
  packages/instant/src/components/view_transaction_button.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_buy_order_state_button.tsx
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/containers/selected_asset_view_transaction_button.tsx
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/etherscan.ts
  yarn.lock
Labels: instant

#1176 [asset-buyer] Fix calculation for ETH and ZRX amount to cover orders
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
  packages/asset-buyer/src/utils/order_utils.ts
  packages/asset-buyer/test/buy_quote_calculator_test.ts
Labels: asset-buyer

#1184 [instant] View Processing Transaction
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_button.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/containers/selected_asset_buy_order_state_button.tsx
  packages/instant/src/containers/selected_asset_view_transaction_button.tsx
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/etherscan.ts
Labels: instant

#1190 [website] Round makerAssetToken amount in FillOrder component
  packages/website/ts/components/fill_order.tsx
  yarn.lock
Labels: Website

#1175 [instant] Create a ScalingInput component and use it in the amount input and upgrade to styled-components v4
  packages/instant/package.json
  packages/instant/src/components/amount_input.tsx
  packages/instant/src/components/animations/slide_animations.tsx
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/scaling_amount_input.tsx
  packages/instant/src/components/scaling_input.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/ui/input.tsx
  packages/instant/src/components/ui/text.tsx
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/style/fonts.ts
  packages/instant/src/style/theme.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/big_number_input.ts
  packages/instant/src/util/format.ts
  packages/instant/test/util/format.test.ts
  yarn.lock
Labels: instant

#1189 [instant] View txn on failure
  packages/instant/src/components/buy_order_state_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/retry_button.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/ui/button.tsx
  packages/instant/src/components/view_transaction_button.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_button.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_asset_retry_button.tsx
  packages/instant/src/containers/selected_asset_view_transaction_button.tsx
Labels: instant

#1193 [instant] Not enough ETH error message
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/types.ts
  packages/instant/src/util/address.ts
  packages/instant/src/util/balance.ts
  packages/instant/src/util/error.ts
  packages/instant/src/util/format.ts
  packages/instant/test/util/format.test.ts
  yarn.lock
Labels: instant

#1187 [instant] Add ability to toggle render settings through URL, flash error on incorrect network, provided liquidity
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/assert.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/balance.ts
  packages/instant/src/util/big_number_input.ts
  packages/instant/src/util/error.ts
  packages/instant/src/util/error_flasher.ts
  packages/instant/test/util/error.test.ts
  yarn.lock
Labels: instant

#1196 [instant] Add default gasPrice of 6 gwei to transactions
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/constants.ts
Labels: instant

#1198 [instant] Gas price estimate
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/constants.ts
  packages/instant/src/util/coinbase_api.ts
  packages/instant/src/util/gas_price_estimator.ts
Labels: instant

#1197 [instant] Add REP to assetMetaDataMap and add it to provided orders
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/instant/public/index.html
  packages/instant/src/data/asset_data_network_mapping.ts
  packages/instant/src/data/asset_meta_data_map.ts
Labels: instant
