Repository 0xProject/0x-monorepo, pull requests merged in 2018-03, with the labels that each got.

#376 Signature generalisation
  packages/contracts/src/contracts/current/protocol/Exchange/Exchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/ISigner.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibOrder.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSignatureValidator.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MSignatureValidator.sol
Labels: WIP, contracts

#425 Arbitrage tutorial contract
  lerna.json
  packages/contracts/globals.d.ts
  packages/contracts/package.json
  packages/contracts/src/contracts/current/tutorials/Arbitrage/Arbitrage.sol
  packages/contracts/src/contracts/current/tutorials/EtherDelta/AccountLevels.sol
  packages/contracts/src/contracts/current/tutorials/EtherDelta/EtherDelta.sol
  packages/contracts/test/tutorials/arbitrage.ts
  packages/contracts/util/crypto.ts
  packages/contracts/util/types.ts
Labels: contracts

#437 Update ledgerco packages
  packages/subproviders/CHANGELOG.md
  packages/subproviders/README.md
  packages/subproviders/package.json
  packages/subproviders/src/globals.d.ts
  packages/subproviders/src/index.ts
  packages/subproviders/src/subproviders/ledger.ts
  packages/subproviders/src/types.ts
  packages/subproviders/test/integration/ledger_subprovider_test.ts
  packages/subproviders/test/unit/ledger_subprovider_test.ts
  yarn.lock
Labels: subproviders

#419 Improve an error message when an incorrect number of constructor param…
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/helpers.ts
  packages/contracts/test/exchange/wrapper.ts
  packages/contracts/test/token_transfer_proxy/transfer_from.ts
  packages/contracts/test/unlimited_allowance_token.ts
  packages/contracts/util/constants.ts
  packages/deployer/CHANGELOG.md
  packages/deployer/src/deployer.ts
Labels: deployer

#412 Implement initial sra-report command line tool
  packages/assert/CHANGELOG.md
  packages/assert/src/index.ts
  packages/assert/test/assert_test.ts
  packages/connect/src/http_client.ts
  packages/sra-report/.npmignore
  packages/sra-report/CHANGELOG.md
  packages/sra-report/README.md
  packages/sra-report/package.json
  packages/sra-report/postman_configs/collections/sra_report.postman_collection.json
  packages/sra-report/scripts/postpublish.js
  packages/sra-report/src/contract_addresses/kovan_addresses.ts
  packages/sra-report/src/contract_addresses/mainnet_addresses.ts
  packages/sra-report/src/contract_addresses/rinkeby_addresses.ts
  packages/sra-report/src/contract_addresses/ropsten_addresses.ts
  packages/sra-report/src/globals.d.ts
  packages/sra-report/src/index.ts
  packages/sra-report/src/postman_environment_factory.ts
  packages/sra-report/src/utils.ts
  packages/sra-report/tsconfig.json
  packages/sra-report/tslint.json
  yarn.lock
Labels: sra-report

#449 Fix the Portal Etherscan Link always overriding to address
  packages/website/ts/components/ui/etherscan_icon.tsx
Labels: Portal

#436 Use ABIEncoderV2 in contracts
  packages/base-contract/src/index.ts
  packages/contracts/package.json
  packages/contracts/src/contracts/current/multisig/MultiSigWalletWithTimeLock/MultiSigWalletWithTimeLock.sol
  packages/contracts/src/contracts/current/multisig/MultiSigWalletWithTimeLockExceptRemoveAuthorizedAddress/MultiSigWalletWithTimeLockExceptRemoveAuthorizedAddress.sol
  packages/contracts/src/contracts/current/protocol/Exchange/Exchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/IExchange.sol
  packages/contracts/src/contracts/current/protocol/Exchange/ISigner.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibErrors.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibOrder.sol
  packages/contracts/src/contracts/current/protocol/Exchange/LibPartialAmount.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSettlementProxy.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinSignatureValidator.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MSettlement.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MSignatureValidator.sol
  packages/contracts/src/contracts/current/protocol/TokenRegistry/ITokenRegistery.sol
  packages/contracts/src/contracts/current/protocol/TokenRegistry/TokenRegistry.sol
  packages/contracts/src/contracts/current/protocol/TokenTransferProxy/ITokenTransferProxy.sol
  packages/contracts/src/contracts/current/protocol/TokenTransferProxy/TokenTransferProxy.sol
  packages/contracts/src/contracts/current/test/DummyToken/DummyToken.sol
  packages/contracts/src/contracts/current/test/MaliciousToken/MaliciousToken.sol
  packages/contracts/src/contracts/current/test/Mintable/Mintable.sol
  packages/contracts/src/contracts/current/tokens/ERC20Token/ERC20Token.sol
  packages/contracts/src/contracts/current/tokens/Token/IToken.sol
  packages/contracts/src/contracts/current/tokens/Token/Token.sol
  packages/contracts/src/contracts/current/tokens/UnlimitedAllowanceToken/UnlimitedAllowanceToken.sol
  packages/contracts/src/contracts/current/tokens/ZRXToken/ZRXToken.sol
  packages/contracts/src/contracts/current/utils/Ownable/Ownable.sol
  packages/contracts/src/contracts/current/utils/SafeMath/SafeMath.sol
  packages/contracts/src/contracts/previous/Exchange/Exchange_v1.sol
  packages/contracts/src/contracts/previous/TokenTransferProxy/TokenTransferProxy_v1.sol
  packages/contracts/src/contracts/previous/UnlimitedAllowanceToken/UnlimitedAllowanceToken_v1.sol
  packages/contracts/src/utils/constants.ts
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/formatters.ts
  packages/contracts/src/utils/log_decoder.ts
  packages/contracts/src/utils/order_factory.ts
  packages/contracts/src/utils/order_utils.ts
  packages/contracts/src/utils/signed_order_utils.ts
  packages/contracts/src/utils/signing_utils.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/helpers.ts
  packages/contracts/test/exchange/wrapper.ts
  packages/contracts/test/tutorials/arbitrage.ts
  packages/deployer/test/fixtures/contracts/Exchange.sol
  packages/deployer/test/fixtures/contracts/TokenTransferProxy.sol
  yarn.lock
Labels: contracts

#452 Consolidate all console.log utils into @0xproject/utils
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/utils/utils.ts
  packages/abi-gen/CHANGELOG.md
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/utils.ts
  packages/deployer/CHANGELOG.md
  packages/deployer/src/compiler.ts
  packages/deployer/src/deployer.ts
  packages/deployer/src/utils/utils.ts
  packages/monorepo-scripts/src/deps_versions.ts
  packages/monorepo-scripts/tsconfig.json
  packages/react-docs/CHANGELOG.md
  packages/react-docs/package.json
  packages/react-docs/src/components/custom_enum.tsx
  packages/react-docs/src/utils/utils.ts
  packages/sra-report/CHANGELOG.md
  packages/sra-report/src/index.ts
  packages/sra-report/src/postman_environment_factory.ts
  packages/testnet-faucets/src/ts/dispatch_queue.ts
  packages/testnet-faucets/src/ts/dispense_asset_tasks.ts
  packages/testnet-faucets/src/ts/error_reporter.ts
  packages/testnet-faucets/src/ts/handler.ts
  packages/testnet-faucets/src/ts/parameter_transformer.ts
  packages/testnet-faucets/src/ts/utils.ts
  packages/testnet-faucets/tsconfig.json
  packages/utils/CHANGELOG.md
  packages/utils/src/index.ts
  packages/utils/src/log_utils.ts
  packages/website/ts/blockchain.ts
  packages/website/ts/blockchain_watcher.ts
  packages/website/ts/components/dialogs/ledger_config_dialog.tsx
  packages/website/ts/components/eth_weth_conversion_button.tsx
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/order_json.tsx
  packages/website/ts/components/portal.tsx
  packages/website/ts/components/send_button.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/pages/wiki/wiki.tsx
  packages/website/ts/utils/doc_utils.ts
  packages/website/ts/utils/error_reporter.ts
  packages/website/ts/utils/utils.ts
Labels: utils

#456 Add SignedOrder, Order, and ECSignature types to the types package
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/0x.ts
  packages/0x.js/src/contract_wrappers/exchange_wrapper.ts
  packages/0x.js/src/index.ts
  packages/0x.js/src/order_watcher/order_state_watcher.ts
  packages/0x.js/src/order_watcher/remaining_fillable_calculator.ts
  packages/0x.js/src/types.ts
  packages/0x.js/src/utils/assert.ts
  packages/0x.js/src/utils/order_state_utils.ts
  packages/0x.js/src/utils/order_validation_utils.ts
  packages/0x.js/src/utils/signature_utils.ts
  packages/0x.js/src/utils/utils.ts
  packages/0x.js/test/remaining_fillable_calculator_test.ts
  packages/connect/CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/http_client.ts
  packages/connect/src/index.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/relayer_response_json_parsers.ts
  packages/types/CHANGELOG.md
  packages/types/src/index.ts
Labels: 0x Connect, types

#451 Add scaffolding for sra-report collection unit tests
  packages/sra-report/CHANGELOG.md
  packages/sra-report/README.md
  packages/sra-report/package.json
  packages/sra-report/postman_collections/sra_report.postman_collection.json
  packages/sra-report/src/globals.d.ts
  packages/sra-report/src/index.ts
  packages/sra-report/src/utils.ts
  packages/sra-report/test/environments/postman_environment.json
  packages/sra-report/test/fixtures/v0/token_pairs/default_request.json
  packages/sra-report/test/fixtures/v0/token_pairs/malformed.json
  packages/sra-report/test/fixtures/v0/token_pairs/token_a_and_token_b_params.json
  packages/sra-report/test/fixtures/v0/token_pairs/token_a_param.json
  packages/sra-report/test/fixtures/v0/token_pairs/token_b_param.json
  packages/sra-report/test/postman_collection_v0_test.ts
  packages/sra-report/test/test_runner.ts
  packages/sra-report/tsconfig.json
  yarn.lock
Labels: sra-report

#464 Update Kovan Ethertoken Address
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/artifacts/TokenRegistry.json
Labels: 0x.js

#460 @0xproject/deployer improvements
  packages/deployer/package.json
  packages/deployer/src/cli.ts
  packages/deployer/src/commands.ts
  packages/deployer/src/compiler.ts
  packages/deployer/src/globals.d.ts
  packages/deployer/src/utils/compiler.ts
  packages/deployer/src/utils/error_reporter.ts
  packages/deployer/src/utils/fs_wrapper.ts
  packages/deployer/src/utils/types.ts
  packages/deployer/test/compiler_test.ts
  packages/deployer/test/compiler_utils_test.ts
  packages/deployer/test/deployer_test.ts
  packages/deployer/test/util/constants.ts
  packages/deployer/tsconfig.json
  yarn.lock
Labels: deployer

#478 Remove partial cancels
  packages/contracts/src/contracts/current/protocol/Exchange/LibErrors.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/contracts/current/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/contracts/current/protocol/Exchange/mixins/MExchangeCore.sol
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/formatters.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/exchange/core.ts
  packages/contracts/test/exchange/wrapper.ts
Labels: contracts

#476 Implement ETH/WETH conversion and allowance toggle styling
  packages/react-shared/CHANGELOG.md
  packages/react-shared/src/utils/colors.ts
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/inputs/balance_bounded_input.tsx
  packages/website/ts/components/inputs/eth_amount_input.tsx
  packages/website/ts/components/inputs/token_amount_input.tsx
  packages/website/ts/components/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/utils/mui_theme.ts
  packages/website/ts/utils/wallet_item_styles.ts
Labels: Website

#487 Implement wallet locked and uninstalled states
  packages/website/public/images/metamask_icon.png
  packages/website/ts/components/portal.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
Labels: Website
