Repository 0xProject/0x-monorepo, pull requests merged in 2018-09, with the labels that each got.

#1044 [website] Update portal for v2
  packages/connect/package.json
  packages/connect/src/utils/relayer_response_json_parsers.ts
  packages/connect/src/utils/type_converters.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/contract_wrapper.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/parsing_utils.ts
  packages/website/package.json
  packages/website/ts/artifacts/Exchange.json
  packages/website/ts/blockchain.ts
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/fill_order_json.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/inputs/hash_input.tsx
  packages/website/ts/components/order_json.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/containers/generate_order_form.ts
  packages/website/ts/containers/portal.ts
  packages/website/ts/redux/dispatcher.ts
  packages/website/ts/redux/reducer.ts
  packages/website/ts/schemas/portal_order_schema.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/analytics.ts
  packages/website/ts/utils/order_parser.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#1058 [connect] Use BigNumber instead of string where appropriate in OrderConfigRequest
  packages/connect/CHANGELOG.json
  packages/connect/src/http_client.ts
  packages/connect/src/types.ts
  packages/connect/test/http_client_test.ts
Labels: 0x Connect

#1064 [website] Fix minting for new tokens on testnets
  packages/website/ts/blockchain.ts
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/token_address_overrides.ts
Labels: Website

#1037 [asset-buyer] Create new AssetBuyer class
  packages/asset-buyer/.npmignore
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/CHANGELOG.md
  packages/asset-buyer/README.md
  packages/asset-buyer/package.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/globals.d.ts
  packages/asset-buyer/src/index.ts
  packages/asset-buyer/src/order_providers/basic_order_provider.ts
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-buyer/src/standard_relayer_api_asset_buyer_manager.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/asset-buyer/src/utils/asset_data_utils.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
  packages/asset-buyer/src/utils/order_utils.ts
  packages/asset-buyer/test/utils/chai_setup.ts
  packages/asset-buyer/tsconfig.json
  packages/asset-buyer/tslint.json
  packages/asset-buyer/typedoc-tsconfig.json
  packages/connect/src/http_client.ts
  packages/contract-wrappers/src/contract_wrappers/forwarder_wrapper.ts
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/src/utils/utils.ts
  packages/forwarder-helper/CHANGELOG.json
  packages/forwarder-helper/CHANGELOG.md
  packages/forwarder-helper/README.md
  packages/forwarder-helper/src/constants.ts
  packages/forwarder-helper/src/forwarder_helper_factory.ts
  packages/forwarder-helper/src/forwarder_helper_impl.ts
  packages/forwarder-helper/src/index.ts
  packages/forwarder-helper/src/types.ts
  packages/forwarder-helper/src/utils/forwarder_helper_impl_config_utils.ts
  packages/forwarder-helper/test/forwarder_helper_impl_test.ts
  packages/order-utils/src/market_utils.ts
  packages/order-utils/src/types.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/analytics.ts
  packages/website/ts/utils/token_address_overrides.ts
  tsconfig.json
  yarn.lock
Labels: asset-buyer

#1089 [website] new hires and 0x v2 news link
  packages/website/public/images/team/rahul.png
  packages/website/public/images/team/weijie.png
  packages/website/ts/pages/about/about.tsx
  packages/website/ts/pages/landing/landing.tsx
Labels: Website

#1091 [connect][sra-spec] Update sra-spec and connect to have /order_config be a POST and other small improvements
  packages/connect/CHANGELOG.json
  packages/connect/src/http_client.ts
  packages/connect/test/http_client_test.ts
  packages/sra-spec/package.json
  packages/sra-spec/src/api.ts
  packages/sra-spec/src/examples/relayerApiAssetDataPairsResponse.ts
  packages/sra-spec/src/examples/relayerApiOrder.ts
  packages/sra-spec/src/examples/relayerApiOrderConfigPayload.ts
  packages/sra-spec/src/examples/relayerApiOrderbookResponse.ts
  packages/sra-spec/src/examples/relayerApiOrdersResponse.ts
  packages/sra-spec/src/examples/signedOrder.ts
  packages/sra-spec/src/md/introduction.md
Labels: 0x Connect, sra-spec

#1088 [website] When number of relayers is less than number of columns, reduce column…
  packages/website/ts/components/relayer_index/relayer_index.tsx
Labels: Website

#1094 [website] Use coinbase wallet instead of Toshi, fix portal layout, update Clay's title
  packages/website/public/images/coinbase_wallet_logo.png
  packages/website/ts/blockchain.ts
  packages/website/ts/components/onboarding/install_wallet_onboarding_step.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/body_overlay.tsx
  packages/website/ts/pages/about/about.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#1097 Export ExpirationWatcher from OrderWatcher
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/src/index.ts
Labels: order-watcher
