Repository 0xProject/0x-monorepo, pull requests merged in 2018-08, with the labels that each got.

#934 Initial forwarder contract wrapper
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/artifacts.ts
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/forwarder_wrapper.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/src/utils/assert.ts
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/test/exchange_wrapper_test.ts
  packages/contract-wrappers/test/forwarder_wrapper_test.ts
Labels: contract-wrappers

#936 ForwarderWrapper order optimizations
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/forwarder_wrapper.ts
  packages/contract-wrappers/src/utils/calldata_optimization_utils.ts
  packages/contract-wrappers/src/utils/constants.ts
  packages/contract-wrappers/test/calldata_optimization_utils_test.ts
  packages/fill-scenarios/CHANGELOG.json
  packages/fill-scenarios/src/fill_scenarios.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_factory.ts
  packages/order-utils/src/types.ts
  packages/sol-resolver/CHANGELOG.md
Labels: contract-wrappers

#937 Add marketUtils object for assisting with market buy calculations
  packages/json-schemas/CHANGELOG.json
  packages/json-schemas/schemas/basic_type_schemas.ts
  packages/json-schemas/test/schema_test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/market_utils.ts
  packages/order-utils/test/market_utils_test.ts
  packages/order-utils/test/utils/test_order_factory.ts
Labels: order-utils

#925 [contracts] Fix comments, styling and small optimization for hashOrder
  packages/contracts/src/2.0.0/protocol/Exchange/MixinTransactions.sol
  packages/contracts/src/2.0.0/protocol/Exchange/libs/LibEIP712.sol
  packages/contracts/src/2.0.0/protocol/Exchange/libs/LibOrder.sol
Labels: contracts

#946 [contracts] Fix comments and styling for MixinSignatureValidator
  packages/contracts/src/2.0.0/protocol/Exchange/MixinSignatureValidator.sol
Labels: contracts

#941 [contracts] Test fillOrder return values and abiEncodeFillOrder
  packages/contracts/src/2.0.0/protocol/Exchange/MixinTransactions.sol
  packages/contracts/src/2.0.0/protocol/Exchange/libs/LibAbiEncoder.sol
  packages/contracts/src/2.0.0/test/TestExchangeInternals/TestExchangeInternals.sol
  packages/contracts/src/2.0.0/test/TestLibs/TestLibs.sol
  packages/contracts/test/utils/exchange_wrapper.ts
  packages/contracts/test/utils/fill_order_combinatorial_utils.ts
  packages/migrations/package.json
Labels: contracts

#958 [sra-api] Enforce camelCase for all parameters and other changes.
  .prettierignore
  packages/sra-api/.discharge.json
  packages/sra-api/README.md
  packages/sra-api/build_scripts/buildJson.ts
  packages/sra-api/package.json
  packages/sra-api/public/api.json
  packages/sra-api/public/index.html
  packages/sra-api/src/api.ts
  packages/sra-api/src/md/introduction.md
  packages/sra-api/src/parameters.ts
  yarn.lock
Labels: sra-api

#964 [sra-api] Add defaults for networkId and pagination
  packages/sra-api/public/api.json
  packages/sra-api/src/parameters.ts
  yarn.lock
Labels: sra-api

#953 [order-utils] Add rate and sorting utilities
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/rate_utils.ts
  packages/order-utils/src/sorting_utils.ts
  packages/order-utils/test/rate_utils_test.ts
  packages/order-utils/test/sorting_utils_test.ts
Labels: order-utils

#954 [order-utils] Update marketUtils api to be friendlier
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/market_utils.ts
  packages/order-utils/src/types.ts
  packages/order-utils/test/market_utils_test.ts
Labels: order-utils

#988 [website] Revert changes to website causing it to fail building
  CODEOWNERS
  packages/website/package.json
  packages/website/ts/utils/utils.ts
Labels: Website

#990 [Website] Update lock icon in onboarding
  packages/website/public/images/fake_toggle.svg
  packages/website/ts/components/onboarding/intro_onboarding_step.tsx
Labels: Website

#985 [contracts] Add contract for batch validating orders
  packages/0x.js/package.json
  packages/contract-wrappers/package.json
  packages/contracts/compiler.json
  packages/contracts/package.json
  packages/contracts/src/2.0.0/extensions/Forwarder/Forwarder.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinAssets.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinExchangeWrapper.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinForwarderCore.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinWeth.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/interfaces/IAssets.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/interfaces/IForwarder.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/interfaces/IForwarderCore.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/libs/LibConstants.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/libs/LibForwarderErrors.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/mixins/MAssets.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/mixins/MExchangeWrapper.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/mixins/MWeth.sol
  packages/contracts/src/2.0.0/extensions/OrderValidator/OrderValidator.sol
  packages/contracts/test/extensions/forwarder.ts
  packages/contracts/test/extensions/order_validator.ts
  packages/contracts/test/utils/artifacts.ts
  packages/migrations/artifacts/2.0.0-beta-testnet/OrderValidator.json
  packages/migrations/package.json
  packages/migrations/src/2.0.0-beta-testnet/artifacts.ts
  packages/migrations/src/2.0.0-beta-testnet/migration.ts
  packages/migrations/src/2.0.0/artifacts.ts
  packages/migrations/src/2.0.0/migration.ts
  packages/order-watcher/package.json
Labels: contracts

#997 [forwarder-helper] Initial scaffolding for the forwarder-helper package
  packages/forwarder-helper/.npmignore
  packages/forwarder-helper/CHANGELOG.json
  packages/forwarder-helper/README.md
  packages/forwarder-helper/package.json
  packages/forwarder-helper/src/constants.ts
  packages/forwarder-helper/src/forwarder_helper_factory.ts
  packages/forwarder-helper/src/forwarder_helper_impl.ts
  packages/forwarder-helper/src/globals.d.ts
  packages/forwarder-helper/src/index.ts
  packages/forwarder-helper/src/types.ts
  packages/forwarder-helper/src/utils/forwarder_helper_impl_config_utils.ts
  packages/forwarder-helper/test/forwarder_helper_impl_test.ts
  packages/forwarder-helper/test/utils/chai_setup.ts
  packages/forwarder-helper/tsconfig.json
  packages/forwarder-helper/tslint.json
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/market_utils.ts
  packages/order-utils/src/sorting_utils.ts
  packages/order-utils/src/types.ts
  packages/order-utils/test/market_utils_test.ts
  yarn.lock
Labels: forwarder-helper

#1014 [json-schemas] Remove superflous id from relayer api fee recipients json schema
  packages/json-schemas/schemas/relayer_api_fee_recipients_response_schema.ts
Labels: json-schemas

#1010 [website] Add documentation for connect v2
  packages/website/md/docs/connect/2.0.0/introduction.md
  packages/website/ts/containers/connect_documentation.ts
Labels: Website

#1011 [sra-spec] Rename the sra-api package to sra-spec
  .prettierignore
  README.md
  packages/sra-api/public/api.json
  packages/sra-spec/.discharge.json
  packages/sra-spec/.gitignore
  packages/sra-spec/.npmignore
  packages/sra-spec/CHANGELOG.json
  packages/sra-spec/CHANGELOG.md
  packages/sra-spec/README.md
  packages/sra-spec/build_scripts/buildJson.ts
  packages/sra-spec/package.json
  packages/sra-spec/public/index.html
  packages/sra-spec/src/api.ts
  packages/sra-spec/src/errors.ts
  packages/sra-spec/src/examples/errors.ts
  packages/sra-spec/src/examples/index.ts
  packages/sra-spec/src/examples/relayerApiAssetDataPairsResponse.ts
  packages/sra-spec/src/examples/relayerApiFeeRecipientsResponse.ts
  packages/sra-spec/src/examples/relayerApiOrder.ts
  packages/sra-spec/src/examples/relayerApiOrderConfigPayload.ts
  packages/sra-spec/src/examples/relayerApiOrderConfigResponse.ts
  packages/sra-spec/src/examples/relayerApiOrderbookResponse.ts
  packages/sra-spec/src/examples/relayerApiOrdersResponse.ts
  packages/sra-spec/src/examples/signedOrder.ts
  packages/sra-spec/src/headers.ts
  packages/sra-spec/src/index.ts
  packages/sra-spec/src/json-schemas.ts
  packages/sra-spec/src/md/index.ts
  packages/sra-spec/src/md/introduction.md
  packages/sra-spec/src/parameters.ts
  packages/sra-spec/src/responses.ts
  packages/sra-spec/tsconfig.json
  packages/sra-spec/tslint.json
Labels: sra-spec

#1018 [migrations] Add testnet network info to OrderValidator artifact
  packages/migrations/artifacts/2.0.0-beta-testnet/OrderValidator.json
Labels: migrations

#1021 [Contracts] Skip self transfers
  packages/contracts/src/2.0.0/protocol/Exchange/MixinAssetProxyDispatcher.sol
Labels: contracts

#1003 [contracts] Add getPartialAmountCeil and isRoundingErrorCeil
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinExchangeWrapper.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinForwarderCore.sol
  packages/contracts/src/2.0.0/extensions/Forwarder/MixinWeth.sol
  packages/contracts/src/2.0.0/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/2.0.0/protocol/Exchange/MixinMatchOrders.sol
  packages/contracts/src/2.0.0/protocol/Exchange/MixinWrapperFunctions.sol
  packages/contracts/src/2.0.0/protocol/Exchange/libs/LibMath.sol
  packages/contracts/src/2.0.0/test/TestExchangeInternals/TestExchangeInternals.sol
  packages/contracts/src/2.0.0/test/TestLibs/TestLibs.sol
  packages/contracts/test/exchange/internal.ts
  packages/contracts/test/exchange/libs.ts
  packages/contracts/test/utils/fill_order_combinatorial_utils.ts
  packages/contracts/test/utils/order_utils.ts
  packages/order-utils/src/order_state_utils.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/utils.ts
  packages/order-utils/test/order_validation_utils_test.ts
  packages/types/src/index.ts
Labels: contracts

#986 Add more assertions to assertValidFill
  packages/contracts/src/2.0.0/protocol/Exchange/MixinExchangeCore.sol
  packages/contracts/src/2.0.0/protocol/Exchange/MixinMatchOrders.sol
  packages/contracts/src/2.0.0/protocol/Exchange/mixins/MExchangeCore.sol
  packages/types/src/index.ts
Labels: contracts

#1026 [contract_templates] Issue #1025 BlockParam unroll
  packages/contract_templates/contract.handlebars
Labels: contract-wrappers

#1031 Use correct error message for division by zero
  packages/contracts/test/exchange/internal.ts
Labels: contracts

#1032 Fix false positives in testWithReferenceFuncAsync
  packages/contracts/test/utils/test_with_reference.ts
  packages/contracts/test/utils_test/test_with_reference.ts
Labels: contracts

#1023 [website] Upgrade all the things to React 16
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/react-shared/src/components/version_drop_down.tsx
  packages/website/package.json
  packages/website/ts/components/dialogs/blockchain_err_dialog.tsx
  packages/website/ts/components/dialogs/eth_weth_conversion_dialog.tsx
  packages/website/ts/components/dialogs/ledger_config_dialog.tsx
  packages/website/ts/components/dialogs/portal_disclaimer_dialog.tsx
  packages/website/ts/components/dialogs/send_dialog.tsx
  packages/website/ts/components/dialogs/track_token_confirmation_dialog.tsx
  packages/website/ts/components/dialogs/u2f_not_supported_dialog.tsx
  packages/website/ts/components/dialogs/wrapped_eth_section_notice_dialog.tsx
  packages/website/ts/components/fill_warning_dialog.tsx
  packages/website/ts/components/generate_order/asset_picker.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/lifecycle_raised_button.tsx
  packages/website/ts/index.tsx
  yarn.lock
Labels: Website

#1042 [website] Add rotating text to landing header and careers button to topbar
  packages/typescript-typings/types/react-typist/index.d.ts
  packages/website/package.json
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/ui/typed_text.tsx
  packages/website/ts/pages/landing/landing.tsx
  yarn.lock
Labels: Website

#1040 [website] Landing page tweaks for v2 launch
  packages/typescript-typings/types/react-typist/index.d.ts
  packages/website/package.json
  packages/website/public/images/landing/0x_homepage.svg
  packages/website/public/images/landing/exchange_everywhere.png
  packages/website/translations/english.json
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/button.tsx
  packages/website/ts/components/ui/text.tsx
  packages/website/ts/components/ui/typed_text.tsx
  packages/website/ts/pages/landing/landing.tsx
  packages/website/ts/types.ts
  yarn.lock
Labels: Website

#1048 [website] Final tweaks for landing page
  packages/website/translations/english.json
  packages/website/ts/pages/landing/landing.tsx
  yarn.lock
Labels: Website
