Repository 0xProject/0x-monorepo, pull requests merged in 2018-02, with the labels that each got.

#387 Testnet Faucet Order conforming to JSON Schema
  packages/testnet-faucets/src/ts/handler.ts
Labels: testnet-faucets

#388 Convert to baseUnits in signed order
  packages/testnet-faucets/src/ts/handler.ts
Labels: testnet-faucets

#394 Add page options to relevant HttpClient methods
  packages/connect/CHANGELOG.md
  packages/connect/src/http_client.ts
  packages/connect/src/index.ts
  packages/connect/src/schemas/fees_request_schema.ts
  packages/connect/src/schemas/orderbook_request_schema.ts
  packages/connect/src/schemas/orders_request_opts_schema.ts
  packages/connect/src/schemas/paged_request_opts_schema.ts
  packages/connect/src/schemas/relayer_orderbook_request_schema.ts
  packages/connect/src/schemas/schemas.ts
  packages/connect/src/schemas/token_pairs_request_opts_schema.ts
  packages/connect/src/types.ts
  packages/connect/test/http_client_test.ts
  packages/website/ts/containers/connect_documentation.tsx
Labels: 0x Connect

#386 Use system-independent rm command
  packages/contracts/package.json
  packages/deployer/package.json
Labels: bug

#398 Add support for intersection types and staged connect documentation
  packages/0x.js/scripts/stagedocs.js
  packages/connect/scripts/stagedocs.js
  packages/website/ts/containers/connect_documentation.tsx
  packages/website/ts/containers/zero_ex_js_documentation.tsx
  packages/website/ts/pages/documentation/type.tsx
  packages/website/ts/types.ts
Labels: Website

#406 Add configurable heartbeat to WebSocketOrderbookChannel
  packages/connect/CHANGELOG.md
  packages/connect/src/index.ts
  packages/connect/src/schemas/schemas.ts
  packages/connect/src/schemas/websocket_orderbook_channel_config_schema.ts
  packages/connect/src/types.ts
  packages/connect/src/ws_orderbook_channel.ts
  packages/website/ts/containers/connect_documentation.tsx
Labels: 0x Connect

#407 Do not JSON parse empty reponse
  packages/connect/CHANGELOG.md
  packages/connect/src/http_client.ts
Labels: 0x Connect

#401 Add types for ABIv2
  packages/deployer/src/utils/encoder.ts
  packages/web3-typescript-typings/CHANGELOG.md
  packages/web3-typescript-typings/index.d.ts
Labels: web3-typescript-typings

#411 Move all dependencies on @0xproject/types out of devDependencies
  packages/contracts/package.json
  packages/dev-utils/package.json
  packages/subproviders/package.json
  packages/utils/package.json
  packages/web3-wrapper/package.json
Labels: types

#385 Better validate ZeroExConfig on private networks
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/0x.ts
  packages/0x.js/src/schemas/zero_ex_config_schema.ts
  packages/0x.js/src/schemas/zero_ex_private_network_config_schema.ts
  packages/0x.js/src/schemas/zero_ex_public_network_config_schema.ts
  packages/0x.js/src/types.ts
  packages/0x.js/test/ether_token_wrapper_test.ts
  packages/0x.js/test/expiration_watcher_test.ts
  packages/assert/CHANGELOG.md
  packages/assert/src/index.ts
Labels: 0x.js, enhancement

#373 Lowercase addresses in the Public API
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/0x.ts
  packages/0x.js/src/contract_wrappers/ether_token_wrapper.ts
  packages/0x.js/src/contract_wrappers/exchange_wrapper.ts
  packages/0x.js/src/contract_wrappers/token_registry_wrapper.ts
  packages/0x.js/src/contract_wrappers/token_transfer_proxy_wrapper.ts
  packages/0x.js/src/contract_wrappers/token_wrapper.ts
  packages/assert/CHANGELOG.md
  packages/assert/src/index.ts
  packages/web3-wrapper/CHANGELOG.md
  packages/web3-wrapper/src/index.ts
Labels: 0x.js

#415 Rename _unsubscribeAll to unsubscribeAll
  packages/0x.js/CHANGELOG.md
  packages/0x.js/src/contract_wrappers/ether_token_wrapper.ts
  packages/0x.js/src/contract_wrappers/exchange_wrapper.ts
  packages/0x.js/src/contract_wrappers/token_wrapper.ts
  packages/0x.js/test/ether_token_wrapper_test.ts
  packages/0x.js/test/exchange_wrapper_test.ts
  packages/0x.js/test/subscription_test.ts
  packages/0x.js/test/token_wrapper_test.ts
  packages/website/ts/blockchain.ts
Labels: 0x.js, bug, enhancement

#420 Fix a bug with displaying solidity functions returning multiple retur…
  packages/website/ts/utils/doxity_utils.ts
Labels: Website

#422 Upgrade prettier
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  package.json
  packages/connect/README.md
  packages/contracts/README.md
  packages/json-schemas/CHANGELOG.md
  packages/subproviders/README.md
  packages/website/README.md
  packages/website/md/docs/smart_contracts/introduction.md
  yarn.lock
Labels: greenkeeper

#418 Prevent a single account from draining the faucet
  packages/testnet-faucets/src/ts/dispense_asset_tasks.ts
Labels: testnet-faucets
