Repository 0xProject/0x-monorepo, pull requests merged in 2018-05, with the labels that each got.

#550 Grab wallet price information by token symbol
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/backend_client.ts
  packages/website/ts/utils/fetch_utils.ts
  yarn.lock
Labels: Website

#537 Implement the new artifacts format
  .gitignore
  .prettierignore
  packages/0x.js/package.json
  packages/abi-gen/src/index.ts
  packages/contracts/compiler.json
  packages/contracts/package.json
  packages/contracts/test/multi_sig_with_time_lock.ts
  packages/contracts/test/multi_sig_with_time_lock_except_remove_auth_addr.ts
  packages/contracts/util/artifacts.ts
  packages/contracts/util/types.ts
  packages/deployer/src/cli.ts
  packages/deployer/src/compiler.ts
  packages/deployer/src/deployer.ts
  packages/deployer/src/index.ts
  packages/deployer/src/utils/constants.ts
  packages/deployer/src/utils/types.ts
  packages/deployer/test/compiler_test.ts
  packages/deployer/test/deployer_test.ts
  packages/deployer/test/fixtures/exchange_bin.ts
  packages/deployer/test/util/constants.ts
  packages/dev-utils/src/coverage.ts
  packages/metacoin/compiler.json
  packages/metacoin/package.json
  packages/migrations/artifacts/1.0.0/.gitkeep
  packages/sol-cov/src/collect_contract_data.ts
  packages/sol-cov/src/coverage_manager.ts
  packages/sol-cov/src/utils.ts
  packages/sol-resolver/src/index.ts
  packages/sol-resolver/src/resolvers/name_resolver.ts
  packages/sol-resolver/src/resolvers/relative_fs_resolver.ts
  packages/typescript-typings/types/solc/index.d.ts
Labels: 0x.js, abi-gen, contracts, deployer

#556 Add new top-level portal component with wallet and relayer index layout
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/containers/portal.ts
  packages/website/ts/index.tsx
Labels: Website

#570 Portal v2 add tokens flow
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/legacy_portal/legacy_portal_menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#557 Redesign top bar for portal v2
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
Labels: Website

#576 Display top tokens from backend
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/types.ts
Labels: Website

#580 Update wallet footer and add remove token functionality
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/wallet/wallet.tsx
Labels: Website

#592 Add myself to about page
  packages/website/public/images/team/fragosti.png
  packages/website/ts/pages/about/about.tsx
Labels: Website

#593 Fix circular dependency
  packages/website/ts/utils/backend_client.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#586 Manage your wallet section of portal
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/portal/back_button.tsx
  packages/website/ts/components/portal/loading.tsx
  packages/website/ts/components/portal/menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/portal/section.tsx
  packages/website/ts/components/portal/text_header.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/pages/fullscreen_message.tsx
  packages/website/ts/pages/not_found.tsx
Labels: Website

#596 Show error messages in the wrapped ether item
  packages/website/ts/components/inputs/balance_bounded_input.tsx
  packages/website/ts/components/inputs/eth_amount_input.tsx
  packages/website/ts/components/inputs/token_amount_input.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/pages/about/about.tsx
  packages/website/ts/types.ts
Labels: Website

#598 Mobile optimize the portal layout
  packages/react-shared/CHANGELOG.json
  packages/react-shared/src/utils/colors.ts
  packages/website/ts/components/inputs/allowance_toggle.tsx
  packages/website/ts/components/portal/back_button.tsx
  packages/website/ts/components/portal/drawer_menu.tsx
  packages/website/ts/components/portal/menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
  packages/website/ts/index.tsx
  packages/website/ts/utils/colors.ts
  packages/website/ts/utils/utils.ts
  packages/website/ts/utils/wallet_item_styles.ts
Labels: Website

#605 Fix build/lint errors and warnings
  packages/contract_templates/contract.handlebars
  packages/contracts/src/utils/erc20_wrapper.ts
  packages/contracts/src/utils/erc721_wrapper.ts
  packages/contracts/src/utils/exchange_wrapper.ts
  packages/contracts/src/utils/formatters.ts
  packages/contracts/src/utils/order_utils.ts
  packages/contracts/src/utils/types.ts
  packages/contracts/test/utils/match_order_tester.ts
  packages/metacoin/contracts/Metacoin.sol
  packages/migrations/artifacts/1.0.0/DummyERC20Token.json
  packages/website/package.json
  packages/website/webpack.config.js
  yarn.lock
Labels: bug

#603 Improve wallet layout using flexbox
  packages/website/ts/components/ui/icon_button.tsx
  packages/website/ts/components/ui/token_icon.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wrap_ether_item.tsx
Labels: Website

#612 Add redux-devtools-extension to project
  packages/website/package.json
  packages/website/ts/index.tsx
  yarn.lock
Labels: Website

#607 Set up structure for onboarding flow along with basic step 0
  packages/typescript-typings/CHANGELOG.json
  packages/typescript-typings/types/react-joyride/index.d.ts
  packages/website/package.json
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/island.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/redux/dispatcher.ts
  packages/website/ts/redux/reducer.ts
  packages/website/ts/types.ts
  packages/website/ts/utils/style.ts
  yarn.lock
Labels: Website

#575 Update order hash to match latest eip712
  packages/contracts/src/contracts/current/protocol/Exchange/libs/LibOrder.sol
  packages/contracts/src/contracts/current/test/TestLibs/TestLibs.sol
  packages/contracts/src/utils/order_utils.ts
  packages/contracts/test/exchange/libs.ts
  packages/migrations/artifacts/2.0.0/Exchange.json
  packages/migrations/artifacts/2.0.0/TestLibs.json
Labels: contracts

#620 Implement design for relayers with no volume or tokens
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_top_tokens.tsx
  packages/website/ts/types.ts
Labels: Website

#638 Onboarding: implement add ETH step, and stub for add WETH step
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/onboarding_tooltip.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/utils.ts
Labels: Website

#635 Remove react-joyride and some more refactoring
  packages/typescript-typings/CHANGELOG.json
  packages/typescript-typings/types/react-joyride/index.d.ts
  packages/typescript-typings/types/react-popper/index.d.ts
  packages/website/package.json
  packages/website/public/index.html
  packages/website/ts/components/onboarding/onboarding_flow.tsx
  packages/website/ts/components/onboarding/onboarding_tooltip.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/ui/container.tsx
  packages/website/ts/components/ui/overlay.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/index.tsx
  packages/website/ts/local_storage/local_storage.ts
  packages/website/ts/local_storage/state_storage.ts
  packages/website/ts/redux/reducer.ts
  packages/website/ts/redux/store.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/style.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#632 Optimized memcpy (to be merged in PR #627)
  packages/contracts/src/contracts/current/test/TestLibMem/TestLibMem.sol
  packages/contracts/src/contracts/current/utils/LibMem/LibMem.sol
  packages/contracts/test/libraries/lib_mem.ts
Labels: contracts

#643 Add loading states to wallet and provider display
  packages/website/ts/blockchain_watcher.ts
  packages/website/ts/components/eth_weth_conversion_button.tsx
  packages/website/ts/components/eth_wrappers.tsx
  packages/website/ts/components/legacy_portal/legacy_portal.tsx
  packages/website/ts/components/onboarding/portal_onboarding_flow.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/top_bar/provider_display.tsx
  packages/website/ts/components/top_bar/top_bar.tsx
  packages/website/ts/components/wallet/wallet.tsx
  packages/website/ts/components/wallet/wallet_disconnected_item.tsx
  packages/website/ts/containers/legacy_portal.ts
  packages/website/ts/containers/portal.ts
  packages/website/ts/containers/portal_onboarding_flow.ts
  packages/website/ts/redux/dispatcher.ts
  packages/website/ts/redux/reducer.ts
Labels: Website
