Repository 0xProject/0x-monorepo, pull requests merged in 2019-02, with the labels that each got.

#1542 Implement docker as another backend for sol-compiler
  .circleci/config.yml
  contracts/asset-proxy/compiler.json
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
  contracts/multisig/compiler.json
  contracts/utils/compiler.json
  packages/ethereum-types/src/index.ts
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/schemas/compiler_options_schema.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-resolver/src/resolvers/fs_resolver.ts
  packages/typescript-typings/types/solc/index.d.ts
Labels: contracts, ethereum-types, sol-compiler, sol-resolver, typescript-typings

#1572 Removed number selector for firefox inputs
  packages/instant/src/components/ui/input.tsx
Labels: instant

#1568 Use correct "orderValidator" address in OrderValidatorWrapper constructor
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/order_validator_wrapper.ts
Labels: contract-wrappers

#1567 fix typo
  packages/sol-tracing-utils/src/trace_collection_subprovider.ts
Labels: sol-tracing-utils

#1536 [website] Change blog link
  packages/website/ts/components/mobileNav.tsx
  packages/website/ts/utils/constants.ts
Labels: Website

#1582 Decode NULL as False in Abi Encoder
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
Labels: contracts, utils

#1556 CI test for dependencies to have the same version
  .circleci/config.yml
  package.json
  packages/0x.js/package.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen/package.json
  packages/assert/package.json
  packages/asset-buyer/package.json
  packages/base-contract/package.json
  packages/connect/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/dev-tools-pages/package.json
  packages/dev-utils/package.json
  packages/fill-scenarios/package.json
  packages/instant/package.json
  packages/metacoin/package.json
  packages/migrations/package.json
  packages/monorepo-scripts/package.json
  packages/monorepo-scripts/src/deps_versions.ts
  packages/order-utils/package.json
  packages/order-watcher/package.json
  packages/pipeline/package.json
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-doc/package.json
  packages/sol-profiler/package.json
  packages/sol-resolver/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/sra-spec/package.json
  packages/subproviders/package.json
  packages/testnet-faucets/package.json
  packages/tslint-config/package.json
  packages/utils/package.json
  packages/web3-wrapper/package.json
  packages/website/package.json
  yarn.lock
Labels: 0x.js, Assert, abi-gen, abi-gen-wrappers, asset-buyer, base-contract, connect, contract-addresses, contract-wrappers, dev-tools-pages, dev-utils, fill-scenarios, instant, metacoin, migrations, monorepo-scripts, order-utils, order-watcher, react-docs, react-shared, sol-compiler, sol-coverage, sol-doc, sol-profiler, sol-resolver, sol-trace, sol-tracing-utils

#1576 Add transactionHashUtils to order-utils package
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/transaction_factory.ts
  contracts/test-utils/src/types.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/transaction_encoder_test.ts
  packages/json-schemas/CHANGELOG.json
  packages/json-schemas/schemas/zero_ex_transaction_schema.json
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_hash.ts
  packages/order-utils/src/transaction_hash.ts
  packages/order-utils/test/eip712_utils_test.ts
  packages/order-utils/test/order_hash_test.ts
  packages/order-utils/test/transaction_hash_test.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  python-packages/json_schemas/src/zero_ex/json_schemas/schemas/zero_ex_transaction_schema.json
Labels: contract-wrappers, contracts, json-schemas, order-utils, python, types

#1595 Stop exporting EIP712 schemas
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/test/eip712_utils_test.ts
Labels: order-utils

#1596 Sol-compiler bug fixes
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/solc/bin_paths.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/types.ts
  packages/sol-compiler/test/compiler_test.ts
Labels: sol-compiler

#1589 Lock dep versions in contracts packages (again)
  .circleci/config.yml
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  yarn.lock
Labels: contracts

#1586 Add Heap and Google analytics to Dev Tools Pages
  packages/dev-tools-pages/assets/index.html
  packages/dev-tools-pages/pages.js
  packages/dev-tools-pages/webpack.config.js
  yarn.lock
Labels: dev-tools-pages

#1592 Simplified signature parsing + signature tests
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/signature_test.ts
  packages/utils/test/abi_encoder/signature_tests.ts
Labels: utils

#1581 Big number input to Instant coercion to consistent version
  packages/instant/src/index.umd.ts
  packages/instant/src/util/maybe_big_number.ts
  packages/instant/src/util/order_coercion.ts
  packages/instant/test/util/maybe_big_number.test.ts
  packages/instant/test/util/order_coercion.test.ts
Labels: instant

#1602 Allow using Web3Factory in-process Ganache with existing snapshot
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
Labels: dev-utils

#1593 Add migration to fix exchange events primary keys
  packages/pipeline/migrations/1549479172800-AddTxHashToExchangeEventPrimaryKey.ts
  packages/pipeline/migrations/1549499426238-AddTxHashToERC20ApprovalEventPrimaryKey.ts
  packages/pipeline/src/entities/erc20_approval_event.ts
  packages/pipeline/src/entities/exchange_cancel_event.ts
  packages/pipeline/src/entities/exchange_cancel_up_to_event.ts
  packages/pipeline/src/entities/exchange_fill_event.ts
  packages/pipeline/src/scripts/pull_exchange_events.ts
Labels: pipeline

#1569 0x Transaction Data Decoder
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/calldata_decoder_test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/salt.ts
  packages/utils/CHANGELOG.json
  packages/utils/package.json
  packages/utils/src/abi_decoder.ts
  packages/utils/src/address_utils.ts
  packages/utils/src/index.ts
  packages/utils/src/random.ts
  packages/utils/src/types.ts
  packages/utils/test/abi_decoder_test.ts
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/index.ts
Labels: 0x.js, contract-wrappers, order-utils, utils, web3-wrapper

#1608 Sol resolver fixes v3
  contracts/erc20/compiler.json
  contracts/erc20/package.json
  contracts/erc20/src/artifacts.ts
  contracts/erc20/src/wrappers.ts
  contracts/erc20/tsconfig.json
  contracts/exchange/compiler.json
  contracts/exchange/contracts/test/ReentrantERC20Token.sol
  contracts/exchange/src/artifacts.ts
  contracts/multisig/package.json
  package.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-doc/package.json
  packages/sol-resolver/CHANGELOG.json
  packages/sol-resolver/package.json
  packages/sol-resolver/src/resolvers/npm_resolver.ts
Labels: contracts, sol-compiler, sol-doc, sol-resolver

#1611 Added forum link
  packages/website/ts/components/footer.tsx
Labels: Website

#1614 Add vote placeholder page
  packages/website/ts/index.tsx
  packages/website/ts/pages/vote_placeholder.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  yarn.lock
Labels: Website

#1610 Infrastructure deals page
  packages/website/package.json
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/centeredDefinition.tsx
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/icons/illustrations/alchemy.svg
  packages/website/ts/icons/illustrations/aws.svg
  packages/website/ts/icons/illustrations/digital_ocean.svg
  packages/website/ts/icons/illustrations/facebook_ads.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: Website

#1616 Add WS endpoint to devnode
  packages/devnet/Dockerfile
  packages/devnet/README.md
  packages/devnet/run.sh
Labels: devnode

#1618 Fix for credit lead form data
  packages/website/ts/components/modals/modal_contact.tsx
Labels: Website

#1620 Governance vote updates
  packages/website/package.json
  packages/website/public/images/og-zeip23.png
  packages/website/public/index.html
  packages/website/ts/components/button.tsx
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/footer.tsx
  packages/website/ts/components/icon.tsx
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/constants/globalStyle.tsx
  packages/website/ts/icons/illustrations/close-modal.svg
  packages/website/ts/icons/illustrations/help.svg
  packages/website/ts/icons/illustrations/voting.svg
  packages/website/ts/icons/illustrations/wallet.svg
  packages/website/ts/icons/illustrations/zeip-23.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/address_table_row.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/connected_wallet_mark.tsx
  packages/website/ts/pages/governance/countdown.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/error_modal.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/preference_selecter.tsx
  packages/website/ts/pages/governance/rating_bar.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  yarn.lock
Labels: Website

#1619 Adding announcement component for hero (for vote)
  packages/website/ts/components/announcement.tsx
  packages/website/ts/components/hero.tsx
  packages/website/ts/components/sections/landing/hero.tsx
Labels: Website

#1621 [WIP] Added padding fix
  packages/website/ts/components/hero.tsx
Labels: Website

#1624 [instant] Reset svg style
  packages/instant/src/components/css_reset.tsx
Labels: instant

#1625 Sol-compiler offline mode
  contracts/asset-proxy/compiler.json
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
  contracts/multisig/compiler.json
  contracts/utils/compiler.json
  packages/ethereum-types/src/index.ts
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/schemas/compiler_options_schema.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/constants.ts
Labels: contracts, ethereum-types, sol-compiler

#1622 [Governance] Ledger address selector ZRX balance
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/ledger_sign_note.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Labels: Website

#1603 Integrate one-time dump and API for nonfungible.com
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/nonfungible_dot_com_trade.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nonfungible_dot_com_trades.ts
  packages/pipeline/src/utils/index.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Labels: pipeline

#1601 Slippage calculations from Ethereum DEX Prices Service (EDPS)
  packages/pipeline/migrations/1549856835629-CreateSlippageTable.ts
  packages/pipeline/src/data_sources/dex_prices/index.ts
  packages/pipeline/src/data_sources/ohlcv_external/crypto_compare.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/src/transformers/slippage/index.ts
  packages/pipeline/test/entities/slippage_test.ts
  packages/pipeline/test/transformers/slippage/index_test.ts
Labels: pipeline

#1626 [WIP] Fix bug with document titles + add rich metadata for documents
  packages/website/package.json
  packages/website/ts/components/document_title.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/pages/documentation/developers_page.tsx
  packages/website/ts/pages/ecosystem.tsx
  packages/website/ts/pages/faq/faq.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/instant.tsx
  packages/website/ts/pages/landing.tsx
  packages/website/ts/pages/launch_kit.tsx
  packages/website/ts/pages/market_maker.tsx
  packages/website/ts/pages/vote_placeholder.tsx
  packages/website/ts/pages/why.tsx
  packages/website/ts/utils/document_meta_constants.tsx
Labels: Website

#1631 Removed default meta tags in public/index.html
  packages/website/public/index.html
Labels: Website

#1615 Demonstrate calling contracts with tuple arrays
  python-packages/contract_demo/test/test_exchange.py
  python-packages/order_utils/setup.py
Labels: python

#1639 Change vote end date to end on PST 25/02/2019
  packages/website/ts/pages/governance/governance.tsx
Labels: Website

#1604 Update exchange-libs and utils Solidity versions + bugfix
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/contracts/src/LibAbiEncoder.sol
  contracts/exchange-libs/contracts/src/LibAssetProxyErrors.sol
  contracts/exchange-libs/contracts/src/LibConstants.sol
  contracts/exchange-libs/contracts/src/LibEIP712.sol
  contracts/exchange-libs/contracts/src/LibExchangeErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeSelectors.sol
  contracts/exchange-libs/contracts/src/LibFillResults.sol
  contracts/exchange-libs/contracts/src/LibMath.sol
  contracts/exchange-libs/contracts/src/LibOrder.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/exchange-libs/package.json
  contracts/multisig/package.json
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/LibAddressArray.sol
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/src/Ownable.sol
  contracts/utils/contracts/src/ReentrancyGuard.sol
  contracts/utils/contracts/src/SafeMath.sol
  contracts/utils/contracts/src/interfaces/IOwnable.sol
  contracts/utils/contracts/test/TestConstants.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_bytes.ts
  package.json
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  yarn.lock
Labels: contracts, types

#1641 Fix OrderValidator and Forwarder addresses in Python package
  packages/contract-addresses/CHANGELOG.json
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
Labels: contract-addresses, python

#1638 Sol profiler improvements
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
  packages/sol-coverage/src/coverage_subprovider.ts
  packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/package.json
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/artifact_adapters/sol_compiler_artifact_adapter.ts
  packages/sol-tracing-utils/src/index.ts
  packages/sol-tracing-utils/src/trace_collector.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/types.ts
  packages/sol-tracing-utils/src/utils.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/log_utils.ts
  yarn.lock
Labels: ethereum-types, sol-coverage, sol-profiler, sol-tracing-utils, utils

#1643 [WIP] Removed announcement
  packages/website/ts/components/sections/landing/hero.tsx
Labels: Website

#1651 Added temporary metadata
  packages/website/public/index.html
Labels: Website

#1647 Sol-profiler ganache
  contracts/test-utils/src/web3_wrapper.ts
  packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/src/revert_trace.ts
  packages/sol-tracing-utils/src/trace.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/utils.ts
Labels: contracts, sol-profiler, sol-tracing-utils

#1652 Fix a bug when combining sol-compiler settings from different sources
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
Labels: sol-compiler

#1630 [WIP] Extensions page and tweaks to website
  packages/website/ts/components/aboutPageLayout.tsx
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/button.tsx
  packages/website/ts/components/card.tsx
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/footer.tsx
  packages/website/ts/components/heroAnimation.tsx
  packages/website/ts/components/icon.tsx
  packages/website/ts/components/image.tsx
  packages/website/ts/components/newLayout.tsx
  packages/website/ts/components/siteWrap.tsx
  packages/website/ts/icons/illustrations/dutchAuction.svg
  packages/website/ts/icons/illustrations/extensions.svg
  packages/website/ts/icons/illustrations/forwarderContract.svg
  packages/website/ts/icons/illustrations/whitelistFilter.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/pages/fullscreen_message.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/instant/select.tsx
  packages/website/ts/pages/not_found.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/filter_props.tsx
Labels: Website

#1653 Remove redundant logging from sol-compiler
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/utils/compiler.ts
Labels: sol-compiler, sol-tracing-utils

#1654 Fix a bug when TruffleArtifactAdapter was incorrectly parsing the truffle config of the newest version
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/artifact_adapters/truffle_artifact_adapter.ts
Labels: sol-tracing-utils

#1656 Allow project specific coverage ignore paths by specifying `config.ignoreFilesGlobs`
  contracts/test-utils/src/coverage.ts
  packages/sol-coverage/CHANGELOG.json
  packages/sol-coverage/package.json
  packages/sol-coverage/src/coverage_subprovider.ts
  packages/sol-coverage/src/index.ts
  packages/website/md/docs/sol_coverage/usage.md
  yarn.lock
Labels: Website, contracts, sol-coverage

#1655 [WIP] Feature/extensions page freds jank pr mirror
  packages/website/ts/components/aboutPageLayout.tsx
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/button.tsx
  packages/website/ts/components/card.tsx
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/footer.tsx
  packages/website/ts/components/heroAnimation.tsx
  packages/website/ts/components/icon.tsx
  packages/website/ts/components/image.tsx
  packages/website/ts/components/newLayout.tsx
  packages/website/ts/components/siteWrap.tsx
  packages/website/ts/icons/illustrations/dutchAuction.svg
  packages/website/ts/icons/illustrations/extensions.svg
  packages/website/ts/icons/illustrations/forwarderContract.svg
  packages/website/ts/icons/illustrations/whitelistFilter.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/pages/fullscreen_message.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/instant/select.tsx
  packages/website/ts/pages/not_found.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/document_meta_constants.tsx
  packages/website/ts/utils/filter_props.tsx
Labels: Website

#1629 Pull exchange contract transactions from Etherscan
  packages/pipeline/migrations/1550749543417-CreateEtherscanTransactions.ts
  packages/pipeline/src/data_sources/etherscan/index.ts
  packages/pipeline/src/entities/etherscan_transaction.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/etherscan/index.ts
  packages/pipeline/src/scripts/pull_exchange_transactions_from_etherscan.ts
  packages/pipeline/test/entities/etherscan_test.ts
  packages/pipeline/test/fixtures/etherscan/api_v1_accounts_transactions.json
  packages/pipeline/test/fixtures/etherscan/api_v1_accounts_transactions.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
  packages/pipeline/tsconfig.json
Labels: pipeline

#1660 Check for process in browser environments
  packages/utils/CHANGELOG.json
  packages/utils/src/log_utils.ts
Labels: utils
