Repository 0xProject/0x-monorepo, pull requests merged in 2019-05, with the labels that each got.

#1806 Support for ABI Encoding multibyte strings (Fixes Issue #1723)
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_types/string.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
Labels: utils

#1800 Added Patryk to the team page
  packages/website/public/images/team/patryka.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1805 Removed default descriptions for website SEO performance
  packages/website/public/index.html
Labels: Website

#1808 Fixed typo in ABI Encoder error message
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_types/dynamic_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/static_bytes.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
Labels: utils

#1804 fix.docs(README.md): wrong package name
  packages/sol-tracing-utils/README.md
Labels: sol-tracing-utils

#1792 Add coordinator wrapper
  packages/0x.js/src/index.ts
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers/coordinator_wrapper.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/src/utils/coordinator_server_types.ts
  packages/contract-wrappers/test/coordinator_wrapper_test.ts
  packages/fill-scenarios/src/fill_scenarios.ts
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-utils/src/types.ts
  packages/pipeline/package.json
  packages/pipeline/src/scripts/pull_radar_relay_orders.ts
  packages/website/ts/utils/utils.ts
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/Coordinator.json
  yarn.lock
Labels: 0x.js, Website, contract-artifacts, contract-wrappers, fill-scenarios, monorepo-scripts, order-utils, python

#1809 OrderWatcher Deposit/Withdraw events
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/package.json
  packages/order-watcher/src/order_watcher/collision_resistant_abi_decoder.ts
  packages/order-watcher/test/order_watcher_test.ts
Labels: order-watcher

#1810 Fix bug where remainingTakerAssetAmount is not converted to BigNumber
  .circleci/config.yml
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/coverage/.gitkeep
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
Labels: asset-buyer

#1812 Update coordinator contracts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
Labels: contract-addresses, python

#1811 add private key option to migration script
  packages/migrations/src/cli.ts
Labels: migrations

#1815 Incorrect decode in DutchAuctionWrapper
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/dutch_auction_wrapper.ts
  packages/contract-wrappers/test/dutch_auction_wrapper_test.ts
Labels: contract-wrappers

#1817 fallback to eth_sign if eth_signTypedData fails
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/coordinator_wrapper.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/signature_utils.ts
  packages/order-utils/test/signature_utils_test.ts
Labels: contract-wrappers, order-utils

#1813 add prepublish check for write permissions for npmjs packages
  packages/monorepo-scripts/src/prepublish_checks.ts
Labels: monorepo-scripts

#1820 website/python-packages: Update 0x-launch-kit repo name to include `-backend`
  packages/website/ts/pages/documentation/docs_home.tsx
  packages/website/ts/pages/launch_kit.tsx
  packages/website/ts/utils/constants.ts
  python-packages/sra_client/README.md
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/zero_ex/sra_client/__init__.py
Labels: Website, python

#1816 Added Alex Kroeger and removed Leo from team page :(
  packages/website/public/images/team/alexk.jpg
  packages/website/public/images/team/leol.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1827 Implement `cancelOrderNoThrow` and `batchCancelOrdersNoThrow`
  contracts/erc20/contracts/test/UntransferrableDummyERC20Token.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-libs/compiler.json
  contracts/exchange-libs/contracts/src/LibAbiEncoder.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/exchange-libs/package.json
  contracts/exchange-libs/src/artifacts.ts
  contracts/exchange-libs/src/wrappers.ts
  contracts/exchange-libs/tsconfig.json
  contracts/exchange/contracts/src/MixinWrapperFunctions.sol
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
  contracts/exchange/test/wrapper.ts
Labels: contracts

#1431 Feature/subproviders/trezor subprovider
  packages/subproviders/src/index.ts
  packages/subproviders/src/subproviders/trezor.ts
  packages/subproviders/src/types.ts
  yarn.lock
Labels: subproviders

#1830 subproviders: Fix Trezor subprovider inefficiency
  packages/subproviders/CHANGELOG.json
  packages/subproviders/src/subproviders/trezor.ts
Labels: subproviders

#1802 Transaction decoder for Coordinator
  contracts/erc20/package.json
  contracts/exchange-libs/compiler.json
  contracts/exchange-libs/contracts/src/LibTransactionDecoder.sol
  contracts/exchange-libs/package.json
  contracts/exchange-libs/src/artifacts.ts
  contracts/exchange-libs/src/wrappers.ts
  contracts/exchange-libs/test/lib_transaction_decoder.ts
  contracts/exchange-libs/tsconfig.json
Labels: contracts

#1833 Added Resources dropdown to main nav
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/components/dropdowns/dropdown_resources.tsx
  packages/website/ts/components/header.tsx
Labels: Website

#1839 Fix static-python-tests
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
  python-packages/sra_client/setup.py
Labels: python

#1822 [WIP] Launchkit landing page
  packages/website/public/images/launch_kit/NFT_screenshot.png
  packages/website/public/images/launch_kit/background_marquee.png
  packages/website/public/images/launch_kit/relayer_screenshot.png
  packages/website/ts/components/background_marquee.tsx
  packages/website/ts/components/button.tsx
  packages/website/ts/components/checkmark_list.tsx
  packages/website/ts/components/definition.tsx
  packages/website/ts/components/hero.tsx
  packages/website/ts/components/newLayout.tsx
  packages/website/ts/components/showcase_section.tsx
  packages/website/ts/components/simple_definition.tsx
  packages/website/ts/icons/illustrations/flexibleOrders.svg
  packages/website/ts/icons/illustrations/secure.svg
  packages/website/ts/pages/instant.tsx
  packages/website/ts/pages/launch_kit.tsx
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/document_meta_constants.tsx
Labels: Website, abi-gen-wrappers

#1840 Fixed bug with launch kit background
  packages/website/ts/components/hero.tsx
Labels: Website

#1803 Added performedCallback attribute for Redux state, and added a hook f…
  packages/instant/public/index.html
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
Labels: instant

#1832 Add transaction expirations and execution logs
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/contracts/src/LibZeroExTransaction.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/exchange-libs/test/exchange_libs.ts
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/examples/ExchangeWrapper.sol
  contracts/exchange/contracts/examples/Whitelist.sol
  contracts/exchange/contracts/src/MixinTransactions.sol
  contracts/exchange/contracts/src/mixins/MExchangeRichErrorTypes.sol
  contracts/exchange/contracts/src/mixins/MTransactions.sol
  contracts/exchange/test/transactions.ts
  contracts/test-utils/src/transaction_factory.ts
  packages/json-schemas/CHANGELOG.json
  packages/json-schemas/schemas/zero_ex_transaction_schema.json
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/exchange_revert_errors.ts
  packages/order-utils/test/eip712_utils_test.ts
  packages/order-utils/test/transaction_hash_test.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, json-schemas, order-utils, types

#1834 Return array of FillResults in batch fill methods
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/src/MixinMatchOrders.sol
  contracts/exchange/contracts/src/MixinWrapperFunctions.sol
  contracts/exchange/contracts/src/interfaces/IWrapperFunctions.sol
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/exchange/test/wrapper.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/formatters.ts
  contracts/test-utils/src/index.ts
Labels: contracts

#1841 Removing Rahul from team page
  packages/website/public/images/team/rahuls.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website
