Repository 0xProject/0x-monorepo, pull requests merged in 2019-03, with the labels that each got.

#1659 Adapt to Bloxy API change
  packages/pipeline/src/data_sources/bloxy/index.ts
  packages/pipeline/src/scripts/pull_competing_dex_trades.ts
Labels: pipeline

#1658 Added bottleneck for EDPS to deal with rate-limiting
  packages/pipeline/src/data_sources/dex_prices/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
Labels: pipeline

#1662 Move contracts-test-utils to dev dependencies
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/metacoin/package.json
  yarn.lock
Labels: contract-wrappers, metacoin

#1663 Sol profiler improvements and bug fixes
  packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/src/artifact_adapters/truffle_artifact_adapter.ts
  packages/sol-tracing-utils/src/constants.ts
  packages/sol-tracing-utils/src/revert_trace.ts
  packages/sol-tracing-utils/src/trace.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/types.ts
  packages/sol-tracing-utils/src/utils.ts
Labels: sol-profiler, sol-tracing-utils

#1678 Fix contracts after Solidity 0.5.5 update
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/compiler.json
  contracts/erc20/CHANGELOG.json
  contracts/erc20/compiler.json
  contracts/erc721/CHANGELOG.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/CHANGELOG.json
  contracts/exchange/compiler.json
  contracts/extensions/CHANGELOG.json
  contracts/extensions/compiler.json
  contracts/multisig/CHANGELOG.json
  contracts/multisig/compiler.json
  contracts/tec/CHANGELOG.json
  contracts/tec/compiler.json
  contracts/test-utils/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  contracts/utils/compiler.json
Labels: contracts

#1675 Coordinator Registry
  contracts/coordinator/compiler.json
  contracts/coordinator/contracts/src/registry/CoordinatorRegistry.sol
  contracts/coordinator/contracts/src/registry/MixinCoordinatorRegistryCore.sol
  contracts/coordinator/contracts/src/registry/interfaces/ICoordinatorRegistryCore.sol
  contracts/coordinator/package.json
  contracts/coordinator/src/artifacts.ts
  contracts/coordinator/src/wrappers.ts
  contracts/coordinator/test/coordinator_registry.ts
  contracts/coordinator/test/utils/coordinator_registry_wrapper.ts
  contracts/coordinator/tsconfig.json
Labels: contracts

#1668 Add tx.origin to TEC approvals
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/MixinCoordinatorCore.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorCore.sol
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/contracts/src/libs/LibZeroExTransaction.sol
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
  contracts/coordinator/test/utils/approval_factory.ts
  contracts/coordinator/test/utils/constants.ts
  contracts/coordinator/test/utils/hash_utils.ts
  contracts/coordinator/test/utils/types.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/LibAddressArray.sol
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  yarn.lock
Labels: contracts, types

#1685 Upgrade to websocket@^1.0.26 to fix broken tests
  packages/connect/CHANGELOG.json
  packages/connect/package.json
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/package.json
  yarn.lock
Labels: connect, order-watcher

#1657 erc1155 minimal implementation
  .circleci/config.yml
  .gitignore
  .prettierignore
  README.md
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/CHANGELOG.md
  contracts/erc1155/DEPLOYS.json
  contracts/erc1155/README.md
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/MixinNonFungibleToken.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/src/mixins/MNonFungibleToken.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/index.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/global_hooks.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
  contracts/erc1155/tsconfig.json
  contracts/erc1155/tslint.json
  contracts/utils/CHANGELOG.json
  contracts/utils/compiler.json
  contracts/utils/contracts/src/Address.sol
  package.json
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, types

#1693 Unpin Solidity versions for contracts that are not deployed
  contracts/coordinator/contracts/src/Coordinator.sol
  contracts/coordinator/contracts/src/registry/CoordinatorRegistry.sol
  contracts/coordinator/contracts/test/TestLibs.sol
  contracts/coordinator/contracts/test/TestMixins.sol
  contracts/exchange/contracts/src/Exchange.sol
Labels: contracts

#1692 Fix error where object could be undefined given an approval event
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/src/order_watcher/dependent_order_hashes_tracker.ts
  packages/order-watcher/test/order_watcher_test.ts
Labels: order-watcher

#1698 Update constants.ts
  packages/sol-compiler/src/utils/constants.ts
Labels: sol-compiler

#1700 Relay failures through command line interface
  packages/pipeline/src/scripts/pull_slippage.ts
Labels: pipeline

#1680 Enable cryptokitties data from nonfungible.com
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/partition_nonfungible_dot_com_dump.ts
Labels: pipeline

#1661 ERC1155 Asset Proxy
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/utils/erc1155_proxy_wrapper.ts
  contracts/asset-proxy/test/utils/index.ts
  contracts/asset-proxy/tsconfig.json
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/types.ts
  packages/0x.js/src/index.ts
  packages/contract-wrappers/src/index.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/test/asset_data_utils_test.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
  yarn.lock
Labels: 0x.js, contract-wrappers, contracts, order-utils, types

#1701 Upgrade asset-proxy package to solidity 0.5.5
  README.md
  contracts/README.md
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/contracts/src/ERC20Proxy.sol
  contracts/asset-proxy/contracts/src/ERC721Proxy.sol
  contracts/asset-proxy/contracts/src/MixinAssetProxyDispatcher.sol
  contracts/asset-proxy/contracts/src/MixinAuthorizable.sol
  contracts/asset-proxy/contracts/src/MultiAssetProxy.sol
  contracts/asset-proxy/contracts/src/interfaces/IAssetData.sol
  contracts/asset-proxy/contracts/src/interfaces/IAssetProxy.sol
  contracts/asset-proxy/contracts/src/interfaces/IAssetProxyDispatcher.sol
  contracts/asset-proxy/contracts/src/interfaces/IAuthorizable.sol
  contracts/asset-proxy/contracts/src/mixins/MAssetProxyDispatcher.sol
  contracts/asset-proxy/contracts/src/mixins/MAuthorizable.sol
  contracts/asset-proxy/package.json
Labels: contracts

#1705 Separate domains for Coordinator transactions and approvals
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/MixinSignatureValidator.sol
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/contracts/src/libs/LibEIP712Domain.sol
  contracts/coordinator/contracts/src/libs/LibZeroExTransaction.sol
  contracts/coordinator/contracts/src/mixins/MSignatureValidator.sol
  contracts/coordinator/contracts/test/TestLibs.sol
  contracts/coordinator/contracts/test/TestMixins.sol
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
  contracts/coordinator/test/utils/approval_factory.ts
  contracts/coordinator/test/utils/constants.ts
  contracts/coordinator/test/utils/coordinator_transaction_factory.ts
  contracts/coordinator/test/utils/hash_utils.ts
  contracts/coordinator/test/utils/index.ts
  contracts/coordinator/test/utils/signing_utils.ts
  contracts/coordinator/test/utils/types.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/constants.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, order-utils, types

#1709 adds daniel pyrahon to website
  packages/website/public/images/team/danielp.png
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1673 Exchange & Proxy Integration Tests - ERC1155
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/exchange/CHANGELOG.json
  contracts/exchange/package.json
  contracts/exchange/test/core.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/test-utils/src/constants.ts
  packages/order-utils/test/asset_data_utils_test.ts
  yarn.lock
Labels: Website, contracts, order-utils

#1715 Added Dutch Auction mainnet address to contract-addresses package
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
Labels: contract-addresses

#1717 Fix documentation typos
  packages/website/md/docs/sol_coverage/usage.md
  packages/website/md/docs/sol_profiler/usage.md
  packages/website/md/docs/sol_trace/usage.md
Labels: Website

#1718 Fix race-condition in Order-watcher
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/package.json
  packages/order-watcher/src/order_watcher/order_watcher.ts
  packages/order-watcher/test/order_watcher_test.ts
Labels: order-watcher

#1719 Update solidity-parser-antlr
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/ast_visitor.ts
  yarn.lock
Labels: sol-tracing-utils

#1716 ERC1155 ProxyId - ERC1155Token -> ERC1155Assets
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/test/erc1155_proxy.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
  packages/order-utils/test/asset_data_utils_test.ts
  packages/types/src/index.ts
Labels: contracts, order-utils, types

#1712 Fix LibAddressArray.indexOf() and add LibAddressArray tests.
  contracts/utils/CHANGELOG.json
  contracts/utils/compiler.json
  contracts/utils/contracts/src/LibAddressArray.sol
  contracts/utils/contracts/test/TestLibAddressArray.sol
  contracts/utils/package.json
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  contracts/utils/test/lib_address_array.ts
  contracts/utils/tsconfig.json
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, types

#1720 Remove TEC package artifacts
  contracts/tec/generated-artifacts/TEC.json
  contracts/tec/generated-artifacts/TestLibs.json
  contracts/tec/generated-artifacts/TestMixins.json
  contracts/tec/generated-wrappers/tec.ts
  contracts/tec/generated-wrappers/test_libs.ts
  contracts/tec/generated-wrappers/test_mixins.ts
Labels: contracts

#1695 Reduce excess block polling when using Web3ProviderEngine
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/test/global_hooks.ts
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/test/global_hooks.ts
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/test/global_hooks.ts
  contracts/erc20/CHANGELOG.json
  contracts/erc20/test/global_hooks.ts
  contracts/erc721/CHANGELOG.json
  contracts/erc721/test/global_hooks.ts
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-forwarder/test/global_hooks.ts
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/test/global_hooks.ts
  contracts/exchange/CHANGELOG.json
  contracts/exchange/test/global_hooks.ts
  contracts/extensions/CHANGELOG.json
  contracts/extensions/test/global_hooks.ts
  contracts/multisig/CHANGELOG.json
  contracts/multisig/test/global_hooks.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/test/global_hooks.ts
  packages/contract-wrappers/test/erc20_wrapper_test.ts
  packages/contract-wrappers/test/erc721_wrapper_test.ts
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
  packages/instant/CHANGELOG.json
  packages/instant/src/util/provider_factory.ts
  packages/metacoin/test/global_hooks.ts
  packages/metacoin/test/metacoin_test.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/cli.ts
  packages/migrations/src/utils/provider_factory.ts
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/src/server.ts
  packages/subproviders/test/integration/ledger_subprovider_test.ts
  packages/subproviders/test/unit/eth_lightwallet_subprovider_test.ts
  packages/subproviders/test/unit/ledger_subprovider_test.ts
  packages/subproviders/test/unit/mnemonic_wallet_subprovider_test.ts
  packages/subproviders/test/unit/nonce_tracker_subprovider_test.ts
  packages/subproviders/test/unit/private_key_wallet_subprovider_test.ts
  packages/subproviders/test/unit/redundant_rpc_subprovider_test.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/provider_utils.ts
  packages/website/ts/blockchain.ts
Labels: Website, contract-wrappers, contracts, dev-utils, instant, metacoin, migrations, order-watcher, subproviders, utils

#1689 Add Coordinator contracts support in dev tools
  contracts/coordinator/test/utils/hash_utils.ts
  contracts/erc1155/package.json
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/index.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/order-utils/src/eip712_utils.ts
  packages/typescript-typings/types/ganache-core/index.d.ts
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
  python-packages/contract_artifacts/Coordinator.json
  python-packages/contract_artifacts/CoordinatorRegistry.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/Coordinator.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/CoordinatorRegistry.json
Labels: abi-gen-wrappers, contract-addresses, contract-artifacts, contracts, migrations, order-utils, python, typescript-typings

#1722 Unmount Instant when closing
  packages/instant/src/index.umd.ts
Labels: instant

#1713 Feature/python/middleware/local_hash_signer
  python-packages/cmd_pkgs_in_dep_order.py
  python-packages/middlewares/.pylintrc
  python-packages/middlewares/CHANGELOG.json
  python-packages/middlewares/README.md
  python-packages/middlewares/setup.py
  python-packages/middlewares/src/conf.py
  python-packages/middlewares/src/doc_static/.gitkeep
  python-packages/middlewares/src/doc_templates/.gitkeep
  python-packages/middlewares/src/index.rst
  python-packages/middlewares/src/zero_ex/__init__.py
  python-packages/middlewares/src/zero_ex/middlewares/__init__.py
  python-packages/middlewares/src/zero_ex/middlewares/local_message_signer.py
  python-packages/middlewares/src/zero_ex/middlewares/py.typed
  python-packages/middlewares/stubs/distutils/__init__.pyi
  python-packages/middlewares/stubs/distutils/command/__init__.pyi
  python-packages/middlewares/stubs/distutils/command/clean.pyi
  python-packages/middlewares/stubs/eth_account/__init__.pyi
  python-packages/middlewares/stubs/eth_account/local.pyi
  python-packages/middlewares/stubs/eth_account/messages.pyi
  python-packages/middlewares/stubs/eth_keys/__init__.pyi
  python-packages/middlewares/stubs/eth_keys/datatypes.pyi
  python-packages/middlewares/stubs/eth_utils/__init__.pyi
  python-packages/middlewares/stubs/hexbytes/HexBytes.pyi
  python-packages/middlewares/stubs/hexbytes/__init__.pyi
  python-packages/middlewares/stubs/pytest/__init__.pyi
  python-packages/middlewares/stubs/pytest/raises.pyi
  python-packages/middlewares/stubs/setuptools/__init__.pyi
  python-packages/middlewares/stubs/setuptools/command/__init__.pyi
  python-packages/middlewares/stubs/setuptools/command/test.pyi
  python-packages/middlewares/stubs/web3/__init__.pyi
  python-packages/middlewares/stubs/web3/exceptions.pyi
  python-packages/middlewares/stubs/web3/providers/__init__.pyi
  python-packages/middlewares/stubs/web3/providers/base.pyi
  python-packages/middlewares/stubs/web3/utils/__init__.pyi
  python-packages/middlewares/stubs/web3/utils/datatypes.pyi
  python-packages/middlewares/test/__init__.py
  python-packages/middlewares/test/test_local_message_signer.py
  python-packages/middlewares/tox.ini
Labels: python

#1729 Modify function visibilities in Coordinator contract
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/compiler.json
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/contracts/src/libs/LibZeroExTransaction.sol
  contracts/coordinator/contracts/src/mixins/MCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/test/TestLibs.sol
  contracts/coordinator/contracts/test/TestMixins.sol
  contracts/coordinator/package.json
  contracts/coordinator/src/artifacts.ts
  contracts/coordinator/src/wrappers.ts
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
  contracts/coordinator/test/utils/constants.ts
  contracts/coordinator/test/utils/exchange_data_encoder.ts
  contracts/coordinator/tsconfig.json
Labels: contracts

#1731 Fix regex validation on numeric inputs
  python-packages/sra_client/CHANGELOG.json
  python-packages/sra_client/sra_client/models/order_schema.py
Labels: python

#1721 [WIP] Feature/python/contract_wrappers
  python-packages/cmd_pkgs_in_dep_order.py
  python-packages/contract_wrappers/.discharge.json
  python-packages/contract_wrappers/.pylintrc
  python-packages/contract_wrappers/README.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/conf.py
  python-packages/contract_wrappers/src/doc_static/.gitkeep
  python-packages/contract_wrappers/src/doc_templates/.gitkeep
  python-packages/contract_wrappers/src/index.rst
  python-packages/contract_wrappers/src/zero_ex/__init__.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/_base_contract_wrapper.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/erc20_wrapper.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/exchange_wrapper.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/py.typed
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/tx_params.py
  python-packages/contract_wrappers/stubs/distutils/__init__.pyi
  python-packages/contract_wrappers/stubs/distutils/command/__init__.pyi
  python-packages/contract_wrappers/stubs/distutils/command/clean.pyi
  python-packages/contract_wrappers/stubs/eth_account/__init__.pyi
  python-packages/contract_wrappers/stubs/eth_account/local.pyi
  python-packages/contract_wrappers/stubs/eth_utils/__init__.pyi
  python-packages/contract_wrappers/stubs/hexbytes/__init__.pyi
  python-packages/contract_wrappers/stubs/pytest/__init__.pyi
  python-packages/contract_wrappers/stubs/setuptools/__init__.pyi
  python-packages/contract_wrappers/stubs/setuptools/command/__init__.pyi
  python-packages/contract_wrappers/stubs/setuptools/command/test.pyi
  python-packages/contract_wrappers/stubs/sha3/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/datastructures.pyi
  python-packages/contract_wrappers/stubs/web3/exceptions.pyi
  python-packages/contract_wrappers/stubs/web3/providers/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/providers/base.pyi
  python-packages/contract_wrappers/stubs/web3/utils/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/utils/datatypes.pyi
  python-packages/contract_wrappers/test/__init__.py
  python-packages/contract_wrappers/test/conftest.py
  python-packages/contract_wrappers/test/test_base_contract_wrapper.py
  python-packages/contract_wrappers/test/test_erc20_wrapper.py
  python-packages/contract_wrappers/test/test_exchange_wrapper.py
  python-packages/contract_wrappers/tox.ini
Labels: python

#1728 Update constants.ts
  packages/sol-compiler/src/utils/constants.ts
Labels: sol-compiler

#1734 Feature/python/new_demos (with old launch-kit)
  python-packages/cmd_pkgs_in_dep_order.py
  python-packages/contract_demo/.discharge.json
  python-packages/contract_demo/README.md
  python-packages/contract_demo/setup.py
  python-packages/contract_demo/stubs/command/clean.pyi
  python-packages/contract_demo/stubs/distutils/__init__.pyi
  python-packages/contract_demo/stubs/distutils/command/__init__.pyi
  python-packages/contract_demo/stubs/distutils/command/clean.pyi
  python-packages/contract_demo/stubs/eth_utils/__init__.pyi
  python-packages/contract_demo/stubs/pytest/__init__.pyi
  python-packages/contract_demo/stubs/setuptools/__init__.pyi
  python-packages/contract_demo/stubs/setuptools/command/__init__.pyi
  python-packages/contract_demo/stubs/setuptools/command/test.pyi
  python-packages/contract_demo/stubs/web3/__init__.pyi
  python-packages/contract_demo/stubs/web3/utils/__init__.pyi
  python-packages/contract_demo/stubs/web3/utils/datatypes.pyi
  python-packages/contract_demo/test/__init__.py
  python-packages/contract_demo/test/doc_static/.gitkeep
  python-packages/contract_demo/test/test_exchange.py
  python-packages/json_schemas/src/zero_ex/json_schemas/__init__.py
  python-packages/order_utils/src/zero_ex/order_utils/__init__.py
  python-packages/sra_client/.pylintrc
  python-packages/sra_client/CHANGELOG.json
  python-packages/sra_client/conf.py
  python-packages/sra_client/doc_static/.gitkeep
  python-packages/sra_client/doc_template/.gitkeep
  python-packages/sra_client/index.rst
  python-packages/sra_client/setup.py
  python-packages/sra_client/sra_client/__init__.py
  python-packages/sra_client/sra_client/api/default_api.py
  python-packages/sra_client/sra_client/api_client.py
  python-packages/sra_client/test/__init__.py
  python-packages/sra_client/test/test_default_api.py
Labels: python

#1737 [instant] Add infura project id via env variables when bundling instant
  packages/instant/.env_example
  packages/instant/src/constants.ts
  packages/instant/webpack.config.js
Labels: instant

#1736 [3.0] Only test contract-related packages in circleci.
  .circleci/config.yml
  contracts/utils/CHANGELOG.json
Labels: contracts

#1740 adds lawrence forman to the website. changes mel role and alex browne…
  packages/website/public/images/team/lawrencef.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1714 Simulate Maker transfer in order validation
  contracts/erc20/CHANGELOG.json
  contracts/erc20/compiler.json
  contracts/erc20/contracts/test/UntransferrableDummyERC20Token.sol
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/index.ts
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-buyer/src/utils/buy_quote_calculator.ts
  packages/asset-buyer/src/utils/calculate_liquidity.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
  packages/asset-buyer/src/utils/order_utils.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IAssetProxy.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/test/artifacts/UntransferrableDummyERC20Token.ts
  packages/contract-wrappers/test/exchange_wrapper_test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_calculation_utils.ts
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/IAssetProxy.json
Labels: abi-gen-wrappers, asset-buyer, contract-artifacts, contract-wrappers, contracts, order-utils, python

#1676 [WIP] Explore page
  packages/website/public/images/explore/ambo.svg
  packages/website/public/images/explore/bamboo_relay.svg
  packages/website/public/images/explore/boxswap.svg
  packages/website/public/images/explore/editorial/featured/paradex.png
  packages/website/public/images/explore/emoon.svg
  packages/website/public/images/explore/ethfinex.svg
  packages/website/public/images/explore/fabrx.svg
  packages/website/public/images/explore/fordex.svg
  packages/website/public/images/explore/gods_unchained.svg
  packages/website/public/images/explore/imtoken.svg
  packages/website/public/images/explore/lake_project.svg
  packages/website/public/images/explore/ledgerdex.svg
  packages/website/public/images/explore/mobidex.svg
  packages/website/public/images/explore/openrelay.svg
  packages/website/public/images/explore/paradex.svg
  packages/website/public/images/explore/pixura.svg
  packages/website/public/images/explore/radar_relay.svg
  packages/website/public/images/explore/rex_relay.svg
  packages/website/public/images/explore/star_bit_ex.svg
  packages/website/public/images/explore/the_ocean.svg
  packages/website/public/images/explore/tokenjar.svg
  packages/website/public/images/explore/tokenmom.svg
  packages/website/public/images/explore/veil.svg
  packages/website/public/images/explore/zero_ex_tracker.svg
  packages/website/public/index.html
  packages/website/ts/components/annoucement_banner.tsx
  packages/website/ts/components/button.tsx
  packages/website/ts/components/header.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/components/portal/menu.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/portal/section.tsx
  packages/website/ts/components/ui/search_textfield.tsx
  packages/website/ts/components/ui/switch.tsx
  packages/website/ts/globals.d.ts
  packages/website/ts/icons/illustrations/search.svg
  packages/website/ts/icons/illustrations/settings.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/explore.tsx
  packages/website/ts/pages/explore/explore_content.tsx
  packages/website/ts/pages/explore/explore_dropdown.tsx
  packages/website/ts/pages/explore/explore_grid.tsx
  packages/website/ts/pages/explore/explore_grid_featured_tile.tsx
  packages/website/ts/pages/explore/explore_grid_state_tile.tsx
  packages/website/ts/pages/explore/explore_grid_tile.tsx
  packages/website/ts/pages/explore/explore_tag_button.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/document_meta_constants.tsx
  packages/website/webpack.config.js
  yarn.lock
Labels: Website

#1743 Remove doctest skip for get_order method
  .circleci/config.yml
  python-packages/sra_client/setup.py
  python-packages/sra_client/sra_client/__init__.py
  python-packages/sra_client/test/test_default_api.py
Labels: python

#1744 updates explore page
  packages/website/ts/pages/explore/explore_content.tsx
Labels: Website
