Repository 0xProject/0x-monorepo, pull requests merged in 2019-06, with the labels that each got.

#1835 Update OrderValidator and create DevUtils contract
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/contracts/src/interfaces/IAssetData.sol
  contracts/asset-proxy/contracts/src/libs/LibAssetData.sol
  contracts/asset-proxy/contracts/src/libs/LibAssetProxyIds.sol
  contracts/asset-proxy/test/lib_asset_data.ts
  contracts/exchange-libs/contracts/src/LibTransactionDecoder.sol
  contracts/extensions/CHANGELOG.json
  contracts/extensions/compiler.json
  contracts/extensions/contracts/src/DevUtils/DevUtils.sol
  contracts/extensions/contracts/src/DevUtils/OrderValidationUtils.sol
  contracts/extensions/contracts/src/OrderValidator/OrderValidator.sol
  contracts/extensions/package.json
  contracts/extensions/src/artifacts.ts
  contracts/extensions/src/wrappers.ts
  contracts/extensions/test/dev_utils.ts
  contracts/extensions/tsconfig.json
Labels: contracts

#1844 website: Doc Fixes
  packages/dev-tools-pages/ts/pages/coverage.tsx
  packages/dev-tools-pages/ts/pages/profiler.tsx
  packages/dev-tools-pages/ts/pages/trace.tsx
  packages/metacoin/README.md
  packages/website/md/docs/sol_coverage/usage.md
  packages/website/md/docs/sol_profiler/usage.md
  packages/website/md/docs/sol_trace/usage.md
  packages/website/ts/components/documentation/sidebar_header.tsx
  packages/website/ts/pages/documentation/developers_page.tsx
  packages/website/ts/pages/documentation/docs_home.tsx
Labels: Website, dev-tools-pages, metacoin

#1846 Added StarkDEX announcement to homepage
  packages/website/ts/components/announcement.tsx
  packages/website/ts/components/sections/landing/hero.tsx
Labels: Website

#1823 Add parameter assertions to abi-gen-wrappers
  .gitattributes
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/extensions/test/dev_utils.ts
  packages/abi-gen-templates/CHANGELOG.json
  packages/abi-gen-templates/contract.handlebars
  packages/abi-gen-templates/partials/callAsync.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/utils.ts
  packages/assert/CHANGELOG.json
  packages/assert/src/index.ts
  packages/base-contract/package.json
  packages/base-contract/src/index.ts
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/web3-wrapper/src/web3_wrapper.ts
  yarn.lock
Labels: Assert, abi-gen, abi-gen-templates, abi-gen-wrappers, contracts

#1852 Fixes false positives in `expectTransactionFailedAsync`
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/assertions.ts
Labels: contracts

#1853 Note on updating contract artifacts
  contracts/README.md
  packages/migrations/README.md
Labels: contracts, migrations

#1837 ERC1155 Proxy - Manually Copy Dynamic Fields from Calldata to Memory
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/utils/erc1155_proxy_wrapper.ts
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  packages/types/src/index.ts
  yarn.lock
Labels: contracts, types

#1867 Fix bug in Trezor implementation
  packages/subproviders/CHANGELOG.json
  packages/subproviders/src/subproviders/trezor.ts
Labels: subproviders

#1842 Add workflow for copying compiled artifacts to 0x/contract-artifacts
  packages/abi-gen-wrappers/package.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/AssetProxyOwner.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/DutchAuction.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/IAssetProxy.json
  packages/contract-artifacts/artifacts/IValidator.json
  packages/contract-artifacts/artifacts/IWallet.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/OrderValidator.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/package.json
  packages/contract-artifacts/src/copy.ts
  packages/contract-artifacts/src/transform.ts
  packages/contract-artifacts/test/contract_artifacts_test.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/delete_nested_property.ts
  packages/utils/src/index.ts
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/AssetProxyOwner.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/Coordinator.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/CoordinatorRegistry.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/DummyERC20Token.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/DummyERC721Token.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/DutchAuction.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/ERC20Proxy.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/ERC20Token.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/ERC721Proxy.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/ERC721Token.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/Exchange.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/Forwarder.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/IAssetProxy.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/IValidator.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/IWallet.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/MultiAssetProxy.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/OrderValidator.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/WETH9.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/ZRXToken.json
  yarn.lock
Labels: abi-gen-wrappers, contract-artifacts, contracts, monorepo-scripts, python, sol-compiler, utils

#1876 Prune fields from EthBalanceChecker
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/EthBalanceChecker.json
  python-packages/contract_artifacts/src/zero_ex/contract_artifacts/artifacts/EthBalanceChecker.json
Labels: contract-artifacts, python

#1875 abi-gen should regenerate contract-wrappers if template files change
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/utils.ts
  packages/abi-gen/test/utils_test.ts
Labels: abi-gen

#1864 Add RichErrors to Utils
  contracts/asset-proxy/test/authorizable.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/exchange-libs/test/exchange_libs.ts
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/internal.ts
  contracts/utils/contracts/src/MixinOwnableRichErrors.sol
  contracts/utils/contracts/src/MixinSafeMathRichErrors.sol
  contracts/utils/contracts/src/Ownable.sol
  contracts/utils/contracts/src/SafeMath.sol
  package.json
  packages/utils/src/index.ts
  packages/utils/src/ownable_revert_errors.ts
  packages/utils/src/safe_math_revert_errors.ts
Labels: contracts, utils

#1863 Implement StaticCallProxy
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/contracts/src/StaticCallProxy.sol
  contracts/asset-proxy/contracts/src/interfaces/IAssetData.sol
  contracts/asset-proxy/contracts/src/libs/LibAssetProxyIds.sol
  contracts/asset-proxy/contracts/test/TestStaticCallTarget.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/static_call_proxy.ts
  contracts/asset-proxy/tsconfig.json
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/contracts/src/LibAssetData.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/test/lib_asset_data.ts
  contracts/exchange/test/core.ts
  contracts/test-utils/src/constants.ts
  package.json
  packages/0x.js/src/index.ts
  packages/abi-gen-templates/CHANGELOG.json
  packages/abi-gen-templates/partials/callAsync.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/contract-wrappers/src/index.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/order-utils/test/asset_data_utils_test.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: 0x.js, abi-gen-templates, abi-gen-wrappers, contracts

#1868 Add transfer simulator and reorder Exchange transfers
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/compiler.json
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/src/artifacts.ts
  contracts/dev-utils/src/wrappers.ts
  contracts/dev-utils/test/order_validation_utils.ts
  contracts/dev-utils/tsconfig.json
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/src/Exchange.sol
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/contracts/src/MixinMatchOrders.sol
  contracts/exchange/contracts/src/MixinTransferSimulator.sol
  contracts/exchange/contracts/src/interfaces/IExchange.sol
  contracts/exchange/contracts/src/interfaces/ITransferSimulator.sol
  contracts/exchange/contracts/test/TestAssetProxyDispatcher.sol
  contracts/exchange/test/core.ts
  contracts/exchange/test/dispatcher.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: contracts, types

#1895 Added new team headshots and a couple other small things
  packages/website/public/images/team/alexk.jpg
  packages/website/public/images/team/danielp.jpg
  packages/website/public/images/team/danielp.png
  packages/website/public/images/team/lawrencef.jpg
  packages/website/public/images/team/masonl.jpg
  packages/website/public/images/team/paulv.jpg
  packages/website/public/images/team/ruiz.jpg
  packages/website/ts/components/sections/landing/hero.tsx
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1897 [WIP] CFL instant temp CI fix
  packages/instant/package.json
  yarn.lock
Labels: instant

#1845 [WIP] Asset-buyer Refactor for CFL
  packages/asset-buyer/CHANGELOG.json
  packages/asset-buyer/package.json
  packages/asset-buyer/src/asset_buyer.ts
  packages/asset-buyer/src/constants.ts
  packages/asset-buyer/src/errors.ts
  packages/asset-buyer/src/index.ts
  packages/asset-buyer/src/order_providers/basic_order_provider.ts
  packages/asset-buyer/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-buyer/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-buyer/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-buyer/src/swap_quoter.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/affiliate_fee_utils.ts
  packages/asset-buyer/src/utils/assert.ts
  packages/asset-buyer/src/utils/calculate_liquidity.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
  packages/asset-buyer/src/utils/swap_quote_calculator.ts
  packages/asset-buyer/src/utils/utils.ts
  packages/asset-buyer/test/forwarder_swap_quote_consumer_test.ts
  packages/asset-buyer/test/global_hooks.ts
  packages/asset-buyer/test/swap_quote_calculator_test.ts
  packages/asset-buyer/test/swap_quoter_test.ts
  packages/asset-buyer/test/utils/migrate.ts
  packages/asset-buyer/test/utils/mocks.ts
  packages/asset-buyer/test/utils/swap_quote.ts
  packages/asset-buyer/test/utils/web3_wrapper.ts
  packages/instant/package.json
  yarn.lock
Labels: asset-buyer, instant

#1859 [WIP] Asset-buyer 2.0 Exchange SwapQuote Consumer
  packages/asset-buyer/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-buyer/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-buyer/src/types.ts
  packages/asset-buyer/src/utils/swap_quote_consumer_utils.ts
Labels: @0x/asset-buyer

#1881 Add dummy contract to test abi-gen-wrappers
  .gitignore
  .prettierignore
  contracts/test-utils/package.json
  packages/abi-gen/compiler.json
  packages/abi-gen/diff.sh
  packages/abi-gen/package.json
  packages/abi-gen/test/generated-test/contracts/AbiGenDummy.sol
  packages/abi-gen/test/generated-test/contracts/LibDummy.sol
  packages/abi-gen/test/generated-test/contracts/TestLibDummy.sol
  packages/abi-gen/test/generated-test/generated-wrappers/abi_gen_dummy.ts
  packages/abi-gen/test/generated-test/generated-wrappers/lib_dummy.ts
  packages/abi-gen/test/generated-test/generated-wrappers/test_lib_dummy.ts
  packages/abi-gen/test/generated-test/src/artifacts.ts
  packages/abi-gen/test/generated-test/src/index.ts
  packages/abi-gen/test/generated-test/src/wrappers.ts
  packages/abi-gen/test/generated-test/test/abi_gen_dummy_test.ts
  packages/abi-gen/test/generated-test/tsconfig.json
  packages/abi-gen/tsconfig.json
  packages/abi-gen/tslint.json
  yarn.lock
Labels: @0x/abi-gen, contracts
