Repository 0xProject/0x-monorepo, pull requests merged in 2019-08, with the labels that each got.

#1996 Python nested wrapper methods & estimate_gas
  packages/abi-gen-templates/Python/contract.handlebars
  packages/abi-gen-templates/Python/partials/call.handlebars
  packages/abi-gen-templates/Python/partials/event.handlebars
  packages/abi-gen-templates/Python/partials/method_class.handlebars
  packages/abi-gen-templates/Python/partials/params.handlebars
  packages/abi-gen-templates/Python/partials/typed_params.handlebars
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/package.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/lib_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/test_lib_dummy/__init__.py
  python-packages/contract_addresses/setup.py
  python-packages/contract_artifacts/setup.py
  python-packages/contract_wrappers/setup.cfg
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/_base_contract_wrapper.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/bases.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/exchange/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/exchange/validator.py
  python-packages/contract_wrappers/stubs/eth_utils/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/contract.pyi
  python-packages/contract_wrappers/stubs/web3/utils/datatypes.pyi
  python-packages/contract_wrappers/test/test_base_contract_method.py
  python-packages/contract_wrappers/test/test_base_contract_wrapper.py
  python-packages/contract_wrappers/test/test_erc20_wrapper.py
  python-packages/contract_wrappers/test/test_exchange_wrapper.py
  python-packages/json_schemas/setup.py
  python-packages/middlewares/setup.py
  python-packages/order_utils/setup.py
  python-packages/parallel
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/zero_ex/sra_client/__init__.py
Labels: @0x/abi-gen, @0x/abi-gen-templates, python

#2026 Add sandwich video to landing page
  packages/website/package.json
  packages/website/sass/modal_video.scss
  packages/website/ts/components/button.tsx
  packages/website/ts/components/hero.tsx
  packages/website/ts/components/modals/modal_video.tsx
  packages/website/ts/components/sections/landing/hero.tsx
  packages/website/ts/icons/illustrations/play.svg
  packages/website/ts/index.tsx
  packages/website/webpack.config.js
  yarn.lock
Labels: @0x/website

#2010 Generate wrappers for all contracts
  .gitignore
  packages/abi-gen-templates/Python/contract.handlebars
  packages/abi-gen-templates/Python/partials/method_class.handlebars
  packages/abi-gen-templates/Python/partials/return_type.handlebars
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/package.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/utils.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/lib_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/test_lib_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/python-contract-wrappers/package.json
  python-packages/contract_wrappers/.pylintrc
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/asset_proxy_owner/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/coordinator/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/coordinator_registry/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/dummy_erc20_token/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/dummy_erc721_token/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/dutch_auction/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/erc20_proxy/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/erc721_proxy/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/erc721_token/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/eth_balance_checker/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/forwarder/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/i_asset_proxy/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/i_validator/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/i_wallet/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/multi_asset_proxy/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/order_validator/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/weth9/.gitkeep
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/zrx_token/.gitkeep
  yarn.lock
Labels: @0x/python-contract-wrappers, python

#2038 Migrate to Web3.py v5
  .circleci/config.yml
  packages/abi-gen-templates/Python/contract.handlebars
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/test_lib_dummy/__init__.py
  python-packages/cmd_pkgs_in_dep_order.py
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/index.rst
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
  python-packages/contract_wrappers/stubs/web3/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/contract.pyi
  python-packages/contract_wrappers/stubs/web3/utils/datatypes.pyi
  python-packages/contract_wrappers/test/test_erc20_wrapper.py
  python-packages/contract_wrappers/test/test_exchange_wrapper.py
  python-packages/install_editable
  python-packages/middlewares/setup.py
  python-packages/middlewares/src/zero_ex/middlewares/local_message_signer.py
  python-packages/middlewares/stubs/eth_account/signers/__init__.pyi
  python-packages/middlewares/stubs/eth_account/signers/local.pyi
  python-packages/middlewares/test/test_local_message_signer.py
  python-packages/order_utils/CHANGELOG.md
  python-packages/order_utils/setup.py
  python-packages/order_utils/src/zero_ex/order_utils/__init__.py
  python-packages/order_utils/stubs/web3/__init__.pyi
  python-packages/order_utils/stubs/web3/contract.pyi
  python-packages/order_utils/stubs/web3/utils/__init__.pyi
  python-packages/order_utils/test/test_signature_utils.py
  python-packages/parallel_without_sra_client
  python-packages/sra_client/CHANGELOG.md
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/zero_ex/sra_client/__init__.py
  python-packages/sra_client/test/relayer/docker-compose.yml
  python-packages/tsort
Labels: python

#2046 Pre-publish updates
  README.md
  python-packages/contract_addresses/CHANGELOG.md
  python-packages/contract_addresses/setup.py
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/order_utils/CHANGELOG.md
  python-packages/order_utils/setup.py
  python-packages/prep_for_staging_doc_publish
  python-packages/sra_client/CHANGELOG.md
  python-packages/sra_client/setup.py
Labels: python

#2049 Pre-publish version updates
  python-packages/json_schemas/CHANGELOG.md
  python-packages/json_schemas/setup.py
  python-packages/order_utils/CHANGELOG.md
  python-packages/order_utils/setup.py
Labels: python

#2044 Remove solc-bin from npm publish
  packages/sol-compiler/.npmignore
Labels: bug :beetle:

#2053 Fixes for broken `tox` runs
  python-packages/contract_addresses/tox.ini
  python-packages/contract_artifacts/tox.ini
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/json_schemas/setup.py
  python-packages/middlewares/setup.py
  python-packages/order_utils/package.json
  python-packages/order_utils/setup.py
Labels: python

#2061 Add Python wrapper for DevUtils contract
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/python-contract-wrappers/package.json
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/index.rst
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/dev_utils/.gitkeep
Labels: python

#2060 Added DevUtils Wrappers and migrations
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/index.ts
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/python-contract-wrappers/package.json
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/index.rst
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/dev_utils/.gitkeep
Labels: @0x/abi-gen-wrappers, @0x/contract-addresses, @0x/contract-wrappers, @0x/migrations

#2064 contract_wrappers.py: bump version after publishing DevUtils
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
Labels: python

#2054 subproviders: Change MetamaskSubprovider eth_sign to personal_sign
  packages/subproviders/CHANGELOG.json
  packages/subproviders/src/subproviders/metamask_subprovider.ts
Labels: @0x/subproviders

#2072 Run CI in an environment that includes Python, and test generated code
  .circleci/config.yml
  packages/abi-gen-templates/Python/contract.handlebars
  packages/abi-gen/package.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/lib_dummy/__init__.py
  packages/abi-gen/test-cli/expected-output/python/test_lib_dummy/__init__.py
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/fixtures/pylintrc
  packages/abi-gen/test-cli/fixtures/python-requirements.txt
  python-packages/contract_wrappers/setup.py
Labels: @0x/abi-gen, python

#2071 sra_client.py: don't test against Python 2.7
  python-packages/sra_client/tox.ini
Labels: python

#2077 Update README.md
  README.md
  packages/abi-gen/README.md
Labels: @0x/abi-gen, python

#2079 abi-gen/test-cli: rm expected-output; use git diff
  .gitignore
  packages/abi-gen/package.json
  packages/abi-gen/test-cli/diff.sh
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/test_lib_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Labels: @0x/abi-gen

#2081 CFL page
  packages/website/package.json
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/code_demo.tsx
  packages/website/ts/components/definition.tsx
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/hero.tsx
  packages/website/ts/components/icon.tsx
  packages/website/ts/components/info_tooltip.tsx
  packages/website/ts/components/mobileNav.tsx
  packages/website/ts/components/newLayout.tsx
  packages/website/ts/components/tabbed_code_demo.tsx
  packages/website/ts/icons/illustrations/asset_swapper_term.svg
  packages/website/ts/icons/illustrations/dydx_logo.svg
  packages/website/ts/icons/illustrations/hummingbot.svg
  packages/website/ts/icons/illustrations/info.svg
  packages/website/ts/icons/illustrations/small_0x_logo.svg
  packages/website/ts/icons/illustrations/small_kyber_logo.svg
  packages/website/ts/icons/illustrations/small_uniswap_logo.svg
  packages/website/ts/index.tsx
  packages/website/ts/pages/cfl.tsx
  packages/website/ts/pages/cfl/cfl_metrics.tsx
  packages/website/ts/pages/cfl/code_stepper.tsx
  packages/website/ts/pages/cfl/default_data.ts
  packages/website/ts/pages/cfl/metrics.tsx
  packages/website/ts/pages/documentation/docs_home.tsx
  packages/website/ts/pages/instant.tsx
  packages/website/ts/pages/instant/configurator.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/backend_client.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/constants.ts
  packages/website/ts/utils/document_meta_constants.tsx
  packages/website/ts/utils/utils.ts
  yarn.lock
Labels: @0x/website

#2085 Fix small issue on mobile nav
  packages/website/ts/components/footer.tsx
  packages/website/ts/components/mobileNav.tsx
Labels: @0x/website

#2082 abi-gen: inline @0x/abi-gen-templates
  .circleci/config.yml
  contracts/asset-proxy/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  contracts/utils/package.json
  packages/abi-gen-templates/CHANGELOG.json
  packages/abi-gen-templates/CHANGELOG.md
  packages/abi-gen-templates/README.md
  packages/abi-gen-templates/package.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/package.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/templates/Python/contract.handlebars
  packages/abi-gen/templates/Python/partials/event.handlebars
  packages/abi-gen/templates/Python/partials/method_class.handlebars
  packages/abi-gen/templates/Python/partials/params.handlebars
  packages/abi-gen/templates/Python/partials/return_type.handlebars
  packages/abi-gen/templates/Python/partials/typed_params.handlebars
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/templates/TypeScript/partials/abi_type.handlebars
  packages/abi-gen/templates/TypeScript/partials/call.handlebars
  packages/abi-gen/templates/TypeScript/partials/callAsync.handlebars
  packages/abi-gen/templates/TypeScript/partials/event.handlebars
  packages/abi-gen/templates/TypeScript/partials/normalized_params.handlebars
  packages/abi-gen/templates/TypeScript/partials/params.handlebars
  packages/abi-gen/templates/TypeScript/partials/params_docstring.handlebars
  packages/abi-gen/templates/TypeScript/partials/return_type.handlebars
  packages/abi-gen/templates/TypeScript/partials/tx.handlebars
  packages/abi-gen/templates/TypeScript/partials/typed_params.handlebars
  packages/contract-wrappers/package.json
  packages/python-contract-wrappers/CHANGELOG.json
  packages/python-contract-wrappers/README.md
  packages/python-contract-wrappers/package.json
  python-packages/contract_wrappers/README.md
  python-packages/contract_wrappers/setup.py
  yarn.lock
Labels: @0x/abi-gen, @0x/abi-gen-templates
