Repository 0xProject/0x-monorepo, pull requests merged in 2019-04, with the labels that each got.

#1748 Switched Pixura link
  packages/website/ts/pages/explore/explore_content.tsx
Labels: Website

#1745 Fix code sandbox link and 0x.js dep in website
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/utils/constants.ts
Labels: Website

#1750 Disable Python SRA tests against Launch Kit
  python-packages/sra_client/sra_client/__init__.py
  python-packages/sra_client/test/test_default_api.py
Labels: python

#1751 Fix race condition in CI runs of Python SRA client tests
  .circleci/config.yml
  python-packages/sra_client/README.md
  python-packages/sra_client/setup.py
  python-packages/sra_client/sra_client/__init__.py
  python-packages/sra_client/test/relayer/docker-compose.yml
  python-packages/sra_client/test/test_default_api.py
Labels: python

#1758 Delete merge conflict artifact
  python-packages/order_utils/stubs/web3/__init___BASE_31011.pyi
Labels: python

#1753 Refactor `executeTransaction` to take `ZeroExTransaction` struct as input
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/contracts/src/Coordinator.sol
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/MixinCoordinatorCore.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorCore.sol
  contracts/coordinator/contracts/src/interfaces/ITransactions.sol
  contracts/coordinator/contracts/src/libs/LibConstants.sol
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/contracts/src/libs/LibEIP712CoordinatorDomain.sol
  contracts/coordinator/contracts/src/mixins/MCoordinatorApprovalVerifier.sol
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/compiler.json
  contracts/exchange-libs/contracts/src/LibEIP712ExchangeDomain.sol
  contracts/exchange-libs/contracts/src/LibEIP712ExchangeDomainConstants.sol
  contracts/exchange-libs/contracts/src/LibOrder.sol
  contracts/exchange-libs/contracts/src/LibZeroExTransaction.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/exchange-libs/package.json
  contracts/exchange-libs/src/artifacts.ts
  contracts/exchange-libs/src/wrappers.ts
  contracts/exchange-libs/tsconfig.json
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/examples/ExchangeWrapper.sol
  contracts/exchange/contracts/examples/Whitelist.sol
  contracts/exchange/contracts/src/Exchange.sol
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/src/MixinTransactions.sol
  contracts/exchange/contracts/src/interfaces/ITransactions.sol
  contracts/exchange/contracts/src/mixins/MSignatureValidator.sol
  contracts/exchange/contracts/src/mixins/MTransactions.sol
  contracts/exchange/contracts/test/TestSignatureValidator.sol
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/extensions/CHANGELOG.json
  contracts/extensions/contracts/src/BalanceThresholdFilter/BalanceThresholdFilter.sol
  contracts/extensions/contracts/src/BalanceThresholdFilter/MixinBalanceThresholdFilterCore.sol
  contracts/utils/CHANGELOG.json
  contracts/utils/compiler.json
  contracts/utils/contracts/src/LibEIP712.sol
  contracts/utils/package.json
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  contracts/utils/tsconfig.json
  yarn.lock
Labels: contracts

#1763 [WIP] Fix Explore Issues with flash of css + other minor bugs
  packages/website/public/index.html
  packages/website/ts/components/header.tsx
  packages/website/ts/pages/explore.tsx
  packages/website/ts/pages/explore/explore_grid.tsx
Labels: Website

#1767 Fix for menu z-index for explore
  packages/website/ts/pages/explore.tsx
  packages/website/ts/pages/explore/explore_grid.tsx
Labels: Website

#1771 Website new team photos
  packages/website/public/images/team/brento.jpg
  packages/website/public/images/team/fabiob.jpg
  packages/website/public/images/team/jacobe.jpg
  packages/website/public/images/team/jasons.jpg
  packages/website/public/images/team/leol.jpg
  packages/website/public/images/team/leonidL.jpg
  packages/website/public/images/team/marcs.jpg
  packages/website/public/images/team/oshirob.png
  packages/website/public/images/team/remcoB.jpg
  packages/website/public/images/team/steveK.jpg
  packages/website/public/images/team/xianny.jpg
  packages/website/public/images/team/xiannyn.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1772 Fix bug with photo name url
  packages/website/public/images/team/steve.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1777 Added Paul to team page, updated 2 photos, cleaned up titles
  packages/website/public/images/team/chrisk.jpg
  packages/website/public/images/team/clayr.jpg
  packages/website/public/images/team/paulv.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1768 Super MVP ERC 721 in Instant
  packages/instant/public/index.html
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/ui/image.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/buy_quote_updater.ts
Labels: abi-gen-wrappers, instant

#1781 Added Rui and Mason to the team page
  packages/website/public/images/team/masonl.jpg
  packages/website/public/images/team/ruiz.jpg
  packages/website/ts/pages/about/team.tsx
Labels: Website

#1785 Add overflow scroll to instant overlay & fix display bug
  packages/instant/src/components/ui/flex.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
Labels: instant

#1787 Export utility methods and data from instant
  packages/instant/src/index.umd.ts
Labels: instant

#1733 Fix yarn command in monorepo-scripts
  packages/monorepo-scripts/README.md
Labels: monorepo-scripts

#1789 Fix OrderWatcher race-condition bug
  packages/order-watcher/CHANGELOG.json
  packages/order-watcher/src/order_watcher/order_watcher.ts
Labels: order-watcher

#1788 Updated meta data for website
  packages/website/ts/components/meta_tags.tsx
  packages/website/ts/utils/document_meta_constants.tsx
Labels: Website

#1795 Added new sitemap.txt
  packages/website/public/sitemap.txt
Labels: Website

#1796 Update contracts/exchange-forwarder to 0.5.5
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/MixinForwarderCore.sol
  contracts/exchange-forwarder/contracts/src/MixinWeth.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IAssets.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IForwarder.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IForwarderCore.sol
  contracts/exchange-forwarder/contracts/src/libs/LibConstants.sol
  contracts/exchange-forwarder/contracts/src/libs/LibForwarderErrors.sol
  contracts/exchange-forwarder/contracts/src/mixins/MAssets.sol
  contracts/exchange-forwarder/contracts/src/mixins/MExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/mixins/MWeth.sol
  contracts/exchange-forwarder/package.json
Labels: contracts

#1779 Add LibAssetData to contracts/asset-proxy
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/contracts/src/libs/LibAssetData.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/lib_asset_data.ts
  contracts/asset-proxy/tsconfig.json
  contracts/coordinator/compiler.json
  contracts/erc20/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/extensions/compiler.json
  contracts/multisig/compiler.json
  contracts/utils/test/lib_address_array.ts
Labels: contracts

#1798 Add clean:contracts command to top level package.json
  package.json
Labels: contracts

#1793 Add `batchExecuteTransactions`
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/mixins.ts
  contracts/coordinator/test/utils/constants.ts
  contracts/coordinator/test/utils/exchange_data_encoder.ts
  contracts/coordinator/test/utils/index.ts
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/src/MixinTransactions.sol
  contracts/exchange/contracts/src/interfaces/ISignatureValidator.sol
  contracts/exchange/contracts/src/interfaces/ITransactions.sol
  contracts/exchange/contracts/src/mixins/MTransactions.sol
  contracts/exchange/contracts/test/ReentrantERC20Token.sol
  contracts/exchange/test/core.ts
  contracts/exchange/test/match_orders.ts
  contracts/exchange/test/signature_validator.ts
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/constants.ts
  contracts/exchange/test/utils/exchange_data_encoder.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/exchange/test/utils/index.ts
  contracts/exchange/test/utils/types.ts
  contracts/exchange/test/wrapper.ts
  contracts/test-utils/src/constants.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  yarn.lock
Labels: abi-gen-wrappers, contracts

#1790 [3.0] Add LibExchangeRichErrorDecoder to exchange package
  .circleci/config.yml
  contracts/asset-proxy/compiler.json
  contracts/coordinator/compiler.json
  contracts/erc1155/compiler.json
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/contracts/src/MixinExchangeRichErrors.sol
  contracts/exchange/contracts/src/libs/LibExchangeRichErrorDecoder.sol
  contracts/exchange/contracts/src/mixins/MExchangeRichErrorTypes.sol
  contracts/exchange/contracts/src/mixins/MExchangeRichErrors.sol
  contracts/exchange/contracts/test/TestLibExchangeRichErrorDecoder.sol
  contracts/exchange/package.json
  contracts/exchange/src/artifacts.ts
  contracts/exchange/src/wrappers.ts
  contracts/exchange/test/core.ts
  contracts/exchange/test/lib_exchange_rich_error_decoder.ts
  contracts/exchange/test/match_orders.ts
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
  contracts/exchange/test/wrapper.ts
  contracts/exchange/tsconfig.json
  contracts/extensions/compiler.json
  contracts/multisig/compiler.json
  contracts/utils/CHANGELOG.json
  contracts/utils/compiler.json
  contracts/utils/contracts/src/mixins/MRichErrorTypes.sol
  contracts/utils/contracts/src/mixins/MRichErrors.sol
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/exchange_revert_errors.ts
Labels: contracts, order-utils

#1799 Disable `useDockerisedSolc` for all contracts `compiler.json`s until latest solc docker images are published
  contracts/asset-proxy/compiler.json
  contracts/erc1155/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/utils/compiler.json
Labels: contracts

#1797 Add awaitTransactionSuccessAsync() to generated contract functions.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/test/authorizable.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc20_wrapper.ts
  contracts/asset-proxy/test/utils/erc721_wrapper.ts
  packages/abi-gen-templates/CHANGELOG.json
  packages/abi-gen-templates/contract.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
Labels: abi-gen-templates, abi-gen-wrappers, base-contract, contracts

#1646 bump versions, after recent publications
  python-packages/contract_addresses/CHANGELOG.md
  python-packages/contract_addresses/setup.py
  python-packages/contract_artifacts/CHANGELOG.md
  python-packages/contract_artifacts/setup.py
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/json_schemas/CHANGELOG.md
  python-packages/json_schemas/setup.py
  python-packages/middlewares/CHANGELOG.json
  python-packages/middlewares/CHANGELOG.md
  python-packages/middlewares/setup.py
  python-packages/order_utils/CHANGELOG.md
  python-packages/order_utils/setup.py
  python-packages/sra_client/CHANGELOG.json
  python-packages/sra_client/CHANGELOG.md
  python-packages/sra_client/README.md
  python-packages/sra_client/setup.py
  python-packages/uninstall_all
Labels: python
