Repository 0xProject/0x-monorepo, pull requests merged in 2019-01, with the labels that each got.

#1480 [instant] No more laggy input
  packages/instant/src/components/amount_placeholder.tsx
  packages/instant/src/components/animations/slide_animation.tsx
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_progress.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/erc20_asset_amount_input.tsx
  packages/instant/src/components/erc20_token_selector.tsx
  packages/instant/src/components/install_wallet_panel_content.tsx
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/payment_method_dropdown.tsx
  packages/instant/src/components/placing_order_button.tsx
  packages/instant/src/components/scaling_amount_input.tsx
  packages/instant/src/components/scaling_input.tsx
  packages/instant/src/components/secondary_button.tsx
  packages/instant/src/components/section_header.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/sliding_panel.tsx
  packages/instant/src/components/standard_panel_content.tsx
  packages/instant/src/components/standard_sliding_panel.tsx
  packages/instant/src/components/time_counter.tsx
  packages/instant/src/components/timed_progress_bar.tsx
  packages/instant/src/components/ui/dropdown.tsx
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/components/zero_ex_instant.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/components/zero_ex_instant_overlay.tsx
  packages/instant/src/components/zero_ex_instant_provider.tsx
  packages/instant/src/containers/latest_error.tsx
Labels: instant

#1481 [instant] Dropdown hover 10% of primary color
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/dropdown.tsx
Labels: instant

#1484 [sra-spec] Add title tag
  packages/sra-spec/public/index.html
Labels: sra-spec

#1487 [website] Add market making grant program page
  packages/website/ts/components/button.tsx
  packages/website/ts/components/definition.tsx
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/market_maker.tsx
Labels: Website

#1465 Dutch Auction Wrapper
  contracts/extensions/CHANGELOG.json
  contracts/extensions/package.json
  contracts/extensions/test/extensions/dutch_auction.ts
  contracts/extensions/test/utils/dutch_auction_test_wrapper.ts
  packages/0x.js/src/index.ts
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/index.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DutchAuction.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/contract_wrappers/dutch_auction_wrapper.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/test/dutch_auction_wrapper_test.ts
  packages/contract-wrappers/test/utils/dutch_auction_utils.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/monorepo-scripts/CHANGELOG.json
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Labels: 0x.js, abi-gen-wrappers, contract-addresses, contract-artifacts, contract-wrappers, contracts, migrations, monorepo-scripts, order-utils, types

#1493 [asset-buyer] Remove beta note from asset-buyer
  packages/asset-buyer/README.md
Labels: asset-buyer

#1439 Add Docker image and Snapshot commands for migrations
  .circleci/config.yml
  packages/dev-utils/src/web3_factory.ts
  packages/migrations/.gitignore
  packages/migrations/Dockerfile
  packages/migrations/README.md
  packages/migrations/package.json
  packages/migrations/src/migrate_snapshot.ts
  python-packages/order_utils/setup.py
Labels: dev-utils, migrations, python

#1496 Solc 5.0 support in sol-compiler
  contracts/examples/package.json
  contracts/extensions/package.json
  contracts/libs/package.json
  contracts/multisig/package.json
  contracts/protocol/package.json
  contracts/tokens/package.json
  contracts/utils/package.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/package.json
  packages/sol-compiler/src/solc/bin_paths.ts
  yarn.lock
Labels: contracts, sol-compiler

#1497 In README's, don't mention non-existent tests
  python-packages/contract_addresses/README.md
  python-packages/contract_artifacts/README.md
  python-packages/json_schemas/README.md
Labels: python

#1489 [website] Audit and fix 0x.org migration URLs
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/components/newsletter_form.tsx
  packages/website/ts/utils/configs.ts
Labels: Website

#1482 [monorepo-scripts] Automatically alert new release to Discord
  packages/monorepo-scripts/package.json
  packages/monorepo-scripts/src/constants.ts
  packages/monorepo-scripts/src/prepublish_checks.ts
  packages/monorepo-scripts/src/publish.ts
  packages/monorepo-scripts/src/utils/discord.ts
  packages/monorepo-scripts/src/utils/github_release_utils.ts
Labels: monorepo-scripts

#1304 Add a POC for callData-like structured revert reasons with additional data
  contracts/extensions/test/extensions/order_matcher.ts
  contracts/protocol/contracts/protocol/Exchange/MixinExchangeCore.sol
  contracts/protocol/test/exchange/core.ts
  contracts/protocol/test/exchange/match_orders.ts
  contracts/protocol/test/exchange/wrapper.ts
  contracts/test-utils/src/assertions.ts
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/index.ts
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/order-utils/src/call_data_utils.ts
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/utils/src/index.ts
Labels: contracts, monorepo-scripts, order-utils, pinned, utils

#1501 [utils] account for undefined errors in promisify, not only null (and fix instant in Opera)
  packages/utils/CHANGELOG.json
  packages/utils/src/promisify.ts
Labels: utils

#1506 [instant] Implement logging and friendly wallet name for Opera
  packages/instant/src/constants.ts
  packages/instant/src/types.ts
  packages/instant/src/util/env.ts
Labels: instant

#1474 Implement tslint enum-naming to enforce PascalCase on enum members
  contracts/extensions/test/extensions/balance_threshold_filter.ts
  contracts/extensions/test/extensions/order_validator.ts
  contracts/protocol/test/exchange/core.ts
  contracts/protocol/test/exchange/wrapper.ts
  contracts/protocol/test/utils/match_order_tester.ts
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/types.ts
  packages/asset-buyer/src/utils/order_provider_response_processor.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/types.ts
  packages/contract-wrappers/test/exchange_wrapper_test.ts
  packages/contract-wrappers/test/forwarder_wrapper_test.ts
  packages/contract-wrappers/test/order_validator_wrapper_test.ts
  packages/instant/CHANGELOG.json
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/analytics_middleware.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/style/theme.ts
  packages/instant/src/types.ts
  packages/instant/src/util/analytics.ts
  packages/pipeline/src/parsers/copper/index.ts
  packages/testnet-faucets/src/ts/handler.ts
  packages/tslint-config/package.json
  packages/tslint-config/rules/enumNamingRule.ts
  packages/tslint-config/test/enumNamingSpec.spec.ts
  packages/tslint-config/test/lintrunner.ts
  packages/tslint-config/tsconfig.json
  packages/tslint-config/tslint.json
  packages/website/ts/components/dialogs/ledger_config_dialog.tsx
  packages/website/ts/components/fill_order.tsx
  packages/website/ts/components/generate_order/asset_picker.tsx
  packages/website/ts/components/generate_order/generate_order_form.tsx
  packages/website/ts/components/generate_order/new_token_form.tsx
  packages/website/ts/components/inputs/allowance_state_toggle.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/token_balances.tsx
  packages/website/ts/components/ui/alert.tsx
  packages/website/ts/components/ui/lifecycle_raised_button.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/utils.ts
Labels: Website, asset-buyer, contract-wrappers, contracts, instant, testnet-faucets, tslint-config

#1516 [website] Update react-highlight dep in website to latest commit
  packages/react-shared/package.json
  yarn.lock
Labels: Website, react-shared

#1475 Use Compressed Calldata in Contract Wrappers
  contracts/protocol/test/utils/exchange_wrapper.ts
  contracts/protocol/test/utils/fill_order_combinatorial_utils.ts
  contracts/protocol/test/utils/types.ts
  packages/abi-gen-templates/contract.handlebars
  packages/abi-gen-templates/partials/callAsync.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/abi-gen/src/index.ts
  packages/base-contract/src/index.ts
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/abstract_data_types/types/set.ts
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/address.ts
  packages/utils/src/abi_encoder/evm_data_types/array.ts
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/src/abi_encoder/evm_data_types/dynamic_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/int.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/evm_data_types/pointer.ts
  packages/utils/src/abi_encoder/evm_data_types/static_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/string.ts
  packages/utils/src/abi_encoder/evm_data_types/tuple.ts
  packages/utils/src/abi_encoder/evm_data_types/uint.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/constants.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/methods_test.ts
  packages/utils/test/abi_encoder/optimizer_test.ts
  packages/utils/test/abi_encoder/return_values_test.ts
  packages/utils/test/abi_encoder/signature_tests.ts
Labels: abi-gen, abi-gen-templates, abi-gen-wrappers, base-contract, contracts, utils

#1515 Replace console.log with logUtils.log
  packages/pipeline/src/scripts/pull_competing_dex_trades.ts
  packages/pipeline/src/scripts/pull_copper.ts
  packages/pipeline/src/scripts/pull_exchange_events.ts
  packages/pipeline/src/scripts/pull_missing_blocks.ts
  packages/pipeline/src/scripts/pull_ohlcv_cryptocompare.ts
  packages/pipeline/src/scripts/pull_radar_relay_orders.ts
  packages/pipeline/src/scripts/pull_trusted_tokens.ts
  packages/pipeline/src/scripts/update_relayer_info.ts
Labels: pipeline

#1511 Fix expectedAmountAvailableToFill test
  packages/asset-buyer/test/buy_quote_calculator_test.ts
  packages/asset-buyer/test/utils/test_helpers.ts
Labels: asset-buyer

#1510 Add DockerHub Publishing Step to Publish Flow
  packages/monorepo-scripts/src/prepublish_checks.ts
  packages/monorepo-scripts/src/publish.ts
  packages/monorepo-scripts/src/types.ts
  packages/monorepo-scripts/src/utils/configs.ts
  packages/monorepo-scripts/src/utils/docker_hub_utils.ts
  packages/order-watcher/package.json
Labels: monorepo-scripts, order-watcher

#1521 0x Dev tools pre-release fixes
  packages/devnet/genesis.json
  packages/sol-trace/src/revert_trace_subprovider.ts
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/src/get_source_range_snippet.ts
  packages/sol-tracing-utils/src/trace_collection_subprovider.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/types.ts
  packages/sol-tracing-utils/src/utils.ts
Labels: sol-trace, sol-tracing-utils

#1524 Add notes about istanbul and Geth to website docs
  packages/website/md/docs/sol_coverage/usage.md
  packages/website/md/docs/sol_profiler/usage.md
  packages/website/md/docs/sol_trace/usage.md
Labels: Website

#1519 Allow matching of uint80 in evm_data_type
  packages/utils/src/abi_encoder/evm_data_types/int.ts
Labels: utils

#1518 Update ganache version
  packages/subproviders/CHANGELOG.json
  packages/subproviders/package.json
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/package.json
  packages/web3-wrapper/test/web3_wrapper_test.ts
  yarn.lock
Labels: asset-buyer, subproviders, web3-wrapper

#1535 Sol tracing fixes
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/test/TestConstants/TestConstants.sol
  contracts/utils/contracts/test/TestLibBytes/TestLibBytes.sol
  packages/sol-coverage/src/coverage_subprovider.ts
  packages/sol-profiler/CHANGELOG.json
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/artifact_adapters/sol_compiler_artifact_adapter.ts
  packages/sol-tracing-utils/src/collect_coverage_entries.ts
  packages/sol-tracing-utils/src/utils.ts
  packages/sol-tracing-utils/test/collect_coverage_entries_test.ts
  yarn.lock
Labels: contracts, sol-coverage, sol-profiler, sol-tracing-utils

#1543 [asset-buyer] Fix test (assetData string)
  packages/asset-buyer/src/asset_buyer.ts
Labels: asset-buyer

#1547 Lock versions of all dependencies that are contracts packages
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  yarn.lock
Labels: contracts

#1508 Output Chrome 41 compatible version of 0x instant
  packages/instant/package.json
  packages/instant/webpack.config.js
  yarn.lock
Labels: instant

#1549 [instant] [mirror] Output Chrome 41 compatible version of 0x instant
  packages/instant/package.json
  packages/instant/webpack.config.js
  yarn.lock
Labels: instant

#1557 Fix the `cannot read property range of null` bug
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/src/ast_visitor.ts
Labels: sol-tracing-utils

#1546 Changed error message from "Assets Unavailable" to "Tokens Unavailable"
  packages/instant/src/components/erc20_asset_amount_input.tsx
Labels: instant

#1551 Added USDC support to instant
  packages/instant/src/assets/icons/usdc.svg
  packages/instant/src/data/asset_data_network_mapping.ts
  packages/instant/src/data/asset_meta_data_map.ts
Labels: instant

#1548 Website market making website svg consistency issues
  packages/website/ts/icons/illustrations/low-cost.svg
  packages/website/ts/icons/illustrations/networkedLiquidity.svg
  packages/website/ts/icons/illustrations/secureTrading.svg
Labels: Website
