Repository 0xProject/0x-monorepo, pull requests merged in 2019-07, with the labels that each got.

#1883 [Multilang] hardcode ABI into abi-gen-wrappers
  .gitignore
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/static_call_proxy.ts
  contracts/asset-proxy/test/utils/erc1155_proxy_wrapper.ts
  contracts/coordinator/package.json
  contracts/coordinator/test/utils/exchange_data_encoder.ts
  contracts/dev-utils/test/lib_transaction_decoder.ts
  contracts/exchange-forwarder/test/forwarder.ts
  contracts/extensions/test/dutch_auction.ts
  packages/abi-gen-templates/Python/contract.handlebars
  packages/abi-gen-templates/contract.handlebars
  packages/abi-gen-templates/partials/abi_type.handlebars
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/eth_balance_checker.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/abi-gen-wrappers/src/index.ts
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/types.ts
  packages/abi-gen/test/generated-test/known-good/TypeScript/abi_gen_dummy.ts
  packages/abi-gen/test/generated-test/known-good/TypeScript/lib_dummy.ts
  packages/abi-gen/test/generated-test/known-good/TypeScript/test_lib_dummy.ts
  packages/contract-wrappers/src/contract_wrappers/coordinator_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/dutch_auction_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/erc20_proxy_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/erc20_token_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/erc721_proxy_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/erc721_token_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/ether_token_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/forwarder_wrapper.ts
  packages/contract-wrappers/src/contract_wrappers/order_validator_wrapper.ts
  packages/contract-wrappers/test/coordinator_wrapper_test.ts
  packages/contract-wrappers/test/utils/dutch_auction_utils.ts
  packages/contract-wrappers/test/utils/token_utils.ts
  packages/fill-scenarios/package.json
  packages/fill-scenarios/src/fill_scenarios.ts
  packages/order-utils/src/signature_utils.ts
  yarn.lock
Labels: @0x/abi-gen-wrappers, Multi-language Support, contracts

#1930 Move CLI tests for abi-gen
  .gitignore
  .prettierignore
  packages/abi-gen/README.md
  packages/abi-gen/compiler.json
  packages/abi-gen/diff.sh
  packages/abi-gen/package.json
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy.py
  packages/abi-gen/test-cli/expected-output/python/lib_dummy.py
  packages/abi-gen/test-cli/expected-output/python/test_lib_dummy.py
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/expected-output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/expected-output/typescript/test_lib_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/artifacts/LibDummy.json
  packages/abi-gen/test-cli/fixtures/artifacts/TestLibDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/fixtures/contracts/LibDummy.sol
  packages/abi-gen/test-cli/fixtures/contracts/TestLibDummy.sol
  packages/abi-gen/test-cli/test_typescript/src/artifacts.ts
  packages/abi-gen/test-cli/test_typescript/src/index.ts
  packages/abi-gen/test-cli/test_typescript/src/wrappers.ts
  packages/abi-gen/test-cli/test_typescript/test/abi_gen_dummy_test.ts
  packages/abi-gen/test-cli/tsconfig.json
  packages/abi-gen/test/generated-test/tsconfig.json
  packages/abi-gen/tsconfig.json
  packages/abi-gen/tslint.json
  yarn.lock
Labels: @0x/abi-gen, Multi-language Support

#1944 Prettify generated code for easier diffing
  .prettierignore
  packages/abi-gen-wrappers/package.json
  packages/abi-gen/package.json
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/expected-output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/expected-output/typescript/test_lib_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/artifacts/LibDummy.json
  packages/abi-gen/test-cli/fixtures/artifacts/TestLibDummy.json
  packages/contract-artifacts/artifacts/OrderValidator.json
Labels: @0x/abi-gen, @0x/abi-gen-wrappers, @0x/contract-artifacts, Multi-language Support

#1931 RichErrors in the remainder of utils
  contracts/coordinator/test/mixins.ts
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
  contracts/exchange-libs/contracts/src/LibMath.sol
  contracts/exchange-libs/contracts/src/LibMathRichErrors.sol
  contracts/exchange-libs/contracts/src/interfaces/IMixinLibMathRichErrors.sol
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/src/Exchange.sol
  contracts/exchange/contracts/src/LibExchangeRichErrors.sol
  contracts/exchange/contracts/src/MixinAssetProxyDispatcher.sol
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/contracts/src/MixinMatchOrders.sol
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/src/MixinTransactions.sol
  contracts/exchange/contracts/src/MixinWrapperFunctions.sol
  contracts/exchange/contracts/src/interfaces/IExchangeRichErrors.sol
  contracts/exchange/contracts/src/libs/LibExchangeRichErrorDecoder.sol
  contracts/exchange/test/core.ts
  contracts/exchange/test/match_orders.ts
  contracts/exchange/test/wrapper.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/LibAddressArray.sol
  contracts/utils/contracts/src/LibAddressArrayRichErrors.sol
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/src/LibBytesRichErrors.sol
  contracts/utils/contracts/src/LibOwnableRichErrors.sol
  contracts/utils/contracts/src/LibReentrancyGuardRichErrors.sol
  contracts/utils/contracts/src/LibRichErrors.sol
  contracts/utils/contracts/src/LibSafeMathRichErrors.sol
  contracts/utils/contracts/src/Ownable.sol
  contracts/utils/contracts/src/ReentrancyGuard.sol
  contracts/utils/contracts/src/SafeMath.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_address_array.ts
  contracts/utils/test/lib_bytes.ts
  packages/utils/src/index.ts
  packages/utils/src/lib_address_array_revert_errors.ts
  packages/utils/src/lib_bytes_revert_errors.ts
  packages/utils/src/reentrancy_guard_revert_errors.ts
Labels: @0x/contracts-dev-utils, @0x/contracts-exchange, @0x/utils, contracts

#1937 Copy validation methods from ExchangeWrapper to order-utils
  packages/contract-wrappers/src/contract_wrappers/exchange_wrapper.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_validation_utils.ts
Labels: Multi-language Support

#1943 Copy dutch auction asset data utils to @0x/order-utils
  packages/0x.js/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers/dutch_auction_wrapper.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/types.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/test/asset_data_utils_test.ts
  packages/types/src/index.ts
Labels: Multi-language Support

#1951 Normalize address inputs to lowercase in generated wrappers
  .gitattributes
  packages/abi-gen-templates/partials/abi_type.handlebars
  packages/abi-gen-templates/partials/callAsync.handlebars
  packages/abi-gen-templates/partials/normalized_params.handlebars
  packages/abi-gen-templates/partials/tx.handlebars
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/eth_balance_checker.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/abi-gen/src/index.ts
  packages/abi-gen/test-cli/expected-output/python/abi_gen_dummy.py
  packages/abi-gen/test-cli/expected-output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/expected-output/typescript/test_lib_dummy.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/test_typescript/test/abi_gen_dummy_test.ts
Labels: @0x/abi-gen, @0x/abi-gen-templates, @0x/abi-gen-wrappers, Multi-language Support
