Repository 0xProject/0x-monorepo, pull requests merged in 2019-11, with the labels that each got.

#2315 abi-gen: Include templates in published tarball
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/package.json
Labels: @0x/abi-gen

#2323 ganache: Added Staking, Forwarder, ERC20Bridge
  packages/abi-gen-wrappers/src/generated-wrappers/staking.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ZrxVault.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/migrations/src/utils/token_info.ts
Labels: @0x/abi-gen-wrappers, @0x/contract-artifacts, @0x/migrations

#2341 RevertError: Decode Parity revert errors
  packages/utils/CHANGELOG.json
  packages/utils/src/revert_error.ts
  packages/utils/test/revert_error_test.ts
Labels: @0x/utils, bug :beetle:

#2343 abi-gen-wrappers: Move shared logic into BaseContract
  contracts/exchange/test/lib_exchange_rich_error_decoder.ts
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dev_utils.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc1155_mintable.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_wallet.ts
  packages/abi-gen-wrappers/src/generated-wrappers/order_validator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/staking.ts
  packages/abi-gen-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_tx.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/base-contract/CHANGELOG.json
  packages/base-contract/package.json
  packages/base-contract/src/index.ts
  packages/base-contract/src/subscription_manager.ts
  packages/base-contract/src/utils.ts
  packages/base-contract/src/utils/filter_utils.ts
  yarn.lock
Labels: @0x/abi-gen-wrappers, bug :beetle:

#2363 Pre-release version bumps; test fixes for latest mesh/ganache versions
  .circleci/config.yml
  .gitignore
  python-packages/contract_addresses/setup.py
  python-packages/contract_addresses/tox.ini
  python-packages/contract_artifacts/setup.py
  python-packages/contract_artifacts/tox.ini
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
  python-packages/contract_wrappers/stubs/web3/gas_strategies/__init__.pyi
  python-packages/contract_wrappers/stubs/web3/gas_strategies/rpc.pyi
  python-packages/contract_wrappers/test/test_exchange_wrapper.py
  python-packages/contract_wrappers/tox.ini
  python-packages/json_schemas/setup.py
  python-packages/json_schemas/tox.ini
  python-packages/middlewares/setup.py
  python-packages/middlewares/tox.ini
  python-packages/order_utils/setup.py
  python-packages/order_utils/tox.ini
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/zero_ex/sra_client/__init__.py
  python-packages/sra_client/test/relayer/docker-compose.yml
  python-packages/sra_client/tox.ini
Labels: python

#2369 Python backports for OpenSea
  .circleci/config.yml
  packages/abi-gen/templates/Python/partials/method_class.handlebars
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/test_lib_dummy/__init__.py
  python-packages/contract_addresses/setup.py
  python-packages/contract_addresses/src/zero_ex/__init__.py
  python-packages/contract_artifacts/setup.py
  python-packages/contract_artifacts/src/zero_ex/__init__.py
  python-packages/contract_wrappers/CHANGELOG.md
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/zero_ex/__init__.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/bases.py
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/tx_params.py
  python-packages/contract_wrappers/test/test_exchange_wrapper.py
  python-packages/json_schemas/setup.py
  python-packages/json_schemas/src/zero_ex/__init__.py
  python-packages/middlewares/setup.py
  python-packages/middlewares/src/zero_ex/__init__.py
  python-packages/order_utils/setup.py
  python-packages/order_utils/src/zero_ex/__init__.py
  python-packages/order_utils/src/zero_ex/order_utils/__init__.py
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/zero_ex/sra_client/__init__.py
  python-packages/sra_client/test/relayer/docker-compose.yml
Labels: python
