Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/abi-gen`: Regenerate test outputs.
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

`@0x/contracts-integrations`: Fix solidity linter errors.
  contracts/integrations/contracts/test/TestContractWrapper.sol
Owners: @abandeali1, @hysz

`@0x/contract-wrappers`: Regenerate wrappers to catch empty reverts on live networks.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
Owners: none

`@0x/contracts-integrations`: Add mainnet contract wrapper `callAsync()` revert behavior tests.
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/test/TestContractWrapper.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/mainnet_contract_wrapper_test.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz

Update CHANGELOGs
  contracts/integrations/CHANGELOG.json
  packages/abi-gen/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @feuGeneA, @xianny

`@0x/utils`: Allow strict decoding of return values.
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/utils/constants.ts
  packages/utils/src/abi_encoder/utils/rules.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/methods_test.ts
  packages/utils/test/abi_encoder/return_values_test.ts
Owners: @hysz

`@0x/base-contract`: Catch empty call reverts on live networks. `@0x/abi-gen`: Catch empty call reverts on live networks.
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
Owners: @feuGeneA, @xianny

chore: add package.json to suppress warning
  .circleci/config.yml
  packages/devnet/CHANGELOG.json
  packages/devnet/package.json
  packages/verdaccio/CHANGELOG.json
  packages/verdaccio/package.json
Owners: @LogvinovLeon, @albrow

Added a benchmarks directory
  contracts/integrations/test/benchmarks/README.md
  contracts/integrations/test/benchmarks/exchange_benchmarks.ts
Owners: @abandeali1, @hysz

`@0x/base-contract`: Update CHANGELOG.
  packages/base-contract/CHANGELOG.json
Owners: @xianny

Appeased the linter
  contracts/integrations/test/benchmarks/README.md
  contracts/integrations/test/benchmarks/exchange_benchmarks.ts
Owners: @abandeali1, @hysz

Allow for batching multiple buy/sell samples
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Update asset-swapper WIP
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Enable batch fetching from orderbook. Refactor
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/orderbook/src/order_store.ts
  packages/orderbook/src/orderbook.ts
Owners: @BMillman19, @fragosti, @dave4506

Contract wrappers: Catch empty reverts on live networks (#2433)
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/test/TestContractWrapper.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/mainnet_contract_wrapper_test.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/utils/constants.ts
  packages/utils/src/abi_encoder/utils/rules.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/methods_test.ts
  packages/utils/test/abi_encoder/return_values_test.ts
Owners: @abandeali1, @hysz, @feuGeneA, @xianny

Fixed function name in README, network -> chain
  packages/contract-addresses/README.md
Owners: @abandeali1

Add test cases
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/dev-utils/order_validation_utils.ts
Owners: @abandeali1, @hysz

LibAssetData fixes
  contracts/dev-utils/contracts/src/LibAssetData.sol
Owners: @abandeali1, @hysz

refactor LibAssetData tests
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/dev-utils/order_validation_utils.ts
Owners: @abandeali1, @hysz

Rename to Batch
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Update CHANGELOGs
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/orderbook/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

unbreak migrations cli
  packages/migrations/bin/0x-migrate.js
Owners: none

Fixed log decoding. Dynamic structures were not decoding properly. Now uses AbiEncoder from `utils` package.
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/MixinNonFungibleToken.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/exchange/test/wrapper_unit_tests.ts
  packages/utils/src/abi_decoder.ts
Owners: @abandeali1, @hysz

Updating tests after fixing log decoding
  contracts/exchange/test/wrapper_unit_tests.ts
Owners: @abandeali1, @hysz

Updated changelogs
  contracts/exchange/CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

Added matchOrders and matchOrdersWithMaximalFill to the reference functions.
  contracts/exchange-libs/src/reference_functions.ts
Owners: @abandeali1, @hysz

Added order martching to Maker actor. Also fixed the joinStakingPool to record the pool id.
  contracts/integrations/test/framework/actors/maker.ts
Owners: @abandeali1, @hysz

Fuzz testing for matchOrders and matchOrdersWithMaximalFill.
  contracts/integrations/test/framework/assertions/fillOrder.ts
  contracts/integrations/test/framework/assertions/matchOrders.ts
  contracts/integrations/test/framework/assertions/matchOrdersWithMaximalFill.ts
  contracts/integrations/test/framework/utils/assert_protocol_fee.ts
  contracts/integrations/test/framework/utils/verify_match_events.ts
  contracts/integrations/test/fuzz_tests/match_orders_test.ts
Owners: @abandeali1, @hysz

added order matching functions to Taker actor.
  contracts/integrations/test/framework/actors/taker.ts
Owners: @abandeali1, @hysz

Updated changelogs.
  contracts/exchange-libs/CHANGELOG.json
  contracts/integrations/CHANGELOG.json
Owners: @abandeali1, @hysz

add division-by-zero check for ERC1155 too
  contracts/dev-utils/contracts/src/LibAssetData.sol
Owners: @abandeali1, @hysz

Minor fixes to order matching fuzz code
  contracts/exchange-libs/package.json
  contracts/exchange-libs/src/reference_functions.ts
  contracts/integrations/test/framework/actors/maker.ts
  contracts/integrations/test/framework/actors/taker.ts
  contracts/integrations/test/framework/assertions/matchOrders.ts
  contracts/integrations/test/framework/assertions/matchOrdersWithMaximalFill.ts
  contracts/integrations/test/framework/utils/assert_protocol_fee.ts
  contracts/integrations/test/framework/utils/verify_match_events.ts
Owners: @abandeali1, @hysz

Split out transfer logic into library, add 1155 support
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/MixinReceiver.sol
  contracts/exchange-forwarder/contracts/src/libs/LibAssetDataTransfer.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
Owners: @abandeali1, @hysz

abi-gen: exit when black fails to parse Python
  packages/abi-gen/src/index.ts
Owners: @feuGeneA

wrappers.py: fix clean not rm'ing gen'd code
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

abi-gen: ran black on CLI test Python output
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
Owners: @feuGeneA

abi-gen: fix bug w/ 2D arrays of UDT's in Python
  packages/abi-gen/src/utils.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
Owners: @feuGeneA, @abandeali1, @hysz

wrappers.py: satisfy linter (rm unnecessary pass)
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

Update addresses, artifact, wrapper
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1

invalidDecreaseStakingPoolOperatorShareAssertion
  contracts/integrations/test/framework/actors/pool_operator.ts
  contracts/integrations/test/framework/assertions/decreaseStakingPoolOperatorShare.ts
  contracts/integrations/test/fuzz_tests/pool_management_test.ts
Owners: @abandeali1, @hysz
