Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/contract_templates/ @LogvinovLeon
packages/dev-utils/ @LogvinovLeon @fabioberger

packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/web3-wrapper/ @LogvinovLeon @fabioberger
.circleci/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/connect/ @fragosti 
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
python-packages/ @feuGeneA

feat: create dogfood url and deployment workflow
  packages/instant/.discharge.json
  packages/instant/README.md
  packages/instant/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

prettify discharge file
  packages/instant/.discharge.json
Owners: @BMillman19, @fragosti, @steveklebanoff

feat(instant): add sliding error
  packages/instant/src/components/animations/slide_up_and_down_animation.tsx
  packages/instant/src/components/ui/text.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

linting, removing unused imports
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

feat(instant): Handle AssetBuyer errors
  packages/instant/src/components/animations/slide_animations.tsx
  packages/instant/src/components/animations/slide_up_and_down_animation.tsx
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/components/sliding_error.tsx
  packages/instant/src/components/zero_ex_instant_container.tsx
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/redux/store.ts
  packages/instant/src/util/asset_data.ts
  packages/instant/src/util/error_description.ts
  packages/instant/src/util/error_flasher.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

get rid of unused marginLeft and marginRight props
  packages/instant/src/components/ui/text.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

move z-index setting to zero instant container, and add ability for zindex to be set on container
  packages/instant/src/components/zero_ex_instant_container.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

creating big error util file per francescos comment in PR
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/util/error.ts
  packages/instant/src/util/error_description.ts
  packages/instant/src/util/error_flasher.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

latestErrorDismissed -> latestErrorDisplay enum
  packages/instant/src/containers/latest_error.tsx
  packages/instant/src/redux/reducer.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

bigger emoji
  packages/instant/src/components/sliding_error.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

export assetDataUtil big obj
  packages/instant/src/components/asset_amount_input.tsx
  packages/instant/src/util/asset_data.ts
  packages/instant/src/util/error_description.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

error test
  packages/instant/test/util/error.test.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

handle other errors
  packages/instant/src/util/error.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

use lodash isUndefined per PR comment
  packages/instant/src/util/asset_data.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

use redux dev tools from package
  packages/instant/package.json
  packages/instant/src/redux/store.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

asset data util tests
  packages/instant/test/util/asset_data.test.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

add concept of quoteState
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_instant_heading.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

ReactNode as default for formatters, and show bold dash
  packages/instant/src/components/instant_heading.tsx
  packages/instant/src/util/format.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

fix type
  packages/instant/src/components/instant_heading.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

selectedAssetBuyState -> buyOrderState
  packages/instant/src/containers/selected_asset_amount_input.ts
  packages/instant/src/containers/selected_asset_buy_button.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

fix(order-utils): remove constants export
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/order-utils/src/index.ts
Owners: @fabioberger, @LogvinovLeon

fix(migrations): Update README.md.
  packages/migrations/README.md
Owners: none

feat(website): add expanded and minimized display types to relayer grid
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/components/relayer_index/relayer_grid_tile.tsx
  packages/website/ts/components/relayer_index/relayer_index.tsx
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update changelog entries for unpublished packages
  packages/contract-addresses/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
Owners: none

Update changelogs for unpublished packages
  packages/ethereum-types/CHANGELOG.json
  packages/react-shared/CHANGELOG.json
Owners: @LogvinovLeon

Update react-scroll hash to avoid collision with older, unfixed branch
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/website/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff
