Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @feuGeneA, @xianny, @albrow, @fabioberger, @dekz, @hysz, @abandeali1

Make `OrdersChannelSubscriptionOpts` conform to SRAv2
  packages/types/src/index.ts
Owners: none

`@0x:contracts-staking` Fixed lingering review comments
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/test/TestStaking.sol
Owners: @abandeali1, @hysz

rip staking_wrapper.ts, use wrapped staking proxy pattern instead
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/test/actors/base_actor.ts
  contracts/staking/test/actors/finalizer_actor.ts
  contracts/staking/test/actors/maker_actor.ts
  contracts/staking/test/actors/pool_operator_actor.ts
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/catastrophe_test.ts
  contracts/staking/test/epoch_test.ts
  contracts/staking/test/exchange_test.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/api_wrapper.ts
  contracts/staking/test/utils/number_utils.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/utils/types.ts
  contracts/staking/test/vaults_test.ts
Owners: @abandeali1, @hysz

move operator from staking logic to vault, allow operator to decrease operatorShare
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingPoolRewardVault.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/test/actors/pool_operator_actor.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/test/vaults_test.ts
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Use storage pointer to update Pool structs, test decreaseStakingPoolOperatorShare where newOperatorShare == oldOperatorShare
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/test/pools_test.ts
Owners: @abandeali1, @hysz

remove unnecessary pointer variable
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
Owners: @abandeali1, @hysz

Reference counting draft
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/test/rewards_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix compilation issues. `@0x/contracts-staking`: Check that `Staking.init()` succeded. `@0x/contracts-staking`: Flip some functions from `view` to `pure`.
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinHyperParameters.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinEthVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestCobbDouglas.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
Owners: @abandeali1, @hysz

`@0x/contracts-storage`: Move `init()` out of `IStaking` and into `IStorageInit`.
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/interfaces/IStorageInit.sol
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Add `getHyperParameters()` to `MixinHyperParameters`.
  contracts/staking/contracts/src/immutable/MixinHyperParameters.sol
  contracts/staking/contracts/test/TestCobbDouglas.sol
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Add `Numberish` type.
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/types.ts
Owners: @abandeali1, @hysz

`@0x-order-utils`: Rename `InvalidTuningValue` -> `InvalidParamValue`.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/order-utils`: Add `MxinParamsAlreadyInitialized` to `StakingRevertErrors.InitializationErrorCode`.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Rebase against `3.0`.
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/test/TestStakingProxy.sol
Owners: @abandeali1, @hysz

`@0x/order-utils`: Add `InvalidRewardDelegatedStakeWeight` and `InvalidMaximumMakersInPool` to `InvalidTuningValueErrorCode`.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/order-utils`: Add `InitializationError`, `InvalidTuningValue` to `StakingRevertErrors`.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Update changelog.
  contracts/staking/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-exchange`: Remove signature-related `IStructs` structs. `@0x/contracts-exchange`: Create some `payProtocolFee()` unit tests to test new staking minimum.
  contracts/staking/contracts/test/TestExchangeFees.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/exchange_fees.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Rebase against 3.0
  contracts/staking/test/params.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/test/utils/constants.ts
  contracts/staking/test/utils/staking_wrapper.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix contracts formatting. `@0x/contracts-staking`: Remove typo test suite in `migration.ts`. `@0x/contracts-staking`: Address minor review comments.
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/interfaces/IStaking.sol
  contracts/staking/contracts/src/interfaces/IStorageInit.sol
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinParams.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestCobbDouglas.sol
  contracts/staking/contracts/test/TestExchangeFees.sol
  contracts/staking/contracts/test/TestInitTarget.sol
  contracts/staking/contracts/test/TestStakingProxy.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/test/migration.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix linter errors.
  contracts/staking/test/params.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/tslint.json
Owners: @abandeali1, @hysz

`@0x/order-utils`: Remove redundant `InvalidStakeStatusError` in registry.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/order-utils`: Rename `OperatorShareMustBeBetween0And100` to `OperatorShareTooLarge`.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Rebase against 3.0 AGAIN AGAIN AGAIN AGAIN AGAIN
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/test/migration.ts
  contracts/staking/test/pools_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix typos.
  contracts/staking/test/migration.ts
Owners: @abandeali1, @hysz

refactoring - builds and works
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

works and fairly clean, but with edge case when currentEpoch == 0
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/test/stake_test.ts
Owners: @abandeali1, @hysz

appears to be working well
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/test/rewards_test.ts
Owners: @abandeali1, @hysz

more linear flow; looks better
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

removed strictness from syncCumulativeRewards
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

tweak typecast and dependencies
  packages/contract-addresses/src/index.ts
  packages/order-utils/package.json
Owners: @albrow, @fabioberger, @LogvinovLeon

`@0x/order-utils`: Rename `InvalidParamValue` `RevertError` to `InvalidParamValueError`.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Rename `InvalidParamValue` `RevertError` to `InvalidParamValueError`.
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix compilation error in `MixinParams`.
  contracts/staking/contracts/src/sys/MixinParams.sol
Owners: @abandeali1, @hysz

a good edge case
  contracts/staking/test/rewards_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/test/rewards_test.ts
Owners: @abandeali1, @hysz

some refactoring for tighter rules around reference counting
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/test/rewards_test.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger

Make it easier to use validateOrderFillableOrThrowAsync (#2096)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/package.json
  packages/order-utils/src/asset_balance_and_proxy_allowance_fetcher.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/schemas/validate_order_fillable_opts_schema.ts
  packages/order-utils/src/types.ts
  packages/order-utils/test/artifacts/UntransferrableDummyERC20Token.ts
  packages/order-utils/test/exchange_transfer_simulator_test.ts
  packages/order-utils/test/order_validation_utils_test.ts
  packages/order-utils/test/utils/web3_wrapper.ts
Owners: @albrow, @fabioberger, @LogvinovLeon

works with loading and unloading
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/test/rewards_test.ts
Owners: @abandeali1, @hysz

works end-to-end with unloading unneeded state!
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
