Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @feuGeneA, @xianny, @albrow, @fabioberger, @dekz, @hysz, @abandeali1

`@0x:contract-staking` Added integration tests for
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/stake_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/contracts/src/libs/LibSafeDowncast.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/api_wrapper.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
  contracts/utils/contracts/src/LibSafeMathRichErrors.sol
Owners: @abandeali1, @hysz

m
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

m
  contracts/exchange/test/protocol_fees.ts
Owners: @abandeali1, @hysz

LibSafeDowncast unit tests
  contracts/staking/contracts/test/TestLibSafeDowncast.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
  contracts/staking/test/unit_tests/lib_safe_downcast_test.ts
  contracts/staking/test/utils/constants.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

remove unnecessary return variable names
  contracts/staking/contracts/test/TestLibSafeDowncast.sol
Owners: @abandeali1, @hysz

remove unnecessary import and asyncs
  contracts/staking/test/unit_tests/lib_safe_downcast_test.ts
Owners: @abandeali1, @hysz

address comments
  contracts/staking/test/unit_tests/lib_safe_downcast_test.ts
Owners: @abandeali1, @hysz

solidity style guide nit
  contracts/staking/contracts/test/TestLibSafeDowncast.sol
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Addressed review feedback by removing `simplyProxyCallWithData`
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
  contracts/staking/contracts/test/TestLibProxy.sol
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
Owners: @abandeali1, @hysz

LibSafeDowncast unit tests (#2143)
  contracts/staking/contracts/test/TestLibSafeDowncast.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
  contracts/staking/test/unit_tests/lib_safe_downcast_test.ts
  contracts/staking/test/utils/constants.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

Reference counting for rewards, plus unit tests for cumulative rewards.
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/libs/LibSafeDowncast.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
  contracts/staking/tsconfig.json
  contracts/utils/contracts/src/LibSafeMathRichErrors.sol
Owners: @abandeali1, @hysz

@0x/orderbook
  packages/orderbook/README.md
  packages/orderbook/jest.config.js
  packages/orderbook/package.json
  packages/orderbook/src/index.ts
  packages/orderbook/src/order_provider/base_order_provider.ts
  packages/orderbook/src/order_provider/base_sra_order_provider.ts
  packages/orderbook/src/order_provider/mesh_order_provider.ts
  packages/orderbook/src/order_provider/sra_polling_order_provider.ts
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
  packages/orderbook/src/order_set.ts
  packages/orderbook/src/order_store.ts
  packages/orderbook/src/orderbook.ts
  packages/orderbook/src/types.ts
  packages/orderbook/src/utils.ts
  packages/orderbook/test/order_provider/mesh_order_provider.test.ts
  packages/orderbook/test/order_provider/sra_polling_order_provider.test.ts
  packages/orderbook/test/order_provider/sra_websocket_order_provider.test.ts
  packages/orderbook/test/orderbook.test.ts
  packages/orderbook/test/utils.test.ts
  packages/orderbook/test/utils.ts
  packages/orderbook/tsconfig.json
  packages/orderbook/tslint.json
  yarn.lock
Owners: none

AssetSwapper to use @0x/orderbook
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/order_providers/basic_order_provider.ts
  packages/asset-swapper/src/order_providers/standard_relayer_api_order_provider.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/order_provider_response_processor.ts
  packages/asset-swapper/test/swap_quoter_test.ts
  packages/asset-swapper/test/utils/mocks.ts
  packages/asset-swapper/webpack.config.js
  packages/orderbook/package.json
  packages/orderbook/src/index.ts
  packages/orderbook/src/order_provider/provider_orders_order_provider.ts
  packages/orderbook/src/orderbook.ts
  packages/orderbook/src/types.ts
  packages/orderbook/src/utils.ts
  packages/orderbook/test/order_provider/mesh_order_provider.test.ts
  packages/orderbook/test/order_provider/sra_polling_order_provider.test.ts
  packages/orderbook/test/order_provider/sra_websocket_order_provider.test.ts
  packages/orderbook/test/orderbook.test.ts
  packages/orderbook/tsconfig.json
  yarn.lock
Owners: none

Remove unused imported type
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/order_provider_response_processor.ts
  packages/orderbook/package.json
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
  packages/orderbook/test/order_provider/sra_polling_order_provider.test.ts
Owners: none

Prevent double websocket connections
  packages/asset-swapper/src/swap_quoter.ts
  packages/orderbook/package.json
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
  packages/orderbook/src/orderbook.ts
Owners: none

Fix build error
  packages/orderbook/src/utils.ts
  yarn.lock
Owners: none

minor changes/typo fixes
  packages/orderbook/package.json
  packages/orderbook/src/order_provider/custom_order_provider.ts
  packages/orderbook/src/order_provider/mesh_order_provider.ts
  packages/orderbook/src/order_provider/sra_polling_order_provider.ts
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
  packages/orderbook/src/orderbook.ts
Owners: none

linted + added convenience functionality
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/test/swap_quote_consumer_test.ts
Owners: none

fixed consumer inconsistency bug
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/swap_quote_consumer_test.ts
  packages/orderbook/README.md
  packages/orderbook/src/order_provider/mesh_order_provider.ts
Owners: none

updated websocket
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
Owners: none

updated for prettier
  packages/asset-swapper/CHANGELOG.json
Owners: none

move log tests to @0x/abi-gen; delete exchange_wrapper_test
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/test_typescript/test/abi_gen_dummy_test.ts
  packages/contract-wrappers/package.json
  packages/contract-wrappers/test/exchange_wrapper_test.ts
Owners: @feuGeneA, @abandeali1, @hysz

Fix versions and exported types
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/orderbook/package.json
  packages/orderbook/src/order_provider/mesh_order_provider.ts
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
Owners: none

move log tests to @0x/abi-gen; delete exchange_wrapper_test (#2160)
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/test_typescript/test/abi_gen_dummy_test.ts
  packages/contract-wrappers/package.json
  packages/contract-wrappers/test/exchange_wrapper_test.ts
Owners: @feuGeneA, @abandeali1, @hysz

Remove unused exported types
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
Owners: none

`@0x:contracts-staking` Addressed lingering review comments
  contracts/staking/contracts/src/StakingProxy.sol
Owners: @abandeali1, @hysz

Fix exports from asset-swapper
  packages/asset-swapper/src/index.ts
Owners: none

Update exported types for docs
  packages/asset-swapper/docs/reference.mdx
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/monorepo-scripts/src/doc_gen_configs.ts
  packages/orderbook/package.json
  packages/orderbook/src/index.ts
Owners: @fabioberger

Update mesh client dep
  packages/asset-swapper/package.json
  packages/orderbook/package.json
  yarn.lock
Owners: none

Move perPage and 18 precision lower to re-use
  packages/orderbook/src/order_provider/base_order_provider.ts
  packages/orderbook/src/order_provider/base_sra_order_provider.ts
  packages/orderbook/src/order_provider/custom_order_provider.ts
  packages/orderbook/src/order_provider/mesh_order_provider.ts
  packages/orderbook/src/order_provider/sra_polling_order_provider.ts
  packages/orderbook/src/order_provider/sra_websocket_order_provider.ts
Owners: none

fix ABI encoding/decoding functions
  packages/abi-gen/templates/TypeScript/partials/method_abi_helper.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

Improved readability of API for cumulative rewards
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinParams.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz

fix ABI encoding/decoding functions (#2165)
  packages/abi-gen/templates/TypeScript/partials/method_abi_helper.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

Tests are passing and ran linter
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz

updated changelog
  contracts/staking/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Addressed final review comment
  contracts/staking/contracts/src/StakingProxy.sol
Owners: @abandeali1, @hysz

more explicit sanity checks for computing balance in interval (previously all failed with div-by-zero)
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/staking_revert_errors.ts
  packages/utils/src/safe_math_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Fix getTotalProtocolFeesThisEpoch by adding weth balance
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
Owners: @abandeali1, @hysz

Cleanup imports
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinEthVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinParams.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/MixinVaultCore.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
