Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

Updated DevUtils again
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Addressed amir's review feedback
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Support multiple versions of the Curve contract
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/erc20-bridge-sampler/contracts/src/ICurve.sol
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

CHANGELOG and redeployed Curve (mainnet)
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/package.json
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Fix Market ops utils test
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Address comments
  contracts/broker/src/gods_unchained_utils.ts
  contracts/integrations/test/broker/broker_test.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Added Curve DAI USDC USDT TUSD
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Bump sampler gas limit default
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

Decode the Curve in tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Add decoders for broker and stop-limit data (#2484)
  contracts/broker/CHANGELOG.json
  contracts/broker/src/gods_unchained_utils.ts
  contracts/broker/src/index.ts
  contracts/broker/test/gods_unchained_validator_test.ts
  contracts/integrations/CHANGELOG.json
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/test/broker/broker_test.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Disable Curve in Buy tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Curve ERC20Bridge
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

ERC20BridgeSampler Curve (#2483)
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ICurve.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/package.json
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

blockchainTests.fork.resets Curve and Sampler
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
Owners: @abandeali1, @hysz

Curve ERC20Bridge (#2480)
  CHANGELOG.json
  src/constants.ts
  src/utils/market_operation_utils/constants.ts
  src/utils/market_operation_utils/create_order.ts
  src/utils/market_operation_utils/sampler.ts
  src/utils/market_operation_utils/types.ts
  test/market_operation_utils_test.ts
Owners: none

Curve ERC20Bridge (#2480)
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ICurve.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/package.json
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
  contracts/test-utils/src/web3_wrapper.ts
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-artifacts/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/orderbook/package.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

Change double-space to space for prettier
  README.md
Owners: none

fixed affiliate + fortmatic
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed webpack issues
  packages/instant/.env_example
  packages/instant/webpack.config.js
Owners: @BMillman19, @fragosti, @dave4506

linted
  packages/instant/src/components/buy_button.tsx
Owners: @BMillman19, @fragosti, @dave4506

prettier
  packages/instant/src/components/buy_button.tsx
Owners: @BMillman19, @fragosti, @dave4506

Cherry-pick changes from `feat/dev-utils/dydx-bridge-validation`
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz

Cherry pick library linking code from #2456
  contracts/dev-utils/src/index.ts
Owners: @abandeali1, @hysz

Cherry pick `DevUtils` refactor code from #2456
  contracts/dev-utils/src/index.ts
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/dev-utils`: Fix dydx min CR not being `+1`. `@0x/dev-utils`: Fix withdraw rate vs order conversion rate check .
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/test/lib_dydx_balance_test.ts
Owners: @abandeali1, @hysz

`@0x/asset-proxy`: Add more functions to `IDydx`. `@0x/dev-utils`: Fix all the weird dydx base unit madness.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/asset-proxy/src/index.ts
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestDydx.sol
  contracts/dev-utils/test/lib_dydx_balance_test.ts
Owners: @abandeali1, @hysz

Cherry pick dydx validation from #2456
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydxBridge.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/asset-proxy/src/dydx_bridge_encoder.ts
  contracts/asset-proxy/test/dydx_bridge.ts
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/contracts/src/Addresses.sol
  contracts/dev-utils/contracts/src/AssetBalance.sol
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestDydx.sol
  contracts/dev-utils/contracts/test/TestLibDydxBalance.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/src/artifacts.ts
  contracts/dev-utils/src/wrappers.ts
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/lib_dydx_balance_test.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
  contracts/integrations/test/dev-utils/dev_utils_mainnet_test.ts
  contracts/integrations/test/dev-utils/get_order_hash.ts
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/dev-utils/lib_transaction_decoder.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
  contracts/integrations/test/framework/deployment_manager.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/LibFractions.sol
  packages/abi-gen/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz, @feuGeneA

`@0x/contracts-test-utils`: Add `blockchainTests.config`
  contracts/test-utils/src/mocha_blockchain.ts
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Add `getMarketMarginPremium()` to `IDydx`. `@0x/contracts-dev-utils`: Handle dydx market premiums.
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/dev-utils/contracts/src/D18.sol
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestDydx.sol
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Fix `blockchainTests` fork config to work with other tests.
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/integrations/test/dev-utils/dydx_order_validation_test.ts
  contracts/test-utils/src/mocha_blockchain.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add DydxBridge validation integration tests.
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/dev-utils/dydx_order_validation_test.ts
  contracts/test-utils/CHANGELOG.json
Owners: @abandeali1, @hysz

Regenerate artifacts and wrappers
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1

foo
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydxBridge.sol
  contracts/dev-utils/contracts/src/AssetBalance.sol
  contracts/dev-utils/contracts/src/D18.sol
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  contracts/integrations/test/dev-utils/dydx_order_validation_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add USDC->DAI forked dydx bridge order validation.
  contracts/integrations/test/dev-utils/dydx_order_validation_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: Address review comments.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: Rebase.
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Add `D18` library.
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/D18.sol
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
