Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

Add negative assertions for endEpoch
  contracts/integrations/test/framework/actors/keeper.ts
  contracts/integrations/test/framework/assertions/endEpoch.ts
  contracts/integrations/test/fuzz_tests/staking_rewards_test.ts
Owners: @abandeali1, @hysz

invalidUnstakeAssertion
  contracts/integrations/test/framework/actors/staker.ts
  contracts/integrations/test/framework/assertions/unstake.ts
Owners: @abandeali1, @hysz

Add negative assertions for moveStake
  contracts/integrations/test/framework/actors/staker.ts
  contracts/integrations/test/framework/assertions/moveStake.ts
  contracts/integrations/test/fuzz_tests/stake_management_test.ts
Owners: @abandeali1, @hysz

invalidCreateStakingPoolAssertion
  contracts/integrations/test/framework/actors/pool_operator.ts
  contracts/integrations/test/framework/assertions/createStakingPool.ts
  contracts/integrations/test/fuzz_tests/pool_management_test.ts
  contracts/test-utils/src/constants.ts
Owners: @abandeali1, @hysz

generic assertion for TRANSFER_FAILED reverts; _invalidStake generator
  contracts/integrations/test/framework/actors/staker.ts
  contracts/integrations/test/framework/assertions/generic_assertions.ts
Owners: @abandeali1, @hysz

invalidWithdrawDelegatorRewardsAssertion
  contracts/integrations/test/framework/actors/staker.ts
  contracts/integrations/test/framework/assertions/withdrawDelegatorRewards.ts
Owners: @abandeali1, @hysz

fix bug in finalizePool
  contracts/integrations/test/framework/assertions/finalizePool.ts
Owners: @abandeali1, @hysz

tslint be trippin
  contracts/integrations/test/framework/actors/pool_operator.ts
Owners: @abandeali1, @hysz

update changelog
  contracts/integrations/CHANGELOG.json
Owners: @abandeali1, @hysz

address comments
  contracts/integrations/test/framework/actors/pool_operator.ts
  contracts/integrations/test/framework/actors/staker.ts
  contracts/integrations/test/framework/assertions/createStakingPool.ts
  contracts/integrations/test/framework/assertions/moveStake.ts
  contracts/integrations/test/fuzz_tests/stake_management_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Increase gas forwarded to kyber and eth2dai. `@0x/contracts-erc20-bridge-sampler`: Bail as soon as any quote from a DEX fails.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

`@0x/contract-artifacts`: Update `IERC20BridgeSampler` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
Owners: @abandeali1

`@0x/contract-wrappers`: Update `IERC20BridgeSampler` wrapper.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

`@0x/contract-wrappers`: Fix linter error.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

Remove unused params
  contracts/asset-proxy/src/erc1155_proxy_wrapper.ts
  contracts/erc1155/src/erc1155_wrapper.ts
  contracts/erc1155/src/index.ts
  contracts/erc1155/test/erc1155_token.ts
Owners: @abandeali1, @hysz

Rename internal functions in LibAssetDataTransfer and fix tests
  contracts/exchange-forwarder/contracts/src/libs/LibAssetDataTransfer.sol
  contracts/exchange-forwarder/test/asset_test.ts
Owners: @abandeali1, @hysz

Add tests for transfering ERC1155 tokens out
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/test/artifacts.ts
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/exchange-forwarder/test/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
Owners: @abandeali1, @hysz

Allow for batching multiple buy/sell samples
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Update asset-swapper WIP
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Enable batch fetching from orderbook. Refactor
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/orderbook/src/order_store.ts
  packages/orderbook/src/orderbook.ts
Owners: @BMillman19, @fragosti, @dave4506

Rename to Batch
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

abi-gen: exit when black fails to parse Python
  packages/abi-gen/src/index.ts
Owners: @feuGeneA

Update CHANGELOGs
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/orderbook/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

wrappers.py: fix clean not rm'ing gen'd code
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

abi-gen: fix bug w/ 2D arrays of UDT's in Python
  packages/abi-gen/src/utils.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
Owners: @feuGeneA, @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Increase gas forwarded to kyber and eth2dai. `@0x/contracts-erc20-bridge-sampler`: Bail as soon as any quote from a DEX fails.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

abi-gen: ran black on CLI test Python output
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
Owners: @feuGeneA

wrappers.py: satisfy linter (rm unnecessary pass)
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

`@0x/contract-artifacts`: Update `IERC20BridgeSampler` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
Owners: @abandeali1

`@0x/contract-wrappers`: Update `IERC20BridgeSampler` wrapper.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

`@0x/contract-wrappers`: Fix linter error.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

Rename to Batch
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

foo
  contracts/integrations/test/aggregation/fill_test.ts
  contracts/integrations/test/aggregation/forked_sampler_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add more sampler tests.
  contracts/erc20/contracts/src/ERC20Token.sol
  contracts/integrations/test/aggregation/i_kyber_network.ts
  contracts/integrations/test/aggregation/sampler_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add sampler/swapper mainnet tests for retrieving sETH quotes.
  contracts/integrations/package.json
  contracts/integrations/test/aggregation/sampler_test.ts
  contracts/integrations/test/aggregation/tokens.ts
Owners: @abandeali1, @hysz

SNX investigation
  contracts/integrations/test/aggregation/forked_sampler_test.ts
  contracts/integrations/test/aggregation/sampler_test.ts
  contracts/integrations/test/aggregation/tokens.ts
  packages/asset-swapper/test/swap_quote_live_test.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

foo
  contracts/integrations/test/aggregation/i_kyber_network.ts
  contracts/integrations/test/aggregation/sampler_test.ts
  packages/asset-swapper/test/swap_quote_live_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

best price correction
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/swap_quote_live_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Provide more accurate best quote price.
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/calculate_liquidity_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/test_orders.ts
Owners: @BMillman19, @fragosti, @dave4506

foo
  contracts/integrations/test/aggregation/fill_test.ts
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
