Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/contracts-zero-ex`: Address audit feedback.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/IAllowanceTarget.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestTransformERC20.sol
  contracts/zero-ex/contracts/test/TestTransformerBase.sol
  contracts/zero-ex/contracts/test/TestTransformerHost.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/transformer_base_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
  contracts/zero-ex/test/utils/migration.ts
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Update V06 contracts to get around 0.6.9 docstring errors
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add `TransformDeployer` contract.
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Make `TransformerDeployer` boring.
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
  contracts/zero-ex/contracts/test/TestTransformerDeployerTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformer_deployer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

add uniswapV2
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

update changelogs
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

remove unused import
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Use newer @0x/quote-server
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Add `AffiliateFeeTransformer`.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Rebase
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add `AffiliateFeeTransformer` tests.
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
  contracts/zero-ex/src/transformer_data_encoders.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Use array of structs in `AffiliateFeeTransformer` data.
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Address review feedback.
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Rebase
  contracts/zero-ex/package.json
Owners: @abandeali1, @hysz

add tests for Uniswap V2 ETH
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

rename UniswapV2 and UniswapV2Eth
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

use correct token address path
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

first pass with dex samples
  packages/asset-swapper/.gitignore
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/order_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

proper reporting with fake rfqt maker endpoints
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/order_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

report rfqt responses
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/order_reporter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

update contract addresses after deploy
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1

Add Uniswap V2 support to @0x/asset-swapper (#2599)
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

MultiBridge support in AssetSwapper
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IMultiBridge.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multibridge_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

asset-s: Remove erroneous addition of API key
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update sampler artifacts/wrappers
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

asset-swapper: use RFQT-specific response types
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

update wrappers and artifacts for ERC20BridgeSampler and IERC20BridgeSampler
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1

orderReporter renamed to quoteReporter
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

rename functions
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

WIP
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: UniswapV2 path order
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: UniswapV2 path order (#2601)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/instant`: Pin `asset-swapper` version.
  packages/instant/CHANGELOG.json
  packages/instant/package.json
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Add transformer decoders
  contracts/zero-ex/src/transformer_data_encoders.ts
Owners: @abandeali1, @hysz

Run broker tests on CI
  .circleci/config.yml
Owners: @LogvinovLeon

`@0x/contracts-broker`: Fix broken tests.
  contracts/broker/CHANGELOG.json
  contracts/broker/test/gods_unchained_validator_test.ts
Owners: @abandeali1, @hysz

`@0x/contract-artifacts`: Add `ITransformERC20` artifact. `@0x/contract-wrappers`: Add `ITransformERC20Contract`.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ITransformERC20.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1

`@0x/contract-addresses`: Add exchange proxy address placeholders.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1

`@0x/migrations`: Use new `ContractAddresses` type.
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: none

`@0x/asset-swapper`: Add `ExchangeProxySwapQuoteConsumer`.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
