Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

asset-swapper: ensure takerAddress for indiciative
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Pure Yul Uniswap feature
  contracts/zero-ex/contracts/src/features/YulUniswap.sol
Owners: @abandeali1, @hysz

Fixes
  contracts/zero-ex/contracts/src/features/YulUniswap.sol
Owners: @abandeali1, @hysz

Compile instructions
  contracts/zero-ex/contracts/src/features/YulUniswap.sol
Owners: @abandeali1, @hysz

chore: Optional quote report generation (#2687)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

AsmUniswap test
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/src/features/IUniswapV2Pair.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

Fix wantAmount computation
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Golfing
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Bypass AllowanceTarget
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

Generalized asm uniswapper
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

Implement ordering
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Fix pair computation
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

#6 Golfing Iron
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Remove 'to' argument (saves 377 gas)
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
Owners: @abandeali1, @hysz

New contract api
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

asset-swapper: Update comments
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Remove bugged parity signature compatibility.
  contracts/zero-ex/contracts/src/features/SignatureValidator.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix rebase conflicts
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Fix rebase artifacts.
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Fix nested revert decoding
  packages/utils/src/revert_error.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Remove UniswapFeature `@0x/contracts-zero-ex`: Fix broken tests.
  contracts/zero-ex/contracts/src/features/IUniswapV2Feature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/ownable_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/flash_wallet_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-exchange`: Fix failing tests.
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/signature_validator.ts
  contracts/exchange/test/transactions_unit_tests.ts
Owners: @abandeali1, @hysz

`@0x/migrations`: Fix linter error.
  packages/migrations/src/migration.ts
Owners: none

`@0x/utils`: Fix `StakingErrors.ExchangeManagerError` incorrect param name
  packages/utils/src/revert_errors/staking/staking_revert_errors.ts
Owners: @hysz

`@0x/contracts-integrations`: Remove stray `only` modifier.
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Fix broken tests.
  contracts/integrations/test/exchange/core_test.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
  contracts/integrations/test/exchange/transaction_protocol_fee_test.ts
  contracts/integrations/test/exchange/transaction_test.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fix shadowed variable in `TransformerDeployer`.
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
Owners: @abandeali1, @hysz

update changelogs
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/utils`: Fix broken test
  packages/utils/test/revert_error_test.ts
Owners: @hysz

`@0x/migrations`: Fix FQT deployment
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: none

`@0x/contracts-integrations`: Add EP + MTX + RFQT integration tests.
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Add `rfqtTakerAddress` to `FillQuoteTransformerData`
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/order-utils`: Add `rfqtTakerAddress` to `FillQuoteTransformerData`
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/transformer_utils.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/asset-swapper`: Return Mooniswap pool in sampler and encode it in bridge data
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz

`@0x/contracts-zero-ex`: Decode secret mooniswap bridge data parameter.
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinMooniswap.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Remove `only` from tests.
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Export `MooniswapFillData`.
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Gas efficient limit orders
  contracts/zero-ex/contracts/src/features/EfficientFill.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Update transformer deployer and transformers for champagne-problems deployment. `@0x/migrations`: Reorder transformer deployments.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @abandeali1

First draft
  contracts/zero-ex/contracts/src/features/EfficientFill.sol
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
