Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contracts-erc20-bridge-sampler`: Add TwoHopSampler + refactor
  contracts/extensions/package.json
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MultiBridgeSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/ICurve.sol
  packages/asset-swapper/contracts/src/interfaces/IEth2Dai.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberHintHandler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetworkProxy.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberStorage.sol
  packages/asset-swapper/contracts/src/interfaces/ILiquidityProvider.sol
  packages/asset-swapper/contracts/src/interfaces/ILiquidityProviderRegistry.sol
  packages/asset-swapper/contracts/src/interfaces/IMStable.sol
  packages/asset-swapper/contracts/src/interfaces/IMultiBridge.sol
  packages/asset-swapper/contracts/src/interfaces/IUniswapExchangeQuotes.sol
  packages/asset-swapper/contracts/src/interfaces/IUniswapV2Router01.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProvider.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProviderRegistry.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/package.json
  tsconfig.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Refactor + add two-hop skeleton
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

Round out two-hop support in asset-swapper
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix bugs discovered from simbot
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Add BalancerSampler, use it for two-hop quotes
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancer.sol
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Add intermediate token to MultiHop source breakdown
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

rebases are hard
  contracts/integrations/test/framework/actors/maker.ts
  contracts/test-utils/src/test_with_reference.ts
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/artifacts.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Fix market buy bugs
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Use hybrid on-chain/off-chain sampling for Balancer
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper DODO
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDODO.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/IDODO.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Another day, another rebase
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Update changelogs
  packages/asset-swapper/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

Address PR feedback, CI fixes
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

adds more logging keys
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper Better Kyber quotes and splitting
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IKyberNetworkProxy.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

fix: mooniswap usdt
  contracts/asset-proxy/contracts/src/bridges/MooniswapBridge.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

fix: mooniswap usdt (#2681)
  contracts/asset-proxy/contracts/src/bridges/MooniswapBridge.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Kumaraswamy distribution sampling test
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Stop req'ing takerAddr for RFQT ind
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Address more PR feedback
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_contract_operation.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

update CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

fix: bunny-hop small amounts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

fix lint and Dockerfile
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/migrations/Dockerfile
Owners: @BMillman19, @fragosti, @dave4506

HACK: temporarily disable python
  .circleci/config.yml
  packages/abi-gen/package.json
Owners: @LogvinovLeon, @feuGeneA

fix: bunny-hop small amounts (#2685)
  .circleci/config.yml
  packages/abi-gen/package.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/migrations/Dockerfile
Owners: @LogvinovLeon, @feuGeneA, @BMillman19, @fragosti, @dave4506

feat: Kyber rework
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IKyberNetworkProxy.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberHintHandler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetworkProxy.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberStorage.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Get additional reserves per token
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: better Kyber quotes (#2683)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IKyberNetworkProxy.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberHintHandler.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetworkProxy.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberStorage.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/kyber_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

fix: reduce excess order hash in quote report
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506

address comments
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506

chore: Optional quote report generation
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Minimal Uniswap accessor.
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

Add comments
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

Safe math
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

Assembler Uniswap
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

mainnet gas benchmark
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/test/IUniswapV2Router.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

Selectors and addresses
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Fix bugs in ABI encoders
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Typo
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

AsmUniswap test
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/src/features/IUniswapV2Pair.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz
