Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

UniswapFeature (#2703)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/IUniswapFeature.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

[asset-swapper]: Added Curve Tripool
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper]: Added Curve Tripool (#2708)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

ADDS return fillData for Multihop in quote report
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506

ADDS quote report: pass back optional fill data for dex samples
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506

FIXES quote report generator tests handle passing back fillData
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

FIXES typing multi hop report source will always have fillData
  packages/asset-swapper/src/utils/quote_report_generator.ts
Owners: @BMillman19, @fragosti, @dave4506

ADDS asset-swapper CHANGELOG entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Handle max in/out ratio reverts in Balancer sampling functions
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz

`@0x/asset-swapper`: respect max slippage in EP consumer
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Special case two-hop quotes in `getMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: factor affiliate fees into new `minBuyAmount` calculation in EP consumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper: rename `getMinBuyAmount()` to `getSwapMinBuyAmount()` and export for use in API.
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Handle native orders in `getSwapMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix LP and MB sources leaking into `getSell/BuyOperations()` when they should be disabled
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Quote report pass back optional fill data (#2702)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Handle max in/out ratio reverts in Balancer sampling functions
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz

`@0x/asset-swapper`: factor affiliate fees into new `minBuyAmount` calculation in EP consumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Special case two-hop quotes in `getMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: respect max slippage in EP consumer
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

initial decoupling of Quote reporter
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

optionally return a quote report too
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

lint and fix
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Handle max in/out ratio reverts in Balancer sampling functions
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz

`@0x/asset-swapper`: compute max quote slippage from the first non-native order in `getSwapMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Special case two-hop quotes in `getMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: respect max slippage in EP consumer
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: factor affiliate fees into new `minBuyAmount` calculation in EP consumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

fix LP and MB sources leaking into `getSell/BuyOperations()` when they should be disabled
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Handle native orders in `getSwapMinBuyAmount()`
  packages/asset-swapper/src/quote_consumers/utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper: rename `getMinBuyAmount()` to `getSwapMinBuyAmount()` and export for use in API.
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: log RFQ maker (un)blacklistings
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfq_maker_blacklist.ts
Owners: @BMillman19, @fragosti, @dave4506

create quote report regardless of RFQT
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

initial implementation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

refactor market side ops
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

refactor coding and avoid running indicative quotes when sampling market liquidity
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed a broken import, renamed variable
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

performed linting
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Added cream bridge contract
  contracts/asset-proxy/contracts/src/bridges/CreamBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

updated changelog
  contracts/asset-proxy/CHANGELOG.json
Owners: @abandeali1, @hysz
