Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Fix a bug when TruffleArtifactAdapter was incorrectly parsing the truffle config of the newest version
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/artifact_adapters/truffle_artifact_adapter.ts
Owners: none

moving towards getting erc1155 contracts cmpiled
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Token.sol
  contracts/erc1155/contracts/src/MintableERC1155Token.sol
  contracts/erc1155/contracts/src/utils/Ownable.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/test/erc1155_token.ts
Owners: none

erc1155 receiver tests
  contracts/asset-proxy/test/proxies.ts
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
Owners: none

working test for erc1155!
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
  packages/order-utils/src/asset_data_utils.ts
Owners: @fabioberger, @LogvinovLeon

Fixed bug in ERC1155 reference implementation - `balanceOfBatch`
  contracts/erc1155/contracts/src/ERC1155MixedFungible.sol
Owners: none

Replaced hacky erc1155 impl with mock impl recommended by EIP1155
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/Address.sol
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155AllowanceWrapper.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/ERC1155MixedFungible.sol
  contracts/erc1155/contracts/src/ERC1155MixedFungibleMintable.sol
  contracts/erc1155/contracts/src/ERC1155MockReceiver.sol
  contracts/erc1155/contracts/src/ERC165.sol
  contracts/erc1155/contracts/src/IERC1155.sol
  contracts/erc1155/contracts/src/IERC1155Metadata.sol
  contracts/erc1155/contracts/src/IERC1155TokenReceiver.sol
  contracts/erc1155/contracts/src/Migrations.sol
  contracts/erc1155/contracts/src/README.md
  contracts/erc1155/contracts/src/SafeMath.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/src/utils/LibAddress.sol
  contracts/erc1155/contracts/src/utils/LibSafeMath.sol
  contracts/erc1155/contracts/src/utils/Ownable.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/contracts/test/InvalidERC1155Receiver.sol
  contracts/erc1155/package.json
Owners: none

should set allowances for erc1155
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
Owners: none

Minimizing
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155AllowanceWrapper.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/ERC1155MixedFungible.sol
  contracts/erc1155/contracts/src/ERC1155MixedFungibleMintable.sol
  contracts/erc1155/contracts/src/ERC1155MockReceiver.sol
  contracts/erc1155/contracts/src/ERC165.sol
  contracts/erc1155/contracts/src/IERC1155.sol
  contracts/erc1155/contracts/src/IERC1155Metadata.sol
  contracts/erc1155/contracts/src/IERC1155TokenReceiver.sol
  contracts/erc1155/contracts/src/Migrations.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/tsconfig.json
Owners: none

adding tests for ERC1155 asset proxy
  contracts/asset-proxy/test/proxies.ts
  contracts/test-utils/src/constants.ts
Owners: none

Working batchTransferFrom for fungible erc-1155 token
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/tsconfig.json
Owners: none

ERC1155 proxy implementation (untested)
  contracts/asset-proxy/DEPLOYS.json
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
Owners: none

Solidity ERC1155 contracts compile (untested)
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/CHANGELOG.md
  contracts/erc1155/README.md
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155Token.sol
  contracts/erc1155/contracts/src/ERC721Token.sol
  contracts/erc1155/contracts/src/MintableERC1155Token.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Token.sol
  contracts/erc1155/contracts/src/interfaces/IERC721Receiver.sol
  contracts/erc1155/contracts/src/interfaces/IERC721Token.sol
  contracts/erc1155/contracts/src/utils/LibAddress.sol
  contracts/erc1155/contracts/src/utils/LibSafeMath.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/contracts/test/InvalidERC1155Receiver.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/tsconfig.json
Owners: none

NFT support in erc1155 wrapper
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/types.ts
Owners: none

Duplicated package: ERC721 -> ERC1155
  contracts/erc1155/.solhintignore
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/CHANGELOG.md
  contracts/erc1155/DEPLOYS.json
  contracts/erc1155/README.md
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC721Token.sol
  contracts/erc1155/contracts/src/MintableERC721Token.sol
  contracts/erc1155/contracts/src/interfaces/IERC721Receiver.sol
  contracts/erc1155/contracts/src/interfaces/IERC721Token.sol
  contracts/erc1155/contracts/test/DummyERC721Receiver.sol
  contracts/erc1155/contracts/test/DummyERC721Token.sol
  contracts/erc1155/contracts/test/InvalidERC721Receiver.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/index.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc721_token.ts
  contracts/erc1155/test/global_hooks.ts
  contracts/erc1155/tsconfig.json
  contracts/erc1155/tslint.json
Owners: none

more simplification for erc1155
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/ERC1155MixedFungible.sol
  contracts/erc1155/contracts/src/README.md
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/tsconfig.json
Owners: none

Encodes erc1155 asset data for first token in deployed test contract
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
  packages/order-utils/src/asset_data_utils.ts
  packages/types/src/index.ts
Owners: @fabioberger, @LogvinovLeon

Partially implemented ERC1155 test wrapper, which deploys proxies & mints fungible tokens.
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
  contracts/asset-proxy/test/utils/index.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc1155/package.json
  contracts/erc1155/test/erc1155_token.ts
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/types.ts
Owners: none

Moved Address into utils and made SafeMath a library
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/SafeMath.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/InvalidERC1155Receiver.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/tsconfig.json
  contracts/utils/compiler.json
  contracts/utils/contracts/src/Address.sol
  contracts/utils/contracts/src/SafeMath.sol
  contracts/utils/package.json
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  contracts/utils/tsconfig.json
Owners: none

Added generated-wrappers and generated-artifacts to .gitignore for erc1155
  .gitignore
Owners: none

Fixed bug in erc1155 proxy where it was not getting destination contract address correctly
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
Owners: none

merge
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
Owners: none

Fixed bug in erc1155 proxy where it was off by a few bytes calculating the tokenValuesOffset
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
Owners: none

Trying to get erc1155 tests working, but there seems to be an issue with reverting chain state
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/test/erc1155_token.ts
Owners: none

Split erc1155 into mintable
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/package.json
  contracts/utils/CHANGELOG.json
Owners: none

Use SafeMath in ERC1155
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/package.json
  contracts/erc1155/test/erc1155_token.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/SafeMath.sol
Owners: none

batchTxFromTests
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/test/erc1155_token.ts
Owners: none

safeTransferFrom tests for erc1155
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/test/erc1155_token.ts
Owners: none

yarn.lock
  yarn.lock
Owners: none

Pin node typings to avoid DefinitelyTyped/DefinitelyTyped#25342
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  contracts/tec/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/abi-gen/package.json
  packages/asset-buyer/package.json
  packages/contract-wrappers/package.json
  packages/contracts-gen/package.json
  packages/dev-tools-pages/package.json
  packages/ethereum-types/package.json
  packages/instant/package.json
  packages/json-schemas/package.json
  packages/monorepo-scripts/package.json
  packages/order-utils/package.json
  packages/order-watcher/package.json
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/sol-coverage/package.json
  packages/sol-profiler/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/sra-spec/package.json
  packages/subproviders/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/website/package.json
  yarn.lock
Owners: @LogvinovLeon, @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @dekz

Update illustrations and copy
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/footer.tsx
  packages/website/ts/icons/illustrations/dutchAuction.svg
  packages/website/ts/icons/illustrations/extensions.svg
  packages/website/ts/icons/illustrations/forwarderContract.svg
  packages/website/ts/icons/illustrations/whitelistFilter.svg
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove redundant fragment
  packages/website/ts/pages/about/team.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update link to whitelist filter
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

erc1155 token + asset proxy in new packages
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/package.json
  contracts/utils/contracts/src/Address.sol
  yarn.lock
Owners: none

fix build errors
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/pages/not_found.tsx
  packages/website/ts/utils/document_meta_constants.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

added title for extensions
  packages/website/ts/utils/document_meta_constants.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

fixed links
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/utils/constants.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add an explanatory comment
  packages/sol-tracing-utils/src/artifact_adapters/truffle_artifact_adapter.ts
Owners: none

fixed linting + prettier issues
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/not_found.tsx
  packages/website/ts/utils/constants.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Publish
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  contracts/tec/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/asset-buyer/package.json
  packages/contract-wrappers/package.json
  packages/instant/package.json
  packages/metacoin/package.json
  packages/migrations/package.json
  packages/order-watcher/package.json
  packages/pipeline/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-doc/package.json
  packages/sol-profiler/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/testnet-faucets/package.json
  packages/website/package.json
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger

changed links
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
