Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

Move constants up
  packages/sol-profiler/src/profiler_subprovider.ts
Owners: none

Change vote end date to end on PST 25/02/2019
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix website errors related to props/children
  packages/website/ts/components/aboutPageLayout.tsx
  packages/website/ts/components/button.tsx
  packages/website/ts/components/image.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/instant/select.tsx
  packages/website/ts/utils/filter_props.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Constrain icon size to container
  packages/website/ts/components/icon.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix linting issues
  packages/website/ts/components/aboutPageLayout.tsx
  packages/website/ts/components/card.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Prettier fixes
  packages/website/ts/components/aboutPageLayout.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/pages/instant/select.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Make constants internal
  contracts/exchange-libs/contracts/src/LibAssetProxyErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeSelectors.sol
Owners: none

Update dep versions
  contracts/exchange-libs/package.json
  contracts/multisig/package.json
Owners: none

Upgrade solc version to 0.5.3 for exchange-libs and utils
  contracts/exchange-libs/contracts/src/LibAbiEncoder.sol
  contracts/exchange-libs/contracts/src/LibAssetProxyErrors.sol
  contracts/exchange-libs/contracts/src/LibConstants.sol
  contracts/exchange-libs/contracts/src/LibEIP712.sol
  contracts/exchange-libs/contracts/src/LibExchangeErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeSelectors.sol
  contracts/exchange-libs/contracts/src/LibFillResults.sol
  contracts/exchange-libs/contracts/src/LibMath.sol
  contracts/exchange-libs/contracts/src/LibOrder.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/utils/contracts/src/LibAddressArray.sol
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/src/Ownable.sol
  contracts/utils/contracts/src/ReentrancyGuard.sol
  contracts/utils/contracts/src/SafeMath.sol
  contracts/utils/contracts/src/interfaces/IOwnable.sol
  contracts/utils/contracts/test/TestConstants.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  yarn.lock
Owners: none

Fix bug in slice functions that disallow slicing the last byte of a byte array
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_bytes.ts
  packages/types/src/index.ts
Owners: none

Run lerna link before building
  package.json
Owners: none

Update CHANGELOGs
  contracts/exchange-libs/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  packages/types/CHANGELOG.json
Owners: none

Add more slice tests
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_bytes.ts
Owners: none

Fix OrderValidator and Forwarder addresses in Python package
  packages/contract-addresses/CHANGELOG.json
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
Owners: @albrow, @feuGeneA

Temp commit to save work
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/src/index.ts
  packages/sol-tracing-utils/src/source_maps.ts
Owners: none

Update packages/ethereum-types/src/index.ts
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Update packages/ethereum-types/src/index.ts
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Update packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
Owners: none

FIx CHANGELOGs
  packages/ethereum-types/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @LogvinovLeon

Rename traceInfo.data to traceInfo.dataIfExists
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/types.ts
Owners: none

Use contracts-test-utils in metacoin
  packages/metacoin/compiler.json
  packages/metacoin/package.json
  packages/metacoin/test/global_hooks.ts
  packages/metacoin/test/metacoin_test.ts
  packages/metacoin/test/utils/chai_setup.ts
  packages/metacoin/test/utils/config.ts
  packages/metacoin/test/utils/coverage.ts
  packages/metacoin/test/utils/profiler.ts
  packages/metacoin/test/utils/web3_wrapper.ts
Owners: @LogvinovLeon

Fix prettier
  packages/ethereum-types/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/utils/CHANGELOG.json
Owners: @LogvinovLeon

removed announcement
  packages/website/ts/components/sections/landing/hero.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Improved testing - added fixtures
  packages/pipeline/src/data_sources/etherscan/index.ts
  packages/pipeline/src/parsers/etherscan/index.ts
  packages/pipeline/test/fixtures/etherscan/api_v1_accounts_transactions.json
  packages/pipeline/test/fixtures/etherscan/api_v1_accounts_transactions.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
  packages/pipeline/tsconfig.json
Owners: none

Linting
  packages/pipeline/test/fixtures/etherscan/api_v1_accounts_transactions.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
Owners: none

Bumped up timeout to 4 mins
  packages/pipeline/src/data_sources/etherscan/index.ts
Owners: none

Fix jumping part of animated hero logo
  packages/website/ts/components/heroAnimation.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

bump versions, after recent publications
  python-packages/contract_addresses/CHANGELOG.md
  python-packages/contract_addresses/setup.py
  python-packages/order_utils/CHANGELOG.md
  python-packages/order_utils/setup.py
Owners: @feuGeneA

Fix linter issues
  packages/metacoin/compiler.json
Owners: @LogvinovLeon

Remove ganache profiling warning
  contracts/test-utils/src/web3_wrapper.ts
Owners: none

Move structLogs normalization right after we fetch the trace
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/src/revert_trace.ts
  packages/sol-tracing-utils/src/trace.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
Owners: none

Fix memory cost computing
  packages/sol-profiler/src/cost_utils.ts
Owners: none

Fix stack content reporting in custom JS tracer
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
Owners: none

Refactor structLogs normalization to handle ganache
  packages/sol-tracing-utils/src/utils.ts
Owners: none

Add CHANGELOG entry
  packages/sol-profiler/CHANGELOG.json
Owners: none

Warn instead of error on incompatible version
  packages/sol-tracing-utils/src/artifact_adapters/truffle_artifact_adapter.ts
Owners: none

Update packages/sol-tracing-utils/src/utils.ts
  packages/sol-tracing-utils/src/utils.ts
Owners: none

Rename idx to index
  packages/sol-tracing-utils/src/utils.ts
Owners: none

Do not check approvals for orders where sender == feeRecipient
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
Owners: none

Update CHANGELOGs
  packages/contract-wrappers/CHANGELOG.json
Owners: none
