Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Add liquidity source breakdown to asset-swapper (#2465)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

Add liquidity source breakdown to asset-swapper (#2465)
  CHANGELOG.json
  src/index.ts
  src/types.ts
  src/utils/swap_quote_calculator.ts
  test/swap_quote_calculator_test.ts
  test/utils/swap_quote.ts
Owners: none

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  contracts/asset-proxy/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/abi-gen/package.json
  packages/asset-swapper/package.json
  packages/base-contract/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/contracts-gen/package.json
  packages/dev-utils/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/monorepo-scripts/package.json
  packages/order-utils/package.json
  packages/orderbook/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-doc/package.json
  packages/sol-profiler/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/subproviders/package.json
Owners: @abandeali1, @hysz, @feuGeneA, @BMillman19, @fragosti, @dave4506, @xianny, @LogvinovLeon, @fabioberger, @dekz

Publish
  package.json
Owners: none

Prevent docs dir from being completely removed
  packages/sol-doc/docs/.gitkeep
  packages/sol-doc/package.json
Owners: none

GodsUnchainedValidator unit tests
  contracts/broker/package.json
  contracts/broker/src/artifacts.ts
  contracts/broker/src/gods_unchained_utils.ts
  contracts/broker/src/index.ts
  contracts/broker/src/wrappers.ts
  contracts/broker/test/artifacts.ts
  contracts/broker/test/gods_unchained_validator_test.ts
  contracts/broker/test/wrappers.ts
  contracts/broker/tsconfig.json
Owners: @abandeali1, @hysz

create contracts-broker package
  .gitignore
  .prettierignore
  contracts/broker/.npmignore
  contracts/broker/CHANGELOG.json
  contracts/broker/DEPLOYS.json
  contracts/broker/README.md
  contracts/broker/compiler.json
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/package.json
  contracts/broker/src/artifacts.ts
  contracts/broker/src/index.ts
  contracts/broker/src/wrappers.ts
  contracts/broker/test/artifacts.ts
  contracts/broker/test/wrappers.ts
  contracts/broker/truffle-config.js
  contracts/broker/tsconfig.json
  contracts/broker/tslint.json
  contracts/broker/typedoc-tsconfig.json
  package.json
Owners: @abandeali1, @hysz

Broker contracts
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/contracts/src/interfaces/IBroker.sol
  contracts/broker/contracts/src/interfaces/IGodsUnchained.sol
  contracts/broker/contracts/src/interfaces/IPropertyValidator.sol
  contracts/broker/contracts/src/validators/GodsUnchainedValidator.sol
  contracts/broker/contracts/test/TestGodsUnchained.sol
  contracts/broker/package.json
  contracts/broker/src/artifacts.ts
  contracts/broker/src/index.ts
  contracts/broker/src/wrappers.ts
  contracts/broker/test/artifacts.ts
  contracts/broker/test/wrappers.ts
  contracts/broker/tsconfig.json
Owners: @abandeali1, @hysz

Broker integrations tests
  contracts/integrations/package.json
  contracts/integrations/test/broker/broker_test.ts
Owners: @abandeali1, @hysz

lint
  contracts/broker/src/gods_unchained_utils.ts
  contracts/integrations/test/broker/broker_test.ts
Owners: @abandeali1, @hysz

Update Broker README
  contracts/broker/README.md
Owners: @abandeali1, @hysz

Add Broker rich errors
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/contracts/src/libs/LibBrokerRichErrors.sol
  contracts/broker/package.json
  contracts/broker/src/artifacts.ts
  contracts/broker/src/index.ts
  contracts/broker/src/wrappers.ts
  contracts/broker/test/artifacts.ts
  contracts/broker/test/wrappers.ts
  contracts/broker/tsconfig.json
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/broker/revert_errors.ts
Owners: @abandeali1, @hysz

Move LibAssetDataTransfer from forwarder to exchange-libs package
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/package.json
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/contracts/src/libs/LibForwarderRichErrors.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/test/artifacts.ts
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/exchange-forwarder/test/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange-libs/contracts/src/LibAssetDataTransfer.sol
  contracts/exchange-libs/contracts/src/LibAssetDataTransferRichErrors.sol
  contracts/exchange-libs/package.json
  contracts/exchange-libs/src/index.ts
  contracts/exchange-libs/test/artifacts.ts
  contracts/exchange-libs/test/wrappers.ts
  contracts/exchange-libs/tsconfig.json
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/exchange-forwarder/revert_errors.ts
  packages/utils/src/revert_errors/exchange-libs/lib_asset_data_transfer_revert_errors.ts
Owners: @abandeali1, @hysz

more integrations tests
  contracts/integrations/test/broker/broker_test.ts
Owners: @abandeali1, @hysz

Add comments
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/contracts/src/interfaces/IBroker.sol
  contracts/broker/contracts/src/interfaces/IGodsUnchained.sol
  contracts/broker/contracts/src/interfaces/IPropertyValidator.sol
  contracts/broker/contracts/src/validators/GodsUnchainedValidator.sol
  contracts/broker/src/gods_unchained_utils.ts
  contracts/integrations/test/broker/broker_test.ts
Owners: @abandeali1, @hysz

skip coordinator client test
  contracts/integrations/test/coordinator/client_test.ts
Owners: @abandeali1, @hysz

rename _transferEthRefund -> _unwrapAndTransferEth
  contracts/broker/contracts/src/Broker.sol
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/extensions/contracts/src/MixinWethUtils.sol
Owners: @abandeali1, @hysz

Address PR feedback and add support for affiliate fees
  contracts/broker/contracts/src/Broker.sol
  contracts/broker/contracts/src/interfaces/IBroker.sol
  contracts/broker/contracts/src/interfaces/IPropertyValidator.sol
  contracts/broker/contracts/src/libs/LibBrokerRichErrors.sol
  contracts/broker/contracts/src/validators/GodsUnchainedValidator.sol
  contracts/extensions/contracts/src/MixinWethUtils.sol
  contracts/integrations/test/broker/broker_test.ts
  packages/utils/src/revert_errors/broker/revert_errors.ts
Owners: @abandeali1, @hysz

add weth-related integration tests
  contracts/integrations/test/broker/broker_test.ts
  contracts/integrations/test/framework/balances/local_balance_store.ts
Owners: @abandeali1, @hysz

[asset-swapper] prune before dummy order creation
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] prune before dummy order creation (#2470)
  CHANGELOG.json
  package.json
  src/swap_quoter.ts
Owners: none

[asset-swapper] prune before dummy order creation (#2470)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Bump sampler gas limit and allow for override
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

changed divided
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix imports
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

added changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Set to 36e6
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

prettier
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Bump sampler gas limit and allow for override (#2471)
  CHANGELOG.json
  src/constants.ts
  src/swap_quoter.ts
  src/types.ts
  src/utils/market_operation_utils/constants.ts
Owners: none

[asset-swapper] Bump sampler gas limit and allow for override (#2471)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

[FIX] asset-swapper liquidity breakdown (#2472)
  CHANGELOG.json
  src/utils/swap_quote_calculator.ts
Owners: none

[FIX] asset-swapper liquidity breakdown (#2472)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

changed to 0x
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

[erc20-bridge-sampler] gas stipend for DevUtils
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses` Redeploy `Eth2DaiBridge` and `ERC20BridgeSampler`.
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Update Eth2Dai address.
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

[erc20-bridge-sampler] gas stipend for DevUtils
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz
