Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dorothy-zbornak, @abandeali1, @hysz, @mzhu25

streamline SwapQuoter and remove instant-only functions
  contracts/integrations/test/aggregation/fill_test.ts
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/calculate_liquidity.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/calculate_liquidity_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quoter_test.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

add abi encoder support for uint80 lol
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_types/uint.ts
Owners: none

fixes a few issues with the typing
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

update quote server
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

fixed broken package
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/quote_requestor.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Include requestParams in maker-blacklisted log
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

update README, CI, and GH configs
  .circleci/config.yml
  .github/autolabeler.yml
  README.md
Owners: @dorothy-zbornak

prettier :facepalm:
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
Owners: @BMillman19, @fragosti, @dave4506

removed unused functions
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

removed v0-specific code in asset-swapper
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Updated changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

altered changelog wording
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

feat: DODO
  packages/asset-swapper/contracts/src/DODOHelper.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

export DODOFillData
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

DODO Bridge
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  contracts/asset-proxy/contracts/src/bridges/DODOHelper.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Use deployed DODOHelper
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  contracts/asset-proxy/contracts/src/bridges/DODOHelper.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/contracts/src/DODOHelper.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Deployed Bridge. Half of buys supported
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

other half of buys
  packages/asset-swapper/contracts/src/DODOSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

refactor
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

CHANGELOGs
  contracts/asset-proxy/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Lint
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

update root package.json
  package.json
Owners: none

Fix linter errors
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: DODO (#2701)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DODOBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Check that affiliate fees are zero in the ExchangeProxySwapQuoteConsumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

Add LiquidityProvider feature support in the ExchangeProxySwapQuoteConsumer
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Add test for `LiquidityProviderFeature` support in the `ExchangeProxySwapQuoteConsumer`
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Integrated CREAM into asset-swapper
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
  yarn.lock
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Stop referring to GetMarketOrdersOpts.shouldBat...
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Add peer dependencies for cream-sor, small fix to sampler routing
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Ran prettier
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fixed linter error
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix failing test-doc-generation
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Drop `|undefined` from type of optional param
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

further fixes in market operation utils
  packages/asset-swapper/src/utils/market_operation_utils/cream_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

prettier
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Add CREAM to market operation utils constants :facepalm:
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: [asset-swapper] MultiHop edge cases
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

fix: [asset-swapper] MultiHop edge cases (#2730)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/order-utils/ @dorothy-zbornak 

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25
