Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/asset-swapper`: Increase timeout for tests.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

Update packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Increase timeout for tests. (#2587)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

Update quote_requestor.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

wip: implement uniswapv2 bridge and sampler
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IUniswapV2Router01.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IUniswapV2Pair.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Convert more 0.6 contracts
  contracts/utils/contracts/src/v06/interfaces/IOwnableV06.sol
Owners: @abandeali1, @hysz

`@0x/utils`: Add new `ZeroExRevertErrors` revert types
  packages/utils/src/revert_errors/zero-ex/puppet_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Introduce the `TransformERC20` feature.
  contracts/utils/contracts/src/v06/interfaces/IOwnableV06.sol
  contracts/zero-ex/contracts/src/errors/LibPuppetRichErrors.sol
  contracts/zero-ex/contracts/src/features/IPuppetPool.sol
  contracts/zero-ex/contracts/src/features/PuppetPool.sol
  contracts/zero-ex/contracts/src/puppets/IPuppet.sol
  contracts/zero-ex/contracts/src/puppets/Puppet.sol
  contracts/zero-ex/contracts/src/storage/LibPuppetPoolStorage.sol
  contracts/zero-ex/contracts/test/TestPuppetPool.sol
  contracts/zero-ex/contracts/test/TestPuppetTarget.sol
  contracts/zero-ex/test/features/puppet_pool_test.ts
  contracts/zero-ex/test/puppet_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Make `TokenSpender`'s puppet contract a distinct contract type and rename `getTokenSpenderPuppet()` to `getAllowanceTarget()`
  contracts/zero-ex/contracts/src/puppets/ITokenSpenderPuppet.sol
  contracts/zero-ex/contracts/src/puppets/TokenSpenderPuppet.sol
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Use `immutable` owner in `Puppet` instead of `Ownable`.
  contracts/zero-ex/contracts/src/external/IPuppet.sol
  contracts/zero-ex/contracts/src/external/Puppet.sol
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Add `msg` param to `assertIntegerRoughlyEquals`
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/number_utils.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add self-destructing to transformers
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
  contracts/zero-ex/contracts/test/TestDelegateCaller.sol
  contracts/zero-ex/contracts/test/TestTransformerBase.sol
  contracts/zero-ex/contracts/test/TestTransformerHost.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/transformer_base_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Introduce transformer contracts.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IExchange.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerExchange.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestTransformerHost.sol
  contracts/zero-ex/contracts/test/TestWeth.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/constants.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/transformer_data_encoders.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Address review feedback.
  contracts/zero-ex/contracts/src/errors/LibPuppetRichErrors.sol
  contracts/zero-ex/contracts/src/external/IPuppet.sol
  contracts/zero-ex/contracts/src/external/Puppet.sol
  contracts/zero-ex/contracts/test/TestPuppetTarget.sol
  contracts/zero-ex/test/puppet_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Rebase against development
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Revamp TransformERC20.
  contracts/zero-ex/contracts/src/errors/LibPuppetRichErrors.sol
  contracts/zero-ex/contracts/src/external/IPuppet.sol
  contracts/zero-ex/contracts/src/external/Puppet.sol
  contracts/zero-ex/contracts/src/features/IPuppetPool.sol
  contracts/zero-ex/contracts/src/features/PuppetPool.sol
  contracts/zero-ex/contracts/src/puppets/ITokenSpenderPuppet.sol
  contracts/zero-ex/contracts/src/puppets/TokenSpenderPuppet.sol
  contracts/zero-ex/contracts/src/storage/LibPuppetPoolStorage.sol
  contracts/zero-ex/contracts/test/TestPuppetPool.sol
  contracts/zero-ex/contracts/test/TestPuppetTarget.sol
  contracts/zero-ex/test/features/puppet_pool_test.ts
  contracts/zero-ex/test/puppet_test.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Update `InvalidTransformDataError`.
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Rebase, returning nonces in `transform()`.
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerHost.sol
  contracts/zero-ex/contracts/test/TestTransformerHost.sol
  contracts/zero-ex/contracts/test/TestWethTransformerHost.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/nonce_utils.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/utils`: Add ERC20 transformer revert errors.
  packages/utils/CHANGELOG.json
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@x/utils`: Address review feedback.
  packages/utils/src/revert_errors/zero-ex/puppet_revert_errors.ts
Owners: @hysz

`@0x/zero-ex`: Rebase and use "slot" instead of "offset" language in storage buckets.
  contracts/zero-ex/contracts/src/storage/LibPuppetPoolStorage.sol
Owners: @abandeali1, @hysz

`@0x/utils`: Add more transformer revert errors.
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Address review feedback.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
  contracts/zero-ex/contracts/test/TestDelegateCaller.sol
  contracts/zero-ex/src/transformer_data_encoders.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
Owners: @abandeali1, @hysz

implement UniswapV2 Bridge
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IUniswapV2Router01.sol
  contracts/asset-proxy/contracts/test/TestUniswapV2Bridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/uniswapv2_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IUniswapV2Pair.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

More tests for UniswapV2Bridge
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/test/TestUniswapV2Bridge.sol
  contracts/asset-proxy/test/uniswapv2_bridge.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Address review comments.
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/PayTakerTransformer.sol
  contracts/zero-ex/contracts/src/transformers/WethTransformer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Add UniswapV2 to `DeploymentConstants`.
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Add UniswapV2.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IUniswapV2Router.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

rename contract to UniswapV2Router01
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IUniswapV2Router01.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

cleanup and remove ERC20BridgeSampler changes
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IUniswapV2Router01.sol
  contracts/asset-proxy/contracts/test/TestUniswapV2Bridge.sol
  contracts/asset-proxy/test/uniswapv2_bridge.ts
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IUniswapV2Pair.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

update @0x/contract-artifacts and @0x/contract-wrappers
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1

enable multihop; address review comments
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/test/TestUniswapV2Bridge.sol
  contracts/asset-proxy/test/uniswapv2_bridge.ts
Owners: @abandeali1, @hysz

solidity 0.6.9 doesnt allow devdoc for public storage vars
  contracts/utils/contracts/src/v06/AuthorizableV06.sol
Owners: @abandeali1, @hysz

codestyle improvements
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
Owners: @abandeali1, @hysz

UniswapV2Bridge (#2590)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IUniswapV2Router01.sol
  contracts/asset-proxy/contracts/test/TestUniswapV2Bridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/uniswapv2_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/utils/contracts/src/v06/AuthorizableV06.sol
Owners: @abandeali1, @hysz

Python: pin mypy to <= 0.770
  python-packages/contract_addresses/setup.py
  python-packages/contract_artifacts/setup.py
  python-packages/contract_wrappers/setup.py
  python-packages/json_schemas/setup.py
  python-packages/middlewares/setup.py
  python-packages/order_utils/setup.py
Owners: @feuGeneA

Update changelogs
  contracts/asset-proxy/CHANGELOG.json
  contracts/erc20/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/utils`: Update `ZeroExRevertErrors`.
  packages/utils/CHANGELOG.json
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Add missing docstrings + fix compilation errors.
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
Owners: @abandeali1, @hysz

`@0x/contracts-erc20`: Update `LibERC20TokenV06` comments.
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
Owners: @abandeali1, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
