Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

removed number selector for firefox inputs
  packages/instant/src/components/ui/input.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

ran prettier on codebase
  packages/instant/src/components/ui/input.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

Remove DDEX library from developer tools list
  packages/website/ts/pages/documentation/docs_home.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

add row deletion step to migration
  packages/pipeline/migrations/1548809952793-AllowDuplicateTxHashesInDexTrades.ts
Owners: none

incorporate review and print ignored deps
  packages/monorepo-scripts/src/deps_versions.ts
Owners: @fabioberger

Update packages/contracts-gen/README.md
  packages/contracts-gen/README.md
Owners: none

Update packages/contracts-gen/src/index.ts
  packages/contracts-gen/src/index.ts
Owners: none

Remove redundant dependencies
  packages/monorepo-scripts/package.json
Owners: @fabioberger

Make the banner more visible
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/erc20/src/artifacts.ts
  contracts/erc20/src/wrappers.ts
  contracts/erc721/src/artifacts.ts
  contracts/erc721/src/wrappers.ts
  contracts/exchange-forwarder/src/artifacts.ts
  contracts/exchange-forwarder/src/wrappers.ts
  contracts/exchange-libs/src/artifacts.ts
  contracts/exchange-libs/src/wrappers.ts
  contracts/exchange/src/artifacts.ts
  contracts/exchange/src/wrappers.ts
  contracts/extensions/src/artifacts.ts
  contracts/extensions/src/wrappers.ts
  contracts/multisig/src/artifacts.ts
  contracts/multisig/src/wrappers.ts
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  packages/contracts-gen/src/contracts-gen.ts
Owners: none

Add @0x/types dependency
  packages/monorepo-scripts/package.json
Owners: @fabioberger

tweak dep versions
  package.json
  packages/instant/package.json
  packages/react-shared/package.json
Owners: @BMillman19, @fragosti, @steveklebanoff

fix react-highlight version
  packages/react-shared/package.json
Owners: none

Fix bug where passing in signerAddress instead of exchangeAddress
  packages/order-utils/package.json
  packages/order-utils/src/signature_utils.ts
Owners: @fabioberger, @LogvinovLeon

Write failing preSign unit test
  packages/order-utils/test/signature_utils_test.ts
Owners: @fabioberger, @LogvinovLeon

Nit fixes to pipeline README
  packages/pipeline/README.md
Owners: none

try to fix instant build
  packages/instant/package.json
Owners: @BMillman19, @fragosti, @steveklebanoff

working on big number coercion function
  packages/instant/src/index.umd.ts
  packages/instant/src/util/signed_order_coercion.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

tweak react version
  packages/instant/package.json
Owners: @BMillman19, @fragosti, @steveklebanoff

tweak react versions (instant)
  packages/instant/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

instant react versions
  packages/website/package.json
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

tweak react versions (instant)
  packages/instant/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

Fix default gas limit for fake txs in TraceCollectionSubprovider
  packages/sol-tracing-utils/src/trace_collection_subprovider.ts
Owners: none

Hook eth_sendRawTransaction in addition to eth_sendTransaction
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/trace_collection_subprovider.ts
Owners: none

Decode NULL as false
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
Owners: none

try react versions
  packages/instant/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

Add missing comma
  packages/utils/CHANGELOG.json
Owners: none

CI test for dependencies to have the same version (#1556)
  .circleci/config.yml
  package.json
  packages/0x.js/package.json
  packages/abi-gen-wrappers/package.json
  packages/abi-gen/package.json
  packages/assert/package.json
  packages/asset-buyer/package.json
  packages/base-contract/package.json
  packages/connect/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers/package.json
  packages/dev-tools-pages/package.json
  packages/dev-utils/package.json
  packages/fill-scenarios/package.json
  packages/instant/package.json
  packages/metacoin/package.json
  packages/migrations/package.json
  packages/monorepo-scripts/package.json
  packages/monorepo-scripts/src/deps_versions.ts
  packages/order-utils/package.json
  packages/order-watcher/package.json
  packages/pipeline/package.json
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-doc/package.json
  packages/sol-profiler/package.json
  packages/sol-resolver/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/sra-spec/package.json
  packages/subproviders/package.json
  packages/testnet-faucets/package.json
  packages/tslint-config/package.json
  packages/utils/package.json
  packages/web3-wrapper/package.json
  packages/website/package.json
  yarn.lock
Owners: @LogvinovLeon, @BMillman19, @fragosti, @steveklebanoff, @albrow, @fabioberger, @dekz

update error msg for dependency version check
  packages/monorepo-scripts/src/deps_versions.ts
Owners: @fabioberger

Fix heap out of memory issue
  packages/0x.js/package.json
Owners: none

Add CHANGELOG entries to sol-tracing-utils
  packages/sol-tracing-utils/CHANGELOG.json
Owners: none

Fix test
  packages/order-utils/test/signature_utils_test.ts
Owners: @fabioberger, @LogvinovLeon

Fix CHANGELOGs
  contracts/extensions/CHANGELOG.json
  contracts/multisig/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  contracts/utils/package.json
Owners: none

Add preSigned isValidSignature test for success case using smart contract & TS implementation
  packages/contract-wrappers/test/exchange_wrapper_test.ts
Owners: none

All CHANGELOG entry
  packages/order-utils/CHANGELOG.json
Owners: @fabioberger, @LogvinovLeon

Remove .only
  packages/contract-wrappers/test/exchange_wrapper_test.ts
Owners: none

Update packages/order-utils/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
Owners: @fabioberger, @LogvinovLeon

Fix contracts-utils versions
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
Owners: none

Fix dep version
  packages/order-utils/package.json
Owners: @fabioberger, @LogvinovLeon

Update ZeroExTransactionSchema
  packages/json-schemas/schemas/zero_ex_transaction_schema.json
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/test/eip712_utils_test.ts
  packages/types/src/index.ts
Owners: @fabioberger, @LogvinovLeon

Add schema validation to getOrderHashBuff
  packages/order-utils/src/order_hash.ts
Owners: @fabioberger, @LogvinovLeon
