Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contracts-utils`: Make `IOwnableV06` conform to `IOwnable`.
  contracts/utils/contracts/src/v06/interfaces/IOwnableV06.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Make `Ownable` feature conform to `IOwnable`.
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/test/TestMigrator.sol
  contracts/zero-ex/test/features/ownable_test.ts
  contracts/zero-ex/test/initial_migration_test.ts
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Redeploy sampler on kovan
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Python: adapt to latest version of pylint
  python-packages/middlewares/setup.py
  python-packages/order_utils/src/zero_ex/order_utils/asset_data_utils.py
Owners: @feuGeneA

`@0x/contracts-zero-ex`: Switch rich revert style. `@0x/contracts-zero-ex`: Merge `FixinOwnable` -> `FixinCommon`.
  contracts/zero-ex/contracts/src/features/Bootstrap.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/fixins/FixinOwnable.sol
  contracts/zero-ex/contracts/src/migrations/LibBootstrap.sol
  contracts/zero-ex/contracts/src/migrations/LibMigrate.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Lock the caller of `InitialMigration.deploy()` and actually self-destruct.
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/test/initial_migration_test.ts
  contracts/zero-ex/test/utils/migration.ts
Owners: @abandeali1, @hysz

asset-s: relay expiration time in indicative quote
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/QuoteRequestor: use constructor assignment
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-wrappers-test`: Increase test timeout for CI
  packages/contract-wrappers-test/package.json
Owners: none

asset-s: RFQT info logger; log maker response time
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: skip RFQT makers not supporting reqd pair
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: Fix prettier command to match monorepo's
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

asset-s: allow disabling of buy req's for RFQ-T
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: don't ignore default SwapQuoter RFQT opts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: exclude RFQ-T orders w/ bad takerAddress
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: Use expiryBufferMs to filter RFQ-T quotes
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Ran prettier
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/QuoteRequestor: info log Objects, not strs
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: ERC20BridgeSampler Unlock Kyber collisions
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IKyberNetworkContract.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Updated fallback strategy
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: ERC20BridgeSampler Eth2Dai hops
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

SECURITY.md
  SECURITY.md
Owners: none

asset-s: fix bug: expiry is BigNumber, not string
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: simplify test util usage
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: check RFQ expiry more canonically
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: ignore case verifying RFQT taker address
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/test: stop unnecessarily priming mock
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: fix bug handling RFQ-T skipBuyRequest
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Address comments
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IKyberNetwork.sol
  contracts/erc20-bridge-sampler/contracts/src/IKyberNetworkProxy.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Eth2Dai hop sampler
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
Owners: @abandeali1

asset-s: restore type safety to rfqt.skipBuyReq's
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/RFQT: log each maker resp. time, not agg.
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: clarify comment
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Set DFB expiry to 2hr
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: ERC20BridgeSampler Unlock Kyber collisions (#2575)
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IKyberNetworkProxy.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Ran prettier...on `development` code! wtf?
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

Don't allow new 1155 token creation with a type that already exists
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/src/erc1155_wrapper.ts
  contracts/erc1155/test/erc1155_token.ts
  packages/types/src/index.ts
Owners: @abandeali1, @hysz

`@0x/zero-ex`: Always offset storage bucket ID by 1.
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
Owners: @abandeali1, @hysz

`@0x/zero-ex`: Always offset storage bucket ID by 1. (#2579)
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
Owners: @abandeali1, @hysz
