Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

Fix type bug around Radar response
  packages/pipeline/src/data_sources/radar/index.ts
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

Rename migration to what it is called on prod and qa
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Fix linting errors
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/address_table_row.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/preference_selecter.tsx
  packages/website/ts/pages/governance/rating_bar.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix countdown
  packages/website/ts/pages/governance/countdown.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix countdown and format in locale aware date
  packages/website/ts/pages/governance/countdown.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Format more links
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Tweak tabel formating of addres table
  packages/website/ts/pages/governance/address_table_row.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

added polish to copy and mobile bugs
  packages/website/ts/components/centeredDefinition.tsx
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/pages/credits.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

fixed code styling
  packages/website/ts/components/centeredDefinition.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/pages/credits.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

changes to spacing
  packages/website/ts/components/centeredDefinition.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/credits.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add parsing radar order test
  packages/pipeline/src/data_sources/radar/index.ts
  packages/pipeline/test/data_sources/radar/index_test.ts
Owners: none

Temp relative resolver
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-resolver/src/resolvers/fallthrough_resolver.ts
  packages/sol-resolver/src/resolvers/npm_resolver.ts
  packages/sol-resolver/src/resolvers/resolver.ts
  packages/sol-resolver/src/resolvers/spy_resolver.ts
Owners: @LogvinovLeon

Add WS endpoint to devnode
  packages/devnet/Dockerfile
  packages/devnet/README.md
  packages/devnet/run.sh
Owners: @albrow

Update README for devnet
  packages/devnet/README.md
Owners: @albrow

fix for credit lead form data
  packages/website/ts/components/modals/modal_contact.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

fix null column constraint issue
  packages/pipeline/src/parsers/ddex_orders/index.ts
  packages/pipeline/src/parsers/idex_orders/index.ts
  packages/pipeline/src/parsers/oasis_orders/index.ts
  packages/pipeline/src/parsers/paradex_orders/index.ts
Owners: none

Rename table to nonfungible_dot_com_trades
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

rename parser module to nonfungible_dot_com
  packages/pipeline/src/parsers/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

correct mistaken reference to Bloxy
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

`new Object()` -> `{}`
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
Owners: none

rename NonfungibleDotComTrade to ...TradeResponse
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/parsers/nonfungible_dot_com/index.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

`NftTrade` -> `NonfungibleDotComTrade`
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

rename files to match prior object renaming
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/nonfungible_dot_com_trade.ts
  packages/pipeline/src/scripts/pull_nonfungible_dot_com_trades.ts
Owners: none

Remove web3 types
  packages/website/package.json
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove Kovan prefix
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add suffix to const name
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Cleanup
  packages/website/ts/pages/governance/countdown.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix no tally to prevent rounding
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Import SignatureType from @0x/types
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update proposal title
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update copy
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add default color to icons
  packages/website/ts/components/icon.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add error modal
  packages/website/ts/icons/illustrations/help.svg
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/error_modal.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update tally when user votes
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fallback from EIP712 when signing
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Prevent overflowing content on error modal
  packages/website/ts/pages/governance/error_modal.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix linting errors
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

added announcement component
  packages/website/ts/components/announcement.tsx
  packages/website/ts/components/hero.tsx
  packages/website/ts/components/sections/landing/hero.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

use fetchAsync instead of axios
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/utils/index.ts
Owners: none

improve fetchAsync error message: include URL
  packages/pipeline/src/utils/index.ts
Owners: none
