Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Update README.md
  packages/devnet/README.md
Owners: @albrow

Fix a PR number
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

Show greater than less than when minority has a vote
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix remaining Provider to SupportedProvider type
  packages/base-contract/src/index.ts
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/utils/assert.ts
  packages/ethereum-types/src/index.ts
  packages/fill-scenarios/src/fill_scenarios.ts
  packages/instant/src/types.ts
  packages/instant/src/util/asset_buyer_factory.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/order-utils/src/order_factory.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-watcher/src/order_watcher/event_watcher.ts
  packages/order-watcher/src/order_watcher/order_watcher.ts
  packages/order-watcher/src/order_watcher/order_watcher_web_socket_server.ts
  packages/subproviders/src/subproviders/signer.ts
  packages/website/ts/blockchain.ts
Owners: @LogvinovLeon, @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @dekz

Fix comments
  packages/asset-buyer/src/asset_buyer.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

Put all Web3.js provider interfaces next to eachother
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Fix comments
  packages/order-utils/src/order_validation_utils.ts
  packages/subproviders/src/subproviders/metamask_subprovider.ts
  packages/subproviders/src/subproviders/signer.ts
Owners: @fabioberger, @LogvinovLeon, @dekz

Moved calculateSlippage from parsers to transformers
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/src/transformers/slippage/index.ts
  packages/pipeline/test/transformers/slippage/index_test.ts
Owners: none

Add parser test for Radar orderbook parsing
  packages/pipeline/test/parsers/ddex_orders/index_test.ts
  packages/pipeline/test/parsers/idex_orders/index_test.ts
  packages/pipeline/test/parsers/oasis_orders/index_test.ts
  packages/pipeline/test/parsers/paradex_orders/index_test.ts
  packages/pipeline/test/parsers/radar_orders/index_test.ts
Owners: none

Add radar_orders parseRadarOrder test
  packages/pipeline/test/parsers/radar_orders/index_test.ts
Owners: none

Change optional text props to mandatory in LedgerSignNote
  packages/website/ts/pages/governance/ledger_sign_note.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Integrate one-time dump and API for nonfungible.com (#1603)
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/nonfungible_dot_com_trade.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nonfungible_dot_com_trades.ts
  packages/pipeline/src/utils/index.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

added metadata for pages (incomplete)
  packages/website/ts/document_meta_constants.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add back support for Web3@1.0-beta-37 and below
  packages/utils/src/provider_utils.ts
Owners: none

Prettier fixes
  contracts/asset-proxy/test/utils/erc721_wrapper.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  packages/asset-buyer/src/asset_buyer.ts
  packages/contract-wrappers/src/utils/assert.ts
  packages/migrations/src/migration.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-watcher/src/order_watcher/order_watcher.ts
  packages/order-watcher/src/utils/assert.ts
  packages/website/ts/blockchain.ts
Owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon

Fix linter issues
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/fill-scenarios/src/fill_scenarios.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/util/provider_factory.ts
  packages/order-utils/src/signature_utils.ts
  packages/utils/src/provider_utils.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon

Fix website build
  packages/website/ts/pages/governance/connect_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update CHANGELOGs
  packages/0x.js/CHANGELOG.json
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/asset-buyer/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/connect/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/ethereum-types/CHANGELOG.json
  packages/fill-scenarios/CHANGELOG.json
  packages/instant/CHANGELOG.json
  packages/migrations/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
  packages/order-watcher/CHANGELOG.json
  packages/subproviders/CHANGELOG.json
  packages/typescript-typings/CHANGELOG.json
  packages/utils/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger, @dekz

Improve commenty
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Standardize web3-provider-engine deps
  packages/order-utils/package.json
  packages/sol-compiler/package.json
Owners: @fabioberger, @LogvinovLeon

Standardize bowser deps
  packages/dev-tools-pages/package.json
  packages/website/package.json
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add type import
  packages/typescript-typings/types/ganache-core/index.d.ts
Owners: none

Add missing exported types
  packages/0x.js/src/index.ts
  packages/contract-wrappers/src/index.ts
  packages/subproviders/src/index.ts
  packages/web3-wrapper/src/index.ts
Owners: @fabioberger, @dekz, @LogvinovLeon

Add new 404 page
  packages/website/ts/components/siteWrap.tsx
  packages/website/ts/pages/fullscreen_message.tsx
  packages/website/ts/pages/not_found.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Throw error if cannot find error in table
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Fix marquee typo
  packages/pipeline/src/parsers/ddex_orders/index.ts
  packages/pipeline/src/parsers/idex_orders/index.ts
  packages/pipeline/src/parsers/oasis_orders/index.ts
  packages/pipeline/src/parsers/paradex_orders/index.ts
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

Fix doc gen
  packages/asset-buyer/src/index.ts
  packages/migrations/package.json
  packages/migrations/src/index.ts
  packages/order-utils/src/index.ts
  packages/order-watcher/src/index.ts
  packages/sol-coverage/package.json
  packages/sol-coverage/src/index.ts
  packages/sol-profiler/package.json
  packages/sol-profiler/src/index.ts
  packages/sol-trace/package.json
  packages/sol-trace/src/index.ts
  packages/typescript-typings/types/ganache-core/index.d.ts
Owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon

Factor out redundant source param in parse order functions
  packages/pipeline/src/parsers/ddex_orders/index.ts
  packages/pipeline/src/parsers/idex_orders/index.ts
  packages/pipeline/src/parsers/oasis_orders/index.ts
  packages/pipeline/src/parsers/paradex_orders/index.ts
  packages/pipeline/src/parsers/radar_orders/index.ts
  packages/pipeline/src/scripts/pull_ddex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_idex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_oasis_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_paradex_orderbook_snapshots.ts
  packages/pipeline/src/scripts/pull_radar_orderbook_snapshots.ts
  packages/pipeline/test/data_sources/radar/index_test.ts
  packages/pipeline/test/parsers/ddex_orders/index_test.ts
  packages/pipeline/test/parsers/idex_orders/index_test.ts
  packages/pipeline/test/parsers/oasis_orders/index_test.ts
  packages/pipeline/test/parsers/paradex_orders/index_test.ts
  packages/pipeline/test/parsers/radar_orders/index_test.ts
Owners: none

Fix yarn.lock
  yarn.lock
Owners: none

Fix types so docs render
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Fix inconsistently named constraint
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Remove comments
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Give the constraint an explicit name of token_orderbook_snapshots_pkey
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Add constraint name to down phase as well
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
Owners: none

Add back test
  packages/assert/test/assert_test.ts
Owners: none

Make deprecation notice a warning message if used
  packages/assert/src/index.ts
Owners: none

Major version bump packages with modified exported type definitions
  packages/0x.js/CHANGELOG.json
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/asset-buyer/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/connect/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/fill-scenarios/CHANGELOG.json
  packages/instant/CHANGELOG.json
  packages/migrations/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
  packages/order-watcher/CHANGELOG.json
  packages/subproviders/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger, @dekz

updated documentTitle component
  packages/website/ts/components/documentTitle.tsx
  packages/website/ts/components/document_title.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/document_meta_constants.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/pages/documentation/developers_page.tsx
  packages/website/ts/pages/ecosystem.tsx
  packages/website/ts/pages/faq/faq.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/instant.tsx
  packages/website/ts/pages/landing.tsx
  packages/website/ts/pages/launch_kit.tsx
  packages/website/ts/pages/market_maker.tsx
  packages/website/ts/pages/vote_placeholder.tsx
  packages/website/ts/pages/why.tsx
  packages/website/ts/utils/document_meta_constants.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

fixed linting issue
  packages/website/ts/pages/documentation/developers_page.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add extensions page
  packages/website/ts/components/card.tsx
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/types.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
