Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

update ganache contract addresses
  packages/asset-swapper/src/index.ts
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

update ganache contract addresses
  packages/asset-swapper/src/index.ts
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

`@0x/utils`: Add support for nested rich revert decoding
  packages/utils/src/revert_error.ts
  packages/utils/test/revert_error_test.ts
Owners: @hysz

`@0x/order-utils`: Add `findTransformerNonce()` and `getTransformerAddress()` functions.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/index.ts
  packages/order-utils/src/transformer_utils.ts
Owners: @fabioberger, @LogvinovLeon

fix: asset-swapper prevent empty sampler batch call
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

add sampler to migrations
  packages/migrations/package.json
Owners: none

change migrations version
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

Use contract-wrappers and artifacts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/src/index.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/package.json
  packages/migrations/src/migration.ts
Owners: @abandeali1

remove extra data
  packages/asset-swapper/src/index.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

remove deps, set sampler to NULL_ADDRESS
  packages/asset-swapper/src/index.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/src/index.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/package.json
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

all the exports
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/contracts.ts
  packages/asset-swapper/src/index.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/json-schemas`: Add `exchangeProxyMetaTransactionSchema`.
  packages/json-schemas/CHANGELOG.json
  packages/json-schemas/schemas/exchange_proxy_meta_transaction_schema.json
  packages/json-schemas/src/schemas.ts
  packages/json-schemas/tsconfig.json
Owners: none

Appease CI
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/signature_validator.ts
  contracts/exchange/test/transactions_unit_tests.ts
  contracts/integrations/test/exchange/core_test.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
  contracts/integrations/test/exchange/transaction_protocol_fee_test.ts
  contracts/integrations/test/exchange/transaction_test.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/ownable_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/flash_wallet_test.ts
Owners: @abandeali1, @hysz

Update changelog
  packages/utils/CHANGELOG.json
Owners: @hysz

`@0x/asset-swaper`: Use transformer utils from `@0x/order-utils`.
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/zero-ex`: Address CD post-audit feedback. Add `LogMetadataTransformer`.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/Bootstrap.sol
  contracts/zero-ex/contracts/src/features/MetaTransactions.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SignatureValidator.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/features/TokenSpender.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/transformers/AffiliateFeeTransformer.sol
  contracts/zero-ex/contracts/src/transformers/LogMetadataTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add EP mtx tests.
  contracts/integrations/package.json
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Fix EP signature utils schema assertion.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/signature_utils.ts
Owners: @fabioberger, @LogvinovLeon

noop sell rate too
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper empty batch call (#2669)
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/src/contracts.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-addresses/addresses.json
  packages/contract-wrappers/src/index.ts
  packages/migrations/package.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

update ganache contract addresses
  packages/asset-swapper/src/contracts.ts
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

minor nits
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/test/bancor_bridge.ts
Owners: @abandeali1, @hysz

`@0x/migrations`: Update EP migration
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: none

`@0x/asset-swapper`: Use `IZeroExContract` in EP swap quote consumer.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

fixes after simbotting
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

disable bancor while waiting for bancor SDK update
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

add bancor to test
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper sampler early exit
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MultiBridgeSampler.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: add primitive profiling output
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/profiler.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Add MythX config yml and CI entry
  .circleci/config.yml
  .mythx.yml
Owners: @LogvinovLeon

Feat/bancor v2 (#2650)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IBancorNetwork.sol
  contracts/asset-proxy/contracts/test/TestBancorBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/bancor_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  package.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  yarn.lock
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

feat: asset-swapper sampler early exit
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MultiBridgeSampler.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

feat: asset-swapper mooniswap
  contracts/asset-proxy/contracts/src/bridges/MooniswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IMooniswap.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/IMooniswap.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

tests and linter
  contracts/asset-proxy/contracts/src/bridges/MooniswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IMooniswap.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

deploy to mainnet
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/contract-addresses/addresses.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

CHANGELOGs
  contracts/asset-proxy/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

ADDS `eslint-config` with auto generated eslint rules from tslint rules
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/.npmignore
  packages/eslint-config/CHANGELOG.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/rules/asyncSuffixRule.ts
  packages/eslint-config/rules/booleanNamingRule.ts
  packages/eslint-config/rules/customNoMagicNumbersRule.ts
  packages/eslint-config/rules/enumNamingRule.ts
  packages/eslint-config/rules/noLodashIsnullRule.ts
  packages/eslint-config/rules/noLodashIsundefinedRule.ts
  packages/eslint-config/rules/underscorePrivateAndProtectedRule.ts
  packages/eslint-config/rules/walkers/async_suffix.ts
  packages/eslint-config/test/enumNamingSpec.spec.ts
  packages/eslint-config/test/lintrunner.ts
  packages/eslint-config/test/noLodashIsundefined.spec.ts
  packages/eslint-config/tsconfig.json
Owners: none

fix excluded sources difference
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

typo
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper mooniswap (#2675)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/MooniswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IMooniswap.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/IMooniswap.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/MultiBridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506
