Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @dorothy-zbornak, @abandeali1, @hysz, @mzhu25

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @dorothy-zbornak
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/order-utils/ @dorothy-zbornak 

# Protocol/smart contracts
contracts/ @abandeali1 @hysz @dorothy-zbornak @mzhu25

benchmarks and example code
  contracts/zero-ex/contracts/src/AssemblyZeroEx.sol
  contracts/zero-ex/contracts/test/BenchmarkSimpleFunctionRegistryFeature.sol
  contracts/zero-ex/contracts/test/IBenchmarkSimpleFunctionRegistryFeature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/benchmark_registry.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Reduce solidity compiler optimizer runs...
  packages/asset-swapper/compiler.json
Owners: @BMillman19, @fragosti, @dave4506

fix: Fee sources and Ganache existence
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Added excludedFeeSources
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

Comments and CHANGELOG
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: DODO Trade Allowed
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOSampler.sol
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: DODO Trade Allowed (#2732)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOSampler.sol
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Deployed CreamBridge, refactor to simplify code
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

fix: [asset-swapper] excludedFeeSources. DODO Trade Allowed (#2731)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Fix type error in migrations
  packages/migrations/src/migration.ts
Owners: none

Prettier, cleared up naming
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

Support solidity v0.7.x
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/solc_wrapper_v07.ts
  packages/sol-compiler/test/compiler_test.ts
  packages/sol-compiler/test/fixtures/contracts/V7Contract.sol
  packages/sol-compiler/test/fixtures/v7_contract_bin.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

apply PR feedback
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

cheap lint fix
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

fix sol-compiler linter error pin `@types/node` to appease publish job
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/abi-gen/package.json
  packages/asset-swapper/package.json
  packages/contracts-gen/package.json
  packages/ethereum-types/package.json
  packages/instant/package.json
  packages/json-schemas/package.json
  packages/monorepo-scripts/package.json
  packages/order-utils/package.json
  packages/sol-compiler/test/compiler_test.ts
  packages/sol-coverage/package.json
  packages/sol-profiler/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
  packages/sra-spec/package.json
  packages/subproviders/package.json
  packages/types/package.json
  packages/utils/package.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

`@0x/sol-compiler`: fix build error with new node types
  packages/sol-compiler/src/utils/compiler.ts
Owners: none

`@0x.js`: add pinned node types to 0x.js
  packages/0x.js/package.json
Owners: none

`@0x/sol-compiler`: Update changelog
  packages/sol-compiler/CHANGELOG.json
Owners: none

Add LibTokenSpender and convert to using that
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/features/TransformERC20Feature.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestLibTokenSpender.sol
  contracts/zero-ex/contracts/test/TestTokenSpenderERC20Token.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/lib_token_spender_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

disallow invoking self from LibTokenSpender
  contracts/zero-ex/contracts/src/errors/LibSpenderRichErrors.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/test/lib_token_spender_test.ts
  packages/utils/src/revert_errors/zero-ex/spender_revert_errors.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

switch UniswapFeature to mimic LibTokenSpender
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

use non-rich revert for error when invoking self
  contracts/zero-ex/contracts/src/errors/LibSpenderRichErrors.sol
  contracts/zero-ex/contracts/src/features/libs/LibTokenSpender.sol
  contracts/zero-ex/test/lib_token_spender_test.ts
  packages/utils/src/revert_errors/zero-ex/spender_revert_errors.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

fix: add _target comment for Swerve pool
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: use pool attribute instead of curve for all Curve like pools
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: SnowSwap
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: fix CURVE_CALL_GAS and SnowSwap pool addresses
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

feat: adjusting CURVE_CALL_GAS for SnowSwap, disabling yVaultUSDUnderlying pool for underlying tokens
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

feat: adding yVaultUSDUnderlying
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: prettier
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Add changes for the feature flag
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

comments and renaming
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

small lint fix
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Refactor excess interfaces
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IMooniswap.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Compiles on 0.6
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/CurveSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/MultiBridgeSampler.sol
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/contracts/src/SamplerUtils.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SushiSwapSampler.sol
  packages/asset-swapper/contracts/src/TwoHopSampler.sol
  packages/asset-swapper/contracts/src/UniswapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
  packages/asset-swapper/contracts/src/interfaces/IBalancer.sol
  packages/asset-swapper/contracts/src/interfaces/ICurve.sol
  packages/asset-swapper/contracts/src/interfaces/IEth2Dai.sol
  packages/asset-swapper/contracts/src/interfaces/IKyberNetwork.sol
  packages/asset-swapper/contracts/src/interfaces/ILiquidityProvider.sol
  packages/asset-swapper/contracts/src/interfaces/ILiquidityProviderRegistry.sol
  packages/asset-swapper/contracts/src/interfaces/IMStable.sol
  packages/asset-swapper/contracts/src/interfaces/IMooniswap.sol
  packages/asset-swapper/contracts/src/interfaces/IMultiBridge.sol
  packages/asset-swapper/contracts/src/interfaces/IShell.sol
  packages/asset-swapper/contracts/src/interfaces/IUniswapExchangeQuotes.sol
  packages/asset-swapper/contracts/src/interfaces/IUniswapV2Router01.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProvider.sol
  packages/asset-swapper/contracts/test/DummyLiquidityProviderRegistry.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25, @BMillman19, @fragosti, @dave4506

add protocol fee mixin
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/fixins/FixinProtocolFees.sol
  contracts/zero-ex/contracts/test/TestProtocolFees.sol
  contracts/zero-ex/contracts/test/TestStaking.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/protocol_fees_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

Refactored into try/catch
  packages/asset-swapper/contracts/src/BalancerSampler.sol
  packages/asset-swapper/contracts/src/DODOSampler.sol
  packages/asset-swapper/contracts/src/Eth2DaiSampler.sol
  packages/asset-swapper/contracts/src/KyberSampler.sol
  packages/asset-swapper/contracts/src/LiquidityProviderSampler.sol
  packages/asset-swapper/contracts/src/MStableSampler.sol
  packages/asset-swapper/contracts/src/MooniswapSampler.sol
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/SushiSwapSampler.sol
  packages/asset-swapper/contracts/src/UniswapV2Sampler.sol
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

minimal IStaking.sol
  contracts/zero-ex/contracts/src/external/FeeCollector.sol
  contracts/zero-ex/contracts/src/vendor/v3/IStaking.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz, @dorothy-zbornak, @mzhu25

add updated changelog for sol-compiler
  packages/sol-compiler/CHANGELOG.json
Owners: none

Ran prettier
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506
