Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Updated contracts-tec to contracts-coordinator in package.json
  package.json
Owners: none

More tec -> coordinator changes
  .circleci/config.yml
  contracts/coordinator/CHANGELOG.md
Owners: @LogvinovLeon

Updated coordinator name in package.json
  contracts/coordinator/package.json
Owners: none

Optimize transaction hashing
  contracts/coordinator/contracts/src/libs/LibZeroExTransaction.sol
Owners: none

Optimize approval hashing
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/contracts/src/libs/LibZeroExTransaction.sol
Owners: none

Add txOrigin to approvals
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/MixinCoordinatorCore.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorApprovalVerifier.sol
  contracts/coordinator/contracts/src/interfaces/ICoordinatorCore.sol
  contracts/coordinator/contracts/src/libs/LibCoordinatorApproval.sol
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
  contracts/coordinator/test/utils/approval_factory.ts
  contracts/coordinator/test/utils/constants.ts
  contracts/coordinator/test/utils/hash_utils.ts
  contracts/coordinator/test/utils/types.ts
Owners: none

Optimize for loops in LibAddressArray
  contracts/utils/contracts/src/LibAddressArray.sol
Owners: none

Use != instead of < in loops
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
Owners: none

Update yarn.lock
  yarn.lock
Owners: none

add svg file for ethfinex
  packages/website/public/images/clients/ethfinex.svg
  packages/website/ts/components/sections/landing/clients.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

linted + prettier
  contracts/extensions/CHANGELOG.json
Owners: none

Coordinator Registry + tests
  contracts/coordinator/compiler.json
  contracts/coordinator/contracts/src/registry/CoordinatorRegistry.sol
  contracts/coordinator/contracts/src/registry/MixinCoordinatorRegistryCore.sol
  contracts/coordinator/contracts/src/registry/interfaces/ICoordinatorRegistryCore.sol
  contracts/coordinator/package.json
  contracts/coordinator/src/artifacts.ts
  contracts/coordinator/src/wrappers.ts
  contracts/coordinator/test/coordinator_registry.ts
  contracts/coordinator/test/utils/coordinator_registry_wrapper.ts
  contracts/coordinator/tsconfig.json
Owners: none

fixed row issues
  packages/website/ts/components/sections/landing/clients.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Change InvalidSender err to invalidOrigin
  contracts/coordinator/contracts/src/MixinCoordinatorApprovalVerifier.sol
  contracts/coordinator/test/coordinator.ts
  contracts/coordinator/test/mixins.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
