Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Allow custom domains in eip712Utils
  packages/order-utils/src/constants.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_hash.ts
  packages/order-utils/test/eip712_utils_test.ts
  packages/types/src/index.ts
Owners: @fabioberger, @LogvinovLeon

Use new transaction schema throughout monorepo
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/exchange_wrapper.ts
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/transaction_factory.ts
  contracts/test-utils/src/types.ts
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/order-utils/test/transaction_hash_test.ts
Owners: @fabioberger, @LogvinovLeon

Add transaction hash utils
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/transaction_hash.ts
  packages/order-utils/test/transaction_hash_test.ts
Owners: @fabioberger, @LogvinovLeon

Update CHANGELOGs
  contracts/test-utils/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/json-schemas/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
  packages/types/CHANGELOG.json
Owners: @fabioberger, @LogvinovLeon

Rename getTransactionHex to getTransactionHashHex for clarity
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/transaction_encoder_test.ts
Owners: none

Update python JSON schema for 0x transactions
  python-packages/json_schemas/src/zero_ex/json_schemas/schemas/zero_ex_transaction_schema.json
Owners: @feuGeneA

Fix outdated comments and make verifyingContractAddress a required part of the 0x tx schema
  packages/json-schemas/schemas/zero_ex_transaction_schema.json
  packages/order-utils/src/order_hash.ts
  packages/order-utils/test/order_hash_test.ts
Owners: @fabioberger, @LogvinovLeon

Add Heap and Google analytics to Dev Tools Pages
  packages/dev-tools-pages/assets/index.html
  packages/dev-tools-pages/pages.js
Owners: none

added coercion util functions
  packages/instant/src/index.umd.ts
  packages/instant/src/util/maybe_big_number.ts
  packages/instant/src/util/signed_order_coercion.ts
  packages/instant/test/util/dependencies/prevbignumber.d.ts
  packages/instant/test/util/dependencies/prevbignumber.js
  packages/instant/test/util/maybe_big_number.test.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

Handle NULL input for all data types
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/abstract_data_types/types/set.ts
  packages/utils/src/abi_encoder/calldata/raw_calldata.ts
  packages/utils/src/abi_encoder/evm_data_types/address.ts
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/src/abi_encoder/evm_data_types/dynamic_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/int.ts
  packages/utils/src/abi_encoder/evm_data_types/pointer.ts
  packages/utils/src/abi_encoder/evm_data_types/static_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/string.ts
  packages/utils/src/abi_encoder/evm_data_types/uint.ts
  packages/utils/src/abi_encoder/utils/constants.ts
Owners: none

Test cases for handling NULL input for all data types
  packages/utils/src/abi_encoder/utils/constants.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
Owners: none

Ran prettier + linter
  packages/utils/src/abi_encoder/abstract_data_types/data_type.ts
  packages/utils/src/abi_encoder/evm_data_types/bool.ts
  packages/utils/src/abi_encoder/evm_data_types/dynamic_bytes.ts
  packages/utils/src/abi_encoder/evm_data_types/int.ts
  packages/utils/src/abi_encoder/evm_data_types/string.ts
  packages/utils/src/abi_encoder/evm_data_types/uint.ts
  packages/utils/src/abi_encoder/utils/constants.ts
Owners: none

updated changelog for utils
  packages/utils/CHANGELOG.json
Owners: none

Added NULL decoding tests for return values
  packages/utils/test/abi_encoder/abi_samples/return_value_abis.ts
  packages/utils/test/abi_encoder/return_values_test.ts
Owners: none

Simplified the signature parser. It now uses a parse tree. Added several test cases.
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/signature_test.ts
  packages/utils/test/abi_encoder/signature_tests.ts
Owners: none

Ran prettier + linter
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/signature_test.ts
Owners: none

Better documentation for create functions
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/signature_test.ts
Owners: none

allow for names; enhances debugging
  packages/utils/src/abi_encoder/utils/signature_parser.ts
Owners: none

Fix react-highlight dep
  packages/react-shared/package.json
Owners: none

Fix react-highlight dep
  packages/react-shared/package.json
  yarn.lock
Owners: none

Fix paragraph rendering on wiki
  packages/react-shared/src/components/markdown_paragraph_block.tsx
  packages/website/less/all.less
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

allow for names; enhances debugging
  packages/utils/src/abi_encoder/utils/signature_parser.ts
Owners: none

Ran prettier + linter
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/signature_test.ts
Owners: none

Simplified the signature parser. It now uses a parse tree. Added several test cases.
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/signature_test.ts
  packages/utils/test/abi_encoder/signature_tests.ts
Owners: none

Better documentation for create functions
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/signature_test.ts
Owners: none

updated changelog
  packages/utils/CHANGELOG.json
Owners: none

Add migration to fix exchange events primary key
  packages/pipeline/migrations/1549479172800-AddTxHashToExchangeEventPrimaryKey.ts
  packages/pipeline/src/entities/exchange_cancel_event.ts
  packages/pipeline/src/entities/exchange_cancel_up_to_event.ts
  packages/pipeline/src/entities/exchange_fill_event.ts
  packages/pipeline/src/scripts/pull_exchange_events.ts
Owners: none

correct comment: "foreign key" -> "primary key"
  packages/pipeline/src/scripts/pull_exchange_events.ts
Owners: none

Refine hack to handle only the expected error
  packages/pipeline/src/scripts/pull_exchange_events.ts
Owners: none

Add CHANGELOG entry about faux publish of contract packages
  contracts/asset-proxy/CHANGELOG.json
  contracts/erc20/CHANGELOG.json
  contracts/erc721/CHANGELOG.json
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange/CHANGELOG.json
  contracts/extensions/CHANGELOG.json
  contracts/multisig/CHANGELOG.json
  contracts/test-utils/CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: none

Stop exporting EIP712 schemas
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/test/eip712_utils_test.ts
Owners: @fabioberger, @LogvinovLeon

Publish
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/asset-buyer/package.json
  packages/connect/package.json
  packages/contract-wrappers/package.json
  packages/dev-tools-pages/package.json
  packages/fill-scenarios/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/monorepo-scripts/package.json
  packages/order-utils/package.json
  packages/order-watcher/package.json
  packages/pipeline/package.json
  packages/react-docs/package.json
  packages/react-shared/package.json
  packages/testnet-faucets/package.json
  packages/website/package.json
Owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon

Add tx hash to erc20 approval events primary key
  packages/pipeline/migrations/1549499426238-AddTxHashToERC20ApprovalEventPrimaryKey.ts
  packages/pipeline/src/entities/erc20_approval_event.ts
Owners: none

Lock dep versions in contracts packages
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
Owners: none

Fix linter issues
  packages/monorepo-scripts/src/deps_versions.ts
  packages/monorepo-scripts/src/publish.ts
Owners: @fabioberger

Fix deps versions
  contracts/asset-proxy/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/multisig/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  package.json
  packages/contracts-gen/package.json
  packages/pipeline/package.json
  packages/website/package.json
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

re-add postinstall hack
  package.json
  yarn.lock
Owners: none

Fix sol-compiler bug with remappings causing smart recompilation to now work
  package.json
  packages/metacoin/package.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
Owners: @LogvinovLeon

Fix the undefined opts bug
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

Remove postinstall hack
  package.json
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
