Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Mark as external for try/catch
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

documentation via comments
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

more comments and track limited amount of sorted orders
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

export all needed items and mark Exclude as external
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/monorepo-scripts/src/doc_gen_configs.ts
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger

add documentation
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

change BNs to strings
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

another comment
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

remove BigNumbers from expectedParams
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

remove legacy taker request
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix typo
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

Initial tests
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

discuss: Continue if protocol fee insufficient
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Expose migration tools.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/zero_ex_test.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/package.json
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Update ganache snapshot Exchange Proxy addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/migrations`: Add Exchange Proxy migration
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/migrations/test/snapshot_addresses_test.ts
Owners: none

reassign with concat instead of pushing
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

use ERC20BridgeSource.Native for native orders
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

get rid of omit
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

dont export nativeorderorigin
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

pathGenerated -> sourcesDelivered
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

Add Exchange Proxy to Ganache snapshot (#2612)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/features/simple_function_registry_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/zero_ex_test.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/CHANGELOG.json
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/migrations/test/snapshot_addresses_test.ts
Owners: @abandeali1, @hysz

Mark as external for try/catch
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

Detect Bridge orders and fill direct
  contracts/zero-ex/contracts/src/transformers/FillOrdersTransformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IERC20Bridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

discuss: Continue if protocol fee insufficient
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz

Initial tests
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

Python/contract_wrappers: publish latest addresses
  python-packages/contract_addresses/CHANGELOG.md
  python-packages/contract_addresses/README.md
  python-packages/contract_addresses/setup.py
Owners: @feuGeneA

Emit ProtocolFeeUnfunded
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

fix: asset-swapper EthGasStation proxy url
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix best/worst case asset amount calculations.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper EthGasStation proxy url (#2614)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix best/worst case asset amount calculations. (#2615)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper order-utils version
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper specify ethgasstation url as option
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

default to real EGS
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: bad package.json
  packages/0x.js/package.json
  packages/contract-wrappers-test/package.json
  packages/orderbook/package.json
Owners: none

fix: asset-swapper ethgasstation url option (#2617)
  packages/0x.js/package.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/contract-wrappers-test/package.json
  packages/orderbook/package.json
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper singleton gas price oracle
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper singleton gas price oracle (#2619)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: "Fix" forwarder buys of low decimal tokens.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: "Fix" forwarder buys of low decimal tokens. (#2618)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506
