Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

case agnostic rfqt maker asset lookup
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: Deploy UniswapV2 Bridge on Kovan
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

CHANGELOG
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

fix: Deploy UniswapV2 Bridge on Kovan (#2652)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

fix: asset-swapper source collapse regression
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper source collapse regression (#2654)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Redeploy/verify testnet contracts :roll_eyes:
  contracts/asset-proxy/src/index.ts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

Update changelogs
  contracts/asset-proxy/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz

appease CI
  packages/asset-swapper/test/swap_quote_consumer_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix optimization of buy paths
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

experiments
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Add affiliate fee support to EP swap quote consumer
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
  packages/order-utils/src/transformer_data_encoders.ts
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

update changelogs
  packages/asset-swapper/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

`@0x/asset-swapper`: Fix optimization of buy paths
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Remove unused `Fill` fields
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Optimize the optimizer.
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix optimization of buy paths
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Remove bugged parity signature compatibility.
  contracts/zero-ex/contracts/src/features/SignatureValidator.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix rebase conflicts
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Fix optimization of buy paths (#2655)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper depth buy scale
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper depth buy scale (#2659)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper use ethToInputRate when ethToOutputRate is unavailable
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper use ethToInputRate when ethToOutputRate is unavailable (#2660)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

added keepAlive
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed class instantiation issue
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed tests
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

export axios
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed small test bug
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

update balancer to 0.3.2
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

added balancer packages
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Revert "added balancer packages"
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

updates balancer pinns to 0.3.2
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

added httpAgent and httpsAgent timeouts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: Optimize Bridges in ExchangeProxy
  contracts/zero-ex/contracts/src/bridges/BalancerBridge.sol
  contracts/zero-ex/contracts/src/bridges/CurveBridge.sol
  contracts/zero-ex/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/zero-ex/contracts/src/bridges/KyberBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapV2Bridge.sol
Owners: @abandeali1, @hysz

compile and most work
  contracts/zero-ex/contracts/src/bridges/BalancerBridge.sol
  contracts/zero-ex/contracts/src/bridges/CurveBridge.sol
  contracts/zero-ex/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/zero-ex/contracts/src/bridges/KyberBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

work around to trust the delecall contract
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

Remove memory state where not required
  contracts/zero-ex/contracts/src/bridges/KyberBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapV2Bridge.sol
Owners: @abandeali1, @hysz

Combine Bridges into one adapter
  contracts/zero-ex/contracts/src/bridges/BalancerBridge.sol
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/CurveBridge.sol
  contracts/zero-ex/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/zero-ex/contracts/src/bridges/KyberBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

cleanup
  contracts/zero-ex/contracts/src/bridges/CurveBridge.sol
  contracts/zero-ex/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/zero-ex/contracts/src/bridges/UniswapV2Bridge.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz
