Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

upgrades contracts-erc20-bridge-sampler dependency
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

Address comments
  contracts/extensions/contracts/src/MaximumGasPrice.sol
  contracts/extensions/src/max_gas_price_utils.ts
  contracts/extensions/test/max_gas_price_test.ts
Owners: @abandeali1, @hysz

Add artifacts, wrappers, and addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/MaximumGasPrice.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1

`@0x/contracts-asset-proxy`: Address review comments.
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/bridges/UniswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IERC20Bridge.sol
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Emit `ERC20BridgeTransfer` events in bridges.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/bridges/UniswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IERC20Bridge.sol
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-erc20`: Add `LibERC20Token.approveIfBelowMax()`. `@0x/contracts-asset-proxy`: Use `LibERC20Token.approveIfBelowMax` in all DEX bridges.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/bridges/UniswapBridge.sol
  contracts/asset-proxy/contracts/test/TestEth2DaiBridge.sol
  contracts/asset-proxy/contracts/test/TestKyberBridge.sol
  contracts/asset-proxy/contracts/test/TestUniswapBridge.sol
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/LibERC20Token.sol
Owners: @abandeali1, @hysz

`@0x/contracts-erc20`: Switch `LibERC20Token.approveIfBelowMax()` to `LibERC20Token.approveIfBelow()`. `@0x/contracts-asset-proxy`: Use `LibERC20Token.approveIfBelow()` for bridge approvals.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/asset-proxy/contracts/src/bridges/KyberBridge.sol
  contracts/asset-proxy/contracts/src/bridges/UniswapBridge.sol
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/LibERC20Token.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Redeploy bridges.
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

invert maker and taker token variable
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added unit tests to avoid regression due to variable order
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

prettify and lint
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

moved unit tests to the appropriate sections
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added unit tests for the Liquidity Provider
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

remove unit tests that were ported to `erc20-bridge-sampler` package
  packages/asset-swapper/package.json
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Add private:publish to contract-addresses
  packages/contract-addresses/package.json
Owners: @abandeali1

Completed feedback
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider_registry.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1, @hysz

Update CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Added MaximumGasPrice to the ganache snapshot
  contracts/extensions/src/index.ts
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

updated changelog
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Add solc binaries dir compilation options flag
  packages/ethereum-types/docs/reference.mdx
  packages/ethereum-types/src/index.ts
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/schemas/compiler_options_schema.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/constants.ts
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

Fix solcBinariesDir flag test
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

Fix lint exceptions
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

Update addresses.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

added CHANGELOG changes
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

`@0x/asset-swapper`: Rebase and fix some minor bugs.
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

rebase
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/instant`: Fix for changed asset-swapper configs.
  packages/instant/CHANGELOG.json
  packages/instant/src/constants.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Clean up median price calls.
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Only generate fallbacks for native orders in optimal path. `@0x/asset-swapper`: Exclude conflicting sources across both optimal and fallback paths.
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Add `gasSchedule` option to `SwapQuoter`. `@0x/asset-swapper`: Rename `fees` `SwapQuoter` option to `feeSchedule`.
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Clean up source breakdown code a bit. `@0x/asset-swapper`: Allow Kyber conflicts in fallback path.
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/instant`: Fix changelog.
  packages/instant/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix `getPathSize()` and `getAdjustedPathSize()` bug. `@0x/asset-swapper`: Add `maxFallbackSlippage` option.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

add gitpkg to contract-wrappers
  packages/contract-wrappers/package.json
Owners: none

`@0x/asset-swapper`: Fix double `bridgeSlippage` on generated orders.
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Sort native path fills by ADJUSTED rate.
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Address review comments.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix fee schedule not being scaled by gas price.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix changelog.
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

add gitpkg to contract-wrappers (#2520)
  packages/contract-wrappers/package.json
Owners: none
