Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`0x/ethereum-types`: Add geth eth_call types. `0x/json-schemas`: Add geth eth_call properties to `CallData`. `@0x/web3-wrapper`: Add geth geth eth_call support.
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
  packages/json-schemas/CHANGELOG.json
  packages/json-schemas/schemas/call_data_schema.json
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/src/marshaller.ts
  packages/web3-wrapper/src/types.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/json-schemas`: Rename `CallData.value` -> `CallData.balance` and make it `wholeNumberSchema type.' `@0x/web3-wrapper`: Only supply overrides to eth_call RPC if provided.
  packages/json-schemas/schemas/call_data_schema.json
  packages/web3-wrapper/src/marshaller.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

`0x.js`: Export `GethCallOverrides`.
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
Owners: none

track fillable amounts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-wrappers`: Export `GethCallOverrides`.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/index.ts
Owners: none

fix indent
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

remove var assignment
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

break out _nativeOrderToReportSource to fn
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

for efficiency, report orderbook orders after sorting
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

export native type
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

linting
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

update changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

add newline
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

only send in NUM_ORDERBOOK_ORDERS_TO_REPORT to orderbook reporter
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Increase test timeout for slow CI
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

put the clamps on taker balance
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz

`@0x/web3-wrapper`: Export `GethCallOverrides` and `GethCallOverridesRPC`.
  packages/web3-wrapper/src/index.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/dev-utils`: Export `GethCallOverrides` type
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/index.ts
Owners: @LogvinovLeon, @fabioberger

Create main.yml
  .github/workflows/main.yml
Owners: none

`@0x/contract-addresses`: Add `affiliateFeeTransformer` and `exchangeProxyFlashWallet` addresses.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1

`@0x/contracts-zero-ex`: Export `AffiliateFeeTransformer`.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

feat: optimize FQT
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
Owners: @abandeali1, @hysz

feat: GST free and optimize
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/migrations`: Add `affiliateFeeTransformer` and `exchangeProxyFlashWallet` to ganache snapshot migration.
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: none

`@0x/asset-swapper`: Fix failing test.
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: low level GST free call
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
Owners: @abandeali1, @hysz

fix: review feedback
  contracts/zero-ex/contracts/src/transformers/FillOrdersTransformer.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

remove unused return struct
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

feat: ExchangeProxy FillQuoteTransformer bridge direct (#2608)
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IERC20Bridge.sol
  contracts/zero-ex/contracts/src/vendor/v3/IGasToken.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fix `TransformerDeployer.kill()` calling the wrong `die()` interface.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/external/TransformerDeployer.sol
  contracts/zero-ex/contracts/test/TestTransformerDeployerTransformer.sol
  contracts/zero-ex/test/transformer_deployer_test.ts
Owners: @abandeali1, @hysz

WIP: add quoteReport response
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

hold onto maker uris when fetching responses
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-proxy`: Fix DFB instability
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

new quotereporter type
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-addresses`: Update DFB addresses.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/contract-addresses`: Deploy FQT from PR 2608
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

return quote report
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

take out delete note
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

make QuoteReport optional instead of forcing it for bash operaitons, fix tests so build works
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

export swap quoter types into own object
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506
