Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Add and use constant ONE_MINUTE_MS
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/rfq_maker_blacklist.ts
Owners: @BMillman19, @fragosti, @dave4506

Streamline isMakerBlacklisted() logic
  packages/asset-swapper/src/utils/rfq_maker_blacklist.ts
Owners: @BMillman19, @fragosti, @dave4506

Blacklist when threshhold reached, not surpassed
  packages/asset-swapper/src/utils/rfq_maker_blacklist.ts
Owners: @BMillman19, @fragosti, @dave4506

Add tests of class RfqMakerBlacklist
  packages/asset-swapper/test/rfq_maker_blacklist_test.ts
Owners: @BMillman19, @fragosti, @dave4506

add swerve and sushiswap to FQT
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/SwerveBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinSushiswap.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

Simplify SV
  contracts/zero-ex/contracts/src/features/EfficientFill.sol
Owners: @abandeali1, @hysz

Fix bugs in ABI encoders
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Really fix that broken AS test.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Minimal Uniswap accessor.
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Move some source filtering logic into the sampler operations.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix source filter bugs.
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Bypass AllowanceTarget
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: `UniswapFeature`: Reduce calldata size for AllowanceTarget call `@0x/asset-swapper`: Fix failing test.
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Address PR feedback
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz

Implement ordering
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fix misleading comments in `UniswapFeature`. `@0x/asset-swapper`: Fix linter errors.
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Fix feature version bug.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
Owners: @abandeali1, @hysz

#6 Golfing Iron
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Safe math
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

AsmUniswap test
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/src/features/IUniswapV2Pair.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

Selectors and addresses
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Typo
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Add Uniswap VIP support. `@0x/asset-swapper`: Add `includeSources` support.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-artifacts`: Regenerate artifacts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IZeroEx.json
Owners: @abandeali1

`@0x/contract-wrappers`: Regenerate wrappers
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: none

`@0x/asset-swapper`: use filter objects instead of source array for valid buy and sell sources/
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/source_filters.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix pair computation
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

New contract api
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix failing test.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Fix ETH buy tokens not being normalized to WETH.
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix multi-hop weirdness with source filters.
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Generalized asm uniswapper
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

mainnet gas benchmark
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/test/IUniswapV2Router.sol
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
Owners: @abandeali1, @hysz

Add comments
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add `UniswapFeature`
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
  contracts/zero-ex/contracts/src/features/DirectUniswap.sol
  contracts/zero-ex/contracts/src/features/IUniswapFeature.sol
  contracts/zero-ex/contracts/src/features/IUniswapV2Pair.sol
  contracts/zero-ex/contracts/src/features/UniswapFeature.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/test/IUniswapV2Router.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/uniswap_benchmark_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

Assembler Uniswap
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Did I actually fix AS tests this time? Who knows.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Golfing
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Fix wantAmount computation
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
Owners: @abandeali1, @hysz

Remove 'to' argument (saves 377 gas)
  contracts/zero-ex/contracts/src/features/AsmUniswap.sol
  contracts/zero-ex/contracts/src/features/AsmUniswapWrapper.sol
Owners: @abandeali1, @hysz
