Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @feuGeneA, @xianny, @albrow, @fabioberger, @dekz, @hysz, @abandeali1

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

testing stuff coming together
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

foundation for tests!
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

Updating tests
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/utils/api_wrapper.ts
Owners: @abandeali1, @hysz

BaseUnitTestHelper class helps unit tests stay clean
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/unit_test_helper.ts
Owners: @abandeali1, @hysz

prettier
  contracts/test-utils/src/unit_test_helper.ts
Owners: @abandeali1, @hysz

readonly instance variables
  contracts/test-utils/src/unit_test_helper.ts
Owners: @abandeali1, @hysz

add devUtils to contract-wrappers
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
Owners: none

add devUtils to contract-wrappers (#2146)
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
Owners: none

remove log decoder from BaseUnitTestHelper
  contracts/test-utils/src/unit_test_helper.ts
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Fixed style issues in staking RichErrors
  contracts/staking/contracts/src/libs/LibProxy.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/test/TestLibProxy.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/unit_tests/lib_proxy.ts
  contracts/staking/tsconfig.json
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x:contracts-staking` Added unit tests for LibProxy
  contracts/staking/contracts/test/TestLibProxy.sol
  contracts/staking/contracts/test/TestLibProxyReceiver.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/unit_tests/lib_fixed_math.ts
  contracts/staking/test/unit_tests/lib_proxy.ts
  contracts/staking/tsconfig.json
  contracts/test-utils/src/constants.ts
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Fixed compilation errors and ran prettier
  contracts/staking/test/unit_tests/lib_fixed_math.ts
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Addressed review comments
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
  contracts/test-utils/src/hex_utils.ts
  contracts/test-utils/src/index.ts
Owners: @abandeali1, @hysz

placate CI
  contracts/test-utils/src/unit_test_helper.ts
Owners: @abandeali1, @hysz

Reduce the number of exports from 0x.js
  packages/0x.js/src/index.ts
  packages/testnet-faucets/package.json
  packages/testnet-faucets/src/ts/handler.ts
Owners: none

Delete docs in S3 bucket before uploading latest version so we only ever have one version uploaded at a time
  package.json
Owners: none

Update to new ts-doc-gen version that fixes links in "Inherited from" lines
  packages/0x.js/package.json
  packages/asset-buyer/package.json
  packages/asset-swapper/package.json
  packages/connect/package.json
  packages/contract-wrappers/package.json
  packages/ethereum-types/package.json
  packages/json-schemas/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-profiler/package.json
  packages/sol-trace/package.json
  packages/subproviders/package.json
  packages/web3-wrapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger, @dekz

Fix prettier
  packages/testnet-faucets/src/ts/handler.ts
Owners: none

works
  contracts/exchange/test/protocol_fees.ts
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

tests
  contracts/staking/contracts/test/TestCumulativeRewardTracking.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Cleaned up combinatorial tests
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
Owners: @abandeali1, @hysz

try to fix instant build
  packages/instant/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff

moved sim to its own class
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz

Smooth out some last incompatible types
  packages/instant/src/components/animations/position_animation.tsx
  packages/instant/src/style/media.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

Remove redoc-cli as a dep from sra-spec
  packages/sra-spec/package.json
  yarn.lock
Owners: none

m
  contracts/staking/test/cumulative_reward_tracking_test.ts
Owners: @abandeali1, @hysz

Fix prettier
  packages/instant/src/style/media.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

Add terser-webpack-plugin to 0x.js deps
  packages/0x.js/package.json
  yarn.lock
Owners: none

mm
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

all tests pass
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Add a `batchExecute` function to the staking contracts
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/interfaces/IStaking.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
Owners: @abandeali1, @hysz

m
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Added tests for `simpleProxyCallWithData()`
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
  contracts/staking/contracts/test/TestLibProxy.sol
  contracts/staking/test/unit_tests/lib_proxy_unit_test.ts
Owners: @abandeali1, @hysz

m
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
Owners: @abandeali1, @hysz

ran prettier
  contracts/staking/test/cumulative_reward_tracking_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/utils/api_wrapper.ts
  contracts/staking/test/utils/cumulative_reward_tracking_simulation.ts
Owners: @abandeali1, @hysz
