Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

fixed build issues
  packages/website/ts/pages/about/team.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add ignoreFilesGlobs config option to sol-coverage
  packages/sol-coverage/CHANGELOG.json
  packages/sol-coverage/package.json
  packages/sol-coverage/src/coverage_subprovider.ts
  packages/sol-coverage/src/index.ts
Owners: none

Ignore node_modules, test and interfaces coverage in contracts
  contracts/test-utils/src/coverage.ts
Owners: none

Fix the docs
  packages/website/md/docs/sol_coverage/usage.md
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add PR numbers
  packages/sol-coverage/CHANGELOG.json
Owners: none

disabling lint for prettier
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Added erc1155 package to top-level package.json
  package.json
Owners: none

Basic ERC1155 Implementation. Derived from reference implementation, with bug fixes.
  .gitignore
  contracts/erc1155/.solhintignore
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/CHANGELOG.md
  contracts/erc1155/DEPLOYS.json
  contracts/erc1155/README.md
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/contracts/test/InvalidERC1155Receiver.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/index.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/global_hooks.ts
  contracts/erc1155/tsconfig.json
  contracts/erc1155/tslint.json
Owners: none

Basic ERC1155 wrapper
  contracts/erc1155/.solhintignore
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/InvalidERC1155Receiver.sol
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
  packages/types/src/index.ts
Owners: none

Ran prettier
  contracts/erc1155/test/erc1155_token.ts
Owners: none

Removed DummyERC1155Token
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
  contracts/erc1155/package.json
  contracts/erc1155/src/artifacts.ts
  contracts/erc1155/src/wrappers.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
  contracts/erc1155/tsconfig.json
Owners: none

bumped revision verson for types package
  packages/types/CHANGELOG.json
Owners: none

added pr to changelogs
  contracts/erc1155/CHANGELOG.json
  packages/types/CHANGELOG.json
Owners: none

ran prettier
  contracts/erc1155/test/utils/erc1155_wrapper.ts
Owners: none

renamed contracts::lib -> contracts::utils
  contracts/erc1155/compiler.json
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/utils/Address.sol
  contracts/erc1155/contracts/src/utils/SafeMath.sol
Owners: none

ran linter
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
Owners: none

Cleanup
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/MixinNonFungibleToken.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Mintable.sol
  contracts/erc1155/contracts/src/mixins/MNonFungibleToken.sol
Owners: none

cleaning
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
Owners: none

Added license to utils
  contracts/erc1155/contracts/src/utils/Address.sol
  contracts/erc1155/contracts/src/utils/SafeMath.sol
Owners: none

some cleanup
  contracts/erc1155/test/erc1155_token.ts
Owners: none

updated compiler.json
  contracts/erc1155/compiler.json
Owners: none

cleaned up reference implementation revert reasons
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
Owners: none

ran prettier
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
Owners: none

removed unnecessary solhintignore
  contracts/erc1155/.solhintignore
Owners: none

Ran lint-contracts
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/MixinNonFungibleToken.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/contracts/test/DummyERC1155Token.sol
Owners: none

more style cleanup of erc1155 basic implementation
  contracts/erc1155/contracts/src/ERC1155.sol
  contracts/erc1155/contracts/src/ERC1155Mintable.sol
  contracts/erc1155/contracts/src/MixinNonFungibleToken.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Mintable.sol
  contracts/erc1155/contracts/src/interfaces/IERC1155Receiver.sol
  contracts/erc1155/contracts/src/mixins/MNonFungibleToken.sol
  contracts/erc1155/contracts/test/DummyERC1155Receiver.sol
  contracts/erc1155/test/utils/erc1155_wrapper.ts
Owners: none

ignore erc1155 artifacts and wrappers for prettier
  .prettierignore
Owners: none

Remove isCli method
  packages/pipeline/src/queries/update_radar_orderbook_usd_prices.ts
  packages/pipeline/src/scripts/update_radar_orderbook_usd_prices.ts
  packages/pipeline/src/utils/index.ts
  packages/pipeline/test/queries/update_radar_orderbook_usd_prices_test.ts
Owners: none

Include new test path in package.json
  packages/pipeline/package.json
Owners: none

Run linter
  packages/pipeline/src/queries/update_radar_orderbook_usd_prices.ts
  packages/pipeline/src/scripts/update_radar_orderbook_usd_prices.ts
Owners: none

Added bottleneck to deal with rate-limiting
  packages/pipeline/src/data_sources/dex_prices/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
Owners: none

Adapt to Bloxy API change
  packages/pipeline/src/data_sources/bloxy/index.ts
  packages/pipeline/src/scripts/pull_competing_dex_trades.ts
Owners: none

Check for process in browser environments
  packages/utils/src/log_utils.ts
Owners: none

Update CHANGELOG
  packages/utils/CHANGELOG.json
Owners: none

Update changelog PR
  packages/utils/CHANGELOG.json
  packages/utils/src/log_utils.ts
Owners: none

Move contracts-test-utils to dev dependencies
  packages/contract-wrappers/package.json
  packages/metacoin/package.json
  yarn.lock
Owners: @LogvinovLeon

tests for allowance approvals on erc1155
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc1155/test/utils/erc1155_wrapper.ts
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Owners: none

Split ERC1155 Asset Proxy from ERC1155 POC implementation - squashed
  contracts/asset-proxy/DEPLOYS.json
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/contracts/src/ERC1155Proxy.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/utils/erc1155_wrapper.ts
  contracts/asset-proxy/test/utils/index.ts
  contracts/asset-proxy/tsconfig.json
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/index.ts
  contracts/test-utils/src/types.ts
  packages/order-utils/src/asset_data_utils.ts
  packages/types/src/index.ts
  yarn.lock
Owners: @fabioberger, @LogvinovLeon

Add CHANGELOG
  packages/contract-wrappers/CHANGELOG.json
Owners: none

Move fill-scenarios to devDependecies
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
