Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Remove docs from sol-doc gitignore
  packages/sol-doc/.gitignore
  packages/sol-doc/docs/.gitkeep
Owners: none

[base-contract] throw string revert error
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
Owners: @xianny

[base-contract] throw string revert error (#2453)
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
Owners: @xianny

`@0x/contracts-asset-proxy`: Appease linter.
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
Owners: @abandeali1, @hysz

`@0x/contracts-exchange`: Flip `LibExchangeRichErrorDecoder` to an actual library.
  contracts/exchange/CHANGELOG.json
  contracts/exchange/contracts/src/libs/LibExchangeRichErrorDecoder.sol
  contracts/exchange/contracts/test/TestLibExchangeRichErrorDecoder.sol
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: Fix broken tests.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestDydx.sol
  contracts/dev-utils/test/lib_dydx_balance_test.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Add `toTokenUnitAmount` and `fromTokenUnitAmount`
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/token_utils.ts
Owners: @hysz

`@0x/contracts-dev-utils`: Break more contracts up into public libraries. `@0x/contracts-dev-utils`: Add infra for `LibDydxBalance` tests.
  contracts/dev-utils/contracts/src/Addresses.sol
  contracts/dev-utils/contracts/src/AssetBalance.sol
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/ExternalFunctions.sol
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/src/LibOrderTransferSimulation.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  contracts/dev-utils/contracts/test/TestDydx.sol
  contracts/dev-utils/contracts/test/TestLibDydxBalance.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/lib_dydx_balance_test.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contract-wrappers`: Remove `LibTransactionDecoder`.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
  packages/contract-wrappers/src/index.ts
Owners: none

`@0x/contracts-dev-utils`: Do not export `LibTransactionDecoer` and `LibAssetData`.
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/package.json
  contracts/dev-utils/src/index.ts
Owners: @abandeali1, @hysz

`@0x/migrations`: Update `DevUtils` deployment. `@0x/migrations`: Remove `LibTransactionDecoder` deployment.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1

`@0x/contracts-asset-proxy`: Rename `DydxBridgeAction.accountId` to `DydxBridgeAction.accountIdx`.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydxBridge.sol
  contracts/asset-proxy/src/dydx_bridge_encoder.ts
  contracts/asset-proxy/test/dydx_bridge.ts
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
Owners: @abandeali1, @hysz

`@0x/base-contract`: Ignore bytecode with unlinked library references in constructor
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
Owners: @xianny

`@0x/contracts-asset-proxy`: Remove dependency on `DevUtils`.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydxBridge.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/erc1155_proxy_wrapper.ts
  contracts/asset-proxy/src/erc20_wrapper.ts
  contracts/asset-proxy/test/authorizable.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/static_call_proxy.ts
Owners: @abandeali1, @hysz

`@0x/dev-utils`: Use `BridgeAction` type from `@0x/contracts-asset-proxy`.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/lib_dydx_balance_test.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-erc20`: Fix failing tests.
  contracts/erc20/CHANGELOG.json
  contracts/erc20/test/unlimited_allowance_token.ts
Owners: @abandeali1, @hysz

`@0x/contracts-erc721`: Fix failing tests.
  contracts/erc721/CHANGELOG.json
  contracts/erc721/test/erc721_token.ts
Owners: @abandeali1, @hysz

`@0x/contracts-erc1155`: Fix broken tests.
  contracts/erc1155/CHANGELOG.json
  contracts/erc1155/test/erc1155_token.ts
Owners: @abandeali1, @hysz

Fix `tests-contracts-rest-ganache*` tests not running on CI.
  .circleci/config.yml
Owners: @LogvinovLeon

`@0x/contracts-asset-proxy`: Fix broken tests.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/src/dydx_bridge_encoder.ts
  contracts/asset-proxy/src/erc20_wrapper.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/static_call_proxy.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix revert for `LibFixedMath.mul(x, 0)`. `@0x/contracts-staking`: Fix broken tests.
  contracts/asset-proxy/package.json
  contracts/staking/CHANGELOG.json
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/test/unit_tests/staking_pool_test.ts
  contracts/staking/test/unit_tests/zrx_vault_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: More tests + fix `LibDydxBalance._getSolventMakerAmount`.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/src/artifacts.ts
  contracts/dev-utils/src/wrappers.ts
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/lib_dydx_balance_test.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: Fix `LibDydxBalance._getDepositableMakerAmount()` and add more tests.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestLibDydxBalance.sol
  contracts/dev-utils/test/lib_dydx_balance_test.ts
Owners: @abandeali1, @hysz

`@0x/ethereum-types`: Add `linkReferences` to `EvmBytecodeOutput` and `EvmBytecodeOutputLinkReferences` type
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

`@0x/utils`: Add `hexUtils.isHex()`.
  packages/utils/CHANGELOG.json
  packages/utils/src/hex_utils.ts
Owners: @hysz

`@0x/abi-gen`: Support deploying contracts with unliked libraries through `deployWithLibrariesFrom0xArtifactAsync()`
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

`@0x/contract-wrappers`: Update `DevUtils`.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/index.ts
Owners: none

`@0x/contract-artifacts`: Update `DevUtils`. `@0x/contract-addresses`: Update ganache addresses.
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/LibTransactionDecoder.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
Owners: @abandeali1

`@0x/contracts-integrations`: Use new DevUtils.
  contracts/integrations/test/dev-utils/dev_utils_mainnet_test.ts
  contracts/integrations/test/dev-utils/get_order_hash.ts
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/dev-utils/lib_transaction_decoder.ts
  contracts/integrations/test/framework/deployment_manager.ts
Owners: @abandeali1, @hysz

`@0x/migrations`: Use contract package artifacts in ganache migrations
  packages/migrations/CHANGELOG.json
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: none

`@0x/orderbook`: Use updated `order-utils` with non-async hash functions.
  packages/orderbook/CHANGELOG.json
  packages/orderbook/src/order_provider/custom_order_provider.ts
  packages/orderbook/src/order_set.ts
  packages/orderbook/src/utils.ts
  packages/orderbook/test/utils.test.ts
Owners: none

`@0x/dev-utils`: Add `LibDydxBalance.getDydxMakerBalance()` tests.
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/contracts/test/TestLibDydxBalance.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/test/lib_dydx_balance_test.ts
Owners: @abandeali1, @hysz

`@0x/0x.js`: Export `EvmBytecodeOutputLinkReferences`
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
Owners: none

`@0x/contracts-integrations`: Update tooling.
  contracts/integrations/test/coordinator/client_test.ts
  contracts/integrations/test/framework/actors/fee_recipient.ts
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-dev-utils`: Export all dependent library artifacts.
  contracts/dev-utils/package.json
  contracts/dev-utils/src/artifacts.ts
  contracts/dev-utils/src/wrappers.ts
  contracts/dev-utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/utils`: Accept `Buffer` type in `@0x/utils`.
  packages/utils/CHANGELOG.json
  packages/utils/src/hex_utils.ts
Owners: @hysz

`@0x/contracts-dev-utils`: Fix missing/broken `LibOrderTransferSimation` function wrappers.
  contracts/dev-utils/contracts/src/ExternalFunctions.sol
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Fix broken tests.
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/dev-utils/lib_transaction_decoder.ts
  contracts/integrations/test/exchange/core_test.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
Owners: @abandeali1, @hysz

`@0x/abi-gen`: Avoid using `_evmExecAsync()` for pure `callAsync()` if no deployed bytecode.
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
Owners: @feuGeneA

`@0x/base-contract`: Add exported function `linkLibrariesInBytecode()`
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
  packages/base-contract/src/utils.ts
Owners: @xianny
