Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/contracts-asset-proxy`: Update CHANGELOG
  contracts/asset-proxy/CHANGELOG.json
Owners: @abandeali1, @hysz

Update CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

Always use DFB in asset-swapper
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update CI configs
  .circleci/config.yml
Owners: @LogvinovLeon

Fix Ganache snapshot version
  .circleci/config.yml
Owners: @LogvinovLeon

Fix redundant docstrings and unpin sphinx
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/conf.py
  python-packages/contract_wrappers/src/index.rst
  python-packages/order_utils/src/index.rst
Owners: @feuGeneA

Stop using 3rd party sphinx typehints plugin
  python-packages/contract_wrappers/setup.py
  python-packages/contract_wrappers/src/conf.py
  python-packages/json_schemas/setup.py
  python-packages/json_schemas/src/conf.py
  python-packages/middlewares/setup.py
  python-packages/middlewares/src/conf.py
  python-packages/order_utils/setup.py
  python-packages/order_utils/src/conf.py
  python-packages/sra_client/setup.py
  python-packages/sra_client/src/conf.py
Owners: @feuGeneA

try out new integration versions
  .circleci/config.yml
  python-packages/sra_client/test/relayer/docker-compose.yml
Owners: @LogvinovLeon, @feuGeneA

Clean up
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

mk SwapQuoterOpt rfqtTakerApiKeyWhitelist optional
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Use NULL_ADDRESS instead of literal
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Use map idiom instead of for loop
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Use Array.push instead of Array.concat
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Parallelize RFQ-T with orderbook query
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Pass QuoteRequestor via SwapQuoteOpts not ctor arg
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Always use DFB in asset-swapper (#2542)
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Promote a closure to a function
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Use try...catch instead of Promise.catch()
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Try new ganache image
  .circleci/config.yml
Owners: @LogvinovLeon

rm unused SwapQuoteRequestOpts key enableRfqt
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Push RFQ-T opts to own SwapQuoterOpts subnamespace
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Demote instance member to just constructor a arg
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove unused intentOnFilling method parameter
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Demote public member to private
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Use try...catch instead of Promise.catch()
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove unused intentOnFilling method parameter
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Demote instance member to just constructor a arg
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

rm unused SwapQuoteRequestOpts key enableRfqt
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Don't throw when RFQ-T client isn't whitelisted
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Push RFQ-T opts to SwapQuoterReqOpts subnamespace
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Push RFQ-T opts to own SwapQuoterOpts subnamespace
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Demote public member to private
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Promote max maker response time to a global option
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Promote a closure to a function
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

only support Sell requests right now. this is useful so we dont have to deal with an undefined buyAmount param
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Create mockable axios testing pattern
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/rfqt_mocker.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

In Opts types, REQUIRE rfqt SUB-options
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Add `yarn prettier` script, & call it from `lint`
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Accept an apiKey in SwapQuoterOpts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Await Axios response so we don't circumvent catch
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
