Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/contract-wrappers`: Fix doc gen
  packages/contract-wrappers/docs/reference.mdx
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
  packages/contract-wrappers/src/index.ts
Owners: none

`@0x/contracts-asset-proxy`: Update `CurveBridge` to support more varied curves.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ApproximateBuys.sol
  contracts/erc20-bridge-sampler/contracts/src/CurveSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/Eth2DaiSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ICurve.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/KyberSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/LiquidityProviderSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/MultiBridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/NativeOrderSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/SamplerUtils.sol
  contracts/erc20-bridge-sampler/contracts/src/UniswapSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/UniswapV2Sampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/src/artifacts.ts
  contracts/erc20-bridge-sampler/src/wrappers.ts
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/package.json
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
Owners: @abandeali1, @hysz

`0x/contract-artifacts`: Regenerate `ERC20BridgeSampler` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1

`@0x/contract-wrappers`: Regenerate `ERC20BridgeSampler` wrapper.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
Owners: none

`@0x/asset-swapper`: Support more varied curves.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-erc20-bridge-sampler`: address review comments
  contracts/erc20-bridge-sampler/contracts/src/ApproximateBuys.sol
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/UniswapSampler.sol
Owners: @abandeali1, @hysz

fixed a small bug in indicative quotes
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added new parameter `nativeExclusivelyRFQT`
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Export rfqt opts
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

fix version number, this is just a minor bump
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-integrations`: Fix curve bridge mainnet tests.
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Reenable some curves.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

prettified
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

reordered imports
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-addresses`: Update `CurveBridge` on all networks.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/asset-swapper`: address my own review comment
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Speed up path optimizer.
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Update changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

fix syntax
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

linting
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

fix merge conflict
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

linting
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

fix up changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

handle empty array in reduce
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper Bunny Hop
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper market depth
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

fix lint and docs
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

split promises into 2
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

chore: refactor
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

rebase off development
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: asset-swapper market depth (#2641)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Quicker path-finding (#2640)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: Redeploy ERC20BridgeSampler on Kovan
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

fix: Redeploy ERC20BridgeSampler on Kovan (#2644)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Send in quoteRequestor to fix RFQT tracking
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-wrappers`: add `exchangeProxy` to `ContractWrappers` tyoe.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/contract_wrappers.ts
Owners: none

`@0x/order-utils`: Add gitpkg
  packages/order-utils/CHANGELOG.json
  packages/order-utils/package.json
Owners: @fabioberger, @LogvinovLeon

`@0x/ethereum-types`: Make `ConstructorAbi.payable` optional.
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
