Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

force allowances
  contracts/zero-ex/contracts/src/bridges/CurveBridge.sol
  contracts/zero-ex/contracts/src/external/FlashWallet.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

Update Kyber/Eth2Dai bridges
  contracts/zero-ex/contracts/src/bridges/Eth2DaiBridge.sol
  contracts/zero-ex/contracts/src/bridges/KyberBridge.sol
  contracts/zero-ex/contracts/src/external/FlashWallet.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
Owners: @abandeali1, @hysz

refactor out ZeroExBridge
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

move out interface
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

mixins
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinEth2Dai.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

comment out hacks
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz

update migrations
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

remove simbot hacks
  contracts/zero-ex/contracts/src/external/FlashWallet.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/src/transformers/Transformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
Owners: @abandeali1, @hysz

feat: mStable
  contracts/asset-proxy/contracts/src/bridges/MStableBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IMStable.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IMStable.sol
  contracts/erc20-bridge-sampler/contracts/src/MStableSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

adds a long TTL to quote requestor client
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Add deprecation warning to Instant README
  packages/instant/README.md
Owners: @BMillman19, @fragosti, @dave4506

Fix deprecation message in instant README
  packages/instant/README.md
Owners: @BMillman19, @fragosti, @dave4506

added smaller log
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Bancor Bridge contract
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IBancorNetwork.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

add unit tests for bancor in dex sampler
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
Owners: @BMillman19, @fragosti, @dave4506

exclude instant from CI build
  package.json
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

add sampling for bancor
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Changes after review
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IBancorNetwork.sol
  contracts/asset-proxy/contracts/test/TestBancorBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/bancor_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

avoid returning objects with circular buffers
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

are you included or not
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

removed toJSON check
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

add bancor address
  packages/migrations/src/migration.ts
Owners: none

Fixes
  contracts/asset-proxy/contracts/src/bridges/BancorBridge.sol
  contracts/asset-proxy/contracts/test/TestBancorBridge.sol
  contracts/asset-proxy/test/bancor_bridge.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

refactor Quote and FillData types
  packages/asset-swapper/src/utils/market_operation_utils/bancor_service.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/bancor_service_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_bancor_service.ts
Owners: @BMillman19, @fragosti, @dave4506

update changelogs
  contracts/asset-proxy/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

deploy and CHANGELOG
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/MStableBridge.sol
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

AdapterAddresses and mStable
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

Share constructor arg
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

fix migration
  packages/migrations/src/migration.ts
Owners: none

`@0x/contracts-integrations`: Add EP mtx tests.
  contracts/integrations/test/exchange-proxy/mtx_test.ts
Owners: @abandeali1, @hysz

Remove whitespace
  contracts/zero-ex/contracts/src/bridges/mixins/MixinMStable.sol
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Add more testnet addresses.
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Deply Mstable on testnets
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/contract-addresses`: Remove testnet deployments of mStable :-)
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/contracts-zero-ex`: BridgeAdapter -- revert if bridge address is 0.
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Add ERC20BridgeSampler support for validating orders in maker fees denominated in non-maker assets. `@0x/asset-swapper`: Add tests for `NativeOrderSampler`.
  .prettierignore
  packages/asset-swapper/contracts/src/IDevUtils.sol
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/contracts/test/TestERC20BridgeSampler.sol
  packages/asset-swapper/contracts/test/TestNativeOrderSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/contracts/erc20_bridge_sampler_test.ts
  packages/asset-swapper/test/contracts/native_order_sampler_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Return `0` sample if native order asset data is unsupported.
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix failing test.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-addresses`: Deploy FQT.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

feat: ExchangeProxy FQT fruit rollup (#2645)
  contracts/zero-ex/contracts/src/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/IBridgeAdapter.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinBalancer.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinCurve.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinKyber.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinMStable.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinOasis.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswap.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinUniswapV2.sol
  contracts/zero-ex/contracts/src/bridges/mixins/MixinZeroExBridge.sol
  contracts/zero-ex/contracts/src/fixins/FixinGasToken.sol
  contracts/zero-ex/contracts/src/transformers/FillQuoteTransformer.sol
  contracts/zero-ex/contracts/test/TestFillQuoteTransformerBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz
