Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/sol-compiler`: Address review feedback.
  packages/sol-compiler/src/solc_wrapper_v05.ts
Owners: @LogvinovLeon

basic parcel
  packages/quote-requestor/.gitignore
  packages/quote-requestor/package.json
  packages/quote-requestor/src/index.css
  packages/quote-requestor/src/index.html
  packages/quote-requestor/src/index.ts
  packages/quote-requestor/tsconfig.json
Owners: none

asset-s: Add RfqtRequestOpts.isIndicative
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix bug in prior revision: wrong asset data
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Looks to be passing on the staking contract side. Just need to verify the updated timelocks
  contracts/integrations/test/deployment_test.ts
  contracts/integrations/test/mainnet_configs_test.ts
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add `Unused` to `StorageId` enum
  contracts/zero-ex/contracts/src/features/Migrate.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
Owners: @abandeali1, @hysz

verify time locks
  contracts/integrations/test/mainnet_configs_test.ts
Owners: @abandeali1, @hysz

All tests passed
  contracts/integrations/test/mainnet_configs_test.ts
  contracts/test-utils/src/log_utils.ts
Owners: @abandeali1, @hysz

asset-swapper: support RFQ-T logger callback
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Collapse on-chain sources into DexForwarderBridge
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix tests. CHANGELOG
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Collapse on-chain sources into DexForwarderBridge (#2560)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Remove superfluous conditional
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: remove debug logging
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: use lambda not .bind()
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Add Curve sUSD
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Add Curve sUSD (#2563)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Merge `Migrate` into `Ownable`
  contracts/zero-ex/contracts/src/errors/LibMigrateRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibOwnableRichErrors.sol
  contracts/zero-ex/contracts/src/features/IMigrate.sol
  contracts/zero-ex/contracts/src/features/IOwnable.sol
  contracts/zero-ex/contracts/src/features/Migrate.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/migrations/LibMigrate.sol
  contracts/zero-ex/contracts/src/storage/LibMigrateStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestMigrator.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/migrate_test.ts
  contracts/zero-ex/test/features/ownable_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Update package.json
  contracts/utils/package.json
  contracts/utils/test/artifacts.ts
  contracts/utils/test/wrappers.ts
  contracts/utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/utils`: `ZeroExRevertErrors.Migrate` -> `ZeroExRevertErrors.Ownable`
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/zero-ex/ownable_revert_errors.ts
Owners: @hysz

`@0x/asset-swapper`: Fix sporadically failing quote simulation tests.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] clip native fill data
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Test for createFillPaths
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Fixed dangling promises
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix linting error
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Changed style
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] clip native fill data (#2565)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

basic package setup
  packages/quote-requestor/.gitignore
  packages/quote-requestor/README.md
  packages/quote-requestor/package.json
  packages/quote-requestor/src/index.css
Owners: none

basic navbar
  packages/quote-requestor/package.json
  packages/quote-requestor/src/components/nav.tsx
  packages/quote-requestor/src/index.html
  packages/quote-requestor/src/index.ts
  packages/quote-requestor/src/index.tsx
  packages/quote-requestor/tsconfig.json
Owners: none

results back
  packages/quote-requestor/src/components/request_form.tsx
  packages/quote-requestor/src/components/request_results.tsx
  packages/quote-requestor/src/index.tsx
Owners: none

basic request form
  packages/quote-requestor/src/components/nav.tsx
  packages/quote-requestor/src/components/request_form.tsx
  packages/quote-requestor/src/index.tsx
Owners: none

assign values in form
  packages/quote-requestor/src/components/request_form.tsx
Owners: none

Loading quote
  packages/quote-requestor/.gitignore
  packages/quote-requestor/src/.env.example
  packages/quote-requestor/src/asset_swapper_opts.ts
  packages/quote-requestor/src/components/request_form.tsx
  packages/quote-requestor/src/components/request_results.tsx
  packages/quote-requestor/src/index.tsx
  packages/quote-requestor/src/utils.ts
Owners: none

quote response
  packages/quote-requestor/package.json
  packages/quote-requestor/src/components/request_results.tsx
  packages/quote-requestor/src/index.tsx
  yarn.lock
Owners: none

on submit console.log
  packages/quote-requestor/src/components/request_form.tsx
  packages/quote-requestor/src/index.tsx
Owners: none

instanceof Array -> Array.isArray
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_encoder/abstract_data_types/types/set.ts
Owners: @hysz

fix: contract-addresses ERC20BridgeSampler
  packages/contract-addresses/addresses.json
Owners: @abandeali1

CHANGELOG
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

fix: contract-addresses ERC20BridgeSampler (#2568)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
