Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @feuGeneA, @xianny, @albrow, @fabioberger, @dekz, @hysz, @abandeali1

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contracts-staking`: Emit `CobbDouglasAlphaChanged` event when calling `setCobbDouglasAlpha()`.
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
Owners: @abandeali1, @hysz

`@0x/utils`: Rename `length` field to `len` in `AuthorizableRevertErrors.IndexOutOfBoundsError`.
  packages/utils/CHANGELOG.json
  packages/utils/src/authorizable_revert_errors.ts
Owners: @hysz

`@0x/utils`: Prettier.
  packages/utils/src/fixed_math_revert_errors.ts
  packages/utils/test/revert_error_test.ts
Owners: @hysz

add unit tests, use DevUtils
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/src/index.ts
  packages/order-utils/package.json
  packages/order-utils/src/asset_balance_and_proxy_allowance_fetcher.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/test/artifacts/UntransferrableDummyERC20Token.ts
  packages/order-utils/test/exchange_transfer_simulator_test.ts
  packages/order-utils/test/order_validation_utils_test.ts
  packages/order-utils/test/utils/web3_wrapper.ts
  yarn.lock
Owners: @albrow, @fabioberger, @LogvinovLeon

remove dependency on @0x/order-utils from @0x/migrations
  packages/migrations/CHANGELOG.json
  packages/migrations/package.json
  packages/migrations/src/migration.ts
Owners: none

revert yarn.lock to development
  yarn.lock
Owners: none

New staking mechanics: delay on entry opposed to exit
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IEthVault.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IStakingPoolRewardVault.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/libs/LibRewardMath.sol
  contracts/staking/contracts/src/stake/MixinDelegatedStake.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinTimeLockedStake.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinEthVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestCobbDouglas.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/actors/delegator_actor.ts
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/epoch_test.ts
  contracts/staking/test/simulations_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/Simulation.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/utils/types.ts
  contracts/staking/tsconfig.json
  contracts/utils/contracts/src/LibSafeMath.sol
Owners: @abandeali1, @hysz

Improving readability of staking
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IEthVault.sol
  contracts/staking/contracts/src/interfaces/IStakingPoolRewardVault.sol
  contracts/staking/contracts/src/interfaces/IStakingProxy.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/interfaces/IVaultCore.sol
  contracts/staking/contracts/src/interfaces/IWallet.sol
  contracts/staking/contracts/src/interfaces/IZrxVault.sol
  contracts/staking/contracts/src/libs/LibEIP712Hash.sol
  contracts/staking/contracts/src/libs/LibSafeDowncast.sol
  contracts/staking/contracts/src/libs/LibSignatureValidator.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinEthVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/MixinVaultCore.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/utils/contracts/src/LibFractions.sol
  contracts/utils/contracts/src/LibSafeMath.sol
  contracts/utils/package.json
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  contracts/utils/tsconfig.json
Owners: @abandeali1, @hysz

Rich Reverts in new staking mechanics
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Removed frivolous imports to improve readability
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/stake/MixinZrxVault.sol
  contracts/staking/contracts/src/staking_pools/MixinEthVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
Owners: @abandeali1, @hysz

Readability Improvements
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewardVault.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/vaults/MixinVaultCore.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/test/utils/Simulation.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/utils/types.ts
  contracts/utils/contracts/src/LibSafeMath.sol
  packages/order-utils/src/exchange_revert_errors.ts
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Some readability plus updated changelogs
  contracts/staking/CHANGELOG.json
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/vaults/EthVault.sol
  contracts/utils/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Tests for new staking mechanics
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/interfaces/IStakingPoolRewardVault.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/test/actors/delegator_actor.ts
  contracts/staking/test/actors/finalizer_actor.ts
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/simulations_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/Simulation.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/utils/types.ts
  packages/types/src/index.ts
Owners: @abandeali1, @hysz

Rich reverts in tests plus readability
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/test/actors/finalizer_actor.ts
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/staking_wrapper.ts
Owners: @abandeali1, @hysz

current -> currentEpochBalance and next -> nextEpochBalance
  contracts/staking/test/actors/finalizer_actor.ts
  contracts/staking/test/actors/staker_actor.ts
Owners: @abandeali1, @hysz

Got build to work after rebase
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  packages/order-utils/src/exchange_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Stake State -> Status in tests
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/types.ts
Owners: @abandeali1, @hysz

Fixed linter
  contracts/staking/test/actors/staker_actor.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/types.ts
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

updated changelogs
  contracts/staking/CHANGELOG.json
  contracts/staking/test/actors/finalizer_actor.ts
  packages/order-utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Read-Only mode in proxy
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingProxy.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/catastrophy_test.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

abstracted out delegate calls into their own library
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

appeased solhint
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
Owners: @abandeali1, @hysz

add local evm for pure functions
  contracts/coordinator/test/mixins.ts
  contracts/utils/test/lib_address_array.ts
  contracts/utils/test/lib_bytes.ts
  packages/0x.js/webpack.config.js
  packages/abi-gen-wrappers/src/generated-wrappers/asset_proxy_owner.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator.ts
  packages/abi-gen-wrappers/src/generated-wrappers/coordinator_registry.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dev_utils.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dummy_erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/dutch_auction.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc1155_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc20_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/erc721_token.ts
  packages/abi-gen-wrappers/src/generated-wrappers/exchange.ts
  packages/abi-gen-wrappers/src/generated-wrappers/forwarder.ts
  packages/abi-gen-wrappers/src/generated-wrappers/i_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/multi_asset_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/static_call_proxy.ts
  packages/abi-gen-wrappers/src/generated-wrappers/weth9.ts
  packages/abi-gen-wrappers/src/generated-wrappers/zrx_token.ts
  packages/abi-gen/package.json
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/templates/TypeScript/partials/call.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_abi_helper.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_call_pure.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_tx.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/abi-gen/test-cli/test_typescript/test/abi_gen_dummy_test.ts
  packages/base-contract/package.json
  packages/base-contract/src/globals.d.ts
  packages/base-contract/src/index.ts
  packages/instant/webpack.config.js
  yarn.lock
Owners: @abandeali1, @hysz, @feuGeneA, @xianny, @BMillman19, @fragosti, @steveklebanoff

increase container size to >=8gb for static-tests
  .circleci/config.yml
Owners: @LogvinovLeon

increase max bundle size because of ethereumjs-vm dependency
  package.json
Owners: none

add declarations for ethereumjs-vm in @0x/typescript-typings
  packages/base-contract/src/globals.d.ts
  packages/base-contract/src/index.ts
  packages/base-contract/tsconfig.json
  packages/typescript-typings/types/ethereumjs-vm/index.d.ts
Owners: @xianny

add changelogs
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/typescript-typings/CHANGELOG.json
Owners: @feuGeneA, @xianny

Remove restrictions that maker/takerAssetData must be the same for each order in marketBuy/Sell functions
  contracts/exchange/contracts/src/MixinWrapperFunctions.sol
  contracts/exchange/contracts/src/interfaces/IWrapperFunctions.sol
  contracts/exchange/test/wrapper.ts
  contracts/exchange/test/wrapper_unit_tests.ts
Owners: @abandeali1, @hysz

Readability improvements ... apparently I still cant spell catastrophe.
  contracts/staking/contracts/src/ReadOnlyProxy.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/libs/LibProxy.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/test/catastrophe_test.ts
Owners: @abandeali1, @hysz

Sanity check on order offset when hashing
  contracts/exchange-libs/contracts/src/LibOrder.sol
Owners: @abandeali1, @hysz

New logic for makers joining pools
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/interfaces/IWallet.sol
  contracts/staking/contracts/src/libs/LibEIP712Hash.sol
  contracts/staking/contracts/src/libs/LibSignatureValidator.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/vaults/StakingPoolRewardVault.sol
  contracts/staking/contracts/test/TestStorageLayout.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/actors/maker_actor.ts
  contracts/staking/test/actors/pool_operator_actor.ts
  contracts/staking/test/catastrophe_test.ts
  contracts/staking/test/epoch_test.ts
  contracts/staking/test/exchange_test.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/simulations_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/Simulation.ts
  contracts/staking/test/utils/approval_factory.ts
  contracts/staking/test/utils/constants.ts
  contracts/staking/test/utils/hash_utils.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/utils/types.ts
  contracts/staking/test/vaults_test.ts
  contracts/staking/tsconfig.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/staking_revert_errors.ts
  packages/typescript-typings/types/ganache-core/index.d.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x:contracts-staking` Added WETH support to `MixinExchangeFees`
  contracts/erc20/contracts/src/interfaces/IERC20Token.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
Owners: @abandeali1, @hysz

`@0x:contracts-staking` Added tests for protocol fees
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/test/TestProtocolFees.sol
  contracts/staking/contracts/test/TestProtocolFeesERC20Proxy.sol
  contracts/staking/contracts/test/TestStaking.sol
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/test/epoch_test.ts
  contracts/staking/test/protocol_fees.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/tsconfig.json
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Create internal function that calculates orderHash and orderTakerAssetFilledAmount
  contracts/exchange/contracts/src/MixinExchangeCore.sol
Owners: @abandeali1, @hysz

Use _getOrderHashAndFilledAmount instead of getOrderInfo to reduce sloads
  contracts/exchange/contracts/src/MixinMatchOrders.sol
Owners: @abandeali1, @hysz

Clear compiler warnings
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/test/IsolatedExchange.sol
  contracts/exchange/contracts/test/ReentrancyTester.sol
  contracts/exchange/contracts/test/TestProtocolFeesReceiver.sol
  contracts/utils/contracts/test/TestOwnable.sol
Owners: @abandeali1, @hysz

Consolidate TransactionSignatureError with SignatureError
  contracts/exchange-libs/contracts/src/LibExchangeRichErrors.sol
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/contracts/src/MixinTransactions.sol
  contracts/exchange/contracts/src/libs/LibExchangeRichErrorDecoder.sol
  contracts/exchange/test/core.ts
  contracts/exchange/test/isolated_fill_order.ts
  contracts/exchange/test/lib_exchange_rich_error_decoder.ts
  contracts/exchange/test/match_orders.ts
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/transactions_unit_tests.ts
  packages/order-utils/src/exchange_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x:contracts-staking` Addressed some review comments
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IZrxVault.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/vaults/ZrxVault.sol
  contracts/staking/contracts/test/TestProtocolFees.sol
  contracts/staking/contracts/test/TestStaking.sol
  contracts/staking/package.json
  contracts/staking/test/actors/protocol_fee_actor.ts
  contracts/staking/test/catastrophe_test.ts
  contracts/staking/test/epoch_test.ts
  contracts/staking/test/exchange_test.ts
  contracts/staking/test/pools_test.ts
  contracts/staking/test/protocol_fees.ts
  contracts/staking/test/rewards_test.ts
  contracts/staking/test/stake_test.ts
  contracts/staking/test/utils/staking_wrapper.ts
  contracts/staking/test/vaults_test.ts
  contracts/utils/contracts/src/LibBytes.sol
  packages/order-utils/src/staking_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

tweak to webpack configs and README
  packages/0x.js/README.md
  packages/0x.js/webpack.config.js
  packages/instant/webpack.config.js
Owners: @BMillman19, @fragosti, @steveklebanoff

prettier
  packages/0x.js/README.md
Owners: none
