Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @feuGeneA, @xianny, @albrow, @fabioberger, @dekz, @hysz, @abandeali1

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Remove website files that were accidentally merged back in
  packages/website/package.json
  packages/website/ts/components/blockIconLink.tsx
  yarn.lock
Owners: none

Add more writeLength tests
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_bytes.ts
Owners: @abandeali1, @hysz

Use fromHex instead of doing length -> byte length calculation
  contracts/utils/test/lib_bytes.ts
Owners: @abandeali1, @hysz

Create _enableAndRefundNonZeroBalance to slightly reduce codesize
  contracts/utils/contracts/src/Refundable.sol
Owners: @abandeali1, @hysz

Styling and comment updates
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/src/MixinWrapperFunctions.sol
Owners: @abandeali1, @hysz

Create private functions for encoding orders/transactions with their hash to be passed into EIP1271 compliant contract
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
Owners: @abandeali1, @hysz

Use new rich reverts where applicable
  contracts/exchange/contracts/src/MixinExchangeCore.sol
  contracts/exchange/contracts/src/MixinMatchOrders.sol
  contracts/exchange/contracts/src/MixinProtocolFees.sol
Owners: @abandeali1, @hysz

Add new rich revert errors
  contracts/exchange-libs/contracts/src/LibExchangeRichErrors.sol
  packages/order-utils/src/exchange_revert_errors.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

Fix tests
  contracts/exchange/contracts/src/libs/LibExchangeRichErrorDecoder.sol
  contracts/exchange/contracts/test/TestExchangeInternals.sol
  contracts/exchange/test/core.ts
  contracts/exchange/test/isolated_fill_order.ts
  contracts/exchange/test/lib_exchange_rich_error_decoder.ts
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
Owners: @abandeali1, @hysz

Update contracts/exchange/contracts/src/MixinProtocolFees.sol
  contracts/exchange/contracts/src/MixinProtocolFees.sol
Owners: @abandeali1, @hysz

make it easier to use validateOrderFillableOrThrowAsync
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_balance_and_proxy_allowance_fetcher.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/order-utils/src/schemas/validate_order_fillable_opts_schema.ts
  packages/order-utils/src/types.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/utils`: Fix `FixedMathRevertError.FixedMathBinOpError` type. `@0x/utils`: Have Ganache `Error` -> `RevertError` coercion fail if it can't look up the selector.
  packages/utils/CHANGELOG.json
  packages/utils/src/fixed_math_revert_errors.ts
  packages/utils/src/revert_error.ts
Owners: @hysz

`@0x/contracts-test-utils`: Add `toHex()`, `hexInvert()`, `hexLeftPad()`, and `hexRightPad()` hex utils.
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/hex_utils.ts
  contracts/test-utils/src/index.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Fix registering `FixedMathSignedValueError` twice.
  packages/utils/src/fixed_math_revert_errors.ts
Owners: @hysz

`@0x/contracts-staking`: Add rich reverts. `@0x/utils`: Add `LibFixedMath` `RevertError` types. `@0x/order-utils`: Add `InvalidCobbDouglasAlphaerror` `RevertError` type.
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/contracts/src/libs/LibFixedMathRichErrors.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/test/TestCobbDouglas.sol
  contracts/staking/contracts/test/TestLibFixedMath.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/tsconfig.json
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/staking_revert_errors.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/fixed_math_revert_errors.ts
  packages/utils/src/index.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Add `LibFeeMath` library.
  contracts/staking/contracts/src/libs/LibFixedMath.sol
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Add `uintMul()` function to `LibFixedMath`.
  contracts/staking/contracts/src/libs/LibFixedMath.sol
Owners: @abandeali1, @hysz

`@0x/utils`: Make `RevertError.decode()` return a `RawRevertError` if the selector is unknown.
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_error.ts
  packages/utils/test/revert_error_test.ts
Owners: @hysz

`@0x/utils`: Make decoding of unknown selectors to `RawRevertError` optional.
  packages/utils/CHANGELOG.json
  packages/utils/src/revert_error.ts
  packages/utils/test/revert_error_test.ts
Owners: @hysz

`@0x/order-utils`: Add `TransactionGasPriceError` to error registry.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/exchange_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

Commit yarn.lock
  yarn.lock
Owners: none

`@0x/contracts-staking`: Write `LibFixedMath` unit tests.
  contracts/staking/package.json
  contracts/staking/test/lib_fixed_math.ts
  yarn.lock
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Add a bunch of `LibFixedMath` unit tests.
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/contracts/test/TestLibFixedMath.sol
  contracts/staking/test/cobb_douglas.ts
  contracts/staking/test/lib_fixed_math.ts
  contracts/staking/test/math_test.ts
  contracts/staking/test/utils/staking_wrapper.ts
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Allow negative values in `toHex()`. `@0x/contracts-test-utils`: Add `PPM_DENOMINATOR` and `PPM_100_PERCENT` constants.
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/hex_utils.ts
Owners: @abandeali1, @hysz

`@0x/dev-utils`: Remove no longer applicable test case in `chai_test.ts`.
  packages/dev-utils/test/chai_test.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/dev-utils`: Add `total_accounts` option to `Web3Config`.
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/contracts-staking`: Remove redundant `"FixedMath"` prefix from `FixedMath` revert errors.
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/contracts/src/libs/LibFixedMathRichErrors.sol
  contracts/staking/test/lib_fixed_math.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Update CHANGELOG.
  packages/order-utils/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @fabioberger, @LogvinovLeon, @hysz

`@0x/contracts-test-utils`: Increase the number of ganache accounts to 20.
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/constants.ts
  contracts/test-utils/src/hex_utils.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

`@0x/utils`: Remove redundant `FixedMath` prefix from `FixedMath` `RevertError` types.
  packages/utils/src/fixed_math_revert_errors.ts
Owners: @hysz

`@0x/utils`: Fix order of `BinOpErrorCodes` enum in `FixedMathRevertErrors`.
  packages/utils/src/fixed_math_revert_errors.ts
Owners: @hysz

`@0x/conracts-staking`: Fix idiotic linter error.
  contracts/staking/test/pools_test.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Prettier.
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Rebase with 3.0
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/package.json
  contracts/staking/src/artifacts.ts
  contracts/staking/src/wrappers.ts
  contracts/staking/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/utils`: Add docstring for `raw` constructor parameter in `RevertError`. `@0x/utils`: Use `...is.instanceof()` pattern in `RevertError` tests.
  packages/utils/CHANGELOG.json
  packages/utils/src/revert_error.ts
  packages/utils/test/revert_error_test.ts
Owners: @hysz

`@0x/order-utils`: Add `TransactionInvalidContextError` to the `RevertError` registry.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/exchange_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-utils`: Fix failing tests due to `RevertError` behavior changes.
  contracts/utils/test/authorizable.ts
  contracts/utils/test/lib_rich_errors.ts
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Remove unused tslint directives.
  contracts/staking/test/cobb_douglas.ts
  contracts/staking/test/lib_fixed_math.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Rename `OperatorShareMustBeBetween0And100Error` `RevertError` type to `InvalidPoolOperatorShareError`.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/staking_revert_errors.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-staking`: Keep fees not associated with a pool.
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
Owners: @abandeali1, @hysz
