Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

Add ChaiBridge balance checks to DevUtils
  contracts/asset-proxy/contracts/src/interfaces/IChai.sol
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/LibAssetData.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
Owners: @abandeali1, @hysz

Special case unlimited allowance for Chai
  contracts/asset-proxy/contracts/src/interfaces/IChai.sol
  contracts/asset-proxy/src/index.ts
  contracts/dev-utils/contracts/src/LibAssetData.sol
Owners: @abandeali1, @hysz

Add ChaiBridge allowance checks
  contracts/asset-proxy/contracts/src/interfaces/IChai.sol
  contracts/dev-utils/contracts/src/LibAssetData.sol
Owners: @abandeali1, @hysz

Split Dai calculation and erc20 balance checks into separate functions
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/LibAssetData.sol
Owners: @abandeali1, @hysz

Fix integrations tests build
  contracts/integrations/test/dev-utils/get_order_hash.ts
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/framework/deployment_manager.ts
Owners: @abandeali1, @hysz

Add mainnet integration tests for checking balances/allowances of ChaiBridge orders using DevUtils
  contracts/integrations/test/dev-utils/dev_utils_mainnet_test.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

Fix linting errors
  contracts/asset-proxy/contracts/src/interfaces/IChai.sol
Owners: @abandeali1, @hysz

Fix Ganache migrations
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1

Skip failing dydxBridge tests
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
  contracts/integrations/test/mainnet_configs_test.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

Update DevUtils contract wrapper
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: none

update dev-utils addresses
  packages/contract-addresses/addresses.json
Owners: @abandeali1

update contract-addresses changelog
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

fix bug in OrderTransferSimulationUtils causing failures for 721 assets
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
Owners: @abandeali1, @hysz

Update ganache-cli version to Istanbul-compatible version
  packages/migrations/Dockerfile
Owners: none

Remove -v3-beta from snapshot name
  packages/migrations/package.json
Owners: none

Change python to use latest ganache
  python-packages/sra_client/test/relayer/docker-compose.yml
Owners: @feuGeneA

Pull 0xorg/ganache-cli:6.0.0 in circleci
  .circleci/config.yml
Owners: @LogvinovLeon

[python] change gas estimate expected
  python-packages/contract_wrappers/src/zero_ex/contract_wrappers/__init__.py
Owners: @feuGeneA

Allow for batching multiple buy/sell samples
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Update asset-swapper WIP
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Rename to Batch
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/sampler.ts
Owners: none

Enable batch fetching from orderbook. Refactor
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/orderbook/src/order_store.ts
  packages/orderbook/src/orderbook.ts
Owners: @BMillman19, @fragosti, @dave4506

Rename to Batch
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Enable batch fetching from orderbook. Refactor
  src/swap_quoter.ts
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/sampler.ts
  src/utils/swap_quote_calculator.ts
Owners: none

Update asset-swapper WIP
  src/swap_quoter.ts
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/sampler.ts
  src/utils/swap_quote_calculator.ts
Owners: none

abi-gen: exit when black fails to parse Python
  packages/abi-gen/src/index.ts
Owners: @feuGeneA

wrappers.py: fix clean not rm'ing gen'd code
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

Update CHANGELOGs
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/orderbook/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Update CHANGELOGs
  CHANGELOG.json
Owners: none

abi-gen: ran black on CLI test Python output
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
Owners: @feuGeneA

wrappers.py: satisfy linter (rm unnecessary pass)
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

abi-gen: fix bug w/ 2D arrays of UDT's in Python
  packages/abi-gen/src/utils.ts
  packages/abi-gen/test-cli/fixtures/artifacts/AbiGenDummy.json
  packages/abi-gen/test-cli/fixtures/contracts/AbiGenDummy.sol
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
Owners: @feuGeneA, @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Increase gas forwarded to kyber and eth2dai. `@0x/contracts-erc20-bridge-sampler`: Bail as soon as any quote from a DEX fails.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

`@0x/contract-artifacts`: Update `IERC20BridgeSampler` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
Owners: @abandeali1

`@0x/contract-wrappers`: Update `IERC20BridgeSampler` wrapper.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

`@0x/contract-wrappers`: Fix linter error.
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

Patched the regression and added tests
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  contracts/integrations/test/dev-utils/order_validation_utils.ts
Owners: @abandeali1, @hysz

fix bug in OrderTransferSimulationUtils causing failures for 721 assets
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
Owners: @abandeali1, @hysz

Added regression test for fillable order
  contracts/integrations/test/dev-utils/order_validation_utils.ts
Owners: @abandeali1, @hysz

Update packages/utils/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
