Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

chore: supply devUtils address
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IKyberNetwork.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

feat: specify the call override by default
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

CHANGELOGs
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @fabioberger

export SamplerOverrides
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
Owners: @BMillman19, @fragosti, @dave4506

fix package.json
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  contracts/zero-ex/package.json
  packages/contracts-gen/package.json
  packages/order-utils/package.json
  packages/sol-compiler/package.json
  packages/sol-coverage/package.json
  packages/sol-profiler/package.json
  packages/sol-resolver/package.json
  packages/sol-trace/package.json
  packages/sol-tracing-utils/package.json
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

fix: after rebase
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: allow a empty overrides to signal no default
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

chore: Build and test only dirty packages
  .circleci/config.yml
  package.json
  packages/instant/package.json
  yarn.lock
Owners: @LogvinovLeon, @BMillman19, @fragosti, @dave4506

only build dirty packages and their dependen{ts|cies}
  .circleci/config.yml
  contracts/integrations/package.json
  package.json
  packages/asset-swapper/package.json
Owners: @LogvinovLeon, @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

RitualBridge skeleton
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

Fill in some functions in RitualBridge
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/src/index.ts
Owners: @abandeali1, @hysz

Flesh out _validateAndUpdateRecurringBuy a bit
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
Owners: @abandeali1, @hysz

Write some unit tests
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/contracts/test/TestRitualBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/ritual_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

hackathon: depth chart
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quoter_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix bug and add tests for bridgeTransferFrom
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/test/ritual_bridge.ts
Owners: @abandeali1, @hysz

Export RitualBridge artifact in @0x/contract-artifacts
  packages/contract-artifacts/artifacts/RitualBridge.json
  packages/contract-artifacts/src/index.ts
Owners: @abandeali1

Added price guardrails
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IChainlinkOracle.sol
  contracts/asset-proxy/contracts/test/TestOracle.sol
  contracts/asset-proxy/contracts/test/TestRitualBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/ritual_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

Created a deployment script for the ritual bridge
  contracts/asset-proxy/contracts/src/TestOracle.sol
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/contracts/test/TestRitualBridge.sol
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/index.ts
  contracts/asset-proxy/test/artifacts.ts
  packages/contract-artifacts/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

Added a `fillRecurringBuy` function
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
Owners: @abandeali1, @hysz

data by bucket
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

depth buy
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Added some tests
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/test/ritual_bridge.ts
Owners: @abandeali1, @hysz

Addressed the case where nothing is filled
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/test/ritual_bridge.ts
Owners: @abandeali1, @hysz

fixes
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

fix tests 'n shit
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/asset-proxy/contracts/test/TestRitualBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/test/ritual_bridge.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

profiling and settimeout
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper yield to the event loop every mix path
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/order_prune_utils_test.ts
  packages/asset-swapper/test/order_state_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

AssetSwapper integration, maybe
  contracts/asset-proxy/contracts/src/bridges/RitualBridge.sol
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IRitualBridge.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/RitualBridge.json
  packages/contract-artifacts/src/index.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/migrations/src/migration.ts
  packages/orderbook/src/orderbook.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

fix: optimizations skip order find if Native excluded
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Implement ENSValidator contract
  contracts/exchange/contracts/src/interfaces/IEIP1271Data.sol
  contracts/integrations/contracts/src/ENSValidator.sol
  contracts/integrations/contracts/src/interfaces/IENS.sol
  contracts/integrations/contracts/src/interfaces/IResolver.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz

changelogs
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

chore: update protocol fee multiplier
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/test/order_prune_utils_test.ts
  packages/asset-swapper/test/order_state_utils_test.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: tests async
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: asset-swapper yield to the event loop every mix path (#2637)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/order_prune_utils_test.ts
  packages/asset-swapper/test/order_state_utils_test.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @BMillman19, @fragosti, @dave4506

Linting
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Update `TransformERC20` and `MetaTransactions` to handle signed calldata.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/features/IMetaTransactions.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/MetaTransactions.sol
  contracts/zero-ex/contracts/src/features/SignatureValidator.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/features/libs/LibSignedCallData.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/signed_call_data.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_tx.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @abandeali1, @hysz, @feuGeneA

address review comments
  contracts/zero-ex/contracts/src/features/libs/LibSignedCallData.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Add `IZeroEx` contract.
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contract-artifacts`: Add `IZeroEx` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/artifacts/IAssetProxy.json
  packages/contract-artifacts/artifacts/ITransformERC20.json
  packages/contract-artifacts/artifacts/IWallet.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
Owners: @abandeali1

`@0x/contract-wrappers`: Add `IZeroEx` wrapper.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider_registry.ts
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/generated-wrappers/maximum_gas_price.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
Owners: none
