Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/contracts-coordinator`: Update tests.
  contracts/coordinator/CHANGELOG.json
  contracts/coordinator/src/approval_factory.ts
  contracts/coordinator/src/hash_utils.ts
  contracts/coordinator/test/libs.ts
  contracts/coordinator/test/mixins.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Remove use of ambient `DevUtils` instances. `@0x/order-utils`: Make hash computing tooling non-async again. `@0x/order-utils`: Add `transactionHashUtils`.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/order_factory.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-utils/src/transaction_hash_utils.ts
  packages/order-utils/test/signature_utils_test.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-multisig`: Fix broken tests.
  contracts/multisig/CHANGELOG.json
  contracts/multisig/test/multi_sig_with_time_lock.ts
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Add asset data decoding and encoding functions
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/asset_data.ts
  contracts/asset-proxy/src/index.ts
Owners: @abandeali1, @hysz

`@0x/sol-compiler`: Export `EvmBytecodeOutputLinkReferences`
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/index.ts
Owners: @LogvinovLeon

`@0x/contracts-exchange`: Update tests to remove dependency on DevUtils.
  contracts/exchange/CHANGELOG.json
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/exchange_transfer_simulator_test.ts
  contracts/exchange/test/fill_order.ts
  contracts/exchange/test/signature_validator.ts
  contracts/exchange/test/utils/asset_wrapper.ts
  contracts/exchange/test/utils/exchange_transfer_simulator.ts
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
  contracts/exchange/test/utils/fill_order_simulator.ts
  contracts/exchange/test/utils/order_factory_from_scenario.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Remove dependency on `DevUtils` for asset data encoding/decoding
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/coordinator/client_test.ts
  contracts/integrations/test/coordinator/coordinator_test.ts
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/exchange/batch_match_orders_test.ts
  contracts/integrations/test/exchange/core_test.ts
  contracts/integrations/test/exchange/exchange_wrapper_test.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
  contracts/integrations/test/exchange/fill_order_test.ts
  contracts/integrations/test/exchange/match_order_tester.ts
  contracts/integrations/test/exchange/match_orders_maximal_fill_test.ts
  contracts/integrations/test/exchange/match_orders_test.ts
  contracts/integrations/test/exchange/transaction_protocol_fee_test.ts
  contracts/integrations/test/exchange/transaction_test.ts
  contracts/integrations/test/forwarder/bridge_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
  contracts/integrations/test/framework/actors/maker.ts
  contracts/integrations/test/framework/assertions/stake.ts
  contracts/integrations/test/framework/assertions/unstake.ts
  contracts/integrations/test/framework/balances/local_balance_store.ts
  contracts/integrations/test/framework/deployment_manager.ts
Owners: @abandeali1, @hysz

Export all types needed by doc gen.
  contracts/coordinator/src/index.ts
  contracts/dev-utils/src/index.ts
  contracts/erc1155/src/index.ts
  contracts/erc20/src/index.ts
  contracts/erc721/src/index.ts
  contracts/exchange-forwarder/src/index.ts
  contracts/exchange-libs/src/index.ts
  contracts/exchange/src/index.ts
  contracts/extensions/src/index.ts
  contracts/staking/src/index.ts
Owners: @abandeali1, @hysz

run prettier
  contracts/asset-proxy/src/asset_data.ts
  contracts/asset-proxy/test/authorizable.ts
  contracts/asset-proxy/test/erc1155_proxy.ts
  contracts/asset-proxy/test/proxies.ts
  contracts/asset-proxy/test/static_call_proxy.ts
  contracts/coordinator/src/approval_factory.ts
  contracts/coordinator/src/hash_utils.ts
  contracts/coordinator/test/libs.ts
  contracts/dev-utils/test/lib_dydx_balance_test.ts
  contracts/erc1155/test/erc1155_token.ts
  contracts/erc20/test/unlimited_allowance_token.ts
  contracts/erc721/test/erc721_token.ts
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/utils/asset_wrapper.ts
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
  contracts/exchange/test/utils/order_factory_from_scenario.ts
  contracts/integrations/test/dev-utils/lib_asset_data.ts
  contracts/integrations/test/exchange/batch_match_orders_test.ts
  contracts/integrations/test/exchange/core_test.ts
  contracts/integrations/test/exchange/fill_dydx_order_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
  contracts/integrations/test/framework/actors/maker.ts
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
  contracts/multisig/test/multi_sig_with_time_lock.ts
  contracts/staking/test/unit_tests/zrx_vault_test.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/order_hash_utils.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-utils/src/transaction_hash_utils.ts
  packages/order-utils/test/signature_utils_test.ts
  packages/orderbook/src/utils.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x/abi-gen`: Regenerate reference files.
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

`@0x/abi-gen`: Remove unused variables in `contracts.handlebars`.
  packages/abi-gen/templates/TypeScript/contract.handlebars
Owners: @feuGeneA

`@0x/contracts-coordinator`: Fix bad changelog version.
  contracts/coordinator/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contract-wrappers`: Regenerate `DevUtils`.
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: none

`@0x/abi-gen`: Regenerate reference files.
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
Owners: @feuGeneA

`@0x/contracts-multisig`: Fix bad changelog version
  contracts/multisig/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-staking`: Fix invalid changelog version.
  contracts/staking/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Make source IDs static on all networks, not inherited from `DeploymentConstants`.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Update kovan addresses in `DeploymentConstants`
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Update `ERC20BridgeSampler` addresses on mainnet and kovan.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

stop hardcoding contract addresses
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

update changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

export ContractAddresses for docs
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

ERC20BridgeSampler: Unlock full sampling on Kovan (#2459)
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

`@0x/subproviders`: Add postinstall script to delete ganache typings
  .circleci/config.yml
  packages/subproviders/package.json
  packages/web3-wrapper/package.json
Owners: @LogvinovLeon, @fabioberger, @dekz

initial refactor
  packages/instant/package.json
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/buy_order_state_buttons.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/selected_asset_buy_order_state_buttons.ts
  packages/instant/src/containers/selected_erc20_asset_amount_input.ts
  packages/instant/src/index.umd.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/affiliate_fee_utils.ts
  packages/instant/src/util/analytics.ts
  packages/instant/src/util/api_utils.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/asset_swapper_factory.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/instant/src/util/quote_updater.ts
  packages/instant/src/util/swap_quote_updater.ts
  packages/instant/test/util/asset.test.ts
Owners: @BMillman19, @fragosti, @dave4506

Bump maxBuffer?
  packages/monorepo-scripts/src/test_installation.ts
Owners: @fabioberger

Fix ethereum node version string test
  packages/web3-wrapper/test/web3_wrapper_test.ts
Owners: @LogvinovLeon, @fabioberger

Bump maxBuffer?
  packages/monorepo-scripts/src/test_installation.ts
Owners: @fabioberger

Add post-instal step
  packages/subproviders/package.json
Owners: @fabioberger, @dekz

Stop hardcoding contract addresses (#2461)
  CHANGELOG.json
  src/index.ts
  src/quote_consumers/swap_quote_consumer.ts
  src/swap_quoter.ts
  src/types.ts
Owners: none

Stop hardcoding contract addresses (#2461)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

add liquidity source breakdown to asset-swapper
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

remove debug line
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

use OptimizedMarketOrder metadata
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

prettier + lint
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

updated change-log
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

fixes
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

bug fixes
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Prettier
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix types
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
