Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contracts-asset-proxy`: Rename `ERC20BridgeTransfer` event args to be less ambiguous.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/interfaces/IERC20Bridge.sol
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix quote optimizer bug not properly accounting for fees.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
Owners: @BMillman19, @fragosti, @dave4506

Add `WethUnwrapBridge`.
  contracts/asset-proxy/contracts/src/bridges/WethUnwrapBridge.sol
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: `WethUnwrapBridge` can only be called by bridge proxy and always unwraps taker WETH
  contracts/asset-proxy/contracts/src/bridges/WethUnwrapBridge.sol
Owners: @abandeali1, @hysz

Upgrade solc to 0.6.x
  packages/sol-compiler/package.json
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-tracing-utils/package.json
  packages/typescript-typings/types/solc/index.d.ts
  yarn.lock
Owners: @LogvinovLeon

Added freesGasTokensFromCollector.
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/MixinGasToken.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

Gas Tokens in Bridges
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/MixinGasToken.sol
  contracts/asset-proxy/contracts/src/interfaces/IGasToken.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

Update CHANGELOGs
  contracts/asset-proxy/CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

Gas Tokens in Bridges (#2523)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/bridges/MixinGasToken.sol
  contracts/asset-proxy/contracts/src/interfaces/IGasToken.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Fix `DydxBridge` mainnet/kovan address. `@0x/contract-addresses`: Lowercase GodsUnchained/broker addresses.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Set GSTCollector address and deploy Curve
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

CHANGELOGs
  contracts/utils/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz

Set GSTCollector address and deploy Curve (#2530)
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

TEMPORARY: Increase test timeout for my machine
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

prep: rename variable
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

prep: Deploy ERC20BridgeSampler to ganache
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1

asset-swapper: incl prettier in yarn lint
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

TEMPORARY: publish ganache snapshot to "staging"
  packages/migrations/package.json
Owners: none

Extract interface from SwapQuoter
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/test/swap_quoter_test.ts
Owners: @BMillman19, @fragosti, @dave4506

RFQT WiP
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/test/swap_quoter_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-erc20-bridge-sampler`: Pass in `DevUtils` address as a constructor parameter
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Update `ERC20BridgeSampler` tests
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Cache `DevUtils` address in `getOrderFillableTakerAssetAmounts`.
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Fix typos and remove `BridgeTransferFromCallFailed` event from `DexForwarderBridge`.
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/src/dex_forwarder_bridge.ts
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Add `DexForwarderBridge.executeBridgeCall()` test.
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Address review comments.
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Create `DexForwarderBridge` bridge contract.
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/contracts/test/TestDexForwarderBridge.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/dex_forwarder_bridge.ts
  contracts/asset-proxy/src/index.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-asset-proxy`: Fix typo in DFB tests.
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Add `dexForwarderBridge` address. `@0x/migrations`: Add `dexForwarderBridge` address field.
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

update ganache `forwarder` address
  packages/contract-addresses/addresses.json
Owners: @abandeali1

[asset-swapper] Fix getBatchMarketBuyOrdersAsync
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Forwarder Market sell specified amount or throw
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/libs/LibForwarderRichErrors.sol
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
  packages/utils/src/revert_errors/exchange-forwarder/revert_errors.ts
Owners: @abandeali1, @hysz

Address feedback comments
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/integrations/test/forwarder/forwarder_test.ts
Owners: @abandeali1, @hysz

Lint
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
Owners: @abandeali1, @hysz

Break if we have only protocol fee remaining
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
Owners: @abandeali1, @hysz

Update deployed addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Updated artifacts and wrappers
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
Owners: @abandeali1

[asset-swapper] Forwarder throws on market sell if amount not sold
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Forwarder throws on market sell if amount not sold (#2534)
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Fix getBatchMarketBuyOrdersAsync (#2533)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506
