Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Use AWS endpoint when deployed
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update content base
  packages/v0x/webpack.config.js
Owners: none

adding free credits page (incomplete)
  packages/website/ts/components/centeredDefinition.tsx
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/icons/illustrations/alchemy.svg
  packages/website/ts/icons/illustrations/aws.svg
  packages/website/ts/icons/illustrations/digital_ocean.svg
  packages/website/ts/icons/illustrations/facebook_ads.svg
  packages/website/ts/pages/credits.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/configs.ts
  packages/website/ts/utils/utils.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

added forum link
  packages/website/ts/components/footer.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add radar parser
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

Add script for pulling radar orderbook
  packages/pipeline/package.json
  packages/pipeline/src/data_sources/radar/index.ts
  packages/pipeline/src/scripts/pull_radar_orderbook_snapshots.ts
  yarn.lock
Owners: none

fix linting error
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

Prettier + close button
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/address_table_row.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/connected_wallet_mark.tsx
  packages/website/ts/pages/governance/countdown.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/preference_selecter.tsx
  packages/website/ts/pages/governance/rating_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove python code
  packages/v0x/README.md
  packages/v0x/backend/.gitignore
  packages/v0x/backend/README.md
  packages/v0x/backend/requirements.txt
  packages/v0x/backend/run.sh
  packages/v0x/backend/v0x/__main__.py
  packages/v0x/backend/v0x/app.py
  packages/v0x/backend/v0x/database.py
  packages/v0x/backend/v0x/handlers.py
  packages/v0x/backend/v0x/vote_utils.py
  packages/v0x/package-lock.json
  packages/v0x/package.json
  packages/v0x/src/vote.html
  packages/v0x/src/vote.js
  packages/v0x/webpack.config.js
Owners: none

Remove back button
  packages/website/ts/pages/governance/connect_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update tally endpoint
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Show balance on confirmation step
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Rename variable
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Linting fixes
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix error
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Lint
  packages/website/ts/pages/governance/connect_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Changes made as per comments - still have two minor things to fix
  packages/pipeline/migrations/1549856835629-CreateSlippageTable.ts
  packages/pipeline/src/data_sources/dex_prices/index.ts
  packages/pipeline/src/data_sources/ohlcv_external/crypto_compare.ts
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/parsers/slippage/index_test.ts
Owners: none

Fix key on links
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

changed check box
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/utils/configs.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

changed dogfood s3 bucket and fixed linting issues
  packages/website/package.json
  packages/website/ts/components/modals/modal_contact.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Attempt to add maker_address token_orderbook_snapshots
  packages/pipeline/migrations/1550017139695-TokenOrderBookSnapshotsAddMakerAddress.ts
  packages/pipeline/src/entities/token_order.ts
  packages/pipeline/src/parsers/radar_orders/index.ts
  packages/pipeline/test/entities/token_order_test.ts
Owners: none

Add vote placeholder page
  packages/website/ts/index.tsx
  packages/website/ts/pages/vote_placeholder.tsx
  packages/website/ts/types.ts
  packages/website/ts/utils/constants.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix React errors on modal
  packages/website/ts/icons/illustrations/close-modal.svg
  packages/website/ts/icons/illustrations/voting.svg
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix tally
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fire onvoted callback
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Cleanup
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Tweak whitespace
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Reset to voting screen when done
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

PR feedback
  packages/website/ts/pages/vote_placeholder.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add derivation path change
  packages/website/ts/components/modals/input.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

run linter
  packages/website/ts/pages/vote_placeholder.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Cleanup unused parts
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/connected_wallet_mark.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

increment MAX_PER_PAGE to 10000
  packages/pipeline/src/data_sources/radar/index.ts
  yarn.lock
Owners: none

Use remainingFillableAmount instead of maker/takerAssetAmount for amount field for Radar orders
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

Demonstrate calling contracts with tuple arrays
  python-packages/contract_demo/test/test_exchange.py
  python-packages/order_utils/setup.py
Owners: @feuGeneA

Changed Maps to EdpsWrappers
  packages/pipeline/src/data_sources/dex_prices/index.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/parsers/slippage/index_test.ts
Owners: none

Self-hosted EDPS
  packages/pipeline/src/data_sources/dex_prices/index.ts
Owners: none

Fixed linting issues
  packages/pipeline/src/data_sources/ohlcv_external/crypto_compare.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/parsers/slippage/index_test.ts
Owners: none

Have migration to maker_address column working
  packages/pipeline/migrations/1550017139695-TokenOrderBookSnapshotsAddMakerAddress.ts
  packages/pipeline/migrations/1550163069315-TokenOrderBookSnapshotsAddMakerAddress.ts
  packages/pipeline/src/entities/token_order.ts
  packages/pipeline/test/entities/token_order_test.ts
Owners: none

Fix volume calculation bug
  packages/pipeline/src/parsers/radar_orders/index.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
