Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Include bin in npm publish
  packages/sol-doc/.npmignore
Owners: none

Include bin in files
  packages/abi-gen/package.json
Owners: @feuGeneA

Update CHANGELOG
  packages/abi-gen/CHANGELOG.json
  packages/sol-compiler/CHANGELOG.json
Owners: @feuGeneA, @LogvinovLeon

Changelog
  packages/sol-compiler/CHANGELOG.json
  packages/sol-doc/CHANGELOG.json
Owners: @LogvinovLeon

Include bin in npm publish (#2496)
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/package.json
  packages/sol-doc/.npmignore
  packages/sol-doc/CHANGELOG.json
Owners: @feuGeneA

Added more unit tests
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

remove exclusivity in tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update resolver errors to include parent filename
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

fixed a type in the unit tests
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

address partial amount of feedback
  packages/asset-swapper/src/utils/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/abi-gen/package.json
  packages/asset-swapper/package.json
  packages/contract-wrappers-test/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/orderbook/package.json
  packages/sol-doc/package.json
Owners: @abandeali1, @hysz, @feuGeneA, @BMillman19, @fragosti, @dave4506

Publish
  package.json
Owners: none

added a `plpRegistryAddress` optional argument for SwapQuoter constructor
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added an assertion to ensure that `plpRegistryAddress` is an address
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

started adding some initial documentation
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added linting on new AssetSwapper code
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

rename source to mapping
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Cherry pick `DevUtils` refactor code from #2456
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz

Cherry-pick changes from `feat/dev-utils/dydx-bridge-validation`
  contracts/erc20/CHANGELOG.json
Owners: @abandeali1, @hysz

Cherry pick dydx validation from #2456
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/dev-utils/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/LibFractions.sol
Owners: @abandeali1, @hysz

`@0x/asset-proxy`: Add more functions to `IDydx`. `@0x/dev-utils`: Fix all the weird dydx base unit madness.
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Add `ChaiBridge` and `DydxBridge` gas benchmark tests.
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/benchmarks/chai_bridge_test.ts
  contracts/integrations/test/benchmarks/dydx_bridge_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts/integrations`: Update wallets and add comments with last run gas costs to benchmarks.
  contracts/asset-proxy/contracts/src/bridges/DydxBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IDydx.sol
  contracts/asset-proxy/contracts/test/TestDydxBridge.sol
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/contracts/src/D18.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
  contracts/integrations/CHANGELOG.json
  contracts/integrations/test/benchmarks/chai_bridge_test.ts
  contracts/integrations/test/benchmarks/dydx_bridge_test.ts
Owners: @abandeali1, @hysz

Add Broker, GodsUnchainedValidator, ChainlinkStopLimit to ContractAddresses interface
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/package.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1

address comments
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Add methods to Sampler contract to plug into generic on-chain liquidity provider
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ILiquidityProvider.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

Add Broker, GodsUnchainedValidator, ChainlinkStopLimit to ContractAddresses interface (#2498)
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/package.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1

`@0x/contracts-erc20-bridge-sampler`: Generic liquidity provider sampling (#2487)
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ILiquidityProvider.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

[asset-swapper] Fix native fill prune
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Fix native fill prune
  CHANGELOG.json
  src/utils/market_operation_utils/index.ts
Owners: none

Get liquidity provider from registry in the sampler
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ILiquidityProviderRegistry.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

Catch reverts when calling registry
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/src/artifacts.ts
  contracts/erc20-bridge-sampler/src/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

created DummyPLPRegistry and DummyPLP + generated wrappers for these new contracts and their respective interfaces
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProvider.sol
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProviderRegistry.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/src/artifacts.ts
  contracts/erc20-bridge-sampler/src/wrappers.ts
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/contract-artifacts/artifacts/DummyLiquidityProvider.json
  packages/contract-artifacts/artifacts/DummyLiquidityProviderRegistry.json
  packages/contract-artifacts/artifacts/ILiquidityProvider.json
  packages/contract-artifacts/artifacts/ILiquidityProviderRegistry.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider_registry.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider_registry.ts
Owners: @abandeali1, @hysz

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/orderbook/package.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

Fix getLiquidityProviderFromRegistry
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Install gitpkg in asset-swapper
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

generated wrappers for ERC20 sampler
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1

initial unit tests for DEX sampler
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added more unit tests for PLP DEX sampling
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506
