Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contract-addresses`: Redeploy `ERC20BridgeSampler`
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/contracts-erc20-bridge-sampler`: Fix catching invalid opcode from DevUtils `@0x/contract-addresses`: Update `ERC20BridgeSampler` mainnet and kovan addresses.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Rebase and address review comments.
  contracts/asset-proxy/test/proxies.ts
  contracts/coordinator/src/hash_utils.ts
  contracts/integrations/test/coordinator/coordinator_test.ts
  contracts/integrations/test/framework/actors/fee_recipient.ts
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
Owners: @abandeali1, @hysz

Fix linter errors.
  contracts/asset-proxy/package.json
  contracts/asset-proxy/test/proxies.ts
Owners: @abandeali1, @hysz

Cherry-pick changes from `feat/dev-utils/dydx-bridge-validation`
  contracts/dev-utils/src/index.ts
Owners: @abandeali1, @hysz

Add `es2018.promises` tsconfig lib target.
  tsconfig.json
Owners: none

Cherry-pick changes from `feat/dev-utils/dydx-bridge-validation`
  contracts/asset-proxy/package.json
Owners: @abandeali1, @hysz

Address review comments and regenerate contract-wrappers
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/base-contract/src/utils.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
Owners: @feuGeneA, @xianny

Cherry pick library linking code from #2456
  contracts/dev-utils/src/index.ts
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/base-contract/CHANGELOG.json
  packages/base-contract/src/index.ts
  packages/base-contract/src/utils.ts
Owners: @abandeali1, @hysz, @feuGeneA, @xianny

regenerate artifacts and wrappers
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
Owners: @feuGeneA, @abandeali1

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Adds setProviderState action unlockWalletAndDispatchToStore now changes the provider state based on the provider type Adds button to connect with fortmatic Adds FORTMATIC_API_KEY constant
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/env.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds Fortmatic to providerType Uses fortmatic as default provider
  packages/instant/src/constants.ts
  packages/instant/src/types.ts
  packages/instant/src/util/env.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds fortmatic button Adds fortmatic colors
  packages/instant/src/components/wallet_prompt_fortmatic.tsx
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Removes prompt formatic Fixs wallet prompt, adds marginTop props, splits border into border and borderColor Adds fortmaticPrimary and fortmaticSecondary prop colors
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/components/wallet_prompt_fortmatic.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds fortmatic dependency
  packages/instant/package.json
  packages/instant/src/globals.d.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Fixs order details only when a wallet is connected
  packages/instant/src/components/order_details.tsx
Owners: @BMillman19, @fragosti, @dave4506

added minor polish + bug fixes
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix metamask logo size on connect and on install
  packages/instant/src/components/payment_method.tsx
Owners: @BMillman19, @fragosti, @dave4506

Removes unused colors Adds white background Adds phone.svg
  packages/instant/src/assets/icons/phone.svg
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/constants.ts
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds phone svg Updates design of payment methods
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

changes to fetch account state behavior
  packages/instant/src/redux/async_data.ts
Owners: @BMillman19, @fragosti, @dave4506

fortmatic patches
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds webpack config to use env var Updates env example Adds unlockWalletWithFormaticProvider on connect
  packages/instant/.env_example
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/webpack.config.js
Owners: @BMillman19, @fragosti, @dave4506

Remove icon on connect button
  packages/instant/src/components/payment_method.tsx
Owners: @BMillman19, @fragosti, @dave4506

Adds connect to formatic button if the user does not have metamask installed
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

Fixs styling
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

Disables order details if no payment method is selected
  packages/instant/src/components/order_details.tsx
  packages/instant/src/containers/latest_buy_quote_order_details.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix lint errors Remove icon
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

Fixs styling Removes unused imports
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

Fix chevron icon Fixs metamask icon size
  packages/instant/src/assets/icons/chevronRight.svg
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

incomplete, fixes for heartbeater
  packages/instant/src/components/coinbase_wallet_logo.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/types.ts
  packages/instant/src/util/heartbeater_factory.ts
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

fix for fortmatic
  packages/instant/src/redux/async_data.ts
  packages/instant/src/types.ts
  packages/instant/src/util/env.ts
  packages/instant/src/util/heartbeater_factory.ts
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

fixing + testing fortmatic integration
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/order_details.tsx
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

add yarn.lock
  yarn.lock
Owners: none

Add Broker and GodsUnchainedValidator to contract-artifacts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Broker.json
  packages/contract-artifacts/artifacts/GodsUnchainedValidator.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
Owners: @abandeali1

Add Broker and GodsUnchainedValidator to contract-addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/migrations/src/migration.ts
Owners: @abandeali1

Add Broker and GodsUnchainedValidator to contract-wrappers
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
Owners: none

Remove DutchAuction and OrderValidator from python contract addresses
  python-packages/contract_addresses/src/zero_ex/contract_addresses/__init__.py
Owners: @feuGeneA
