Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Update Forwarder addresses
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Update Forwarder in contract-artifacts and contract-wrappers
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
  packages/contract-artifacts/artifacts/Forwarder.json
Owners: @abandeali1, @hysz

Update changelogs for Forwarder changes
  packages/contract-addresses/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
Owners: @abandeali1

rebase :roll_eyes:
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Use `batchCall()` version of the `ERC20BridgeSampler` contract
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix failing asset-swapper test.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Use `batchCall()` version of the `ERC20BridgeSampler` contract
  CHANGELOG.json
  src/swap_quoter.ts
  src/utils/market_operation_utils/constants.ts
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/sampler.ts
  test/dex_sampler_test.ts
  test/market_operation_utils_test.ts
  test/swap_quote_calculator_test.ts
  test/utils/mock_sampler_contract.ts
Owners: none

`@0x/contract-artifacts`: Update `IERC20BridgeSampler` wrapper.
  packages/contract-wrappers/CHANGELOG.json
Owners: none

`@0x/contracts-erc20-bridge-sampler`: Remove wrapper functions and introduce `batchCall()`.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

Rebase and update contract artifacts + wrappers.
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1

`@0x/contract-artifacts`: Update `ERC20BridgeSampler` artifact.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
Owners: @abandeali1

`@0x/asset-swapper`: Fix failing asset-swapper test.
  test/market_operation_utils_test.ts
Owners: none

`@0x/contracts-erc20-bridge-sampler`: Fix failing tests.
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper: Address review comments.
  src/utils/market_operation_utils/index.ts
  test/dex_sampler_test.ts
Owners: none

`@0x/asset-swapper: Address review comments.
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-addresses`: Update `ERC20BridgeSampler` addresses on mainnet and kovan.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Remove priceFreshness parameter
  contracts/integrations/contracts/src/ChainlinkStopLimit.sol
  contracts/integrations/contracts/src/interfaces/IChainlinkAggregator.sol
  contracts/integrations/contracts/test/TestChainlinkAggregator.sol
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Address comments
  contracts/integrations/contracts/src/ChainlinkStopLimit.sol
  contracts/integrations/contracts/test/TestChainlinkAggregator.sol
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

fix typo
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Tests and asset data utils
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/src/index.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Remove LibSafeMath
  contracts/integrations/contracts/src/ChainlinkStopLimit.sol
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

Update contracts-integrations changelog
  contracts/integrations/CHANGELOG.json
Owners: @abandeali1, @hysz

Contracts for Chainlink stop-limit orders
  contracts/integrations/contracts/src/ChainlinkStopLimit.sol
  contracts/integrations/contracts/src/interfaces/IChainlinkAggregator.sol
  contracts/integrations/contracts/test/TestChainlinkAggregator.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz

Add ChainlinkStopLimit addresses to @0x/contract-addresses
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Chainlink stop-limit orders (#2473)
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/src/ChainlinkStopLimit.sol
  contracts/integrations/contracts/src/interfaces/IChainlinkAggregator.sol
  contracts/integrations/contracts/test/TestChainlinkAggregator.sol
  contracts/integrations/package.json
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/src/index.ts
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Curve ERC20Bridge
  contracts/asset-proxy/contracts/src/bridges/CurveBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/integrations/test/bridges/curve_bridge_mainnet_test.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

Prettier
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

Update link to docs for web3-wrapper
  packages/web3-wrapper/README.md
Owners: @LogvinovLeon, @fabioberger

Add EIP1654 wallet support in MixinSignatureValidator
  contracts/exchange/contracts/src/MixinSignatureValidator.sol
  contracts/exchange/contracts/src/interfaces/IEIP1654Wallet.sol
  contracts/utils/contracts/src/LibEIP1654.sol
Owners: @abandeali1, @hysz

Add testcase for EIP1654 wallet
  contracts/exchange/contracts/test/TestValidatorWallet.sol
  contracts/exchange/test/signature_validator.ts
Owners: @abandeali1, @hysz

Add changes to CHANGELOG.json
  contracts/exchange/CHANGELOG.json
  contracts/utils/CHANGELOG.json
Owners: @abandeali1, @hysz

Generate artifacts and wrappers
  contracts/exchange/package.json
  contracts/exchange/test/artifacts.ts
  contracts/exchange/test/wrappers.ts
  contracts/exchange/tsconfig.json
  contracts/utils/package.json
  contracts/utils/src/artifacts.ts
  contracts/utils/src/wrappers.ts
  contracts/utils/test/artifacts.ts
  contracts/utils/test/wrappers.ts
  contracts/utils/tsconfig.json
Owners: @abandeali1, @hysz

ERC20Sampler Curve
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ICurve.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/mainnet_tests.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Use Bridge Sources for each Curve
  contracts/erc20-bridge-sampler/test/mainnet_tests.ts
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Fixed dYdX Bridge Tests
  contracts/integrations/contracts/test/TestDydxUser.sol
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
  contracts/integrations/test/mainnet_fork_utils.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

Updated contracts-integrations changelog.
  contracts/integrations/CHANGELOG.json
Owners: @abandeali1, @hysz

Add decoders for broker and stop-limit data
  contracts/broker/src/gods_unchained_utils.ts
  contracts/broker/src/index.ts
  contracts/broker/test/gods_unchained_validator_test.ts
  contracts/integrations/src/chainlink_utils.ts
  contracts/integrations/test/broker/broker_test.ts
  contracts/integrations/test/stop-limit/chainlink_stop_limit_test.ts
Owners: @abandeali1, @hysz

update changelogs
  contracts/broker/CHANGELOG.json
  contracts/integrations/CHANGELOG.json
Owners: @abandeali1, @hysz

Added a test that fails for the old DevUtils
  contracts/integrations/test/dev-utils/order_validation_utils.ts
Owners: @abandeali1, @hysz

Updated addresses again
  packages/contract-addresses/addresses.json
Owners: @abandeali1
