Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Working (tested by API) draft of indicative quotes
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Restructure RFQ-T request options
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Rm unused field in SwapQuoterOpts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Extract method inferQueryParams
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Differentiate RFQT warning messages
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: RFQ-T indicative quotes
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

ERC20BridgeSampler: Sample Curve Buy
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Fake Buy Kyber/PLP
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Deploy mainnet
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Add Kyber rates for buy tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Provide maxIterations and targetSlippage as options
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
Owners: @abandeali1, @hysz

Cleanup ERC20BridgeSampler for re-use
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

CHANGELOGs
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
Owners: @abandeali1, @hysz

Redeploy Mainnet Kovan
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

Feedback fixes
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/source_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Handle OOG/revert 0s
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Redeploy Mainnet refactor
  packages/contract-addresses/addresses.json
Owners: @abandeali1

asset-swapper: validate RFQT indicative quotes
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: test RFQT indicative quote handling
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Rm unused ERC20BridgeSource.Rfqt
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: extract method
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: Require RfqtRequestOpts.intentOnFilling
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: consider falsey takerAddress as absent
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: test requestRfqtIndicativeQuotesAsync
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: clean up order faking for indicative RFQT
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: Clarify indicative quote enablement
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

ERC20BridgeSampler: Additional Buy support (#2551)
  contracts/asset-proxy/contracts/src/interfaces/ICurve.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  contracts/integrations/test/bridge_sampler/bridge_sampler_mainnet_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/source_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

asset-s: simplify type with `?`, not `|undefined`
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: update CHANGELOG
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

`@0x/utils`: Add more ZeroEx rich reverts. `@0x/utils: Display revert error payload in stack traces.
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_error.ts
  packages/utils/src/revert_errors/zero-ex/migrate_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/proxy_revert_errors.ts
Owners: @hysz

`ethereum-types`: Update `MethodAbi` definition for solidity 0.6
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

`@0x/contracts-zero-ex`: Allow any call target to `bootstrap()`.
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/features/Bootstrap.sol
  contracts/zero-ex/contracts/src/features/IBootstrap.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
Owners: @abandeali1, @hysz

`@0x/utils`: Change `SimpleFunctionRegistry` `NoRollbackHistoryError` to `NotInRollbackHistoryError`.
  packages/utils/src/revert_errors/zero-ex/simple_function_registry_revert_errors.ts
Owners: @hysz

`@0x/sol-compiler`: Strip `receive` functions from 0.6 ABI output
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/solc_wrapper_v05.ts
  packages/sol-compiler/src/solc_wrapper_v06.ts
Owners: @LogvinovLeon

`@0x/contracts-utils`: Add solidity 0.6 contracts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/LibBytesV06.sol
  contracts/utils/contracts/src/v06/errors/LibBytesRichErrorsV06.sol
  contracts/utils/contracts/src/v06/errors/LibRichErrorsV06.sol
  contracts/utils/contracts/src/v06/interfaces/IOwnableV06.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Use (scaled) enums for storage IDs
  contracts/zero-ex/contracts/src/features/Bootstrap.sol
  contracts/zero-ex/contracts/src/storage/LibMigrateStorage.sol
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/storage_uniqueness_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracrts-zero-ex`: Address more review comments.
  contracts/zero-ex/contracts/src/features/IMigrate.sol
  contracts/zero-ex/contracts/src/features/Migrate.sol
  contracts/zero-ex/contracts/src/migrations/LibBootstrap.sol
  contracts/zero-ex/contracts/src/migrations/LibMigrate.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/test/storage_uniqueness_test.ts
Owners: @abandeali1, @hysz

`@0x/utils`: `ZeroExRevertErrors`.
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/zero-ex/common_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/proxy_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/simple_function_registry_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Fix comments.
  contracts/zero-ex/contracts/src/features/Bootstrap.sol
  contracts/zero-ex/contracts/src/features/IBootstrap.sol
Owners: @abandeali1, @hysz

Add `@0x/contracts-zero-ex` project to monorepo. Tweak circleci config to avoid running out of memory.
  .circleci/config.yml
  .gitignore
  .prettierignore
  package.json
Owners: @LogvinovLeon
