Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

Pin pytests to ganache snapshot 6.0.0
  .circleci/config.yml
  python-packages/sra_client/test/relayer/docker-compose.yml
Owners: @LogvinovLeon, @feuGeneA

In Py SRA tests, unpin ganache-cli, mesh, and LKB
  .circleci/config.yml
  python-packages/sra_client/test/relayer/docker-compose.yml
Owners: @LogvinovLeon, @feuGeneA

Forwarder Market sell specified amount or throw (#2521)
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/libs/LibForwarderRichErrors.sol
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/utils/src/revert_errors/exchange-forwarder/revert_errors.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

WIP: Created new snapshot for mesh
  contracts/asset-proxy/contracts/test/TestChaiBridge.sol
  contracts/asset-proxy/src/index.ts
  contracts/asset-proxy/test/erc20bridge_proxy.ts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/migrations/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/sol-compiler`: Make source paths in output artifacts nicer if they're within modules. `@0x/sol-compiler`: Makea Add v0.6 solidity test.
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/test/compiler_test.ts
  packages/sol-compiler/test/fixtures/contracts/V6Contract.sol
Owners: @LogvinovLeon, @abandeali1, @hysz

`@0x/sol-compiler`: remove `fs.promises` usage
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

`@0x/sol-compiler`: Insert compiler version in input artifacts.
  packages/sol-compiler/src/compiler.ts
Owners: @LogvinovLeon

@0x/sol-compiler`: Refactor + add solidity 0.6 support
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/cli.ts
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/solc_wrapper.ts
  packages/sol-compiler/src/solc_wrapper_v04.ts
  packages/sol-compiler/src/solc_wrapper_v05.ts
  packages/sol-compiler/src/solc_wrapper_v06.ts
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

`@0x/typescript-typings`: Add `version()` to `SolcInstance`
  packages/typescript-typings/CHANGELOG.json
  packages/typescript-typings/types/solc/index.d.ts
Owners: none

`@0x/sol-compiler`: Address review feedback.
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/solc_wrapper_v04.ts
  packages/sol-compiler/src/solc_wrapper_v05.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/test/compiler_test.ts
  packages/sol-compiler/test/fixtures/contracts/V6Contract.sol
  packages/sol-compiler/test/fixtures/exchange_bin.ts
  packages/sol-compiler/test/fixtures/v6_contract_bin.ts
Owners: @LogvinovLeon, @abandeali1, @hysz

`@0x/asset-swapper`: Add DFB support + refactor swap quote calculation utils
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_consumer_utils_test.ts
  packages/asset-swapper/test/utils/mocks.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: add quote fill simulation tests
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Remove unused `Order` export from `index.ts`.
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Run prettier
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Lint and remove `@0x/contracts-asset-proxy` dep.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix linter lies.
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-proxy`: Fix failing test.
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Add GST support to DFB
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/contracts/test/TestDexForwarderBridge.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Pin pytests to ganache snapshot 6.0.0 (#2535)
  .circleci/config.yml
  python-packages/sra_client/test/relayer/docker-compose.yml
Owners: @LogvinovLeon, @feuGeneA

py/contract_wrappers: Pin sphinx to prev version
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

py/contract_wrappers: Pin sphinx to prev version (#2539)
  python-packages/contract_wrappers/setup.py
Owners: @feuGeneA

prep asset-swapper: rename variable
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Authorize sender adddress
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/contracts/test/TestDexForwarderBridge.sol
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

migrations: add `yarn publish:private`
  packages/migrations/package.json
Owners: none

migrations: Deploy ERC20BridgeSampler
  packages/contract-addresses/addresses.json
  packages/migrations/package.json
  packages/migrations/src/migration.ts
Owners: @abandeali1

asset-swapper: support firm RFQ-T quote requests
  packages/asset-swapper/package.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper, migrations: incl. prettier in lint
  packages/asset-swapper/package.json
  packages/migrations/package.json
Owners: @BMillman19, @fragosti, @dave4506

Update DexForwarderBridge address
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Updated contract artifacts and wrappers
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/migrations/package.json
Owners: @abandeali1

`@0x/asset-swapper`: Fix linter lies.
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

Add GST support to DFB
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/contracts/test/TestDexForwarderBridge.sol
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Remove unused `Order` export from `index.ts`.
  packages/asset-swapper/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: add quote fill simulation tests
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Remove deprecated swap_quote_calculator tests
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-proxy`: Fix failing test.
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update DexForwarderBridge address
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Authorize sender adddress
  contracts/asset-proxy/contracts/src/bridges/DexForwarderBridge.sol
  contracts/asset-proxy/contracts/test/TestDexForwarderBridge.sol
  contracts/asset-proxy/test/dex_forwarder_bridge.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Run prettier
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Add DFB support + refactor swap quote calculation utils
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_consumer_utils_test.ts
  packages/asset-swapper/test/utils/mocks.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Lint and remove `@0x/contracts-asset-proxy` dep.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
