Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contracts-dev-utils`: Move `D18` out to `@0x/contracts-utils`.
  contracts/dev-utils/CHANGELOG.json
  contracts/dev-utils/contracts/src/D18.sol
  contracts/dev-utils/contracts/src/LibDydxBalance.sol
  contracts/dev-utils/package.json
  contracts/dev-utils/test/artifacts.ts
  contracts/dev-utils/test/wrappers.ts
  contracts/dev-utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Rebase and update tests for curve.
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Incorporate fees into fill optimization.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/fillable_amounts_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/fill_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Address review comments.
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Add methods to Sampler contract to plug into generic on-chain liquidity provider
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ILiquidityProvider.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

add the initial implementation of the registry
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

remove useless logs, and add more tests
  packages/asset-swapper/src/quote_consumers/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

applied linting and prettifying to Registry and associated tests
  packages/asset-swapper/src/quote_consumers/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

FIXES spelling in exchange readme
  contracts/exchange/README.md
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Bring back a form of native order pruning. `@0x/asset-swapper`: Bring back dust thresholds. `@0x/asset-swapper`: Avoid calling `getMedianSellRate()` if output token is ETH.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

added documentation and refactored a few components within the registry
  packages/asset-swapper/src/quote_consumers/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update devdoc for `fees` option
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

applied linting
  packages/asset-swapper/src/quote_consumers/plp_registry.ts
  packages/asset-swapper/test/plp_registry_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added interface for PLP Router
  contracts/asset-proxy/contracts/src/interfaces/IPLPRouter.sol
Owners: @abandeali1, @hysz

updates naming of the PLP registry:
  contracts/asset-proxy/contracts/src/interfaces/IPLPRegistry.sol
  contracts/asset-proxy/contracts/src/interfaces/IPLPRouter.sol
Owners: @abandeali1, @hysz

added contract wrappers for IPLPRegistry
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/contract-artifacts/artifacts/IPLPRegistry.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/i_p_l_p_registry.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1, @hysz

added initial integration commit
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

updated ERC20BridgeSampler contract to include new PLP interfaces
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz

Add methods to Sampler contract to plug into generic on-chain liquidity provider
  contracts/asset-proxy/contracts/src/bridges/ChaiBridge.sol
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/ILiquidityProvider.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

updated sampler so that it can also support PLP buys
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
Owners: @BMillman19, @fragosti, @dave4506

address comments
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

update unit tests
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Create main.yml
  .github/workflows/main.yml
Owners: none

call destroyAsync on unmount
  src/swap_quoter.ts
Owners: none

call destroyAsync on unmount
  packages/asset-swapper/src/swap_quoter.ts
  packages/instant/src/components/zero_ex_instant_provider.tsx
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-utils`: Update `DevUtils` address in `DeploymentConstants`.
  contracts/dev-utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/utils/package.json
  contracts/utils/test/artifacts.ts
  contracts/utils/test/wrappers.ts
  contracts/utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contract-addresses`: Update `DevUtils` addresses.
  contracts/dev-utils/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

added DummyPLP and DummyPLPRegistry, added ERC20BridgeSampler artifacts and wrappers, added initial testing of bridge sampler
  contracts/erc20-bridge-sampler/contracts/src/DummyPLP.sol
  contracts/erc20-bridge-sampler/contracts/src/DummyPLPRegistry.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/generated-wrappers/dummy_p_l_p.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_p_l_p_registry.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/index.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

extended unit test to cover buys and sells of PLP liquidity
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

factored out the source exclusion logic into a static function
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added more unit tests and factored out `getMappingsForOrderSamplerAsync`
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Asset-Swapper: Incorporate fees into fill path optimization (#2481)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/fillable_amounts_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/fill_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Asset-Swapper: Incorporate fees into fill path optimization (#2481)
  CHANGELOG.json
  src/utils/fillable_amounts_utils.ts
  src/utils/market_operation_utils/constants.ts
  src/utils/market_operation_utils/create_order.ts
  src/utils/market_operation_utils/fill_optimizer.ts
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/sampler.ts
  src/utils/market_operation_utils/types.ts
  src/utils/swap_quote_calculator.ts
  test/fillable_amounts_utils_test.ts
  test/market_operation_utils_test.ts
  test/swap_quote_calculator_test.ts
Owners: none

Fix extra space in `provider.send` signature from fabio. Fixes #2285.
  packages/utils/src/provider_utils.ts
Owners: @hysz

Fix style and update changelog.
  packages/utils/CHANGELOG.json
  packages/utils/src/provider_utils.ts
Owners: @hysz

Xlab/fix/extra space (#2494)
  packages/utils/CHANGELOG.json
  packages/utils/src/provider_utils.ts
Owners: @hysz

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Set shouldSaveStandardInput to true in all compiler.json files
  contracts/asset-proxy/compiler.json
  contracts/broker/compiler.json
  contracts/coordinator/compiler.json
  contracts/dev-utils/compiler.json
  contracts/erc1155/compiler.json
  contracts/erc20-bridge-sampler/compiler.json
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
  contracts/integrations/compiler.json
  contracts/multisig/compiler.json
  contracts/staking/compiler.json
  contracts/utils/compiler.json
  packages/abi-gen/compiler.json
Owners: @abandeali1, @hysz, @feuGeneA

Do not prettify Solidity
  .prettierignore
Owners: none
