Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/abi-gen`: Update python wrappers generation to work with leading underscores in identifiers.'
  packages/abi-gen/CHANGELOG.json
  packages/abi-gen/src/index.ts
  packages/abi-gen/src/python_handlebars_helpers.ts
  packages/abi-gen/src/utils.ts
  packages/abi-gen/templates/Python/partials/method_class.handlebars
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/test_lib_dummy/__init__.py
Owners: @feuGeneA

`@0x/asset-swapper`: Address review feedback
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/contract-wrappers/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Guess deployment nonce from transformer address. `@0x/asset-swapper`: Fix ETH not being passed as the token to `transformERC20()`.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Switch to using deployment nonce instead of transformer addresses.
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/ITransformERC20.json
  packages/contract-wrappers/src/generated-wrappers/i_transform_erc20.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1

`@0x/asset-swapper`: Fix linter errors.
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/migrations`: Add `uniswapV2Bridge` entry that was lost in rebase.
  packages/migrations/src/migration.ts
Owners: none

fix sellAmounts
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1, @hysz

`@0x/contracts-erc20-bridge-sampler`: Fix `sampleBuysFromUniswapV2()`
  contracts/erc20-bridge-sampler/CHANGELOG.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
Owners: @abandeali1, @hysz

fix uniswapV2 buys
  packages/contract-artifacts/ERC20BridgeSampler.json
Owners: @abandeali1

redeploy ERC20BridgeSampler to fix Uniswap buys
  packages/contract-addresses/addresses.json
Owners: @abandeali1

fix changelog, move artifact to correct dir
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/contract-artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1, @hysz

Fix/erc20 sampler/uniswap v2 buys (#2603)
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/test/TestERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/test/erc20-bridge-sampler.ts
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1, @hysz

send in quote reporter for buy
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

CI: persist test-publish npm logs as Artifacts
  .circleci/config.yml
Owners: @LogvinovLeon

`@0x/contracts-zero-ex`: Flip `TransformERC20.createTransformWallet()` to `onlyOwner`.
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz

buyAmount support
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Remove dependency on `contracts-zero-ex`.
  packages/asset-swapper/package.json
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_proxy_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Use transformer utils from `order-utils`.
  contracts/zero-ex/src/constants.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/transformer_data_encoders.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/pay_taker_transformer_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fix linter errors.
  contracts/zero-ex/test/transformers/affiliate_fee_transformer_test.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/transformers/weth_transformer_test.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Add ERC20 Transformer utils and export useful constants.
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/transformer_data_encoders.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/asset-swapper`: Fix linter errors.
  packages/asset-swapper/src/quote_consumers/exchange_proxy_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: use RFQT-specific types in MarketOpUtils
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: use RFQT-specific types in MarketOpUtils
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Prune dead code
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix sol-profiler bugs
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-resolver/src/resolvers/fs_resolver.ts
  packages/sol-resolver/src/resolvers/name_resolver.ts
  packages/sol-resolver/src/resolvers/npm_resolver.ts
  packages/sol-resolver/src/resolvers/relative_fs_resolver.ts
  packages/sol-resolver/src/resolvers/url_resolver.ts
  packages/sol-tracing-utils/src/artifact_adapters/sol_compiler_artifact_adapter.ts
Owners: @LogvinovLeon

Update changelogs
  packages/sol-profiler/CHANGELOG.json
  packages/sol-resolver/CHANGELOG.json
  packages/sol-tracing-utils/CHANGELOG.json
Owners: @LogvinovLeon

add quotereporter as optional opt instead of explicit parameter
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

wip: required
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

move quotereporter param in rfqt opts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s: rm refs to quoteExpiry for RFQT tests
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

move quotereporter outside of rfqt opts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

remove old TODO
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

fix up imports
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

linting and prettier
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

new quote report
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

get rid of quote report generator and just store in report form
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

linting
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

export needed type
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

export quote report source
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/quote_reporter.ts
Owners: @BMillman19, @fragosti, @dave4506

Detect Bridge orders and fill direct
  contracts/zero-ex/contracts/src/transformers/FillOrdersTransformer.sol
  contracts/zero-ex/contracts/src/vendor/v3/IERC20Bridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz
