Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

asset-swapper: Improve RFQ-T logging for 0x API
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: consolidate RFQ-T usage of Axios
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: fix bug: RFQ-T info log was broken
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper/RFQT: log maker response metadata
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper/RFQT: Log params sent to maker
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/QuoteRequestor: clarify axios error type
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/utils`: Add new `ZeroExRevertErrors` revert types
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_error.ts
  packages/utils/src/revert_errors/zero-ex/common_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/ownable_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/puppet_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/spender_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@0x/contracts-utils`: Convert more 0.6 contracts
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/v06/AuthorizableV06.sol
  contracts/utils/contracts/src/v06/LibMathV06.sol
  contracts/utils/contracts/src/v06/LibSafeMathV06.sol
  contracts/utils/contracts/src/v06/OwnableV06.sol
  contracts/utils/contracts/src/v06/ReentrancyGuardV06.sol
  contracts/utils/contracts/src/v06/errors/LibAuthorizableRichErrorsV06.sol
  contracts/utils/contracts/src/v06/errors/LibMathRichErrorsV06.sol
  contracts/utils/contracts/src/v06/errors/LibOwnableRichErrorsV06.sol
  contracts/utils/contracts/src/v06/errors/LibReentrancyGuardRichErrorsV06.sol
  contracts/utils/contracts/src/v06/errors/LibSafeMathRichErrorsV06.sol
  contracts/utils/contracts/src/v06/interfaces/IAuthorizableV06.sol
  contracts/utils/contracts/src/v06/interfaces/IOwnableV06.sol
  contracts/utils/package.json
  contracts/utils/test/artifacts.ts
  contracts/utils/test/wrappers.ts
  contracts/utils/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-erc20`: Add solidity 0.6 contracts.
  contracts/erc20/CHANGELOG.json
  contracts/erc20/contracts/src/v06/IERC20TokenV06.sol
  contracts/erc20/contracts/src/v06/IEtherTokenV06.sol
  contracts/erc20/contracts/src/v06/LibERC20TokenV06.sol
  contracts/erc20/package.json
  contracts/erc20/test/artifacts.ts
  contracts/erc20/test/wrappers.ts
  contracts/erc20/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/subproviders`: Update ganache-core. `@0x/web3-wrapper`: Update ganache-core.
  packages/subproviders/CHANGELOG.json
  packages/subproviders/package.json
  packages/web3-wrapper/CHANGELOG.json
  packages/web3-wrapper/package.json
  packages/web3-wrapper/test/web3_wrapper_test.ts
  yarn.lock
Owners: @fabioberger, @dekz, @LogvinovLeon

`@0x/contracts-zero-ex`: Make `TokenSpender`'s puppet contract a distinct contract type and rename `getTokenSpenderPuppet()` to `getAllowanceTarget()`
  contracts/zero-ex/contracts/src/features/ITokenSpender.sol
  contracts/zero-ex/contracts/src/features/TokenSpender.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/puppets/ITokenSpenderPuppet.sol
  contracts/zero-ex/contracts/src/puppets/TokenSpenderPuppet.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/zero-ex`: Rebase and use "slot" instead of "offset" language in storage buckets.
  contracts/zero-ex/contracts/src/storage/LibPuppetPoolStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
Owners: @abandeali1, @hysz

`@0x/web3-wrapper`: Add `getAccountNonceAsync()` to `Web3Wrapper`
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/contracts-zero-ex`: Revamp TransformERC20.
  contracts/zero-ex/contracts/src/errors/LibPuppetRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/IAllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/IPuppet.sol
  contracts/zero-ex/contracts/src/external/Puppet.sol
  contracts/zero-ex/contracts/src/features/IPuppetPool.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/PuppetPool.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/features/TokenSpender.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/storage/LibPuppetPoolStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestFullMigration.sol
  contracts/zero-ex/contracts/test/TestInitialMigration.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/contracts/test/TestPuppetTarget.sol
  contracts/zero-ex/contracts/test/TestTransformERC20.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/allowance_target_test.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/puppet_pool_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/initial_migration_test.ts
  contracts/zero-ex/test/puppet_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Remove `payable` from `IERC20Transformer.transform()` and disable hex capitalization linter rule because of prettier conflicts.
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/tslint.json
Owners: @abandeali1, @hysz

asset-s: use @0x/quote-server, not local typedefs
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: fix bug: bad maker response throws
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Use `immutable` owner in `Puppet` instead of `Ownable`.
  contracts/zero-ex/contracts/src/external/IPuppet.sol
  contracts/zero-ex/contracts/src/external/Puppet.sol
Owners: @abandeali1, @hysz

`@x/utils`: Address review feedback.
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/zero-ex/puppet_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/wallet_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Address review feedback.
  contracts/zero-ex/contracts/src/errors/LibWalletRichErrors.sol
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/FlashWallet.sol
  contracts/zero-ex/contracts/src/external/IAllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/IFlashWallet.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/features/TokenSpender.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestCallTarget.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/allowance_target_test.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/flash_wallet_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Address review feedback.
  contracts/utils/contracts/src/v06/AuthorizableV06.sol
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Return deployment nonce in `transform()`.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/src/transformers/LibERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Finish returning deployment nonce in `transform()`.
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/transformers/IERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/index.ts
  contracts/zero-ex/src/nonce_utils.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Fix doc-gen bug.
  contracts/zero-ex/src/index.ts
Owners: @abandeali1, @hysz

`@0x/contracts-zero-ex`: Address review comments.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/features/ITransformERC20.sol
  contracts/zero-ex/test/features/token_spender_test.ts
Owners: @abandeali1, @hysz

Expose fills in asset-swapper quote
  packages/abi-gen/test-cli/output/python/lib_dummy/__init__.py
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @feuGeneA, @BMillman19, @fragosti, @dave4506

Add to changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Remove unused variable
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove unused variable SignedOrderWithFillableAmounts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Run prettier
  packages/asset-swapper/test/utils/swap_quote.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/utils`: Add `NegativeTransformERC20OutputERror`
  packages/utils/src/revert_errors/zero-ex/transform_erc20_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Revert if the taker's output amount decreases.
  contracts/zero-ex/contracts/src/errors/LibTransformERC20RichErrors.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/test/TestMintTokenERC20Transformer.sol
  contracts/zero-ex/contracts/test/TestMintableERC20Token.sol
  contracts/zero-ex/test/features/transform_erc20_test.ts
Owners: @abandeali1, @hysz

asset-s/QuoteRequestor: fix statusCode logging
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/utils`: Remove unused revert error.
  packages/utils/src/revert_errors/zero-ex/ownable_revert_errors.ts
Owners: @hysz

`@0x/contracts-zero-ex`: Address audit feedback.
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibOwnableRichErrors.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/test/initial_migration_test.ts
Owners: @abandeali1, @hysz

asset-s/QuoteRequestor: use TakerRequest type
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-s/RFQ: adapt to renamed TakerRequest fields
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix test-publish CI failure
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Fix test-publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

ZeroEx: Audit Fixes (#2586)
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibOwnableRichErrors.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/storage/LibOwnableStorage.sol
  contracts/zero-ex/contracts/src/storage/LibProxyStorage.sol
  contracts/zero-ex/contracts/src/storage/LibSimpleFunctionRegistryStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTokenSpenderStorage.sol
  contracts/zero-ex/contracts/src/storage/LibTransformERC20Storage.sol
  contracts/zero-ex/test/initial_migration_test.ts
  packages/utils/src/revert_errors/zero-ex/ownable_revert_errors.ts
Owners: @abandeali1, @hysz
