Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/asset-swapper`: Take asset data from input orders instead of output orders in quote result calculation.
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Move `SAMPLER_CONTRACT_GAS_LIMIT` constant to `market_operation_utils/constants`.
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix redundant zero check
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-erc20-bridge-sampler`: Add gas limits to external quote calls. `@0x/contract-addresses`: Point `erc20BridgeSampler` to new version.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Add kovan addresses to `DeploymentConstants`. `@0x/contract-addresses`: Add kovan `ERC20BridgeSampler` address.
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

`@0x/asset-swapper`: Undo bridge slippage when computing best case quote.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Revert uniswap decimals fix.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Set fee amount in fillable amounts test
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update CHANGELOG
  packages/asset-swapper/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

Compare equivalent asset data
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/swap_quote_consumer_utils.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
  packages/asset-swapper/test/sorting_utils_test.ts
  packages/asset-swapper/test/utils_test.ts
  packages/order-utils/src/asset_data_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

`@0x/contracts-erc20-bridge-sampler`: Fix changelog.
  contracts/erc20-bridge-sampler/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Change default `minUniswapDecimals` option from 8 to 7.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix asset-swapper bugs and misc improvements. (#2406)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/assert.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/protocol_fee_utils.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/swap_quote_consumer_utils.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/asset-swapper/test/fillable_amounts_utils_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/sorting_utils_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils_test.ts
  packages/order-utils/CHANGELOG.json
  packages/order-utils/src/asset_data_utils.ts
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

Fix asset-swapper bugs and misc improvements. (#2406)
  CHANGELOG.json
  src/constants.ts
  src/swap_quoter.ts
  src/utils/assert.ts
  src/utils/market_operation_utils/constants.ts
  src/utils/market_operation_utils/create_order.ts
  src/utils/market_operation_utils/index.ts
  src/utils/protocol_fee_utils.ts
  src/utils/swap_quote_calculator.ts
  src/utils/swap_quote_consumer_utils.ts
  src/utils/utils.ts
  test/fillable_amounts_utils_test.ts
  test/market_operation_utils_test.ts
  test/sorting_utils_test.ts
  test/swap_quote_calculator_test.ts
  test/utils_test.ts
Owners: none

`@0x/contracts-erc20-bridge-sampler`: Add gas limits to external quote calls. `@0x/contract-addresses`: Point `erc20BridgeSampler` to new version.
  contracts/erc20-bridge-sampler/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/contracts-utils`: Add kovan addresses to `DeploymentConstants`. `@0x/contract-addresses`: Add kovan `ERC20BridgeSampler` address.
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

`@0x/contracts-erc20-bridge-sampler`: Fix changelog.
  contracts/erc20-bridge-sampler/CHANGELOG.json
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Revert uniswap decimals fix.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Change default `minUniswapDecimals` option from 8 to 7.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-integrations`: Fix `fork/resets` modifier ordering on dydx tests. `@0x/contracts-integrations`: Move and tweak aggregation tests.
  contracts/integrations/package.json
  contracts/integrations/test/aggregation/fill_test.ts
  contracts/integrations/test/aggregation/tokens.ts
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Fix linter error.
  contracts/integrations/test/aggregation/fill_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Run prettier on aggregation fill tests.
  contracts/integrations/test/aggregation/fill_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Consolidate fork provider logic into `mocha_blockchain.ts`.
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/web3_wrapper.ts
Owners: @abandeali1, @hysz

`@0x/contracts-test-utils`: Remove unecessary `locked` option when creating forked ganache provider.
  contracts/test-utils/src/mocha_blockchain.ts
Owners: @abandeali1, @hysz

`@0x/dev-utils`: Add `locked` to `Web3Config`.
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
Owners: @LogvinovLeon, @fabioberger

`@0x/contracts-integrations`: Handle non-responsive third-party SRA ordebooks with a little more grace.
  contracts/integrations/test/aggregation/fill_test.ts
Owners: @abandeali1, @hysz

Set fee amount in fillable amounts test
  packages/asset-swapper/src/utils/assert.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-integrations`: Update mainnet fork tests. `@0x/contracts-test-utils`: Fix forked tests being skipped. `@0x/contracts-erc20-bridge-sampler`: Regenerate artifacts.
  contracts/integrations/test/mainnet_configs_test.ts
  contracts/integrations/test/mainnet_fork_utils.ts
  contracts/test-utils/src/mocha_blockchain.ts
Owners: @abandeali1, @hysz

Fix redundant zero check
  packages/asset-swapper/src/utils/assert.ts
Owners: @BMillman19, @fragosti, @dave4506

Add aggregator mainnet tests (#2407)
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/test/TestMainnetAggregatorFills.sol
  contracts/integrations/package.json
  contracts/integrations/test/aggregation/fill_test.ts
  contracts/integrations/test/aggregation/tokens.ts
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/bridges/dydx_bridge_mainnet_test.ts
  contracts/integrations/test/mainnet_configs_test.ts
  contracts/integrations/test/mainnet_fork_utils.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
  contracts/test-utils/CHANGELOG.json
  contracts/test-utils/src/mocha_blockchain.ts
  contracts/test-utils/src/web3_wrapper.ts
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Removes prompt formatic Fixs wallet prompt, adds marginTop props, splits border into border and borderColor Adds fortmaticPrimary and fortmaticSecondary prop colors
  packages/instant/src/components/wallet_prompt.tsx
  packages/instant/src/components/wallet_prompt_fortmatic.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds phone svg Updates design of payment methods
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/ui/container.tsx
  packages/instant/src/components/ui/icon.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

Adds webpack config to use env var Updates env example Adds unlockWalletWithFormaticProvider on connect
  packages/instant/.env_example
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/webpack.config.js
Owners: @BMillman19, @fragosti, @dave4506

fixing + testing fortmatic integration
  packages/instant/package.json
  packages/instant/public/index.html
  packages/instant/src/components/order_details.tsx
  packages/instant/src/redux/async_data.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds connect to formatic button if the user does not have metamask installed
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds fortmatic button Adds fortmatic colors
  packages/instant/src/components/wallet_prompt_fortmatic.tsx
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix metamask logo size on connect and on install
  packages/instant/src/components/payment_method.tsx
Owners: @BMillman19, @fragosti, @dave4506

Fixs styling
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
