Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

`@0x/contracts-integrations`: Add Exchange signature validation fuzz tests.
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/test/TestSignatureValidationWallet.sol
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/framework/deployment_manager.ts
  contracts/integrations/test/framework/simulation.ts
  contracts/integrations/test/framework/utils/pseudorandom.ts
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz

Redeploy bridges and Forwarder on mainnet
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Enable istanbul in Ganache
  contracts/test-utils/src/web3_wrapper.ts
  package.json
  packages/dev-utils/src/web3_factory.ts
  packages/subproviders/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger, @dekz

Fix WETH compilation
  contracts/erc20/contracts/src/WETH9.sol
Owners: @abandeali1, @hysz

Add forwarder mainnet tests
  contracts/integrations/test/forwarder/forwarder_mainnet_test.ts
  contracts/integrations/test/forwarder/types.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Fix build
  contracts/exchange-forwarder/contracts/src/libs/LibConstants.sol
  contracts/integrations/test/forwarder/deploy_forwarder.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Change EVM target to istanbul for all contract packages except erc-20
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/truffle-config.js
  contracts/coordinator/compiler.json
  contracts/coordinator/truffle-config.js
  contracts/dev-utils/compiler.json
  contracts/dev-utils/truffle-config.js
  contracts/erc1155/compiler.json
  contracts/erc1155/truffle-config.js
  contracts/erc20-bridge-sampler/compiler.json
  contracts/erc20-bridge-sampler/truffle-config.js
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/erc721/truffle-config.js
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-forwarder/truffle-config.js
  contracts/exchange-libs/compiler.json
  contracts/exchange-libs/truffle-config.js
  contracts/exchange/compiler.json
  contracts/exchange/truffle-config.js
  contracts/extensions/compiler.json
  contracts/extensions/truffle-config.js
  contracts/integrations/compiler.json
  contracts/multisig/compiler.json
  contracts/multisig/contracts/test/TestRejectEther.sol
  contracts/multisig/truffle-config.js
  contracts/staking/compiler.json
  contracts/staking/truffle-config.js
  contracts/utils/compiler.json
  contracts/utils/truffle-config.js
Owners: @abandeali1, @hysz

Check makerFeeAssetData length before attempting to read id
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  yarn.lock
Owners: @abandeali1, @hysz

Handle v2 order edge cases
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/MixinForwarderCore.sol
  contracts/exchange-forwarder/contracts/src/MixinWeth.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IExchangeV2.sol
Owners: @abandeali1, @hysz

Update TS boilerplate
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/test/artifacts.ts
  contracts/exchange-forwarder/test/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
Owners: @abandeali1, @hysz

Change erc-20 package compiler target to istanbul
  contracts/erc20/contracts/src/WETH9.sol
  packages/web3-wrapper/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger

Do not attempt to transfer asset if fill failed
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
Owners: @abandeali1, @hysz

Regenerate boilerplate
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/src/artifacts.ts
  contracts/exchange-forwarder/src/index.ts
  contracts/exchange-forwarder/src/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
Owners: @abandeali1, @hysz

Remove unnecessary BigNumber cast
  contracts/integrations/test/forwarder/forwarder_mainnet_test.ts
Owners: @abandeali1, @hysz

Redeploy Forwarder and all bridges
  contracts/asset-proxy/src/index.ts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Allow v2 orders to be filled if their makerAssetFeeData field uses a v2 order id
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IExchangeV2.sol
  contracts/exchange-forwarder/contracts/src/libs/LibConstants.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
Owners: @abandeali1, @hysz

Fix build
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/subproviders/package.json
  packages/web3-wrapper/package.json
  packages/web3-wrapper/test/web3_wrapper_test.ts
  yarn.lock
Owners: @fabioberger, @dekz, @LogvinovLeon

Redeploy Forwarder
  packages/contract-addresses/addresses.json
Owners: @abandeali1

add integrations tests
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
Owners: @abandeali1, @hysz

Forwarder StaticCall and MultiAsset buy support
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
Owners: @abandeali1, @hysz

Add unit tests
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
  contracts/exchange-forwarder/test/asset_test.ts
Owners: @abandeali1, @hysz

address comments
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/test/asset_test.ts
Owners: @abandeali1, @hysz

Fix dep version
  packages/migrations/package.json
Owners: none

Update CHANGELOG
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

remove _noTakerFee (i.e. disallow StaticCall takerFeeAssetData)
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
Owners: @abandeali1, @hysz

Exchange signature validation fuzz tests (#2425)
  contracts/integrations/CHANGELOG.json
  contracts/integrations/contracts/test/TestSignatureValidationWallet.sol
  contracts/integrations/package.json
  contracts/integrations/test/artifacts.ts
  contracts/integrations/test/framework/deployment_manager.ts
  contracts/integrations/test/framework/simulation.ts
  contracts/integrations/test/framework/utils/pseudorandom.ts
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
  contracts/integrations/test/wrappers.ts
  contracts/integrations/tsconfig.json
Owners: @abandeali1, @hysz

Fix style and update changelog.
  packages/utils/CHANGELOG.json
  packages/utils/src/provider_utils.ts
Owners: @hysz

whitelist constants array
  packages/instant/src/constants.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

lint + prettier
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

typo
  packages/instant/src/redux/async_data.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-artifacts`: Update artifacts.
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/Coordinator.json
  packages/contract-artifacts/artifacts/CoordinatorRegistry.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/DummyERC20Token.json
  packages/contract-artifacts/artifacts/DummyERC721Token.json
  packages/contract-artifacts/artifacts/ERC1155Mintable.json
  packages/contract-artifacts/artifacts/ERC1155Proxy.json
  packages/contract-artifacts/artifacts/ERC20BridgeProxy.json
  packages/contract-artifacts/artifacts/ERC20Proxy.json
  packages/contract-artifacts/artifacts/ERC20Token.json
  packages/contract-artifacts/artifacts/ERC721Proxy.json
  packages/contract-artifacts/artifacts/ERC721Token.json
  packages/contract-artifacts/artifacts/Exchange.json
  packages/contract-artifacts/artifacts/Forwarder.json
  packages/contract-artifacts/artifacts/IAssetProxy.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IWallet.json
  packages/contract-artifacts/artifacts/MultiAssetProxy.json
  packages/contract-artifacts/artifacts/Staking.json
  packages/contract-artifacts/artifacts/StakingProxy.json
  packages/contract-artifacts/artifacts/StaticCallProxy.json
  packages/contract-artifacts/artifacts/WETH9.json
  packages/contract-artifacts/artifacts/ZRXToken.json
  packages/contract-artifacts/artifacts/ZrxVault.json
Owners: @abandeali1

`@0x/asset-swapper`: Update forwarder fees for new forwarder contract.
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Update packages/migrations/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: none

`@0x/dev-utils`: Make `"istanbul"` the default `hardfork` when creating a ganache provider.
  packages/dev-utils/CHANGELOG.json
  packages/dev-utils/src/web3_factory.ts
Owners: @LogvinovLeon, @fabioberger

Update changelogs
  packages/0x.js/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/dev-utils/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1, @LogvinovLeon, @fabioberger

`@0x/migrations`: Update Forwarder migration.
  packages/migrations/CHANGELOG.json
  packages/migrations/src/migration.ts
Owners: none

`@0x/asset-swapper`: Remove debug code.
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-wrappers`: Regenerate wrappers.
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
Owners: none

Update contract wrappers (esp Forwarder + asset-swapper) (#2432)
  CHANGELOG.json
  src/constants.ts
  src/index.ts
  src/quote_consumers/exchange_swap_quote_consumer.ts
  src/quote_consumers/forwarder_swap_quote_consumer.ts
  src/quote_consumers/swap_quote_consumer.ts
  src/types.ts
  src/utils/affiliate_fee_utils.ts
  src/utils/utils.ts
  test/exchange_swap_quote_consumer_test.ts
  test/forwarder_swap_quote_consumer_test.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
