Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

`@0x/contract-addresses`: Redeploy `ERC20BridgeSampler`.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

added more unit tests, reinforced existing tests, added more implementation
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

patch asset-swapper to support ERC721
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/instant/src/components/instant_heading.tsx
Owners: @BMillman19, @fragosti, @dave4506

prettier + lint
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/instant/src/components/instant_heading.tsx
Owners: @BMillman19, @fragosti, @dave4506

address feedback
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/utils.ts
Owners: @BMillman19, @fragosti, @dave4506

prettier
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

tidy up tests, add other tests
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

refactor tests, and add more tests
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Added linting and prettifying
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

re-generate ERC20BridgeSampler artifacts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
Owners: @abandeali1

performed a rename
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProviderRegistry.sol
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Update artifacts after rename
  packages/contract-artifacts/artifacts/DummyLiquidityProviderRegistry.json
Owners: @abandeali1

Improve error message for nested errors
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

added changelog
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/utils.ts
  packages/instant/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

added changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

added namespce to web3wrapper
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/swap_quote_consumer_utils.ts
  packages/base-contract/src/index.ts
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/generated-wrappers/broker.ts
  packages/contract-wrappers/src/generated-wrappers/coordinator.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_token.ts
  packages/contract-wrappers/src/generated-wrappers/erc721_token.ts
  packages/contract-wrappers/src/generated-wrappers/exchange.ts
  packages/contract-wrappers/src/generated-wrappers/forwarder.ts
  packages/contract-wrappers/src/generated-wrappers/gods_unchained_validator.ts
  packages/contract-wrappers/src/generated-wrappers/i_asset_data.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/staking.ts
  packages/contract-wrappers/src/generated-wrappers/staking_proxy.ts
  packages/contract-wrappers/src/generated-wrappers/weth9.ts
  packages/contract-wrappers/src/types.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @feuGeneA, @BMillman19, @fragosti, @dave4506, @xianny, @LogvinovLeon, @fabioberger

updated namespace formatting
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

update CHANGELOG
  packages/abi-gen/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
Owners: @feuGeneA, @BMillman19, @fragosti, @dave4506, @xianny, @LogvinovLeon, @fabioberger

prettier
  packages/asset-swapper/docs/reference.mdx
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @fabioberger

transformed the new artifacts
  packages/contract-artifacts/artifacts/DummyLiquidityProvider.json
  packages/contract-artifacts/artifacts/DummyLiquidityProviderRegistry.json
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/ILiquidityProvider.json
  packages/contract-artifacts/artifacts/ILiquidityProviderRegistry.json
Owners: @abandeali1

refactored sampler operations into a single external file
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider_registry.ts
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/i_liquidity_provider_registry.ts
  packages/contract-wrappers/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

factored out interfaces in `types.ts`
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed a bug with imports
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

added linting to the contracts
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProvider.sol
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProviderRegistry.sol
Owners: @abandeali1, @hysz

refactored imports
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Add latest BUSD Curve
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update Compound Curve
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
Owners: @BMillman19, @fragosti, @dave4506

gitpkg
  CHANGELOG.json
  CHANGELOG.md
  README.md
  addresses.json
  lib/addresses.json
  lib/src/index.d.ts
  lib/src/index.d.ts.map
  lib/src/index.js
  lib/src/index.js.map
  package.json
  src/index.ts
  tsconfig.json
  tslint.json
Owners: none

[asset-swapper] Add latest BUSD Curve (#2506)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Publish
  contracts/asset-proxy/package.json
  contracts/broker/package.json
  contracts/coordinator/package.json
  contracts/dev-utils/package.json
  contracts/erc1155/package.json
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20/package.json
  contracts/erc721/package.json
  contracts/exchange-forwarder/package.json
  contracts/exchange-libs/package.json
  contracts/exchange/package.json
  contracts/extensions/package.json
  contracts/integrations/package.json
  contracts/multisig/package.json
  contracts/staking/package.json
  contracts/test-utils/package.json
  contracts/utils/package.json
  packages/0x.js/package.json
  packages/asset-swapper/package.json
  packages/contract-addresses/package.json
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers/package.json
  packages/instant/package.json
  packages/migrations/package.json
  packages/order-utils/package.json
  packages/orderbook/package.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506, @fabioberger, @LogvinovLeon

Update gitpkg to use fork
  packages/asset-swapper/package.json
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Build before publish
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506

update sampler address
  packages/contract-addresses/addresses.json
Owners: @abandeali1

MaximumGasPrice contract
  contracts/extensions/contracts/src/MaximumGasPrice.sol
  contracts/extensions/package.json
  contracts/extensions/src/artifacts.ts
  contracts/extensions/src/wrappers.ts
  contracts/extensions/test/artifacts.ts
  contracts/extensions/test/wrappers.ts
  contracts/extensions/tsconfig.json
Owners: @abandeali1, @hysz

Add tooling and unit tests
  contracts/extensions/src/index.ts
  contracts/extensions/src/max_gas_price_utils.ts
  contracts/extensions/test/max_gas_price_test.ts
Owners: @abandeali1, @hysz

Update changelog
  contracts/extensions/CHANGELOG.json
Owners: @abandeali1, @hysz

addressed PR comments
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProvider.sol
  contracts/erc20-bridge-sampler/contracts/src/DummyLiquidityProviderRegistry.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

refactor more code
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

refresh wrappers and artifacts
  packages/contract-artifacts/artifacts/DummyLiquidityProvider.json
  packages/contract-artifacts/artifacts/DummyLiquidityProviderRegistry.json
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider.ts
  packages/contract-wrappers/src/generated-wrappers/dummy_liquidity_provider_registry.ts
Owners: @abandeali1

adds possibility to exclude PLP
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506
