Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

added initial RFQ tests
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added more unit tests
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added further unit tests
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added a few fixed and added some comments:
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

added linting and prettifying
  packages/asset-swapper/package.json
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

fixed a small bug with buys and quote reporter
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Rewrite AllowanceTarget.executeCall() and TokenSpenderFeature._spendERC20Tokens() in assembly to reduce gas consumption. Total gas savings: 2798 gas per _spendERC20Tokens() call.
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/contracts/src/features/TokenSpenderFeature.sol
Owners: @abandeali1, @hysz

added initial implementation
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

More executeCall() gas golfing:
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/test/allowance_target_test.ts
Owners: @abandeali1, @hysz

Store blacklistedUntil as local var, don't ref map
  packages/asset-swapper/src/utils/rfq_maker_blacklist.ts
Owners: @BMillman19, @fragosti, @dave4506

Blacklist for timeout === max, not just >
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Added initial unit tests and implementation
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contracts-zero-ex`: Add LiquidityProviderFeature contracts
  contracts/zero-ex/contracts/src/IZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibLiquidityProviderRichErrors.sol
  contracts/zero-ex/contracts/src/features/ILiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/src/features/MetaTransactionsFeature.sol
  contracts/zero-ex/contracts/src/storage/LibLiquidityProviderStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/contract-artifacts/artifacts/IZeroEx.json
  packages/contract-wrappers/src/generated-wrappers/i_zero_ex.ts
Owners: @abandeali1, @hysz

Add migrate function to LiquidityProviderFeature
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
Owners: @abandeali1, @hysz

Add tests for exchange proxy gas overhead accounting in the path optimizer
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

add tests for LiquidityProviderFeature
  contracts/zero-ex/contracts/src/features/LiquidityProviderFeature.sol
  contracts/zero-ex/contracts/test/TestBridge.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/liquidity_provider_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/zero-ex/liquidity_provider_revert_errors.ts
Owners: @abandeali1, @hysz

Appease linter
  contracts/zero-ex/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Update changelogs
  contracts/zero-ex/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Fix test-doc-generation
  packages/asset-swapper/src/index.ts
  packages/contract-wrappers/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix broken test
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Refactor asset-swapper
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/path.ts
  packages/asset-swapper/src/utils/market_operation_utils/path_optimizer.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

lint
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Fixes incorrectly named param for Lattice connector
  packages/subproviders/src/subproviders/lattice.ts
Owners: @fabioberger, @dekz

More AllowanceTarget gas optimization
  contracts/zero-ex/contracts/src/external/AllowanceTarget.sol
  contracts/zero-ex/contracts/src/external/IAllowanceTarget.sol
  contracts/zero-ex/contracts/src/features/TokenSpenderFeature.sol
  contracts/zero-ex/test/allowance_target_test.ts
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/base-contract/src/types.ts
Owners: @abandeali1, @hysz, @feuGeneA, @xianny

Removes manual changelog timestamp
  packages/subproviders/CHANGELOG.json
Owners: @fabioberger, @dekz

Removed non-v1 (non EP) swap quote consumers
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/forwarder_swap_quote_consumer.ts
  packages/asset-swapper/src/quote_consumers/swap_quote_consumer.ts
  packages/asset-swapper/test/exchange_swap_quote_consumer_test.ts
  packages/asset-swapper/test/forwarder_swap_quote_consumer_test.ts
Owners: @BMillman19, @fragosti, @dave4506

feat: [asset-swapper] Shell
  contracts/asset-proxy/contracts/src/bridges/ShellBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IShell.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IShell.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Added fix for decimals
  packages/asset-swapper/contracts/src/NativeOrderSampler.sol
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/contracts/native_order_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

added fix
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

account for EP gas overhead in multihop
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multihop_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/rate_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Mark decimal places
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
Owners: @BMillman19, @fragosti, @dave4506

Deployed and Changelogs
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/ShellBridge.sol
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Glue up the deployed address
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
Owners: @BMillman19, @fragosti, @dave4506

Glue for FQT rollup
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

feat: [asset-swapper] Shell 🐚 (#2722)
  contracts/asset-proxy/CHANGELOG.json
  contracts/asset-proxy/contracts/src/bridges/ShellBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IShell.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinShell.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/contracts/src/ShellSampler.sol
  packages/asset-swapper/contracts/src/interfaces/IShell.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

fix: exchange proxy overhead scaled by gas price
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: exchange proxy overhead scaled by gas price (#2723)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

fix: [asset-swapper] Catch Uint256BinOp which can occur
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
Owners: @abandeali1, @hysz

Perform a local bounds check
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
Owners: @abandeali1, @hysz

fix: [asset-swapper] Catch Uint256BinOp which can occur (#2724)
  packages/asset-swapper/contracts/src/ApproximateBuys.sol
Owners: @abandeali1, @hysz
