Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Mockable axios for QuoteRequestor
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/rfqt_mocker.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Move RFQT Mocker to src
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  packages/asset-swapper/test/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506

move MockedRfqtFirmQuoteResponse into types file
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
Owners: @BMillman19, @fragosti, @dave4506

fix import
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

asset-swapper: Mockable axios for QuoteRequestor (#2549)
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/rfqt_mocker.ts
  packages/asset-swapper/test/quote_requestor_test.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

add support for state override in eth_call
  packages/abi-gen/templates/Python/partials/method_class.handlebars
  packages/abi-gen/templates/TypeScript/contract.handlebars
  packages/abi-gen/templates/TypeScript/partials/method_call.handlebars
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/test_lib_dummy/__init__.py
  packages/abi-gen/test-cli/output/typescript/abi_gen_dummy.ts
  packages/abi-gen/test-cli/output/typescript/lib_dummy.ts
  packages/abi-gen/test-cli/output/typescript/test_lib_dummy.ts
  packages/base-contract/src/index.ts
  packages/ethereum-types/src/index.ts
  packages/web3-wrapper/src/marshaller.ts
  packages/web3-wrapper/src/types.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @feuGeneA, @xianny, @LogvinovLeon, @fabioberger

Eliminate unnecessary `else`
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Clarify parallelization of orderbook & RFQT
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Bug fix: RFQ-T orders werent going through sorting
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove an unnecessary type annotation
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Validate maker endpoint responses with JSON Schema
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

Type Axios response with undefined, not void
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

include marshalledStateOverride only when necessary
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

test for returning a 200 with invalid data, and additonal logging for that case
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Ensure RFQ-T response has asset data we expect
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

validate signed order schema
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

give more descriptive variable names and test an unsigned order
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

takeout unused var
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

RFQ-T: validate assetData & add more tests (#2552)
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix bug: Stop ignoring default SwapQuoteRequestOps
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

Update {asset-s,migrat,contract-ad}* CHANGELOGs
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

remove StateOverride from python templates
  packages/abi-gen/templates/Python/partials/method_class.handlebars
  packages/abi-gen/test-cli/output/python/abi_gen_dummy/__init__.py
  packages/abi-gen/test-cli/output/python/test_lib_dummy/__init__.py
Owners: @feuGeneA

fix README, add missing test_cli:prebuild script to package.json
  packages/abi-gen/README.md
  packages/abi-gen/package.json
Owners: @feuGeneA

add eth_call with StateOverrideSet integration test
  packages/web3-wrapper/test/web3_integration_test.ts
Owners: @LogvinovLeon, @fabioberger

add dev dependency
  packages/web3-wrapper/package.json
Owners: @LogvinovLeon, @fabioberger

move web3 integration test to contract-wrappers-test
  packages/contract-wrappers-test/test/web3_wrapper_integration_test.ts
  packages/web3-wrapper/package.json
Owners: @LogvinovLeon, @fabioberger

fix readme
  packages/abi-gen/README.md
Owners: @feuGeneA

add warning when skipping web3 wrapper integration test, fix lint
  packages/contract-wrappers-test/test/web3_wrapper_integration_test.ts
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

fix test names
  packages/contract-wrappers-test/test/web3_wrapper_integration_test.ts
Owners: none

fix lint errors, fix `yarn fix` in contract-wrappers-test
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers-test/test/web3_wrapper_integration_test.ts
  packages/web3-wrapper/src/index.ts
  packages/web3-wrapper/src/marshaller.ts
Owners: @LogvinovLeon, @fabioberger

remove etheruem-types dependency
  packages/contract-wrappers-test/package.json
  packages/contract-wrappers-test/test/web3_wrapper_integration_test.ts
Owners: none

export StateOverrideSet and StateOverrideParams in dev-utils
  packages/dev-utils/src/index.ts
Owners: @LogvinovLeon, @fabioberger

Draft test of SwapQuoter.getMarketSellSwapQuoteForAssetDataAsync
  packages/asset-swapper/package.json
  packages/asset-swapper/test/swap_quoter_test.ts
  packages/asset-swapper/test/utils/mocks.ts
Owners: @BMillman19, @fragosti, @dave4506

migrations: Add independent `yarn prettier` script
  packages/migrations/package.json
Owners: none

migrations: Add independent `yarn prettier` script
  packages/migrations/package.json
Owners: none

sampler: assume orders with takers are fillable
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove unused RFQ-T field from SwapQuoterOpts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
Owners: @BMillman19, @fragosti, @dave4506

Rename and restructure RFQ-T request options
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/test/quote_requestor_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Extract method inferQueryParams
  packages/asset-swapper/src/utils/quote_requestor.ts
Owners: @BMillman19, @fragosti, @dave4506

LOCAL ONLY: increase asset-s* test timeout
  packages/asset-swapper/package.json
Owners: @BMillman19, @fragosti, @dave4506
