Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

Add default color to icons
  packages/website/ts/components/icon.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Import SignatureType from @0x/types
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update copy
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Prevent overflowing content on error modal
  packages/website/ts/pages/governance/error_modal.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fallback from EIP712 when signing
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update tally when user votes
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Vote: Added instant. Updated failure modes
  packages/website/public/index.html
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/error_modal.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/utils/configs.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix linting errors
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Handle Coinbase wallet inconsitency
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Submit the voting comment
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove unused
  packages/website/ts/index.tsx
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update ZEIP from strings to numbers
  packages/website/ts/components/dropdowns/dropdown_products.tsx
  packages/website/ts/components/modals/modal_contact.tsx
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/address_table_row.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/countdown.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add todos for cleanup on duplicated code. Fix styling and typo
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/countdown.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/rating_bar.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove rounding (up) in total balance string
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update copy on the governance page
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update copy on the banner
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update the formatting of ZRX (showing whole ZRX)
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Update copy of Risk
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add governance to the footer
  packages/website/ts/components/footer.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove unused input
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

example metatag
  packages/asset-buyer/ubuntu@ec2-34-201-51-190.compute-1.amazonaws.com
  packages/instant/public/boi.html
  packages/website/ts/pages/governance/governance.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger

Update I voted badge svg
  packages/website/ts/icons/illustrations/zeip-23.svg
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add og-zeip23 for social sharing
  packages/website/public/images/og-zeip23.png
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Yarn lock update
  yarn.lock
Owners: none

Add support for EIP1193 providers and clean up provider standardization logic
  packages/assert/src/index.ts
  packages/assert/test/assert_test.ts
  packages/asset-buyer/src/asset_buyer.ts
  packages/base-contract/src/index.ts
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/ethereum-types/src/index.ts
  packages/instant/src/index.umd.ts
  packages/order-utils/src/signature_utils.ts
  packages/order-watcher/src/order_watcher/order_watcher.ts
  packages/sol-tracing-utils/src/trace_collection_subprovider.ts
  packages/subproviders/package.json
  packages/subproviders/src/subproviders/ganache.ts
  packages/subproviders/src/subproviders/metamask_subprovider.ts
  packages/subproviders/src/subproviders/subprovider.ts
  packages/typescript-typings/types/ganache-core/index.d.ts
  packages/utils/src/index.ts
  packages/utils/src/provider_utils.ts
  packages/web3-wrapper/package.json
  packages/web3-wrapper/src/web3_wrapper.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger, @dekz

added padding fix
  packages/website/ts/components/hero.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix bug in ledger address selector where provider does not exist.
  packages/website/ts/pages/governance/connect_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Added ledger sign notification
  packages/website/ts/pages/governance/ledger_sign_note.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Revert broken formatting
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Hide ledger sign note on error
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix style for address table
  packages/website/ts/pages/governance/address_table.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

reset svg because etherscan has a global svg style
  packages/instant/src/components/css_reset.tsx
Owners: @BMillman19, @fragosti, @steveklebanoff

Implement sol-compiler offline mode
  packages/ethereum-types/src/index.ts
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/schemas/compiler_options_schema.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/constants.ts
Owners: @LogvinovLeon

Define offlineMode as false in all smart contracts packages
  contracts/asset-proxy/compiler.json
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-libs/compiler.json
  contracts/exchange/compiler.json
  contracts/extensions/compiler.json
  contracts/multisig/compiler.json
  contracts/utils/compiler.json
Owners: none

Recieved -> Received
  packages/website/ts/pages/governance/modal_vote.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Rename public interface provider to supportedProvider and our internal provider to Provider
  packages/abi-gen-templates/contract.handlebars
  packages/assert/src/index.ts
  packages/asset-buyer/src/asset_buyer.ts
  packages/base-contract/src/index.ts
  packages/ethereum-types/src/index.ts
  packages/order-utils/src/order_validation_utils.ts
  packages/subproviders/src/index.ts
  packages/subproviders/src/subproviders/metamask_subprovider.ts
  packages/utils/src/provider_utils.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @BMillman19, @fragosti, @steveklebanoff, @LogvinovLeon, @fabioberger, @dekz

Prettier
  packages/website/ts/pages/governance/ledger_sign_note.tsx
  packages/website/ts/pages/governance/vote_form.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

removed react-document-title in favor of using react-helmet for consistency and bug fix
  packages/website/package.json
  packages/website/ts/components/documentTitle.tsx
  packages/website/ts/components/meta_tags.tsx
  packages/website/ts/components/portal/portal.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/about/jobs.tsx
  packages/website/ts/pages/about/mission.tsx
  packages/website/ts/pages/about/press.tsx
  packages/website/ts/pages/about/team.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/pages/documentation/developers_page.tsx
  packages/website/ts/pages/ecosystem.tsx
  packages/website/ts/pages/faq/faq.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/instant.tsx
  packages/website/ts/pages/landing.tsx
  packages/website/ts/pages/launch_kit.tsx
  packages/website/ts/pages/market_maker.tsx
  packages/website/ts/pages/vote_placeholder.tsx
  packages/website/ts/pages/why.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

fixed title comment-out
  packages/website/ts/components/meta_tags.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Modify providerUtils such that it simply guarentees a common sendAsync method but does not create a new instance since website depends on other properties being available
  packages/utils/src/provider_utils.ts
Owners: none
