Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @dorothy-zbornak, @feuGeneA, @xianny, @mzhu25, @dekz, @albrow, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Dev tools & setup
.circleci/ @dorothy-zbornak
abi-gen/ @feuGeneA @dorothy-zbornak
base-contract/ @xianny @dorothy-zbornak
abi-gen-templates/ @feuGeneA @xianny @dorothy-zbornak
dev-utils/ @dorothy-zbornak @dorothy-zbornak
ethereum-types/ @dorothy-zbornak
monorepo-scripts/ @dorothy-zbornak
sol-compiler/ @dorothy-zbornak
sol-coverage/ @mzhu25
sol-profiler/ @mzhu25
sol-trace/ @mzhu25
sol-tracing-utils/ @mzhu25
sol-resolver/ @dorothy-zbornak
subproviders/ @dorothy-zbornak @dekz
verdaccio/ @albrow
web3-wrapper/ @dorothy-zbornak
utils/ @hysz @dorothy-zbornak

run prettier
  monorepo-scripts/src/deps_versions.ts
Owners: @dorothy-zbornak

update publish job to omit abi-gen and monorepo-scripts tests
  package.json
Owners: none

update monorepo scripts to work with different repo structures
  monorepo-scripts/src/constants.ts
  monorepo-scripts/src/deps_versions.ts
  monorepo-scripts/src/test_installation.ts
Owners: @dorothy-zbornak

accept args in monorepo-scripts/test_installation
  monorepo-scripts/src/test_installation.ts
Owners: @dorothy-zbornak

update root package.json name
  monorepo-scripts/package.json
Owners: @dorothy-zbornak

update coverage script
  package.json
Owners: none

update autolabeler
  .github/autolabeler.yml
Owners: none

Disable tests per IS_PRICE_AWARE_RFQ_ENABLED flag
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: none

Ran prettier
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @hysz, @dorothy-zbornak

Leave link to PR in comments
  packages/asset-swapper/src/constants.ts
Owners: none

chore: [asset-swapper] Move Bridge Addresses and Gas schedule
  packages/asset-swapper/src/constants.ts
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @hysz, @dorothy-zbornak

Removes comment note We are currently implementing this feature and the note doesn't belong here anyway, as it catches errors.
  packages/subproviders/src/subproviders/lattice.ts
Owners: @dorothy-zbornak, @dekz

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

broken build
  contracts/staking/contracts/src/Gov.sol
  contracts/staking/contracts/src/Staking.sol
  contracts/staking/contracts/src/StakingProxy.sol
  contracts/staking/contracts/src/ZrxVault.sol
  contracts/staking/contracts/src/fees/MixinExchangeFees.sol
  contracts/staking/contracts/src/fees/MixinExchangeManager.sol
  contracts/staking/contracts/src/immutable/MixinConstants.sol
  contracts/staking/contracts/src/immutable/MixinDeploymentConstants.sol
  contracts/staking/contracts/src/immutable/MixinStorage.sol
  contracts/staking/contracts/src/interfaces/IOnchainGov.sol
  contracts/staking/contracts/src/interfaces/IStaking.sol
  contracts/staking/contracts/src/interfaces/IStakingEvents.sol
  contracts/staking/contracts/src/interfaces/IStakingProxy.sol
  contracts/staking/contracts/src/interfaces/IStorage.sol
  contracts/staking/contracts/src/interfaces/IStorageInit.sol
  contracts/staking/contracts/src/interfaces/IStructs.sol
  contracts/staking/contracts/src/interfaces/IZrxVault.sol
  contracts/staking/contracts/src/libs/LibCobbDouglas.sol
  contracts/staking/contracts/src/libs/LibFixedMath.sol
  contracts/staking/contracts/src/libs/LibFixedMathRichErrors.sol
  contracts/staking/contracts/src/libs/LibSafeDowncast.sol
  contracts/staking/contracts/src/libs/LibStakingRichErrors.sol
  contracts/staking/contracts/src/stake/MixinStake.sol
  contracts/staking/contracts/src/stake/MixinStakeBalances.sol
  contracts/staking/contracts/src/stake/MixinStakeStorage.sol
  contracts/staking/contracts/src/staking_pools/MixinCumulativeRewards.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPool.sol
  contracts/staking/contracts/src/staking_pools/MixinStakingPoolRewards.sol
  contracts/staking/contracts/src/sys/MixinAbstract.sol
  contracts/staking/contracts/src/sys/MixinFinalizer.sol
  contracts/staking/contracts/src/sys/MixinParams.sol
  contracts/staking/contracts/src/sys/MixinScheduler.sol
  contracts/staking/truffle-config.js
Owners: none

Feat: support PlasmaSwap
  packages/asset-swapper/CHANGELOG.json
Owners: none

feat: PlasmaSwap (#2749)
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
Owners: @hysz, @dorothy-zbornak

added bridge & sample & router contracts.
  contracts/asset-proxy/contracts/src/bridges/PlasmaswapBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IPlasmaswapRouter.sol
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/asset-swapper/contracts/src/PlasmaswapSampler.sol
Owners: @hysz, @dorothy-zbornak

rename PlasmaSwap -> Plasmaswap
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/contracts/src/ERC20BridgeSampler.sol
  packages/asset-swapper/package.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/tsconfig.json
Owners: @hysz, @dorothy-zbornak

feat: PlasmaSwap (#2749). Fix getPlasmaswapSellQuotes method call
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @hysz, @dorothy-zbornak

correct router interface.
  contracts/asset-proxy/contracts/src/interfaces/IPlasmaswapRouter.sol
Owners: none

added missed contract.
  packages/asset-swapper/contracts/src/interfaces/IPlasmaswapRouter.sol
Owners: none

correct router address.
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
Owners: @hysz, @dorothy-zbornak

feat: PlasmaSwap (#2749). Fix getPlasmaswapSellQuotes, getPlasmaswapBuyQuotes.
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/artifacts.ts
  packages/asset-swapper/test/wrappers.ts
  packages/asset-swapper/tsconfig.json
Owners: @hysz, @dorothy-zbornak

added missed tests & contracts.
  contracts/asset-proxy/contracts/test/TestPlasmaswapBridge.sol
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/plasmaswap_bridge.ts
  contracts/asset-proxy/tsconfig.json
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinPlasmaswap.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/migrations/src/migration.ts
Owners: @hysz, @dorothy-zbornak

added missed member.
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
Owners: none

added missed include.
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
Owners: none

added missed inheritance order.
  contracts/zero-ex/contracts/src/transformers/bridges/BridgeAdapter.sol
  contracts/zero-ex/test/artifacts.ts
Owners: none

added missed plasmaswap router address.
  contracts/zero-ex/contracts/src/transformers/bridges/mixins/MixinAdapterAddresses.sol
  contracts/zero-ex/test/transformers/fill_quote_transformer_test.ts
  packages/migrations/src/migration.ts
Owners: none

correct parameters amount.
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @hysz, @dorothy-zbornak

correct inheritance for plasmaswap.
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
Owners: @hysz, @dorothy-zbornak

feat: PlasmaSwap (#2749). Fix prettier error.
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @hysz, @dorothy-zbornak

chore: add deprecation notice in README
  README.md
Owners: none

chore: add deprecation notice in README (#2750)
  README.md
Owners: none

adding version to sphix decorator
  python-packages/order_utils/src/zero_ex/order_utils/asset_data_utils.py
Owners: none

version bump
  python-packages/order_utils/setup.py
Owners: none
