Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

create new quote requestor each time
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

take out old todo comment
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

always pass through quoterequestor
  packages/asset-swapper/src/swap_quoter.ts
Owners: @BMillman19, @fragosti, @dave4506

linting and remove unused function
  packages/asset-swapper/src/swap_quoter.ts
  packages/asset-swapper/src/types.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_report_generator.ts
  packages/asset-swapper/src/utils/quote_requestor.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

add CHANGELOG entry
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

Update sampler artifacts/wrappers
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1

wip: tests for balancer sampler ops
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/utils/mock_balancer_pools_cache.ts
  packages/asset-swapper/test/utils/mock_sampler_contract.ts
Owners: @BMillman19, @fragosti, @dave4506

"fix" build and add mainnet BalancerBridge tests
  contracts/integrations/test/bridges/balancer_bridge_mainnet_test.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Make use of GraphQL instead of sampler
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IBalancerPool.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/contract-artifacts/artifacts/ERC20BridgeSampler.json
  packages/contract-artifacts/artifacts/IERC20BridgeSampler.json
  packages/contract-wrappers/src/generated-wrappers/erc20_bridge_sampler.ts
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
  yarn.lock
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Add BalancerBridge and Sampler functions
  contracts/asset-proxy/contracts/src/bridges/BalancerBridge.sol
  contracts/asset-proxy/contracts/src/interfaces/IBalancerPool.sol
  contracts/asset-proxy/package.json
  contracts/asset-proxy/src/artifacts.ts
  contracts/asset-proxy/src/wrappers.ts
  contracts/asset-proxy/test/artifacts.ts
  contracts/asset-proxy/test/wrappers.ts
  contracts/asset-proxy/tsconfig.json
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/contracts/src/IBalancerPool.sol
  contracts/erc20-bridge-sampler/contracts/src/IERC20BridgeSampler.sol
  contracts/erc20-bridge-sampler/package.json
  contracts/erc20-bridge-sampler/test/artifacts.ts
  contracts/erc20-bridge-sampler/test/wrappers.ts
  contracts/erc20-bridge-sampler/tsconfig.json
Owners: @abandeali1, @hysz

Update contract addresses, export BalancerBridge wrapper
  contracts/asset-proxy/src/index.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Add Balancer support to AssetSwapper + related refactoring
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multibridge_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/source_utils.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
Owners: @BMillman19, @fragosti, @dave4506, @abandeali1

Return a buy quote of 0 if the buy amount exceeds the Balancer pool's balance
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Dynamic fee estimation
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/asset-swapper/test/quote_simulation_test.ts
  packages/tslint-config/tslint.json
Owners: @BMillman19, @fragosti, @dave4506

lint
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/fills.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/multibridge_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
  packages/asset-swapper/test/market_operation_utils_test.ts
  packages/monorepo-scripts/src/doc_gen_configs.ts
Owners: @BMillman19, @fragosti, @dave4506, @fabioberger

address some comments
  contracts/asset-proxy/contracts/src/bridges/BalancerBridge.sol
  contracts/integrations/test/bridges/balancer_bridge_mainnet_test.ts
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/curve_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

balancer unit tests
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix market operation utils test
  packages/asset-swapper/test/market_operation_utils_test.ts
Owners: @BMillman19, @fragosti, @dave4506

add balancer cache and fix DexSampler tests
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/test/dex_sampler_test.ts
Owners: @BMillman19, @fragosti, @dave4506

Update changelogs
  contracts/asset-proxy/CHANGELOG.json
  contracts/integrations/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.json
  packages/contract-addresses/CHANGELOG.json
  packages/migrations/CHANGELOG.json
  packages/monorepo-scripts/CHANGELOG.json
  packages/tslint-config/CHANGELOG.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506, @fabioberger

Fix bugs discovered via simbot
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/orders.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
  packages/asset-swapper/src/utils/quote_simulation.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix issues in balancer_utils
  packages/asset-swapper/package.json
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

override `BigNumber.config` in configured_bignumber.ts
  packages/utils/src/configured_bignumber.ts
Owners: @hysz

Special case Balancer subops in too
  packages/asset-swapper/src/utils/market_operation_utils/sampler_operations.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/contract-addresses`: Redeploy DFB on kovan. `@0x/contracts-utils`: Reorganize `DeploymentConstants` addresses.
  contracts/utils/CHANGELOG.json
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

`etheereum-types`: Touch this package to fix publish.
  packages/ethereum-types/CHANGELOG.json
Owners: @LogvinovLeon

`@0x/0x.js`: Export `ExchangeProxyMetaTransaction` and `SignedExchangeProxyMetaTransaction`
  packages/0x.js/CHANGELOG.json
  packages/0x.js/src/index.ts
Owners: none

`@0x/contracts-zero-ex`: add `SignatureValidator` and `MetaTransactions` features.
  contracts/zero-ex/CHANGELOG.json
  contracts/zero-ex/contracts/src/ZeroEx.sol
  contracts/zero-ex/contracts/src/errors/LibMetaTransactionsRichErrors.sol
  contracts/zero-ex/contracts/src/errors/LibSignatureRichErrors.sol
  contracts/zero-ex/contracts/src/features/IMetaTransactions.sol
  contracts/zero-ex/contracts/src/features/ISignatureValidator.sol
  contracts/zero-ex/contracts/src/features/MetaTransactions.sol
  contracts/zero-ex/contracts/src/features/Ownable.sol
  contracts/zero-ex/contracts/src/features/SignatureValidator.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/features/TokenSpender.sol
  contracts/zero-ex/contracts/src/features/TransformERC20.sol
  contracts/zero-ex/contracts/src/fixins/FixinCommon.sol
  contracts/zero-ex/contracts/src/fixins/FixinEIP712.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/contracts/src/storage/LibMetaTransactionsStorage.sol
  contracts/zero-ex/contracts/src/storage/LibStorage.sol
  contracts/zero-ex/contracts/test/TestMetaTransactionsTransformERC20Feature.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/artifacts.ts
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/src/wrappers.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/signature_validator_test.ts
  contracts/zero-ex/test/features/token_spender_test.ts
  contracts/zero-ex/test/features/transform_erc20_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/initial_migration_test.ts
  contracts/zero-ex/test/utils/migration.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
  packages/order-utils/src/eip712_utils.ts
Owners: @abandeali1, @hysz, @fabioberger, @LogvinovLeon

`@0x/types`: Add `ExchangeProxyMetaTransactionHash()`.
  packages/types/CHANGELOG.json
  packages/types/src/index.ts
Owners: none

`@0x/utils`: Add more revert errors to `ZeroExRevertErrors`
  packages/utils/CHANGELOG.json
  packages/utils/src/index.ts
  packages/utils/src/revert_errors/zero-ex/meta_transaction_revert_errors.ts
  packages/utils/src/revert_errors/zero-ex/signature_validator_revert_errors.ts
Owners: @hysz

`@0x/order-utils`: Add `getOrderHash()`, `getExchangeTransactionHash()`, `getExchangeProxyTransactionHash()`
  packages/order-utils/CHANGELOG.json
  packages/order-utils/package.json
  packages/order-utils/src/constants.ts
  packages/order-utils/src/eip712_utils.ts
  packages/order-utils/src/hash_utils.ts
  packages/order-utils/src/index.ts
  packages/order-utils/src/signature_utils.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contract-addresses`: Update ganache snapshot addresses for the Exchange Proxy.
  packages/contract-addresses/CHANGELOG.json
  packages/contract-addresses/addresses.json
Owners: @abandeali1

`@0x/types`: Address review feedback.
  packages/types/src/index.ts
Owners: none

`@0x/contracts-zero-ex`: Fix linter errors.
  contracts/zero-ex/test/features/meta_transactions_test.ts
Owners: @abandeali1, @hysz

`@0x/order-utils`: Address review feedback.
  packages/order-utils/src/constants.ts
Owners: @fabioberger, @LogvinovLeon

`@0x/contracts-zero-ex`: Address review feedback.
  contracts/zero-ex/contracts/src/features/IMetaTransactions.sol
  contracts/zero-ex/contracts/src/features/MetaTransactions.sol
  contracts/zero-ex/contracts/src/features/SimpleFunctionRegistry.sol
  contracts/zero-ex/contracts/src/migrations/FullMigration.sol
  contracts/zero-ex/contracts/src/migrations/InitialMigration.sol
  contracts/zero-ex/package.json
  contracts/zero-ex/src/migration.ts
  contracts/zero-ex/test/artifacts.ts
  contracts/zero-ex/test/features/meta_transactions_test.ts
  contracts/zero-ex/test/features/signature_validator_test.ts
  contracts/zero-ex/test/full_migration_test.ts
  contracts/zero-ex/test/initial_migration_test.ts
  contracts/zero-ex/test/wrappers.ts
  contracts/zero-ex/tsconfig.json
Owners: @abandeali1, @hysz

`@0x/contract-wrappers-test`: Increase test timeout.
  packages/contract-wrappers-test/package.json
Owners: none

Address some more comments
  packages/asset-swapper/src/utils/market_operation_utils/balancer_utils.ts
  packages/utils/src/configured_bignumber.ts
Owners: @BMillman19, @fragosti, @dave4506, @hysz

QuoteReportGenerator test
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

test for buy amount and no quote requestor
  packages/asset-swapper/test/quote_report_generator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
