Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

Update contract addresses
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Created a test for in and out of process ganache
  contracts/integrations/test/dev-utils/mesh_test_port_test.ts
  contracts/integrations/test/dev-utils/order_validation_utils.ts
  contracts/integrations/test/framework/deployment_manager.ts
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Update asset-swapper WIP
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

`@0x/asset-swapper`: Provide more accurate best quote price.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/constants.ts
  packages/asset-swapper/src/utils/market_operation_utils/create_order.ts
  packages/asset-swapper/src/utils/market_operation_utils/index.ts
  packages/asset-swapper/src/utils/market_operation_utils/types.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/calculate_liquidity_test.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
  packages/asset-swapper/test/utils/test_orders.ts
Owners: @BMillman19, @fragosti, @dave4506

Rename to Batch
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Provide more accurate best quote price.
  CHANGELOG.json
  src/index.ts
  src/utils/market_operation_utils/constants.ts
  src/utils/market_operation_utils/create_order.ts
  src/utils/market_operation_utils/index.ts
  src/utils/market_operation_utils/types.ts
  src/utils/swap_quote_calculator.ts
  test/calculate_liquidity_test.ts
  test/swap_quote_calculator_test.ts
  test/utils/test_orders.ts
Owners: none

Split up DevUtils into two contracts
  contracts/dev-utils/contracts/src/DevUtils.sol
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/LibTransactionDecoder.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Fixed contract addresses
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Appease linter
  contracts/integrations/test/dev-utils/order_validation_utils.ts
  packages/migrations/src/migration.ts
Owners: @abandeali1, @hysz

Updated migration
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: none

Remove the in and out of process ganache test
  contracts/integrations/test/dev-utils/mesh_test_port_test.ts
  contracts/integrations/test/framework/deployment_manager.ts
Owners: @abandeali1, @hysz

Addressed review comments and updated artifacts, wrappers, and snapshots
  contracts/dev-utils/compiler.json
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/LibTransactionDecoder.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
Owners: @abandeali1, @hysz

Fixed regression after refactor
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Update DevUtils and libTransactionDecoder contracts on mainnet and testnets
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Addressed @mzhu's review feedback
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Update packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Update packages/asset-swapper/src/utils/swap_quote_calculator.ts
  src/utils/swap_quote_calculator.ts
Owners: none

Update packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
Owners: @BMillman19, @fragosti, @dave4506

Update packages/asset-swapper/src/utils/swap_quote_calculator.ts
  src/utils/swap_quote_calculator.ts
Owners: none

`@0x/contracts-erc20-bridge-sampler`: Fix linter error.
  contracts/erc20-bridge-sampler/contracts/src/ERC20BridgeSampler.sol
Owners: @abandeali1, @hysz

Addressed @hysz's review feedback
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Fix prettier
  packages/contract-wrappers/src/generated-wrappers/i_erc20_bridge_sampler.ts
Owners: none

Updated devUtils address on testnets and mainnet after deployment
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Fix regression in DevUtils (#2449)
  contracts/dev-utils/compiler.json
  contracts/dev-utils/contracts/src/DevUtils.sol
  contracts/dev-utils/contracts/src/OrderTransferSimulationUtils.sol
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  contracts/integrations/test/dev-utils/order_validation_utils.ts
  contracts/integrations/test/framework/deployment_manager.ts
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-artifacts/artifacts/LibTransactionDecoder.json
  packages/contract-artifacts/src/index.ts
  packages/contract-artifacts/tsconfig.json
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
  packages/contract-wrappers/src/generated-wrappers/lib_transaction_decoder.ts
  packages/contract-wrappers/src/index.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Change Exchange sell to marketSellOrdersFillOrKill
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

Update Changelog
  packages/asset-swapper/CHANGELOG.json
Owners: @BMillman19, @fragosti, @dave4506

[asset-swapper] Change Exchange sell to marketSellOrdersFillOrKill (#2450)
  CHANGELOG.json
  src/quote_consumers/exchange_swap_quote_consumer.ts
Owners: none

[asset-swapper] Change Exchange sell to marketSellOrdersFillOrKill (#2450)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/quote_consumers/exchange_swap_quote_consumer.ts
Owners: @BMillman19, @fragosti, @dave4506

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Create docs folder for sol-doc
  packages/sol-doc/docs/.gitkeep
Owners: none

Updated DevUtils again
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

Updated DevUtils again
  contracts/dev-utils/contracts/src/OrderValidationUtils.sol
  packages/contract-addresses/addresses.json
  packages/contract-artifacts/artifacts/DevUtils.json
  packages/contract-wrappers/src/generated-wrappers/dev_utils.ts
Owners: @abandeali1, @hysz

`@0x/asset-swapper`: Fix understimated protocol fee in worst case quote.
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix understimated protocol fee in worst case quote. (#2452)
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/src/utils/swap_quote_calculator.ts
  packages/asset-swapper/test/swap_quote_calculator_test.ts
Owners: @BMillman19, @fragosti, @dave4506

`@0x/asset-swapper`: Fix understimated protocol fee in worst case quote. (#2452)
  CHANGELOG.json
  src/utils/swap_quote_calculator.ts
  test/swap_quote_calculator_test.ts
Owners: none

Updated CHANGELOGS & MD docs
  contracts/integrations/CHANGELOG.json
  contracts/integrations/CHANGELOG.md
  packages/0x.js/CHANGELOG.json
  packages/0x.js/CHANGELOG.md
  packages/0x.js/docs/reference.mdx
  packages/asset-swapper/CHANGELOG.json
  packages/asset-swapper/CHANGELOG.md
  packages/sol-doc/docs/.gitkeep
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

Updated CHANGELOGS & MD docs
  CHANGELOG.json
  CHANGELOG.md
Owners: none

Publish
  package.json
Owners: none

Publish
  contracts/integrations/package.json
  packages/0x.js/package.json
  packages/asset-swapper/package.json
  packages/instant/package.json
Owners: @abandeali1, @hysz, @BMillman19, @fragosti, @dave4506

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz
