Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @dave4506, @LogvinovLeon, @feuGeneA, @xianny, @abandeali1, @fabioberger, @albrow, @dekz, @hysz

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-swapper/  @BMillman19 @fragosti @dave4506
packages/instant/  @BMillman19 @fragosti @dave4506

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @feuGeneA
packages/base-contract/ @xianny
packages/connect/ @fragosti 
packages/abi-gen-templates/ @feuGeneA @xianny
packages/contract-addresses/ @abandeali1
packages/contract-artifacts/ @abandeali1
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/python-contract-wrappers/ @feuGeneA
packages/sol-compiler/ @LogvinovLeon
packages/sol-coverage/ @LogvinovLeon
packages/sol-profiler/ @LogvinovLeon
packages/sol-trace/ @LogvinovLeon
packages/sol-tracing-utils/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA
packages/utils/ @hysz

# Protocol/smart contracts
contracts/ @abandeali1 @hysz

Disables order details if no payment method is selected
  packages/instant/src/components/order_details.tsx
  packages/instant/src/containers/latest_buy_quote_order_details.ts
Owners: @BMillman19, @fragosti, @dave4506

Remove icon on connect button
  packages/instant/src/components/payment_method.tsx
Owners: @BMillman19, @fragosti, @dave4506

Adds Fortmatic to providerType Uses fortmatic as default provider
  packages/instant/src/constants.ts
  packages/instant/src/types.ts
  packages/instant/src/util/env.ts
Owners: @BMillman19, @fragosti, @dave4506

Removes unused colors Adds white background Adds phone.svg
  packages/instant/src/assets/icons/phone.svg
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/constants.ts
  packages/instant/src/style/theme.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix lint errors Remove icon
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/util/provider_state_factory.ts
Owners: @BMillman19, @fragosti, @dave4506

Adds setProviderState action unlockWalletAndDispatchToStore now changes the provider state based on the provider type Adds button to connect with fortmatic Adds FORTMATIC_API_KEY constant
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/constants.ts
  packages/instant/src/containers/connected_account_payment_method.ts
  packages/instant/src/redux/actions.ts
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/env.ts
Owners: @BMillman19, @fragosti, @dave4506

Fixs styling Removes unused imports
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

add yarn.lock
  yarn.lock
Owners: none

Fix chevron icon Fixs metamask icon size
  packages/instant/src/assets/icons/chevronRight.svg
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/components/wallet_prompt.tsx
Owners: @BMillman19, @fragosti, @dave4506

Adds fortmatic dependency
  packages/instant/package.json
  packages/instant/src/globals.d.ts
  yarn.lock
Owners: @BMillman19, @fragosti, @dave4506

Fixs order details only when a wallet is connected
  packages/instant/src/components/order_details.tsx
Owners: @BMillman19, @fragosti, @dave4506

added minor polish + bug fixes
  packages/instant/src/components/buy_button.tsx
  packages/instant/src/components/order_details.tsx
  packages/instant/src/components/payment_method.tsx
  packages/instant/src/redux/reducer.ts
  packages/instant/src/util/provider_state_factory.ts
  packages/instant/src/util/swap_quote_updater.ts
Owners: @BMillman19, @fragosti, @dave4506

added aggregator only assets support
  packages/instant/src/data/asset_data_network_mapping.ts
  packages/instant/src/redux/async_data.ts
  packages/instant/src/util/asset.ts
  packages/instant/src/util/swap_quoter_utils.ts
Owners: @BMillman19, @fragosti, @dave4506

Fix extra space in `provider.send` signature from fabio. Fixes #2285.
  packages/utils/src/provider_utils.ts
Owners: @hysz

Allow v2 orders to be filled if their makerAssetFeeData field uses a v2 order id
  contracts/exchange-forwarder/contracts/src/Forwarder.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IExchangeV2.sol
  contracts/exchange-forwarder/contracts/src/libs/LibConstants.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
Owners: @abandeali1, @hysz

Enable istanbul in Ganache
  contracts/test-utils/src/web3_wrapper.ts
  package.json
  packages/dev-utils/src/web3_factory.ts
  packages/subproviders/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger, @dekz

Change EVM target to istanbul for all contract packages except erc-20
  contracts/asset-proxy/compiler.json
  contracts/asset-proxy/truffle-config.js
  contracts/coordinator/compiler.json
  contracts/coordinator/truffle-config.js
  contracts/dev-utils/compiler.json
  contracts/dev-utils/truffle-config.js
  contracts/erc1155/compiler.json
  contracts/erc1155/truffle-config.js
  contracts/erc20-bridge-sampler/compiler.json
  contracts/erc20-bridge-sampler/truffle-config.js
  contracts/erc20/compiler.json
  contracts/erc721/compiler.json
  contracts/erc721/truffle-config.js
  contracts/exchange-forwarder/compiler.json
  contracts/exchange-forwarder/truffle-config.js
  contracts/exchange-libs/compiler.json
  contracts/exchange-libs/truffle-config.js
  contracts/exchange/compiler.json
  contracts/exchange/truffle-config.js
  contracts/extensions/compiler.json
  contracts/extensions/truffle-config.js
  contracts/integrations/compiler.json
  contracts/multisig/compiler.json
  contracts/multisig/contracts/test/TestRejectEther.sol
  contracts/multisig/truffle-config.js
  contracts/staking/compiler.json
  contracts/staking/truffle-config.js
  contracts/utils/compiler.json
  contracts/utils/truffle-config.js
Owners: @abandeali1, @hysz

Fix build
  contracts/exchange-forwarder/contracts/src/libs/LibConstants.sol
  contracts/integrations/test/forwarder/deploy_forwarder.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Update TS boilerplate
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/test/artifacts.ts
  contracts/exchange-forwarder/test/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
Owners: @abandeali1, @hysz

Change erc-20 package compiler target to istanbul
  contracts/erc20/contracts/src/WETH9.sol
  packages/web3-wrapper/package.json
  yarn.lock
Owners: @abandeali1, @hysz, @LogvinovLeon, @fabioberger

Do not attempt to transfer asset if fill failed
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
Owners: @abandeali1, @hysz

Handle v2 order edge cases
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/src/MixinForwarderCore.sol
  contracts/exchange-forwarder/contracts/src/MixinWeth.sol
  contracts/exchange-forwarder/contracts/src/interfaces/IExchangeV2.sol
Owners: @abandeali1, @hysz

Regenerate boilerplate
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/src/artifacts.ts
  contracts/exchange-forwarder/src/index.ts
  contracts/exchange-forwarder/src/wrappers.ts
  contracts/exchange-forwarder/tsconfig.json
Owners: @abandeali1, @hysz

Redeploy Forwarder and all bridges
  contracts/asset-proxy/src/index.ts
  contracts/utils/contracts/src/DeploymentConstants.sol
  packages/contract-addresses/addresses.json
  packages/contract-addresses/src/index.ts
  packages/migrations/src/migration.ts
  packages/migrations/src/testnet_migrations.ts
Owners: @abandeali1, @hysz

Fix WETH compilation
  contracts/erc20/contracts/src/WETH9.sol
Owners: @abandeali1, @hysz

Remove unnecessary BigNumber cast
  contracts/integrations/test/forwarder/forwarder_mainnet_test.ts
Owners: @abandeali1, @hysz

Check makerFeeAssetData length before attempting to read id
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  yarn.lock
Owners: @abandeali1, @hysz

Update CHANGELOG
  packages/contract-addresses/CHANGELOG.json
Owners: @abandeali1

Fix build
  packages/migrations/package.json
  packages/migrations/src/migration.ts
  packages/subproviders/package.json
  packages/web3-wrapper/package.json
  packages/web3-wrapper/test/web3_wrapper_test.ts
  yarn.lock
Owners: @fabioberger, @dekz, @LogvinovLeon

Add ExchangeV2 wrapper
  packages/contract-wrappers/CHANGELOG.json
  packages/contract-wrappers/docs/reference.mdx
  packages/contract-wrappers/package.json
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/generated-wrappers/exchange_v2.ts
  packages/contract-wrappers/src/index.ts
Owners: none

Redeploy bridges and Forwarder on mainnet
  packages/contract-addresses/addresses.json
Owners: @abandeali1

Add forwarder mainnet tests
  contracts/integrations/test/forwarder/forwarder_mainnet_test.ts
  contracts/integrations/test/forwarder/types.ts
  packages/contract-addresses/addresses.json
Owners: @abandeali1, @hysz

Add ExchangeV2 artifact
  packages/contract-artifacts/CHANGELOG.json
  packages/contract-artifacts/artifacts/ExchangeV2.json
Owners: @abandeali1

Fix dep version
  packages/migrations/package.json
Owners: none

add integrations tests
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
Owners: @abandeali1, @hysz

remove _noTakerFee (i.e. disallow StaticCall takerFeeAssetData)
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
  contracts/exchange-forwarder/test/asset_test.ts
  contracts/integrations/test/forwarder/forwarder_test.ts
  contracts/integrations/test/forwarder/forwarder_test_factory.ts
Owners: @abandeali1, @hysz

Forwarder StaticCall and MultiAsset buy support
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/contracts/src/MixinExchangeWrapper.sol
Owners: @abandeali1, @hysz

Add unit tests
  contracts/exchange-forwarder/contracts/test/TestForwarder.sol
  contracts/exchange-forwarder/test/asset_test.ts
Owners: @abandeali1, @hysz

address comments
  contracts/exchange-forwarder/contracts/src/MixinAssets.sol
  contracts/exchange-forwarder/test/asset_test.ts
Owners: @abandeali1, @hysz

`@0x/contracts-integrations`: Switch from actor pattern to just pure function generators.
  contracts/integrations/package.json
  contracts/integrations/test/fuzz_tests/exchange_signature_validation_test.ts
Owners: @abandeali1, @hysz
