Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

Remove the bin_paths and fetch the solidity release list from github repo
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-compiler/src/solc/bin_paths.ts
  packages/sol-compiler/src/utils/compiler.ts
  packages/sol-compiler/src/utils/types.ts
Owners: @LogvinovLeon

Update yarn.lock
  yarn.lock
Owners: none

Fix a bug when ast and legacyAST were not present in the artifacts even if requested
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

Omit remapping in compiler settings equality checks
  packages/sol-compiler/src/compiler.ts
Owners: @LogvinovLeon

Omit remapping in compiler settings equality checks
  packages/sol-compiler/src/compiler.ts
Owners: @LogvinovLeon

Add PR numbers
  packages/sol-compiler/CHANGELOG.json
Owners: @LogvinovLeon

Re-run yarn since fails again on first run
  .circleci/config.yml
Owners: @LogvinovLeon

Update CHANGELOG
  packages/sol-compiler/CHANGELOG.json
Owners: @LogvinovLeon

Fix linter
  packages/sol-compiler/test/compiler_test.ts
Owners: @LogvinovLeon

Move from devDep to dep
  contracts/asset-proxy/package.json
Owners: none

Update packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/CHANGELOG.json
Owners: @LogvinovLeon

Update packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/CHANGELOG.json
Owners: @LogvinovLeon

Updated CHANGELOGS
  contracts/asset-proxy/CHANGELOG.json
  contracts/erc20/CHANGELOG.json
  contracts/erc721/CHANGELOG.json
  contracts/exchange-forwarder/CHANGELOG.json
  contracts/exchange-libs/CHANGELOG.json
  contracts/exchange/CHANGELOG.json
  contracts/extensions/CHANGELOG.json
  contracts/multisig/CHANGELOG.json
  contracts/test-utils/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  packages/0x.js/CHANGELOG.json
  packages/abi-gen-wrappers/CHANGELOG.json
  packages/abi-gen/CHANGELOG.json
  packages/assert/CHANGELOG.json
  packages/asset-buyer/CHANGELOG.json
  packages/base-contract/CHANGELOG.json
  packages/connect/CHANGELOG.json
  packages/contract-wrappers/CHANGELOG.json
  packages/contracts-gen/CHANGELOG.json
  packages/dev-utils/CHANGELOG.json
  packages/fill-scenarios/CHANGELOG.json
  packages/json-schemas/CHANGELOG.json
  packages/migrations/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
  packages/order-watcher/CHANGELOG.json
  packages/react-docs/CHANGELOG.json
  packages/react-shared/CHANGELOG.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-coverage/CHANGELOG.json
  packages/sol-doc/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
  packages/sol-resolver/CHANGELOG.json
  packages/sol-trace/CHANGELOG.json
  packages/sol-tracing-utils/CHANGELOG.json
  packages/sra-spec/CHANGELOG.json
  packages/subproviders/CHANGELOG.json
  packages/types/CHANGELOG.json
  packages/utils/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
  yarn.lock
Owners: @LogvinovLeon, @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @dekz

Only include analytics on production builds
  packages/dev-tools-pages/assets/index.html
  packages/dev-tools-pages/webpack.config.js
  yarn.lock
Owners: none

updated order coercion utils architecture and testing
  packages/instant/src/index.umd.ts
  packages/instant/src/util/maybe_big_number.ts
  packages/instant/src/util/order_coercion.ts
  packages/instant/src/util/signed_order_coercion.ts
  packages/instant/test/util/dependencies/prevbignumber.d.ts
  packages/instant/test/util/dependencies/prevbignumber.js
  packages/instant/test/util/maybe_big_number.test.ts
  packages/instant/test/util/order_coercion.test.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

More robust/simple signature parsing, using a parse tree
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
  packages/utils/src/abi_encoder/evm_data_types/method.ts
  packages/utils/src/abi_encoder/index.ts
  packages/utils/src/abi_encoder/utils/signature_parser.ts
Owners: none

Signature parsing tests
  packages/utils/test/abi_encoder/evm_data_types_test.ts
  packages/utils/test/abi_encoder/signature_test.ts
  packages/utils/test/abi_encoder/signature_tests.ts
Owners: none

Changelog for utils package
  packages/utils/CHANGELOG.json
Owners: none

replaced typeof with _.isString
  packages/utils/src/abi_encoder/evm_data_type_factory.ts
Owners: none

fixed config orderSource assignment
  packages/instant/src/index.umd.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

[WIP] Slippage calculations from Ethereum DEX Prices Service (EDPS)
  packages/pipeline/src/data_sources/slippage/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/entities/slippage.ts
Owners: none

Allow using Web3Factory in-process Ganache with existing snapshot
  packages/dev-utils/src/web3_factory.ts
Owners: @LogvinovLeon, @fabioberger

Add CHANGELOG entry
  packages/dev-utils/CHANGELOG.json
Owners: @LogvinovLeon, @fabioberger

corrections for current state of API
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/parsers/non_fungible_dot_com/index.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

change data model to match data source
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/parsers/non_fungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

change primary key
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/entities/nft_trade.ts
Owners: none

pull data from initial dump first, then API
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

pull all supported NFT's, not just cryptokitties
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

disable problematic data sources
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
Owners: none

Add script for pulling NFT trade data from nonfungible.com
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/non_fungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

Fix some typos
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/parsers/non_fungible_dot_com/index.ts
Owners: none

Fix bug in slice functions that disallow slicing the last byte of a byte array
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  contracts/utils/test/lib_bytes.ts
  packages/types/src/index.ts
Owners: none

Make constants internal
  contracts/exchange-libs/contracts/src/LibAssetProxyErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeSelectors.sol
Owners: none

Upgrade solc version to 0.5.3 for exchange-libs and utils
  contracts/exchange-libs/contracts/src/LibAbiEncoder.sol
  contracts/exchange-libs/contracts/src/LibAssetProxyErrors.sol
  contracts/exchange-libs/contracts/src/LibConstants.sol
  contracts/exchange-libs/contracts/src/LibEIP712.sol
  contracts/exchange-libs/contracts/src/LibExchangeErrors.sol
  contracts/exchange-libs/contracts/src/LibExchangeSelectors.sol
  contracts/exchange-libs/contracts/src/LibFillResults.sol
  contracts/exchange-libs/contracts/src/LibMath.sol
  contracts/exchange-libs/contracts/src/LibOrder.sol
  contracts/exchange-libs/contracts/test/TestLibs.sol
  contracts/exchange-libs/package.json
  contracts/utils/contracts/src/LibAddressArray.sol
  contracts/utils/contracts/src/LibBytes.sol
  contracts/utils/contracts/src/Ownable.sol
  contracts/utils/contracts/src/ReentrancyGuard.sol
  contracts/utils/contracts/src/SafeMath.sol
  contracts/utils/contracts/src/interfaces/IOwnable.sol
  contracts/utils/contracts/test/TestConstants.sol
  contracts/utils/contracts/test/TestLibBytes.sol
  yarn.lock
Owners: none

corrections for current state of API
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

change data model to match data source
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/entities/nft_trade.ts
  packages/pipeline/src/parsers/non_fungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
  packages/pipeline/test/entities/nft_trades_test.ts
  packages/pipeline/test/parsers/nonfungible_dot_com/index_test.ts
Owners: none

change primary key
  packages/pipeline/migrations/1543540108767-CreateNftTrades.ts
  packages/pipeline/src/entities/nft_trade.ts
Owners: none

pull data from initial dump first, then API
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

pull all supported NFT's, not just cryptokitties
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

disable problematic data sources
  packages/pipeline/src/data_sources/nonfungible_dot_com/index.ts
Owners: none
