Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow

Add migration to fix exchange events primary keys (#1593)
  packages/pipeline/migrations/1549479172800-AddTxHashToExchangeEventPrimaryKey.ts
  packages/pipeline/migrations/1549499426238-AddTxHashToERC20ApprovalEventPrimaryKey.ts
  packages/pipeline/src/entities/erc20_approval_event.ts
  packages/pipeline/src/entities/exchange_cancel_event.ts
  packages/pipeline/src/entities/exchange_cancel_up_to_event.ts
  packages/pipeline/src/entities/exchange_fill_event.ts
  packages/pipeline/src/scripts/pull_exchange_events.ts
Owners: none

rename function to satisfy linter
  packages/pipeline/src/scripts/pull_nft_trades.ts
Owners: none

Update CHANGELOGs
  contracts/exchange-libs/CHANGELOG.json
  contracts/utils/CHANGELOG.json
  packages/types/CHANGELOG.json
Owners: none

added page [WIP] still
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/dropdowns/dropdown_developers.tsx
  packages/website/ts/index.tsx
  packages/website/ts/pages/credits.tsx
  packages/website/ts/types.ts
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Utility function to decode arbitrary 0x calldata
  packages/utils/package.json
  packages/utils/src/calldata_decoder.ts
  packages/utils/src/index.ts
  packages/utils/test/calldata_decoder_test.ts
Owners: none

Added comments for transaction decoder
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/utils/zeroex_transaction_decoder.ts
  packages/utils/src/transaction_decoder.ts
Owners: none

Tests for transaction decoder
  packages/utils/test/transaction_decoder_test.ts
Owners: none

Ran prettier and linter
  packages/utils/src/transaction_decoder.ts
  packages/utils/src/zeroex_transaction_decoder.ts
  packages/utils/test/transaction_decoder_test.ts
Owners: none

updated exports for contract wrappers
  packages/contract-wrappers/src/index.ts
Owners: none

Prep for txData decoder tests
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/zeroex_transaction_decoder_test.ts
  packages/utils/src/address_utils.ts
  packages/utils/src/index.ts
  packages/utils/src/transaction_decoder.ts
  packages/utils/test/transaction_decoder_test.ts
Owners: none

started writing tests for zeroex tx decoder
  packages/contract-wrappers/test/zeroex_transaction_decoder_test.ts
Owners: none

Merged tx decoder into AbiDecoder in utils and merged zeroex tx decoder into ContractWrappers.
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/utils/zeroex_transaction_decoder.ts
  packages/contract-wrappers/test/calldata_decoder_test.ts
  packages/utils/CHANGELOG.json
  packages/utils/src/abi_decoder.ts
  packages/utils/src/index.ts
  packages/utils/src/transaction_decoder.ts
  packages/utils/src/types.ts
  packages/utils/test/abi_decoder_test.ts
Owners: none

fix doc generation in contract-wrappers
  packages/contract-wrappers/src/index.ts
Owners: none

updated changelog for contract wrappers
  packages/contract-wrappers/CHANGELOG.json
Owners: none

ran linter
  packages/utils/src/address_utils.ts
  packages/utils/src/transaction_decoder.ts
  packages/utils/test/transaction_decoder_test.ts
Owners: none

separated tx decode classes and types into separate files
  packages/utils/src/index.ts
  packages/utils/src/transaction_decoder.ts
  packages/utils/src/types.ts
  packages/utils/src/zeroex_transaction_decoder.ts
  packages/utils/test/transaction_decoder_test.ts
Owners: none

Expanding search parameters for transaction decoder
  packages/utils/src/calldata_decoder.ts
Owners: none

Added exports for doc generation
  packages/0x.js/src/index.ts
  packages/contract-wrappers/src/index.ts
  packages/web3-wrapper/src/index.ts
Owners: @LogvinovLeon, @fabioberger

Abstractd out ZeroExTransactionDecoder
  packages/utils/src/calldata_decoder.ts
  packages/utils/src/index.ts
  packages/utils/test/calldata_decoder_test.ts
Owners: none

ran prettier and linter
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/utils/src/abi_decoder.ts
  packages/utils/test/abi_decoder_test.ts
Owners: none

Added tests for ZeroExTransactionDecoder
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/src/utils/zeroex_transaction_decoder.ts
  packages/contract-wrappers/test/zeroex_transaction_decoder_test.ts
  packages/utils/src/address_utils.ts
  packages/utils/src/transaction_decoder.ts
  packages/utils/test/transaction_decoder_test.ts
Owners: none

moved ZeroExTransactionDecoder into contract wrappers
  packages/contract-wrappers/src/utils/zeroex_transaction_decoder.ts
Owners: none

Can query decoder by contract address / network id OR contract name
  packages/utils/src/calldata_decoder.ts
  packages/utils/test/calldata_decoder_test.ts
Owners: none

Improvements and conventions in utils package + abi decoder
  packages/0x.js/src/index.ts
  packages/contract-wrappers/src/contract_wrappers.ts
  packages/contract-wrappers/src/index.ts
  packages/contract-wrappers/src/utils/transaction_encoder.ts
  packages/contract-wrappers/test/calldata_decoder_test.ts
  packages/utils/src/abi_decoder.ts
  packages/utils/src/address_utils.ts
  packages/utils/src/types.ts
  packages/utils/test/abi_decoder_test.ts
  packages/web3-wrapper/src/index.ts
Owners: @LogvinovLeon, @fabioberger

updated changelog.json for 0x.js / order-utils / web3-wrapper
  packages/0x.js/CHANGELOG.json
  packages/order-utils/CHANGELOG.json
  packages/web3-wrapper/CHANGELOG.json
Owners: @fabioberger, @LogvinovLeon

Deduped random value generation from salt generation
  packages/order-utils/src/salt.ts
  packages/utils/src/address_utils.ts
  packages/utils/src/index.ts
  packages/utils/src/random.ts
Owners: @fabioberger, @LogvinovLeon

Remove react deps from highlight
  yarn.lock
Owners: none

Improve sol-resolver checks
  packages/sol-resolver/CHANGELOG.json
  packages/sol-resolver/package.json
  packages/sol-resolver/src/resolvers/npm_resolver.ts
Owners: @LogvinovLeon

Fix sol-compiler bug when instantiating NPMResolver
  package.json
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
  packages/sol-resolver/CHANGELOG.json
  packages/sol-resolver/src/resolvers/npm_resolver.ts
Owners: @LogvinovLeon

Move ReentrantERC20Token to exchange package
  contracts/exchange/contracts/test/ReentrantERC20Token.sol
Owners: none

Move ReentrantERC20Token
  contracts/erc20/compiler.json
  contracts/erc20/package.json
  contracts/erc20/src/artifacts.ts
  contracts/erc20/src/wrappers.ts
  contracts/erc20/tsconfig.json
  contracts/exchange/compiler.json
  contracts/exchange/src/artifacts.ts
  contracts/multisig/package.json
Owners: none

Fix dependency lookup logic
  packages/sol-resolver/src/resolvers/npm_resolver.ts
Owners: @LogvinovLeon

Stylistic change
  packages/sol-resolver/src/resolvers/npm_resolver.ts
Owners: @LogvinovLeon

Add a missing dependency
  packages/sol-doc/package.json
Owners: none

Added saving to database
  packages/pipeline/migrations/1549856835629-CreateSlippageTable.ts
  packages/pipeline/src/data_sources/slippage/index.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/entities/slippage.ts
Owners: none

Added test for entity
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/test/entities/slippage_test.ts
Owners: none

Added remaining tests + fixed linting issues
  packages/pipeline/src/data_sources/slippage/index.ts
  packages/pipeline/src/entities/slippage.ts
  packages/pipeline/src/parsers/slippage/index.ts
  packages/pipeline/src/scripts/pull_slippage.ts
  packages/pipeline/test/entities/slippage_test.ts
  packages/pipeline/test/parsers/slippage/index_test.ts
Owners: none

Add radar data source
  packages/pipeline/src/data_sources/radar/index.ts
Owners: none

Initial governance commit
  packages/website/package.json
  packages/website/ts/icons/illustrations/wallet.svg
  packages/website/ts/pages/governance/address_table.tsx
  packages/website/ts/pages/governance/address_table_row.tsx
  packages/website/ts/pages/governance/connect_form.tsx
  packages/website/ts/pages/governance/connected_wallet_mark.tsx
  packages/website/ts/pages/governance/countdown.tsx
  packages/website/ts/pages/governance/derivation_path_input.tsx
  packages/website/ts/pages/governance/governance.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/preference_selecter.tsx
  packages/website/ts/pages/governance/rating_bar.tsx
  packages/website/ts/pages/governance/vote_bar.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/governance/vote_stats.tsx
  yarn.lock
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Set strong to bold fontweight
  packages/website/ts/constants/globalStyle.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff
