Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Tweak banner
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/newLayout.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Pull exchange contract transactions from Etherscan
  packages/pipeline/migrations/1550749543417-CreateEtherscanTransactions.ts
  packages/pipeline/src/data_sources/etherscan/index.ts
  packages/pipeline/src/entities/etherscan_transaction.ts
  packages/pipeline/src/entities/index.ts
  packages/pipeline/src/ormconfig.ts
  packages/pipeline/src/parsers/etherscan/index.ts
  packages/pipeline/src/scripts/pull_exchange_transactions_from_etherscan.ts
  packages/pipeline/test/entities/etherscan_test.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
Owners: none

Tweak banner
  packages/website/ts/components/banner.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Tweak extensions width
  packages/website/ts/components/card.tsx
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Tweak padding
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Remove placeholder extensions
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

removed default meta tags in public/index.html
  packages/website/public/index.html
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add concepts migrations
  packages/pipeline/migrations/1550782075583-AddConceptsSchema.ts
  yarn.lock
Owners: none

Try fixing publish ci failure
  yarn.lock
Owners: none

Add radar_orderbook_usd_prices concept
  packages/pipeline/package.json
  packages/pipeline/src/concepts/radar_orderbook_usd_prices.ts
  packages/pipeline/test/concepts/radar_orderbook_usd_prices_test.ts
Owners: none

Fix node types version in monorepo-scripts since it's used in test-installation and the latest version has a bug
  package.json
  packages/monorepo-scripts/package.json
Owners: @fabioberger

Remove superfluous standardization
  packages/asset-buyer/src/asset_buyer.ts
Owners: @BMillman19, @fragosti, @steveklebanoff

Add TODO about consolidating type checks
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Export supportedProvider in interface since this package is also used by external devs
  packages/migrations/src/migration.ts
Owners: none

Remove getZeroExProvider method since it can be confusing
  contracts/exchange/test/utils/fill_order_combinatorial_utils.ts
  packages/web3-wrapper/src/web3_wrapper.ts
Owners: @LogvinovLeon, @fabioberger

Demonstrate calling contracts with tuple arrays (#1615)
  python-packages/contract_demo/test/test_exchange.py
  python-packages/order_utils/setup.py
Owners: @feuGeneA

Fix CI failures
  package.json
  packages/migrations/src/index.ts
Owners: none

Fix version
  packages/ethereum-types/package.json
  packages/monorepo-scripts/package.json
Owners: @LogvinovLeon, @fabioberger

Fix migration exported types
  packages/migrations/src/index.ts
Owners: none

Backfills automatically + prettier
  packages/pipeline/migrations/1550749543417-CreateEtherscanTransactions.ts
  packages/pipeline/src/data_sources/etherscan/index.ts
  packages/pipeline/src/entities/etherscan_transaction.ts
  packages/pipeline/src/scripts/pull_exchange_transactions_from_etherscan.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
Owners: none

add documentation
  packages/pipeline/package.json
  packages/pipeline/src/concepts/radar_orderbook_usd_prices.ts
  packages/pipeline/test/concepts/radar_orderbook_usd_prices_test.ts
Owners: none

Throw error when API key is missing + use response in parser test
  packages/pipeline/src/scripts/pull_exchange_transactions_from_etherscan.ts
  packages/pipeline/test/parsers/etherscan/index_test.ts
Owners: none

Fix linting issues
  packages/website/ts/components/banner.tsx
  packages/website/ts/components/siteWrap.tsx
  packages/website/ts/pages/fullscreen_message.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

More cleanup
  packages/website/ts/pages/extensions.tsx
  packages/website/ts/pages/governance/modal_vote.tsx
  packages/website/ts/pages/governance/vote_form.tsx
  packages/website/ts/pages/not_found.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Tweak cards + add links
  packages/website/ts/components/card.tsx
  packages/website/ts/pages/extensions.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add link to extensions in footer
  packages/website/ts/components/footer.tsx
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add icons
  packages/website/ts/icons/illustrations/dutchAuction.svg
  packages/website/ts/icons/illustrations/forwarderContract.svg
  packages/website/ts/icons/illustrations/whitelistFilter.svg
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Add missing file
  packages/pipeline/src/concepts/queries/radar_orderbook_usd_prices.ts
Owners: none

Run prettier
  packages/pipeline/migrations/1550782075583-AddConceptsSchema.ts
Owners: none

Add all existing opcodes to OpCode
  packages/ethereum-types/CHANGELOG.json
  packages/ethereum-types/src/index.ts
Owners: @LogvinovLeon

Add logUtils.table and logUtils.header
  packages/utils/CHANGELOG.json
  packages/utils/src/log_utils.ts
Owners: none

Fix typo in query
  packages/pipeline/src/concepts/queries/radar_orderbook_usd_prices.ts
Owners: none

Major sol-profiler overhaul
  packages/sol-coverage/src/coverage_subprovider.ts
  packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/package.json
  packages/sol-profiler/src/cost_utils.ts
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/sol-tracing-utils/package.json
  packages/sol-tracing-utils/src/artifact_adapters/sol_compiler_artifact_adapter.ts
  packages/sol-tracing-utils/src/index.ts
  packages/sol-tracing-utils/src/trace_collector.ts
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
  packages/sol-tracing-utils/src/types.ts
  packages/sol-tracing-utils/src/utils.ts
  yarn.lock
Owners: none

Add PR numbers
  packages/ethereum-types/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
  packages/utils/CHANGELOG.json
Owners: @LogvinovLeon

Rename logHeader to header
  packages/sol-profiler/src/cost_utils.ts
Owners: none

Remove commented code
  packages/sol-tracing-utils/src/utils.ts
Owners: none

Export ContractAbi from sol-tracing-utils
  packages/sol-coverage/src/index.ts
  packages/sol-profiler/src/index.ts
Owners: none

Fix linter
  packages/sol-tracing-utils/src/trace_info_subprovider.ts
Owners: none

Remove excesive exports
  packages/sol-coverage/src/index.ts
  packages/sol-profiler/src/index.ts
  packages/sol-tracing-utils/src/artifact_adapters/sol_compiler_artifact_adapter.ts
  packages/sol-tracing-utils/src/types.ts
Owners: none

Run prettier
  packages/ethereum-types/CHANGELOG.json
  packages/sol-profiler/CHANGELOG.json
  packages/sol-profiler/src/profiler_subprovider.ts
  packages/utils/CHANGELOG.json
Owners: @LogvinovLeon

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
