Repository 0xProject/0x-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @BMillman19, @fragosti, @steveklebanoff, @fabioberger, @LogvinovLeon, @albrow, @dekz, @feuGeneA

Do not verify orders with a null senderAddress
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
Owners: none

Make all cancels permissionless
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
Owners: none

Rename getTransactionHex to getTransactionHashHex for clarity
  packages/contract-wrappers/CHANGELOG.json
Owners: none

Bump solidity version
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/MixinTECCore.sol
  contracts/tec/contracts/src/TEC.sol
  contracts/tec/contracts/src/interfaces/IExchange.sol
  contracts/tec/contracts/src/interfaces/ITECCore.sol
  contracts/tec/contracts/src/libs/LibConstants.sol
  contracts/tec/contracts/src/libs/LibEIP712Domain.sol
  contracts/tec/contracts/src/libs/LibTECApproval.sol
  contracts/tec/contracts/src/libs/LibZeroExTransaction.sol
  contracts/tec/contracts/src/mixins/MSignatureValidator.sol
  contracts/tec/contracts/test/TestInternals.sol
  contracts/tec/contracts/test/TestLibs.sol
Owners: none

Update deps versions
  contracts/tec/package.json
Owners: none

Add public wrappers for libs
  contracts/tec/compiler.json
  contracts/tec/contracts/test/TestLibs.sol
  contracts/tec/package.json
  contracts/tec/src/artifacts/index.ts
  contracts/tec/src/wrappers/index.ts
  contracts/tec/tsconfig.json
Owners: none

Update README
  contracts/tec/README.md
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/interfaces/IExchange.sol
  contracts/tec/contracts/src/libs/LibTECApproval.sol
  contracts/tec/contracts/src/libs/LibZeroExTransaction.sol
  contracts/tec/contracts/src/mixins/MSignatureValidator.sol
Owners: none

Update READMEs
  README.md
  contracts/tec/README.md
Owners: none

Implement TEC MVP
  contracts/tec/CHANGELOG.json
  contracts/tec/CHANGELOG.md
  contracts/tec/DEPLOYS.json
  contracts/tec/README.md
  contracts/tec/compiler.json
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/MixinTECCore.sol
  contracts/tec/contracts/src/TEC.sol
  contracts/tec/contracts/src/interfaces/IExchange.sol
  contracts/tec/contracts/src/interfaces/ITECCore.sol
  contracts/tec/contracts/src/libs/LibConstants.sol
  contracts/tec/contracts/src/libs/LibEIP712Domain.sol
  contracts/tec/contracts/src/libs/LibTECApproval.sol
  contracts/tec/contracts/src/libs/LibZeroExTransaction.sol
  contracts/tec/contracts/src/mixins/MSignatureValidator.sol
  contracts/tec/contracts/src/mixins/MTECApprovalVerifier.sol
  contracts/tec/package.json
  contracts/tec/src/artifacts/index.ts
  contracts/tec/src/index.ts
  contracts/tec/src/wrappers/index.ts
  contracts/tec/test/global_hooks.ts
  contracts/tec/tsconfig.json
  contracts/tec/tslint.json
Owners: none

temp
  contracts/tec/compiler.json
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/TEC.sol
  contracts/tec/contracts/src/mixins/MSignatureValidator.sol
  contracts/tec/package.json
  contracts/tec/src/artifacts/index.ts
  contracts/tec/src/wrappers/index.ts
  contracts/tec/test/internals.ts
  contracts/tec/test/tec.ts
  contracts/tec/test/utils/approval_factory.ts
  contracts/tec/test/utils/constants.ts
  contracts/tec/test/utils/types.ts
  contracts/tec/tsconfig.json
Owners: none

Add tec package to relevant files
  .circleci/config.yml
  .gitignore
  .prettierignore
  contracts/tec/CHANGELOG.md
  contracts/tec/README.md
  package.json
Owners: @LogvinovLeon

Fix abi decoding of 0x transaction data
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/MixinTECCore.sol
  contracts/tec/contracts/src/interfaces/ITECApprovalVerifier.sol
  contracts/tec/contracts/src/interfaces/ITransactions.sol
  contracts/tec/contracts/src/libs/LibConstants.sol
  contracts/tec/src/artifacts.ts
Owners: none

Make internal functions public
  contracts/tec/compiler.json
  contracts/tec/contracts/src/MixinSignatureValidator.sol
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/interfaces/ISignatureValidator.sol
  contracts/tec/contracts/src/interfaces/ITECApprovalVerifier.sol
  contracts/tec/contracts/src/mixins/MSignatureValidator.sol
  contracts/tec/test/utils/approval_hash.ts
Owners: none

Update solidity versions of relevant contracts
  contracts/utils/contracts/src/LibAddressArray.sol
Owners: none

Fix README typos
  README.md
Owners: none

Update deps versions
  contracts/tec/package.json
Owners: none

Add signature validator tests
  contracts/tec/compiler.json
  contracts/tec/package.json
  contracts/tec/src/artifacts.ts
  contracts/tec/src/artifacts/index.ts
  contracts/tec/src/wrappers.ts
  contracts/tec/src/wrappers/index.ts
  contracts/tec/test/internals.ts
  contracts/tec/test/mixins.ts
  contracts/tec/test/utils/index.ts
  contracts/tec/test/utils/tec_transaction_factory.ts
  contracts/tec/test/utils/types.ts
  contracts/tec/tsconfig.json
Owners: none

Bump dep versions
  contracts/tec/contracts/test/TestInternals.sol
  contracts/tec/package.json
Owners: none

Update dep versions
  yarn.lock
Owners: none

Add tests for hashing libs
  contracts/tec/compiler.json
  contracts/tec/src/index.ts
  contracts/tec/test/libs.ts
  contracts/tec/test/utils/approval_hash.ts
  contracts/tec/test/utils/index.ts
  contracts/test-utils/src/constants.ts
Owners: none

Add ApprovalFactory class
  contracts/tec/compiler.json
  contracts/tec/contracts/test/TestMixins.sol
  contracts/tec/package.json
  contracts/tec/src/artifacts.ts
  contracts/tec/src/wrappers.ts
  contracts/tec/test/libs.ts
  contracts/tec/test/mixins.ts
  contracts/tec/test/utils/approval_factory.ts
  contracts/tec/test/utils/hash_utils.ts
  contracts/tec/test/utils/index.ts
  contracts/tec/test/utils/signing_utils.ts
  contracts/tec/test/utils/tec_transaction_factory.ts
  contracts/tec/test/utils/types.ts
  contracts/tec/tsconfig.json
Owners: none

Add TEC integration tests
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/test/TestMixins.sol
  contracts/tec/package.json
  contracts/tec/test/mixins.ts
  contracts/tec/test/tec.ts
  contracts/tec/test/utils/approval_factory.ts
  contracts/tec/test/utils/constants.ts
  contracts/tec/test/utils/exchange_data_encoder.ts
  contracts/tec/test/utils/types.ts
Owners: none

Add more verification test cases
  contracts/tec/test/mixins.ts
  contracts/tec/test/utils/constants.ts
  contracts/tec/test/utils/exchange_data_encoder.ts
  contracts/tec/test/utils/index.ts
Owners: none

simplify approval verification logic
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/src/MixinTECCore.sol
  contracts/tec/contracts/src/interfaces/ITECApprovalVerifier.sol
  contracts/tec/contracts/src/mixins/MTECApprovalVerifier.sol
Owners: none

Add 'contains' function to LibAddressArray
  contracts/utils/contracts/src/LibAddressArray.sol
Owners: none

Unpin deps when unnecessary
  contracts/asset-proxy/package.json
  contracts/asset-proxy/test/utils/erc20_wrapper.ts
  contracts/asset-proxy/test/utils/erc721_wrapper.ts
  contracts/exchange-forwarder/package.json
  contracts/exchange-forwarder/test/forwarder.ts
  contracts/exchange/package.json
  contracts/exchange/test/core.ts
  contracts/exchange/test/dispatcher.ts
  contracts/exchange/test/match_orders.ts
  contracts/exchange/test/transactions.ts
  contracts/exchange/test/wrapper.ts
  contracts/extensions/package.json
  contracts/extensions/test/balance_threshold_filter.ts
  contracts/extensions/test/dutch_auction.ts
  contracts/extensions/test/order_matcher.ts
  contracts/extensions/test/order_validator.ts
  contracts/extensions/test/utils/balance_threshold_wrapper.ts
  contracts/multisig/package.json
  contracts/tec/package.json
  contracts/tec/test/tec.ts
  yarn.lock
Owners: none

Fix typos
  contracts/tec/contracts/src/MixinTECApprovalVerifier.sol
  contracts/tec/contracts/test/TestLibs.sol
Owners: none

Add TEC revert reasons
  packages/types/src/index.ts
Owners: none

Add more approval verification tests
  contracts/tec/test/mixins.ts
  contracts/tec/test/utils/constants.ts
Owners: none

Remove unused deps
  contracts/tec/package.json
Owners: none

added temporary metadata
  packages/website/public/index.html
Owners: @BMillman19, @fragosti, @fabioberger, @steveklebanoff

Fix a bug when combining sol-compiler settings from different sources
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/compiler.ts
Owners: @LogvinovLeon

Make job look at last timestamp, fix tests
  packages/pipeline/migrations/1550881763949-CreateRadarOrderbookUsdPrices.ts
  packages/pipeline/package.json
  packages/pipeline/src/concepts/queries/radar_orderbook_usd_prices.ts
  packages/pipeline/src/concepts/radar_orderbook_usd_prices.ts
  packages/pipeline/src/entities/radar_orderbook_usd_price.ts
  packages/pipeline/src/scripts/update_radar_orderbook_usd_prices.ts
  packages/pipeline/src/utils/index.ts
  packages/pipeline/test/scripts/update_radar_orderbook_usd_prices_test.ts
Owners: none

Fix geth tests
  contracts/tec/test/tec.ts
Owners: none

run linter and add doc string
  packages/pipeline/src/scripts/update_radar_orderbook_usd_prices.ts
Owners: none

Add PR number
  packages/sol-compiler/CHANGELOG.json
Owners: @LogvinovLeon

changelog
  packages/sol-tracing-utils/CHANGELOG.json
Owners: none

Fix prettier
  packages/sol-tracing-utils/src/utils.ts
Owners: none

Remove redundant logging from sol-compiler
  packages/sol-compiler/CHANGELOG.json
  packages/sol-compiler/src/utils/compiler.ts
Owners: @LogvinovLeon

move to using require.main === module
  packages/pipeline/src/utils/index.ts
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# Website
packages/asset-buyer/  @BMillman19 @fragosti @steveklebanoff
packages/instant/  @BMillman19 @fragosti @steveklebanoff
packages/website/  @BMillman19 @fragosti @fabioberger @steveklebanoff

# Dev tools & setup
.circleci/ @LogvinovLeon
packages/abi-gen/ @LogvinovLeon
packages/base-contract/ @LogvinovLeon
packages/connect/ @fragosti 
packages/contract_templates/ @LogvinovLeon
packages/contract-addresses/ @albrow
packages/contract-artifacts/ @albrow
packages/dev-utils/ @LogvinovLeon @fabioberger
packages/devnet/ @albrow
packages/ethereum-types/ @LogvinovLeon
packages/metacoin/ @LogvinovLeon
packages/monorepo-scripts/ @fabioberger
packages/order-utils/ @fabioberger @LogvinovLeon 
packages/sol-compiler/ @LogvinovLeon
packages/sol-cov/ @LogvinovLeon
packages/sol-resolver/ @LogvinovLeon
packages/subproviders/ @fabioberger @dekz
packages/verdaccio/ @albrow
packages/web3-wrapper/ @LogvinovLeon @fabioberger
python-packages/ @feuGeneA

# Protocol/smart contracts
packages/contracts/test/ @albrow
